.DS_Store
.idea
*.log
log/logfile*
*.pot
*.pyc
*/settings_*.py*
media/medialibrary
build
GIS/tiles
*.sql
sitestatic
*/migrations/*
dati
splitcsv2.py
test_numberformat.py
django.ini
cache_generator.sh
cache_generation.log
media
/log/*
/open_coesione/static/csv/spesa_certificata/*.csv
