.DS_Store
.idea
*.log
log/logfile*
*.pot
*.pyc
*/settings_*.py*
build
GIS/tiles
*.sql
*.rdb
sitestatic
*/migrations/*
dati
splitcsv2.py
test_numberformat.py
django.ini
cache_generator.sh
cache_generation.log
media
apitest.py
/log/*
/deployment/.vagrant/
rubrica/iscrizioni.csv
