BeautifulSoup
Django==1.4.6
Fabric
Jinja2
PIL
PyYAML
Pygments
South
Sphinx
django-debug-toolbar
django-cache-panel
django-extensions
django-haystack
django-model-utils
django-tastypie
docutils
httplib2
lxml
mimeparse
pycrypto
pysolr
python-dateutil
ssh
uuid
wsgiref
simplejson
vectorformats
psycopg2

django-mptt

django-classy-tags
django-sekizai

django-tinymce
django-redis==3.2

django-recaptcha
django-disqus

djangorestframework
markdown
numpy
requests==2.0.0
