{% extends 'base.html' %}

{% block page_title %}Racconta un progetto{% endblock %}

{% block container %}

  <div class="container">

    <div class="row" style="padding-top:25px;">

      <div class="span8">

        <h3>Racconta un Progetto</h3>

        <p>
          Questo portale mostra informazioni sui progetti finanziati dalle politiche di sviluppo e coesione.
        </p>

        <p>
          La descrizione che se ne ricava non è sempre sufficiente per comprendere in che cosa consiste il progetto e
          quali effetti ha prodotto.
          {% if progetto %}
          Se conosci questo progetto, aggiungi qui le informazioni che ritieni utili a valutarlo.
          {% else %}
          Se conosci un progetto finanziato dalle politiche di coesione che ritieni meritevole di attenzione, raccontacelo qui.
          {% endif %}
        </p>

        <p>
          Vorremo costruire una galleria di testimonianze sulle politiche di coesione.
        </p>

        <form id="contact-form" action="{% url progetti_segnalazione %}" class="form-horizontal" method="post">{% csrf_token %}
          <fieldset>

            {% for field in form %}
              <div class="control-group">
                {{ field.label_tag }}
                <div class="controls">
                  {{ field }} {{ field.help_text }} {{ field.errors }}
                </div>
              </div>
            {% endfor %}

          </fieldset>
          <div class="form-actions">
            <button class="btn" type="submit">Invia</button>
          </div>
        </form>
      </div>

    </div>

  </div>

{% endblock %}

{% block js_content %}
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function(){
      if ( $('#id_come_lo_conosci').val() !== 'ALTRO' ){
        $('#id_come_lo_conosci_altro').parent().parent().hide();
      }

      $('#id_come_lo_conosci').change(function(){
        if ($(this).val() == 'ALTRO') {
          // set saved value
          $('#id_come_lo_conosci_altro').val( $('#id_come_lo_conosci_altro').data('currvalue') );
          // show
          $('#id_come_lo_conosci_altro').parent().parent().slideDown();
        }
        else {
          // save current value
          $('#id_come_lo_conosci_altro').data('currvalue', $('#id_come_lo_conosci_altro').val() );
          // reset value
          $('#id_come_lo_conosci_altro').val('');
          // hide
          $('#id_come_lo_conosci_altro').parent().parent().slideUp()
        }
      });

    });
  </script>
{% endblock %}