{% extends 'base.html' %}

{% load sekizai_tags %}

{% block page_title %}Racconta un progetto{% endblock %}

{% block container %}
    <div class="container">
        <div class="row" style="padding-top: 25px">
            <div class="span8">
                <h3>Racconta un Progetto</h3>
                <p>Questo portale mostra informazioni sui progetti finanziati dalle politiche di sviluppo e coesione.</p>
                <p>
                    La descrizione che se ne ricava non è sempre sufficiente per comprendere in che cosa consiste il progetto e quali effetti ha prodotto.
                    {% if progetto %}
                        Se conosci questo progetto, aggiungi qui le informazioni che ritieni utili a valutarlo. Attraverso la piattaforma DISQUS, verranno pubblicate sul portale ad integrazione della scheda progetto.
                    {% else %}
                        Se conosci un progetto finanziato dalle politiche di coesione che ritieni meritevole di attenzione, raccontacelo qui.
                    {% endif %}
                </p>
                <p>Vorremo costruire una galleria di testimonianze sulle politiche di coesione.</p>

                <form id="contact-form" action="{% url 'progetti_segnalazione' %}" class="form-horizontal" method="post">
                    {% csrf_token %}
                    <fieldset>
                        {% for field in form.visible_fields %}
                            <div class="control-group">
                                {{ field.label_tag }}
                                <div class="controls">
                                    {{ field }} {{ field.help_text }} {{ field.errors }}
                                </div>
                            </div>
                        {% endfor %}
                    </fieldset>
                    <div class="form-actions">
                        {% for field in form.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                        <button class="btn" type="submit">Invia</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% addtoblock 'js' strip %}
        <script>
            $(document).ready(function() {
                var $input = $('#id_come_lo_conosci');
                var $verbose_input = $('#id_come_lo_conosci_altro');

                if ($input.val() !== 'ALTRO') {
                    $verbose_input.parent().parent().hide();
                }

                $input.change(function() {
                    if ($(this).val() == 'ALTRO') {
                        // set saved value
                        $verbose_input.val($verbose_input.data('currvalue'));
                        // show
                        $verbose_input.parent().parent().slideDown();
                    } else {
                        // save current value
                        $verbose_input.data('currvalue', $verbose_input.val());
                        // reset value
                        $verbose_input.val('');
                        // hide
                        $verbose_input.parent().parent().slideUp()
                    }
                });
            });
        </script>
    {% endaddtoblock %}

    {% addtoblock 'css' strip %}
        <style type="text/css">
            #contact-form .recaptchatable label.recaptcha_input_area_text { float: none }
        </style>
    {% endaddtoblock %}
{% endblock %}
