// Variables.less
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------

// importing defaults variables
@import 'bootstrap/variables.less';

// -------------------------
// OVERRIDES
// -------------------------


// Grays
// -------------------------
@black:                 #000;
@grayDarker:            #5b5955;
@grayDark:              #676462;
@gray:                  #c9c7c3;
@grayLight:             #c9c7c3;
@grayLighter:           #eae9e5;
@white:                 #fff;

// Accent colors
// -------------------------
@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #afe0d8;
@greenDark:             #005652;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;

// Scaffolding
// -------------------------
@bodyBackground:        @white;
@textColor:             @black;


// Links
// -------------------------
@linkColor:             @greenDark;
@linkColorHover:        darken(@linkColor, 15%);
@linkWeight:            bold;


// Typography
// -------------------------
// @import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
// http://www.targetweb.it/font-face-e-google-fonts-come-e-perche-usarli/
@font-face {
  font-family: 'PT Sans'; font-weight: normal; font-style: normal;
  src: url('../font/pt-sans/PT_Sans-Web-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'PT Sans'; font-weight: bold; font-style: normal;
  src: url('../font/pt-sans/PT_Sans-Web-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'PT Sans'; font-weight: bold; font-style: italic;
  src: url('../font/pt-sans/PT_Sans-Web-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'PT Sans'; font-weight: normal; font-style: italic;
  src: url('../font/pt-sans/PT_Sans-Web-Italic.ttf') format('truetype');
}


@sansFontFamily:        "PT Sans", Helvetica, Arial, sans-serif;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

@baseFontSize:          14px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        18px;
@altFontFamily:         @sansFontFamily;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor


// Navbar
// -------------------------
@navbarHeight:                    25px;
@navbarBackground:                @grayDarker;
@navbarBackgroundHighlight:       @grayDark;

@navbarText:                      @white;
@navbarLinkColor:                 @white;
@navbarLinkColorHover:            @white;
@navbarLinkColorActive:           @navbarLinkColorHover;
@navbarLinkBackgroundHover:       transparent;
@navbarLinkBackgroundActive:      @navbarBackground;

@navbarSearchBackground:          lighten(@navbarBackground, 25%);
@navbarSearchBackgroundFocus:     @white;
@navbarSearchBorder:              darken(@navbarSearchBackground, 30%);
@navbarSearchPlaceholderColor:    #ccc;
@navbarBrandColor:                @navbarLinkColor;

