<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Test tiles</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet-dist/leaflet.css" />
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="{{ STATIC_URL }}leaflet-dist/leaflet.ie.css" />
  <![endif]-->
    <script src="{{ STATIC_URL }}simplegeo-polymaps/lib/jquery/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}leaflet-dist/leaflet.js"></script>
</head>
<body>
<div id="map" style="width: 600px; height: 600px"></div>
<script>

    L.Control.Legend = L.Control.extend({
        options: {
            position: 'topright'
        },

        initialize: function (options) {
            L.Util.setOptions(this, options);
        },

        onAdd: function (map) {
            this._container = L.DomUtil.create('div', 'leaflet-control-legend');
            this._container.innerHTML = "La legenda, in <b>html</b>.";
            L.DomEvent.disableClickPropagation(this._container);

            return this._container;
        }

    });

    L.Map.mergeOptions({
        legendControl: true
    });

    L.Map.addInitHook(function () {
        if (this.options.legendControl) {
            this.legendControl = (new L.Control.Legend()).addTo(this);
        }
    });


    var map = new L.Map('map', {
        minZoom: 5,
        maxZoom: 10,
        scrollWheelZoom: false,
        attributionControl: false
    });

    var territori = new L.TileLayer('http://localhost:8099/{{ layer_name }}/{z}/{x}/{y}.png');


    var southWest = new L.LatLng({{ bounds.southwest.lat }},{{ bounds.southwest.lng }}),
        northEast = new L.LatLng({{ bounds.northeast.lat }},{{ bounds.northeast.lng }}),
        bounds = new L.LatLngBounds(southWest, northEast);
    map.fitBounds(bounds);

    map.addLayer(territori);
    map.on('click', onMapClick);

    var popup = new L.Popup();
    function onMapClick(e) {
        var latlngStr = '(' + e.latlng.lat.toFixed(3) + ', ' + e.latlng.lng.toFixed(3) + ')';
        var info_url = 'http://localhost:8020/territori/info/' +
            '{{ layer_type }}/' +
            e.latlng.lat.toFixed(3) + "/" +
            e.latlng.lng.toFixed(3) + "/"
        jQuery.get(info_url, function(data) {
            popup.setLatLng(e.latlng);
            popup.setContent(
                "<b>Territorio</b>: " + data.territorio.denominazione + "<br/>" +
                "<b>n progetti</b>: " + data.territorio.n_progetti + "<br/>" +
                "<b>costo</b>: " + data.territorio.costo + "<br/>" +
                "<b>pagamento</b>: " + data.territorio.pagamento

            );
            map.openPopup(popup);
        });

    }


</script>
</body>
</html>