{% extends 'base_map.html' %}
{% load humanize %}
{% load sekizai_tags %}
{% load template_functions %}

{% block page_title %}{{ territorio.nome }}{% endblock %}

{% block js_content %}
  {% addtoblock "js_script" %}
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.src.js"></script>#}
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/charts.js"></script>#}
  {% endaddtoblock %}

  {{ block.super }}

  <script type="text/javascript">

    $(document).ready(function() {

        APP.base_url = '{{ STATIC_URL }}' ;

//        print_pie_chart('#main_topics', 'main_topics_chart' );
//        print_pie_chart('#main_types', 'main_types_chart' );

        $('#index_charts .collapse')
            .on('show', function(e) {
                !$.isEmptyObject(APP.chart) && APP.chart.destroy();
                var $chart_container = $(e.currentTarget).css('height','auto');
                var $selectors = $('#topic_chart').next('form');
                //console.log($chart_container,'topic', $chart_container.data('topic'), 'location', $chart_container.data('location') );
                $('#topic_chart')
                    .data('topic', $chart_container.data('topic'))
                    .data('location', $chart_container.data('location'))
                    .appendTo( $chart_container.children().first() )
                    .after( $selectors )
                ;
            })
            .on('shown', function(e) {

                print_line_chart('#topic_chart');

        }).first().collapse('show');

    });
  </script>
{% endblock %}

{% block top_content %}{% endblock %}

{% block container %}

  {{ block.super }}

  {% if territorio.territorio == 'R' %}
  <section class="container">
    <div class="row">
      <div class="span12" id="charts_accordion">
        <h1>Indicatori sui temi</h1>

        <div class="accordion" id="index_charts">
          {% for tema in temi_principali %}
            <div class="accordion-group">
              <div class="accordion-heading">
                <h2 class="accordion-toggle" data-toggle="collapse" data-parent="#index_charts" data-target="#theme_index_{{ tema.codice }}">

                    <i class="icon-circle-arrow-down pull-right"></i>
                    {{ tema.descrizione }}

                </h2>
              </div>
              <div id="theme_index_{{ tema.codice }}" data-topic="{{ tema.codice }}" data-location="{{ territorio.cod_reg }}" class="accordion-body collapse{% if forloop.first %} in{% endif %}">
                <div class="accordion-inner">{% if forloop.first %}
                  <div id="topic_chart" style="height:270px;"></div>
                  <form action="#">
                    <div class="input-append text-center">
                      <select id="region-selector" class="span3">
                        <option value=""> -- Confronta con una regione -- </option>
                      </select><a id="region-reset" class="btn add-on" href="#">reset</a>

                      <select id="indicator-selector" class="span5"></select>
                    </div>
                  </form>
                {% endif %}</div>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </section>
  {% endif %}

  <div class="container">
    <div class="row">
      <section class="span3">

        <div class="tabbable boxed"> <!-- Only required for left/right tabs -->

          <h1 class='title'>
            <div>Soggetti più coinvolti</div>
          </h1>

          <ul class="nav nav-tabs">
            <li class="active"><a href="#project_receivers" data-toggle="tab">Destinatari</a></li>
            <li><a href="#project_makers" data-toggle="tab">Realizzatori</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="project_receivers">
              <ul>
                <li><a href="#">Nome destinatario 1</a></li>
                <li><a href="#">Nome destinatario 2</a></li>
                <li><a href="#">Nome destinatario 3</a></li>
              </ul>
            </div>
            <div class="tab-pane" id="project_makers">
              <ul>
                <li><a href="#">Nome destinatario 4</a></li>
                <li><a href="#">Nome destinatario 5</a></li>
                <li><a href="#">Nome destinatario 6</a></li>
              </ul>
            </div>
          </div>

          <p class="content"><i class="icon-chevron-right"></i> <a href="#">Vedi la lista dei soggetti coinvolti</a></p>

          <hr>

          <form class="form-search content">
            <h5>Cerca tra i soggetti</h5>
            <div class="input-append">
              <input type="text" class="input-medium search-query" placeholder="Inserisci una parola"><button type="submit" class="btn"><i class="icon-search"></i></button>
            </div>
          </form>

        </div>

      </section>

      <section class="span3">
        <h1 class='title'><span>Progetti con più costi</span></h1>

        <ul class="spaced">
          {% for progetto in progetti_piu_costosi %}
            <li><a href="{{ progetto.get_absolute_url }}">{{ progetto.titolo_progetto }}</a></li>
          {% endfor %}
        </ul>

      </section>


      <section class="span3">
        <h1 class='title'><span>Ultimi progetti conclusi</span></h1>

        <ul class='spaced'>
          {% for progetto in ultimi_progetti_conclusi %}
            <li><a href="{{ progetto.get_absolute_url }}">{{ progetto.titolo_progetto }}</a></li>
          {% endfor %}
        </ul>

      </section>

      {% if territori_piu_finanziati %}
      <section class="span3">
        <h1 class='title'><span>I comuni più finanziati</span></h1>

        <table>
          {% for territorio_finanziato in territori_piu_finanziati %}
          <tr>
            <td><a href="{{ territorio_finanziato.get_absolute_url }}">{{ territorio_finanziato }}</a></td>
            <td class="amount"><strong>{{ territorio_finanziato.totale|intcomma }}</strong> euro</td>
          </tr>
          {% endfor %}
        </table>

      </section>
      {% endif %}

    </div>
  </div>


{% endblock %}