{% extends 'base_map.html' %}

{% load sekizai_tags humanize search_url_filters template_functions %}

{% block page_title %}{{ territorio.nome_completo }}{% endblock %}

{% block top_content %}
    {% if territorio.is_comune %}
        <div id="claim-container" class="span6">
            <p class="claim">
                Al comune è associato l'intero finanziamento dei progetti, anche quando il progetto è localizzato in più comuni
            </p>
        </div>
    {% endif %}
{% endblock %}

{% block page_header_short %}
    <div class="page-header">
        <h1 class="title black"><span>{{ territorio.nome_completo }}</span></h1>
        <p style="padding: 0 25px">
            <span class="icon-align-justify"> <a href="{{ territorio|progetti_search_url }}">Vai a tutti i progetti</a></span>
        </p>
    </div>
{% endblock %}

{% block container %}
    {{ block.super }}

    {% if territorio.is_regione or territorio.is_nazionale %}
        <section class="container">
            <div class="row">
                <div class="span12" id="charts_accordion">
                    <span class="pull-right" style="font-size: 85%">scarica gli <a href="{% url 'opendata' %}#istat-title">Open data sugli Indicatori</a></span>

                    <h1>Indicatori sui temi</h1>

                    <div class="accordion" id="index_charts">
                        {% for tema in lista_temi_principali %}
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <h2 class="accordion-toggle" data-toggle="collapse" data-target="#theme_index_{{ tema.codice }}">
                                        {{ tema.short_label }}
                                        <span style="text-transform: none">
                                            {% if popolazione_nazionale and territorio.is_regione %}
                                                (finanziamento pubblico pro-capite {{ tema|args:territorio|call:'totale_pro_capite'|floatformat:2|intcomma }}&euro;
                                                - media nazionale {{ tema|args:popolazione_nazionale|call:'totale_pro_capite'|floatformat:2|intcomma }}&euro;)
                                            {% else %}
                                                (finanziamento pubblico pro-capite media nazionale {{ tema|args:territorio|call:'totale_pro_capite'|floatformat:2|intcomma }}&euro;)
                                            {% endif %}
                                        </span>
                                        <i class="icon-circle-arrow-down pull-right"></i>
                                    </h2>
                                </div>
                                <div id="theme_index_{{ tema.codice }}" data-topic="{{ tema.codice }}" data-location="{{ territorio.cod_reg }}" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        {% if forloop.first %}
                                            <div id="topic_chart" style="height: 270px"></div>
                                            <form action="#">
                                                <div class="input-append text-center">
                                                    {% spaceless %}
                                                        <select id="location-selector" class="span3">
                                                            <option value=""> -- Confronta con una regione -- </option>
                                                        </select>
                                                        <a id="location-reset" class="btn add-on" href="#">reset</a>
                                                    {% endspaceless %}

                                                    <select id="indicator-selector" class="span5"></select>
                                                </div>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        {% add_data 'js-data' 'js/bootstrap-collapse.js' %}
        {% add_data 'js-data' 'js/highcharts.js' %}
        {% add_data 'js-data' 'js/oc-indicatori.js' %}
        {% addtoblock 'js' strip %}
            <script>
                $(document).ready(function() {
                    var G = new IndicatorsGraph('#index_charts', 2 ,3);
                });
            </script>
        {% endaddtoblock %}
    {% endif %}
{% endblock %}

{% block map %}
    {% if not territorio.is_nazionale %}
        {{ block.super }}
    {% endif %}
{% endblock %}
