{% extends 'base_map.html' %}
{% load humanize %}
{% load sekizai_tags %}
{% load template_functions %}

{% block page_title %}{{ territorio.nome }}{% endblock %}

{% block js_content %}
  {{ block.super }}

  <script type="text/javascript">

    $(document).ready(function() {

      print_pie_chart('#regions_chart_table', 'regions_chart');

    });
  </script>
{% endblock %}

{% block map %}

  <div class="row">
    <div class="span3">
      <h4>Territori</h4>

      <p>In quali luoghi si interviene?</p>

      <div id="regions_chart" style="width: 100%; height: 250px"></div>

      <table class="table" id="regions_chart_table">
        {% for nazione, totale in lista_finanziamenti_per_nazione %}

            <tr>
              <th>{{ nazione.denominazione }}</th>
              <td class="amount"><strong>{{ totale|default:"0"|intcomma }}</strong> {% if tematizzazione == 'totale_progetti' %}progetti{% else %}euro{% endif %}</td>
            </tr>

        {% endfor %}
      </table>
    </div>

  </div>

{% endblock %}


{% block container %}

  {{ block.super }}

{% endblock %}

