{% extends 'base_map.html' %}
{% load humanize %}
{% load sekizai_tags %}
{% load template_functions %}

{% block page_title %}{{ territorio.nome }}{% endblock %}

{% block js_content %}
  {% addtoblock "js_script" %}
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js"></script>#}
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/charts.js"></script>#}
  {% endaddtoblock %}

  {{ block.super }}

  <script type="text/javascript">

    $(document).ready(function() {

        APP.base_url = '{{ STATIC_URL }}' ;

//        print_pie_chart('#main_topics', 'main_topics_chart' );
//        print_pie_chart('#main_types', 'main_types_chart' );

        $('#index_charts .collapse')
            .on('show', function(e) {
                !$.isEmptyObject(APP.chart) && APP.chart.destroy();
                var $chart_container = $(e.currentTarget).css('height','auto');
                var $selectors = $('#topic_chart').next('form');
                //console.log($chart_container,'topic', $chart_container.data('topic'), 'location', $chart_container.data('location') );
                $('#topic_chart')
                    .data('topic', $chart_container.data('topic'))
                    .data('location', $chart_container.data('location'))
                    .appendTo( $chart_container.children().first() )
                    .after( $selectors )
                ;
            })
            .on('shown', function(e) {

                print_line_chart('#topic_chart', 2);

        }).first().collapse('show');

    });
  </script>
{% endblock %}

{% block top_content %}
  {% if territorio.territorio == 'C' %}

    <div id="claim-container">
      <p class="claim">
        Al comune è associato l'intero finanziamento dei progetti, anche quando il progetto è localizzato in più comuni
      </p>
    </div>
  {% endif %}
{% endblock %}

{% block container %}

  {{ block.super }}

  {% if territorio.territorio == 'R' or territorio.territorio == 'N' %}
  <section class="container">
    <div class="row">
      <div class="span12" id="charts_accordion">
        <h1>Indicatori sui temi</h1>

        <div class="accordion" id="index_charts">
          {% for tema in lista_temi_principali %}
            <div class="accordion-group">
              <div class="accordion-heading">
                <h2 class="accordion-toggle" data-toggle="collapse" data-parent="#index_charts" data-target="#theme_index_{{ tema.codice }}">

                    <i class="icon-circle-arrow-down pull-right"></i>
                    {{ tema.short_label }}
                  {% if popolazione_nazionale and territorio.territorio == 'R' %}
                    <span style='text-transform: none;'>
                    (finanziamento pubblico pro-capite {{ tema|args:territorio|call:'totale_pro_capite'|floatformat:2|intcomma }}€
                  - media nazionale {{ tema|args:popolazione_nazionale|call:'totale_pro_capite'|floatformat:2|intcomma }}€ )
                  </span>
                    {% else %}
                  <span style='text-transform: none;'>
                    (finanziamento pubblico pro-capite media nazionale {{ tema|args:territorio|call:'totale_pro_capite'|floatformat:2|intcomma }}€ )
                  </span>
                  {% endif %}
                </h2>
              </div>
              <div id="theme_index_{{ tema.codice }}" data-topic="{{ tema.codice }}" data-location="{{ territorio.cod_reg }}" class="accordion-body collapse{% if forloop.first %} in{% endif %}">
                <div class="accordion-inner">{% if forloop.first %}
                  <div id="topic_chart" style="height:270px;"></div>
                  <form action="#">
                    <div class="input-append text-center">
                      <select id="region-selector" class="span3">
                        <option value=""> -- Confronta con una regione -- </option>
                      </select><a id="region-reset" class="btn add-on" href="#">reset</a>

                      <select id="indicator-selector" class="span5"></select>
                    </div>
                  </form>
                {% endif %}</div>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </section>
  {% endif %}


{% endblock %}

{% block map %}
  {% if territorio.territorio != 'N' %}
    {{ block.super }}
  {% endif %}
{% endblock %}