
// BLOCKS
a.block-chart { text-decoration: none; }
.block-chart {
  text-transform: uppercase;
  float:left;
  position: relative;
  min-height: 150px;

  &.pull-right { float: right; margin-left: 10px; }

  .title {
    font-size: 11px;
    line-height: 12px;
    min-height: 50px;
    display: block;
  }

  p {
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    width: 50%;
    position: absolute;
    bottom:0;

    span { white-space: nowrap; }
  }

  .title, p {
    padding: 5px;
  }

  .bar-vertical {
    width: 6px; height: 80px;
    position:absolute;
    right:5px; bottom:35px;
    background-color: #70cabf;

    & > span {
      position: absolute;
      bottom:0;
      width: 100%;
      #gradient > .vertical(darken(@greenDark, 5%), darken(@greenDark, 15%) );

      overflow: visible;
      text-indent: -30px;
      color: black;
      font-weight: bold;
      font-size: .9em;
      text-shadow: 0 1px 0 @white;
    }
  }

  .caret {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid @greenDark;
    position: absolute;
    bottom: -10px; left: 40%;
    opacity: 1;
  }
}

// blocks coloring
.block-chart {
  //background-color: @green;
  .box-shadow(1px 1px 3px @grayDark);
  text-shadow: 0 1px 0 @white;
  #gradient > .vertical( @white, @green );
  color: @greenDark;
  cursor: pointer;

  i {
    color: darken(@green, 10%);
    font-size: 22px;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  &.block-active, &:hover {
    //background-color: @greenDark;
    .box-shadow(0 0 0);
    text-shadow: 0 1px 0 @grayDark;
    #gradient > .vertical( @green, @greenDark );
    color: @white;

    i {
      color: darken(@greenDark, 10%);
      text-shadow: 0 1px 0 @grayLighter;
    }

    .bar-vertical {
      background-color: @green;
    }
  }
}

.block-chart.block-gray {
  //background-color: @grayLighter;
  #gradient > .vertical( @white, @gray );
  color: @brown;

  i {
    color: darken(@gray, 10%);
  }

  &.block-active, &:hover {
    #gradient > .vertical( @grayLighter, @brown );
    color: @white;

    i {
      color: darken(@brown, 10%);
    }
  }
}

// three blocks container
.block-container {
  .block-chart {
    width: 32%;
    border-left: 1px solid @white;
    min-height: 150px;
  }

}



#sidebar .block-chart, .block-chart.block {
  width: 100px;
  min-height: 100px;
  float: none;
  margin: 25px auto;
  color: @black;

  .box-shadow(0 0 0);
  //#gradient > .vertical( @greenLight,@greenLight );
  background-image: none;
  background-color: @greenLight;
  cursor: auto;
  text-shadow: 0 0 0;
  &:hover {
    color: @black;
  }

  p {
    width: auto;
    text-align: center;
    right: 0;
    left: 0;
    font-size: 25px;
    line-height: 28px;
  }

  .bar-vertical {
    width: 8px;
    right:0; bottom:0;
    height: 100px;
  }
}

.block-chart.block {
  margin: 0 15px 0 0;
  float: left ;
  padding-left: 4px;
}


.block-description {
  margin-left: 130px;
  h3 { line-height: 20px; font-size: 16px; }
}
/*
.block-green, .block-gray {

  width: 150px;
  float:left;

  text-transform: uppercase;

  > div {
    padding: 5px;
    position: relative;
    min-height: 150px;

    h5 {
      font-size: 11px;
      line-height: 12px;
      min-height: 50px;
    }

    p {
      font-size: 22px;
      line-height: 24px;
      font-weight: bold;
      width: 50%;
      position: absolute;
      bottom:0;

      span { white-space: nowrap; }
    }
  }

}

.block-green {
  background-color: @green;
  color: @greenDark;

  &.block-active, &:hover {
    background-color: @greenDark;
    color: @white;

    .bar-vertical {
      background-color: @green;
    }
  }
}

.block-gray {
  background-color: @grayLighter;
  color: @grayDarker;

  &.block-active, &:hover {
    #gradient > .vertical( @grayLighter, @brown );
  //background-color: @grayDarker;
    color: @white;
  }
}

// block stats
.bar-vertical {
  width: 6px; height: 100px;
  position:absolute;
  right:5px; bottom:5px;
  background-color: #70cabf;

  & > span {
    position: absolute;
    bottom:0;
    width: 100%;
    #gradient > .vertical(darken(@greenDark, 5%), darken(@greenDark, 15%) );
  }
}


.block {
  min-height: 100px;
  width: 100px;
  display: inline-block;
  background-color: @green;
  color: @black;

}
*/