{% extends 'widgets/widget.html' %}

{% block widget_styles %}
  <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
  <style type="text/css">
    table#widget-container > thead td, table#widget-container > tfoot td {
      color: #ffffff;
      background-color: #005652;
    }
  table#widget-container > thead td { font-size: 20px; }
  table#widget-container > tfoot td { font-size: 12px; }
  </style>
{% endblock %}

{% block widget_title %}{{ block.super }} - OpenCoesione.gov.it{% endblock %}

{% block widget_credits %}
<a href="http://opencoesione.gov.it" class="muted" target="_blank"><i>Dati forniti da Opencoesione.gov.it</i></a>
{% endblock %}

{% block widget_container %}
{% if widget.get_form.errors|length > 0 %}
  <div class="text-error">{{ widget.get_form.errors }}</div>
{% else %}
  {{ block.super }}
{% endif %}
{% endblock %}