{% extends 'widgets/widget.html' %}

{% block widget_styles %}
  <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
  <style type="text/css">
    table#widget-container { background-color: #005652; }
    table#widget-container > thead td { font-size: 20px; color: #ffffff; }
    table#widget-container > tfoot td { font-size: 12px; color: #ffffff; }
    table#widget-container > tbody td { background-color: #ffffff; }
	  table#widget-container > tbody > tr:first-child > td { padding: 0;}
	  #stream .table td { border-left: 0; }
	  #stream .table td.amount { text-align: right; }
	  #stream h1, #stream h2, #stream h3, #stream h4 { margin-left: 5px; }
	  #stream .container-fluid { margin:0; }
  </style>
{% endblock %}

{% block widget_title %}{{ block.super }} - OpenCoesione.gov.it{% endblock %}

{% block widget_credits %}
<a href="http://opencoesione.gov.it" class="muted" target="_blank"><i>Dati forniti da Opencoesione.gov.it</i></a>
{% endblock %}

{% block widget_container %}
{% if widget.get_form.errors|length > 0 %}
  <div class="text-error">{{ widget.get_form.errors }}</div>
{% else %}
  {{ block.super }}
{% endif %}
{% endblock %}