{% extends 'base.html' %}

{% load sekizai_tags %}
{% load bootstrap %}

{% block page_title %}{{ block.super }}Widget{% if widget %} {{ widget.title }}{% endif %}{% endblock %}

{% block container %}
{% addtoblock "css_link" %}
<style type="text/css">
#widget-builder ul { list-style: none; margin-left: 0;}
#widget-builder.form-horizontal .control-label { width: 90px; }
#widget-builder.form-horizontal .controls { margin-left: 110px; }
#widget-builder.form-horizontal input[type=text] { width: 190px; }
</style>
{% endaddtoblock %}


<div class="container">
	{% if widget %}
	<div class="page-header">
		<h2><a href="{% url widgets-select %}" class="muted">Widgets</a> &raquo; {% block widget_title %}{{ widget.title }}{% endblock %}</h2>
	</div>

	<div class="row">
    <div class="span4">
      <form id="widget-builder" class="form-horizontal" action="." method="get">
			  <fieldset>

				  <legend>Configurazione</legend>
          {{ widget.get_form|bootstrap }}
			    <div class="form-actions">
            <button type="submit" class="btn btn-primary">Genera</button>
          </div>

			  </fieldset>
			</form>
		</div>
		<div class="span8">

			<form>
				<fieldset>

					<legend id="preview">Anteprima</legend>
					<div class="well text-center" id="embed_code_preview">{{ widget.get_embed_code }}</div>
          <textarea name="embed_code" id="id_embed_code" rows="4" class="input-block-level">{{ widget.get_embed_code|force_escape }}</textarea>
          <div class="muted">Copia e incolla il codice nell'HTML del tuo sito.</div>

				</fieldset>
			</form>
		</div>
	</div>

	{% else %}

	<div class="page-header">
		<h3>Seleziona un widget</h3>
	</div>


		<div class="row">
			<div class="span12">

				{% for code, title in available_widgets %}
				<a class="btn" href="{% url widgets-build widget=code %}">{{ title }}</a>
				{% endfor %}

			</div>
		</div>
	{% endif %}
</div>
{% endblock %}


{% block js_content %}
{{ block.super }}
{% addtoblock "js_script" %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js"></script>
{% endaddtoblock %}
<script type="text/javascript">



		if (!window.location.origin)
			window.location.origin = window.location.protocol + "//" + window.location.host;

		var collectParams = function () {
			var inputParams = {
				base_url: window.location.origin
			};
      _.each($('#widget-builder').serializeArray(), function(el){
        if (el.name != undefined && el.name != '') {
          console.log(el.name, _.has(inputParams, el.name), inputParams);
          if (_.has(inputParams, el.name)) {
            if (_.isArray(inputParams[el.name])) {
              inputParams[el.name].push(el.value);
            } else {
              inputParams[el.name] = [inputParams[el.name], el.value];
            }
          } else {
            inputParams[el.name] = el.value;
          }
        }
      });
      return inputParams;
		};

    var formatValue = function(value) {
      return _.escape(_.isArray(value) ? value.join(',') : value);
    };

		var createEmbedDiv = function (params) {
			var el = _.reduce(_.keys(params), function (memory, key) {
				return memory + ' data-' + key + '="' + formatValue(params[key]) + '"';
			}, '<div class="widget-opencoesione"');
			el += '></div>';
			return el;
		};

		var createEmbedScript = function () {
			var url = "http://{{ request.get_host }}{{ STATIC_URL }}js/widgets.js";
			return '<script id="opencoesione-loader" src="' + url + '" async ><\/script>';
		};

		var embedCode = function (params) {
			var code = createEmbedDiv(params || {}) + createEmbedScript();
			$('#embed_code_preview').empty().html(code);
			return code;
		};

		var embed_textarea = $('#id_embed_code');
		embed_textarea.on('click', function () {
			$(this).focus();
			$(this).select();
		});

		var loadWidget = function () {
			embed_textarea.val(embedCode(collectParams()));
		};

  $(function () {

{#		$('#widget-builder').on('submit', function () {#}
{#			loadWidget();#}
{#			return false;#}
{#		});#}


		/*
		 * Autocompleter for the map input field
		 */

	  var $territorio = $('#id_territorio'),
        load_territorio = function(slug, callback) {
          $.getJSON(
							"/territori/autocomplete/",
							{'query': slug },
							callback
					);
        };
		if ( $territorio ) {
			var $territorio_select = $('<input type="text" id="territorio_selector" />');
			$territorio.hide().after($territorio_select);

			$territorio_select.on('click', function () {
				$(this).select()
			});

      if ($territorio.val()) {
        load_territorio('=' + $territorio.val(), function(data){
          $territorio_select.val(data.territori[0].denominazione)
        })
      };

			$("#territorio_selector").autocomplete({
				source: function (request, response) {
          load_territorio(request.term, function(data){
            response($.map(data.territori, function (item) {
              return {
                label: item.denominazione,
                id: item.id,
                slug: item.slug
              }
            }));
          });
				},
				minLength: 2,
				select: function (event, ui) {
					$('#id_territorio').val(ui.item.slug);
				},
				open: function () {
					$(this).removeClass("ui-corner-all").addClass("ui-corner-top");
				},
				close: function () {
					$(this).removeClass("ui-corner-top").addClass("ui-corner-all");
				}
			}).css('z-index', 10000);
		}



		// start all
		//loadWidget();
	});

</script>
{% endblock js_content %}