{% extends 'widgets/base_widget.html' %}


{% block widget_content %}

	<h1>{{ object.denominazione }}</h1>
	<table class="table">
	<tr><td>Finanziamenti</td><td>Pagamenti</td><td>Progetti</td></tr>
	<tr><td>{{ aggregati.totali.costi|floatformat:'2' }}</td><td>{{ aggregati.totali.pagamenti|floatformat:'2' }}</td><td>{{ aggregati.totali.progetti}}</td></tr
	</table>

	<table class="table">
	{% for slug, tema in aggregati.temi.items %}
	<tr>
		<td><a href="{% url progetti_tipologia slug=slug %}" target="_blank">{{ tema.label }}</a></td>
		<td>{{ tema.totali.costi|floatformat:'2' }}</td><td>{{ tema.totali.pagamenti|floatformat:'2' }}</td><td>{{ tema.totali.progetti }}</td>
	</tr>
	{% endfor %}
	</table>

	<table class="table">
	{% for slug, natura in aggregati.nature.items %}
	<tr>
		<td><a href="{% url progetti_tema slug=slug %}" target="_blank">{{ natura.label }}</a></td>
		<td>{{ natura.totali.costi|floatformat:'2' }}</td><td>{{ natura.totali.pagamenti|floatformat:'2' }}</td><td>{{ natura.totali.progetti }}</td>
	</tr>
	{% endfor %}
	</table>

<ul class="unstyled">

	{% for result in top_progetti_per_costo %}
	<li class="media">

		<div class="media-body">
			<h5 class="media-heading">
				<a href="{% url progetti_progetto slug=result.codice_locale %}">{{ result.titolo_progetto }}</a>
				<a href="#" onclick="return false;" data-toggle="collapse"
				   data-target="#metadata-{{ forloop.counter }}">
					<i class="icon-info"></i></a>
			</h5>

			<p>
				{{ result.fin_totale_pubblico }}
			</p>

			<div class="muted collapse" id="metadata-{{ forloop.counter }}">{{ result }}</div>
		</div>
	</li>
	{% endfor %}
</ul>

{% endblock widget_content %}