{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
	      rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

	<style type="text/css">
		body {
			padding: 0;
		}

		.media .pull-left {
			float: left;
			display: inline;
			margin-bottom: 0;
		}

		#container {
			margin: 0;
			padding: 0;
		}

		#container tbody td {
			padding: 0;
		}

		#stream {
			position: relative;
			width: 100%;
			overflow-x: hidden;
			overflow-y: scroll;
		}

		#stream li {
			padding: 8px;
			margin-top: 8px;
		}

		#stream img.lazy {
			display: none;
		}
	</style>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="//cdn.jsdelivr.net/jquery.lazyload/1.9.0/jquery.lazyload.min.js" type="text/javascript"></script>
</head>
<body>

<div class="row-fluid">

	<div class="span12">

		<table id="container" class="table table-bordered">
			<thead>
			<tr>
				<td><b>{{ params.title|default:"Titolo widget" }}</b></td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>
					<div id="stream">
						<ul class="unstyled">
							{% for result in result_set.results %}
								<li class="media">
                  <span class="pull-left">
                    <img class="lazy img-polaroid"
                         src="{% static 'img/politico-portrait.png' %}"
                         data-original="http://parlamento17.openpolis.it/images/parlamentari/thumb/{{ result.anagrafica.id }}.jpeg"
                         width="40" height="53">
                    <noscript><img
                        class="img-polaroid"
                        src="http://parlamento17.openpolis.it/images/parlamentari/thumb/{{ result.anagrafica.id }}.jpeg"
                        width="40" height="53"></noscript>
                  </span>

									<div class="media-body">
										<h5 class="media-heading">
											{{ result.anagrafica.nome }} {{ result.anagrafica.cognome }}
											<a href="#" onclick="return false;" data-toggle="collapse"
											   data-target="#metadata-{{ forloop.counter }}">
												<i class="icon-info"></i></a>
										</h5>

										<p>
											Gruppo: <abbr title="{{ result.gruppo.nome }}"
											              data-toggle="tooltip">{{ result.gruppo.acronimo }}</abbr>
											| Carica: {{ result.carica.tipo_carica }}
											| Inizio: {{ result.carica.data_inizio }}
											{% if result.carica.data_fine %}
												| Fine: {{ result.carica.data_fine }}
											{% endif %}
											{% if result.carica.circoscrizione %}
												| Circoscrizione: {{ result.carica.circoscrizione }}
											{% endif %}
										</p>

										<div class="muted collapse" id="metadata-{{ forloop.counter }}">{{ result }}</div>
									</div>
								</li>
							{% endfor %}
						</ul>
					</div>
				</td>
			</tr>
			</tbody>
			<tfoot>
			<tr>
				<td>
					<div class="pull-right"><a href="http://opencoesione.gov.it" class="muted" target="_blank"><i>Dati forniti da Opencoesione.gov.it
						data</i></a></div>
					<div>{{ params.footer|default:"" }}</div>
				</td>
			</tr>
			</tfoot>
		</table>

	</div>

</div>

<script type="text/javascript">
	$(function () {
		var $container = $('#container'),
				$header = $container.find('thead'),
				$footer = $container.find('tfoot'),

				required_height = parseInt("{{ params.height|default:'400' }}", 10),
				header_height = $header.outerHeight(true),
				footer_height = $footer.outerHeight(true);

		$container.find('#stream').css({
			'height': required_height - header_height - footer_height - 3
		});

		$("img.lazy").show().lazyload({
			effect: "fadeIn",
			container: $("#stream")
		});

		$('abbr').tooltip();

	});
</script>
</body>
</html>