{% extends 'base_two_columns.html' %}

{% block page_title %}Seguici{% endblock %}

{% block sidebar %}
        <p>
            Seguici sui nostri canali <em>social</em>
        </p>
        <ul id="social_links">
            <li><a class="twitter" href="https://twitter.com/OpenCoesione">Twitter</a>
                <a href="https://twitter.com/OpenCoesione">@OpenCoesione</a> su Twitter</li>
            <li><a class="vimeo" href="https://vimeo.com/channels/787486">Vimeo</a>
                il <a href="https://vimeo.com/channels/787486">canale OpenCoesione</a> su Vimeo</li>
            <li><a class="slideshare" href="http://www.slideshare.net/OpenCoesione">SlideShare</a>
                le slide di <a href="http://www.slideshare.net/OpenCoesione">OpenCoesione</a> su SlideShare</li>
        </ul>
{% endblock %}

{% block content %}
    <div class="flat_content">
        <h1>Iscriviti alla newsletter</h1>
        <hr>

        {% if nl_form_submitted %}
            <p class="well">Grazie per averci inviato i tuoi contatti, riceverai al più presto una nostra mail</p>
        {% else %}
            <p>
                La "Newsletter" di OpenCoesione, consente un costante e ampio approfondimento rispetto
                alle principali novità che riguardano l'attuazione degli investimenti nel ciclo 2007-2013.
            </p>
            <p>
                Per iscriversi alla mailing list, che consente di ricevere, in automatico e gratuitamente,
                via posta elettronica, ogni nuovo numero della Newsletter, utilizzare il form sottostante.
            </p>

            <form action="{% url 'rubrica-newsletter' %}" id="newsletter-form" method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="row-fluid clearfix">
                    <fieldset class="span10">
                        {% for field in nl_form %}
                            <div class="control-group {% if field.errors %}error{% endif %}">
                                <label for="{{ field.html_name }}" class="control-label">{{ field.label }}:</label>
                                <div class="controls">
                                    {{ field }}
                                    {% if field.help_text %}<div class="help-block">{{ field.help_text }}</div>{% endif %}
                                    {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </fieldset>
                </div>

                <div id="informativa">
                    <h2>INFORMATIVA PER IL TRATTAMENTO DEI DATI PERSONALI</h2>
                    <p>
                        La presente informativa è resa ai sensi dell'articolo 13 del d.lg.
                        n. 196/2003 - Codice in materia di protezione dei dati personali.
                        <br/>
                        La newsletter di OpenCoesione è inviata via posta elettronica
                        a coloro che ne fanno esplicita richiesta,
                        compilando il form presente in questa pagina e autorizzando il DPS
                        al trattamento dei propri dati personali.
                        <br/>
                        Il conferimento dei dati è facoltativo.
                        Il rifiuto a fornire i dati comporta l'impossibilità di ottenere il servizio newsletter.
                    </p>

                    <h2>Finalità del trattamento</h2>
                    <p>
                        I dati personali forniti dagli utenti sono utilizzati al solo fine di inviare
                        la newsletter e non saranno comunicati a terzi.
                    </p>

                    <h2>Modalità per il trattamento dei dati</h2>
                    <p>
                        I dati raccolti sono trattati con strumenti informatici.
                        Idonee misure di sicurezza sono osservate per prevenire la perdita dei dati,
                        usi illeciti o non corretti ed accessi non autorizzati.
                    </p>

                    <h2>Il titolare del trattamento</h2>
                    <p>
                        Il titolare del trattamento dei dati raccolti è il
                        Dipartimento per lo sviluppo e la coesione economica, che ha sede in via Sicilia 162/c Roma.
                        <br/>
                        I trattamenti di dati connessi al servizio newsletter
                        hanno luogo presso la predetta sede e sono curati da personale interno.
                    </p>

                    <h2>Responsabile del trattamento</h2>
                    <p>
                        In caso di necessità, per attività legate alla manutenzione della parte tecnologica del sito,
                        i dati connessi al servizio newsletter possono essere trattati da incaricati
                        della società DEPP S.r.l., responsabile del trattamento dei dati ai sensi dell'articolo 29 del
                        Codice in materia di protezione dei dati personali.
                    </p>

                    <h2>Diritti degli interessati</h2>
                    <p>
                        I soggetti cui si riferiscono i dati personali hanno il diritto in qualunque momento di ottenere la conferma dell'esistenza o meno dei medesimi dati e di conoscerne il contenuto e l'origine, verificarne l'esattezza o chiederne l'integrazione o l'aggiornamento, oppure la rettificazione (articolo 7 del Codice in materia di protezione dei dati personali).
                        Ai sensi del medesimo articolo si ha il diritto di chiedere la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, nonché di opporsi in ogni caso, per motivi legittimi, al loro trattamento.
                        <br/>
                        Le richieste vanno rivolte:
                        via e-mail, all'indirizzo: <a href="mailto:opencoesione@dps.gov.it">opencoesione@dps.gov.it</a></li>.
                        <br/>
                        Per ulteriori approfondimenti, si rimanda anche alla <a href="{% url 'oc-privacy' %}">privacy policy</a> del sito.
                    </p>

                    <h2>Cancellazione del servizio</h2>
                    <p>
                        Per non ricevere più la newsletter, fare click sul link apposito, inviato in fondo a
                        ogni numero della newsletter.
                        <br/>
                        In caso di problemi, inviare una segnalazione e-mail a: <a href="mailto:opencoesione@dps.gov.it">opencoesione@dps.gov.it</a>.
                    </p>
                </div>
                <div class="form-actions">
                    <button class="btn btn-info" type="submit">Invia</button>
                    <button class="btn" type="reset">Annulla</button>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}
