{% extends 'base_two_columns.html' %}

{% block page_title %}A scuola di Opencoesione{% endblock %}

{% block content %}

  <div class="flat_content">

    <h1>A scuola di Opencoesione</h1>

    <p>
        A scuola di OpenCoesione è un innovativo progetto sperimentale di didattica nelle scuole sui temi
        dell’open government che nasce nell’ambito di <a href="http://www.opencoesione.gov.it">OpenCoesione</a>,
        la strategia di apertura e trasparenza sulle politiche di sviluppo,
        grazie a un Accordo tra il <a href="http://www.dps.tesoro.it">DPS</a> -
        <a href="http://www.dps.tesoro.it">Dipartimento per lo sviluppo e la coesione economica</a>
        e il <a href="http://www.istruzione.it">MIUR</a> - <a href="http://www.istruzione.it">Ministero dell’Istruzione, dell’Università e della Ricerca</a>.
    </p>

    <p>
        L’obiettivo di A scuola di OpenCoesione è di coinvolgere e sensibilizzare studenti e insegnanti all’utilizzo
        di contenuti e strumenti per conoscere e monitorare i progetti delle politiche di coesione,
        costruire percorsi didattici interdisciplinari a partire dai progetti finanziati sui rispettivi territori e
        arricchire, tramite crowdsourcing, la base informativa di OpenCoesione aggiungendo informazioni e dati
        che non sono al momento disponibili come, ad esempio, la geolocalizzazione,
        materiali multimediali, le caratteristiche del progetto, l’andamento fisico delle opere, ecc.
    </p>

    <h1>Chi va a scuola di Opencoesione?</h1>
    <p>
        Il progetto si avvia nell’anno scolastico 2013-2014 e si rivolge a studenti e insegnanti delle scuole superiori.
        Prevede, in una prima fase pilota, il coinvolgimento di alcune “scuole polo” che avvieranno la sperimentazione
        nei primi mesi dell’anno per poi estendere la partecipazione,
        sempre nel corso dell’anno scolastico 2013-2014, a circa 60 scuole accompagnate nel progetto dalle stesse “scuole polo”.
    </p>


    <h1>Chi lavora A scuola di OpenCoesione?</h1>
    <p>
        Il progetto è guidato da un team dedicato e formato da un project manager
        esperto di politiche di innovazione e partecipazione pubblica,
        un data journalist e un community manager/web editor,
        che lavora in stretto contatto con il gruppo di lavoro OpenCoesione del DPS ed ha un carattere fortemente multidisciplinare.
        Il team lavora per il coinvolgimento delle scuole attraverso formazione in presenza e a distanza,
        incontri in rete e supporto alle attività di monitoraggio civico e data storytelling realizzate da studenti e insegnanti.
    </p>


    <h1>Cosa si impara A scuola di OpenCoesione?</h1>
    <p>
        A fare data journalism sui progetti finanziati dalle politiche di coesione nei territori,
        realizzando narrative sui progetti integrate con contenuti delle materie ordinarie di studio,
        e quindi a pubblicare su un blog di monitoraggio civico, a fare analisi descrittive,
        a raccogliere ed aggregare foto, video, informazioni, grafici e infografiche per costruire
        progetti di comunicazione innovativa, a geolocalizzare progetti acquisendo competenze digitali,
        competenze giornalistiche e competenze analitiche sui dati.
    </p>

{% endblock %}

{% block sidebar %}

{% endblock %}