{% extends 'base_two_columns.html' %}

{% block content %}

  <div class="flat_content">
    <h1>Cerca un progetto</h1>

    <p>
      Alla base del sito c’è un insieme strutturato di dati relativi a singoli progetti, cosi come sono configurati nelle basi informativo - gestionali delle amministrazioni, riferibili a atti amministrativi in genere autonomi. In alcuni casi più progetti sono parte di un singolo intervento o tra loro coordinati nell’ambiti di un’unica strategia di intervento.
    </p>

    <p>
      Per ogni singolo progetto sono disponibili informazioni relative all’ambito con diversi livelli di dettaglio, al luogo in cui si realizza, ai soggetti coinvolti.
    </p>

    <p>
      Soggetti: il soggetto che ha programmato l’intervento, il soggetto amministrativo che ne è l’attuatore, il destinatario del finanziamento, il soggetto che lo realizza.
    </p>

    <p>
      Luoghi: secondo il livello di dettaglio disponibile o pertinente, per ogni intervento viene indicata l’area del Paese, la Regione, il Comune, il CAP, l’indirizzo in cui si realizza l’intervento.
    </p>

    <p>
      Interventi: fonti finanziarie utilizzate per la realizzazione, programma operativo che contempla l’intervento, la tipologia di intervento secondo la classificazione adottata in ambito comunitario, eventuali ulteriori informazioni pertinenti sulla cronologia dell’intervento.
    </p>

    <p>
      Per individuare un progetto del quale visualizzare la scheda, la ricerca può partire dal luogo, cliccando su un’area della cartina presente in home page, per poi scendere al dettaglio territoriale desiderato, oppure inserendo il CAP o il Comune nel campo libero sotto la cartina stessa.
    </p>

    <p>
      L’esito della ricerca può poi essere affinato agendo sui filtri: tema (per esempio “Ambiente”), tipologia (per esempio “Infrastrutture”), costo (per esempio “Fino a un milione di euro”),  data inizio.
    </p>
  </div>

{% endblock %}

{% block sidebar %}{% endblock %}