{% extends 'base_two_columns.html' %}

{% block page_title %}Cercare un soggetto{% endblock %}

{% block content %}
    <div class="flat_content">
        <h1>Cerca un soggetto</h1>

        <p>
            Se si conosce il soggetto coinvolto in un intervento, si può selezionare l’opzione “Soggetti” nel menu della
            barra di navigazione in alto e compilare il campo di ricerca con il nome.
        </p>
        <p>
            Il sistema di consultazione restituisce un elenco dei progetti in cui il soggetto è coinvolto,
            i territori in cui sono realizzati questi progetti, la tipologia e l’ambito degli stessi,
            nonché l’indicazione degli importi assegnati e ricevuti complessivamente suddivisi per tipologie e temi.
        </p>
    </div>
{% endblock %}
