{% extends 'base_two_columns.html' %}

{% block content %}

  <div class="flat_content">
    <h1>Cerca un soggetto</h1>

    <p>
      Se si conosce il soggetto coinvolto in un intervento si può selezionare il la scheda “Soggetti” nel menu e compilare il campo di ricerca.
    </p>

    <p>
      Il sistema restituisce una scheda sintetica che indica anche tutti gli interventi in cui il soggetto è coinvolto,
      i territori in cui sono realizzati questi interventi e le amministrazioni che sono responsabili della loro attuazione,
      nonché l’indicazione degli importi ricevuti [assegnati] complessivamente suddivisi per tipologie e temi.
    </p>
  </div>

{% endblock %}

{% block sidebar %}{% endblock %}