{% extends 'base_two_columns.html' %}

{% block content %}
  <div class="flat_content">

    <h1>Contatti</h1>

    <p>
      Il sito è amministrato nell’ambito del Gabinetto del Ministro per la Coesione territoriale.
    </p>
    <ul class="spaced">
      <li><strong>Sede:</strong> Largo Chigi 19, 00187 Roma</li>
      <li><strong>e-mail</strong> opencoesione@governo.it</li>
    </ul>
    <p>

      Indicazioni, domande e suggerimenti costituiscono un elemento fondamentale per migliorare il progetto.
      <br>
      Per richiedere informazioni, fornire suggerimenti, indicare una modalità di
      ri-utilizzo dai dati tramite nuove visualizzazioni o applicazioni o segnalare una discordanza sui dati, utilizza il modulo sottostante.

    </p>

  </div>

{% endblock %}

{% block sidebar %}{% endblock %}