{% extends 'base_two_columns.html' %}

{% block page_title %}Domande frequenti{% endblock %}

{% block content %}

    <div class="flat_content" id="faq_list">
        <h2>Cosa c&rsquo;è in OpenCoesione?</h2>

        <p>Dati e informazioni sugli interventi delle politiche di coesione territoriale.
            In particolare, i progetti, i finanziamenti, i luoghi e gli ambiti tematici in cui intervengono,
            i soggetti coinvolti e i tempi di realizzazione.</p>

        <p>I dati possono essere scaricati in forma di dataset “grezzo” e rielaborabile oppure visualizzati
            mediante grafici interattivi navigabili per tema, territorio e tipologia di intervento,
            e schede sui singoli progetti o soggetti. Sono corredati da un insieme di informazioni
            e dati sul contesto territoriale e finanziario.</p>


        <h2>Cosa NON c&rsquo;è in OpenCoesione?</h2>

        <p>Non ci sono dati sui risultati dei progetti, non ci sono indicazioni su quanto i progetti
            abbiano realizzato gli obiettivi delle politiche di coesione, non ci sono informazioni su
            chi beneficia concretamente dei singoli interventi (ad eccezione di alcuni casi).</p>

        <p>Mancano anche descrizioni puntuali su cosa fanno i progetti, oltre a quelle desumibili dal titolo e
            dalle variabili tematiche e territoriali associate a ciascun intervento.
            Se sei un protagonista di un progetto monitorato su OpenCoesione
            <a href="/contatti/">inviaci</a> una descrizione del tuo progetto!</p>


        <h2>Come posso contribuire a OpenCoesione?</h2>

        <p>Puoi <a href="http://www.dps.tesoro.it/opencoesione/contatti" target="_blank">inviare</a> idee,
            consigli, segnalazioni e esempi di riuso (applicazioni, servizi, ricerche)
            che si basano sui dati di OpenCoesione.</p>

        <p>Se sei un protagonista di un progetto monitorato su OpenCoesione inviaci una descrizione del tuo progetto!
            <a href="/contatti/">inviaci</a></p>


        <h2>A chi si rivolge OpenCoesione?</h2>

        <p>Si rivolge a tutti: cittadini, amministrazioni italiane ed europee, ricercatori, analisti delle politiche,
            imprese, settori organizzati della società civile, media, affinché possano conoscere e seguire
            le politiche di coesione, ma anche valutare l&rsquo;efficacia e la coerenza dell&rsquo;impiego delle risorse disponibili.</p>


        <h2>Quali sono i dati disponibili al primo rilascio di OpenCoesione (luglio 2012)?</h2>

        <p>I dati sull&rsquo;attuazione fanno riferimento  al 31 dicembre 2011 e si riferiscono ai progetti inclusi
            in programmi cofinanziati con Fondi Strutturali europei , a eccezione dei programmi di cooperazione
            internazionale o transfrontaliera.</p>

        <p>Sono anche disponibili dati relativi alle assegnazioni di risorse del Fondo nazionale per lo
            Sviluppo e la Coesione effettuate dal CIPE per progetti che non sono ancora inclusi nei sistemi
            di monitoraggio delle politiche di coesione. Questi dati riguardano le informazioni disponibili
            al momento in cui il CIPE ha assunto la decisione di finanziamento e non hanno caratteristica di
            monitoraggio.</p>

        <p>Nei rilasci successivi si prevede di ampliare la disponibilità agli altri programmi già monitorati,
            ai nuovi progetti man mano in attuazione,  a interventi riferiti a precedenti periodi di programmazione,
            nonché a un insieme più ampio di variabili, in seguito a analisi e controlli di qualità che sono in corso.</p>


        <h2>Cos'è un progetto in OpenCoesione?</h2>

        <p>I  progetti in OpenCoesione si riferiscono a azioni finanziate nell&rsquo;ambito delle politiche di
            coesione e individuate da un atto amministrativo autonomo (per esempio, un bando, una graduatoria,
            un&rsquo;intesa, un contratto, etc.). In alcuni casi più progetti sono parte di un singolo intervento o
            sono tra loro coordinati nell&rsquo;ambito di un&rsquo;unica strategia di intervento. Poiché le politiche di
            coesione intervengono in settori molto diversificati, i progetti possono avere dimensioni finanziarie,
            estensioni territoriali e contenuti tematici tra loro molto diversi. Possono riguardare grandi
            opere infrastrutturali, cosi come un singolo individuo beneficiario di un aiuto o altra forma di
            contributo (per esempio un voucher).</p>

        <p>A ciascun progetto è assegnato un
            <a href="http://www.cipecomitato.it/it/in_primo_piano/mip_cup/cup/cup_che_cosa.html" target="_blank">
                Codice Unico di Progetto</a> (CUP)</p>


        <h2>Quali informazioni trovo sui singoli progetti in OpenCoesione?</h2>

        <p>Per i progetti sono disponibili – a diversi livelli di dettaglio e esaustività – informazioni relative
            all&rsquo;ambito settoriale o tematico, al luogo in cui si realizza,
            ai soggetti coinvolti e ai tempi di realizzazione.
            Eventuali dati mancanti derivano da un caricamento incompleto delle informazioni da parte
            delle Amministrazioni competenti oppure da incoerenze riscontrate nei dati.
        </p>

        <p>Per scaricare i dati relativi a tutti i progetti finanziati dalla politica di coesione e
            già presenti nei sistemi di monitoraggio,
            <a href="http://www.dps.tesoro.it/opencoesione/dati_attuazione" target="_blank">vai qui</a></p>

        <p>Per scaricare i dati relativi a progetti che hanno ricevuto assegnazioni del
            Fondo per lo Sviluppo e la Coesione effettuate dal CIPE,
            <a href="http://www.cipecomitato.it/opendata" target="_blank">vai qui</a>.</p>

        <p>Per consultare le schede dei progetti finora monitorati,
            <a href="http://www.opencoesione.gov" target="_blank">vai qui</a></p>


        <h2>Quali sono le fonti di dati sull&rsquo;attuazione delle politiche di coesione?</h2>

        <p>La fonte dei dati sull&rsquo;attuazione delle politiche di coesione sono
            i sistemi di monitoraggio a cui contribuiscono, secondo protocolli comuni,
            le Amministrazioni beneficiarie dei fondi. In particolare, le informazioni
            sull'attuazione della programmazione 2007-2013 sono raccolte in un unico sistema di monitoraggio,
            amministrato dalla Ragioneria Generale dello Stato del Ministero dell&rsquo;economia e delle finanze.</p>

        <p>Le Amministrazioni regionali e centrali che gestiscono i fondi sono quindi la fonte
            principale dell&rsquo;informazione restituita su questo sito. Sono state tuttavia
            effettuate alcune elaborazioni per facilitare la leggibilità e la coerenza delle informazioni
            (identificabili nei dataset con il suffisso DPS_).</p>


        <h2>Quali sono le fonti di dati sulle assegnazioni del Fondo nazionale per lo Sviluppo e la Coesione?</h2>

        <p>La fonte dei dati sull’attuazione delle politiche di coesione sono i sistemi di monitoraggio centralizzati a cui contribuiscono,
          secondo protocolli comuni, o interfaccia comuni di alimentazione, le Amministrazioni beneficiarie dei fondi. In particolare, le
          informazioni sull'attuazione della programmazione 2007-2013 sono raccolte in un sistema di monitoraggio unico, gestito dalla
          Ragioneria Generale dello Stato del Ministero dell’economia e delle finanze.</p>

        <p>
          Le Amministrazioni regionali e centrali che gestiscono i fondi sono quindi la fonte principale dell’informazione restituita su
          questo sito. Sono state tuttavia effettuate alcune elaborazioni per facilitare la leggibilità e la coerenza delle informazioni
          (identificabili nei dataset con il suffisso DPS_). Le singole Amministrazioni regionali e centrali che gestiscono i fondi, anche
          in ottemperanza a norme e regolamenti sulla trasparenza dei beneficiari dei fondi, devono pubblicare direttamente
          informazioni che fanno riferimento anche a variabili diverse rispetto a quelle selezionate per OpenCoesione.
        </p>

        <p>
          Per i progetti cofinanziati dai Fondi Strutturali i dati rendicontati alla Commissione possono differire da quanto presente su
          OpenCoesione in funzione della data di aggiornamento dei dati riferiti ad un medesimo periodo e delle specifiche regole da
          applicare per la procedura di rendicontazione.
        </p>


        <h2>Quando si aggiornano i dati disponibili su OpenCoesione?</h2>

        <p>I dati che provengono dai sistemi di monitoraggio sono aggiornati bimestralmente dalle
            Amministrazioni che gestiscono i fondi e sono resi pubblicamente disponibili su
            OpenCoesione a distanza di circa tre mesi dalla data di riferimento.</p>

        <p>Eventuali nuove assegnazioni del CIPE a valere sul Fondo nazionale di Sviluppo e
            Coesione verranno pubblicate in concomitanza con la registrazione della corrispondente
            Delibera CIPE da parte della Corte dei Conti.</p>

        <p>Si prevede di entrare a regime con gli aggiornamenti entro la fine del 2012.</p>


        <h2>Cosa si intende per soggetto in OpenCoesione?</h2>

        <p>&Egrave; un soggetto pubblico o privato
          (un'amministrazione pubblica, un’istituzione senza fini di lucro, un individuo o un'impresa)
          che svolge un ruolo in relazione a uno o più progetti.
          I ruoli possono essere:</p>

        <ul>
            <li><strong>Programmatore</strong>, ossia il soggetto cui compete la decisione di finanziare il progetto.
              Si tratta generalmente di un'amministrazione pubblica centrale o regionale.</li>

            <li><strong>Attuatore</strong>, ossia il soggetto responsabile dell'attuazione del progetto.
              Nel caso dei Fondi Strutturali corrisponde al cosiddetto "beneficiario" ex art 2 del Regolamento
              CE n.1083/2006 ossia il soggetto che percepisce il contributo finanziario.
              L’attuatore può a sua volta avvalersi di altri soggetti nella realizzazione del progetto,
              ma questi non sono necessariamente tracciati nel sistema di monitoraggio.</li>

        </ul>


        <h2>Come vengono protetti i dati individuali?</h2>

        <p>Nel caso di progetti che coinvolgono categorie svantaggiate,
            se la descrizione del progetto indicata dall'Amministrazione contiene nome,
            cognome e/o codice fiscale di una persona fisica, questi non vengono pubblicati e si opera
            un mascheramento dei dati personali utilizzando l&rsquo;espressione "intervento individuale".</p>


        <h2>Cosa rappresentano i tempi di inizio e fine dei progetti?</h2>

        <p>Le date di inizio e fine, prevista ed effettiva, di ciascun progetto identificano la fase attuativa (di esecuzione) di un progetto.
          Le informazioni sui tempi non sono sempre disponibili in associazione ai singoli progetti. In particolare la data di fine
          progetto potrebbe non essere stata caricata nel sistema di monitoraggio anche se l’intervento è concluso.</p>


        <h2>Come vengono classificati i progetti nei 13 temi sintetici?</h2>

        <p>Si tratta di un'aggregazione dei temi prioritari UE e delle classificazioni settoriali del
            <a href="http://www.cipecomitato.it/it/in_primo_piano/mip_cup/cup/cup_che_cosa.html" target="_blank">
                Sistema CUP</a></p>

        <p>I 13 temi sintetici sono: Ricerca e innovazione, Competitività per le imprese,
            Agenda digitale, Energia  e efficienza energetica, Ambiente e prevenzione dei rischi,
            Rinnovamento urbano  e rurale, Attrazione culturale, naturale e turistica, Trasporti e
            infrastrutture a rete, Occupazione e mobilità dei lavoratori, Servizi di cura infanzia e anziani,
            Inclusione sociale, Istruzione e formazione, Rafforzamento delle capacità della PA.</p>

        <p>Per un raccordo con i temi prioritari UE e con la classificazione CUP
            consulta il
            <a href="http://www.dps.tesoro.it/opencoesione/doc/metadati/raccordo_temi_sintetici.xls" target="_blank">
                raccordo temi sintetici</a>.</p>


        <h2>Come si possono scaricare i dati?</h2>

        <p>I dati sui progetti finanziati con le politiche di coesione sono disponibili
            <a href="http://www.dps.tesoro.it/opencoesione/dati_attuazione" target="_blank">qui</a></p>

        <p>I dati sul contesto territoriale e finanziario, che comprendono anche le assegnazioni del
            Fondo nazionale per lo Sviluppo e la Coesione, sono disponibili
            <a href="http://www.dps.tesoro.it/opencoesione/dati_contesto" target="_blank">qui</a></p>

        <p>Oltre ai dati vengono rilasciati metadati, link a informazioni di dettaglio e la licenza di utlizzo.</p>


        <h2>Con quale licenza sono rilasciati i dati di OpenCoesione?</h2>

        <p>I dati di OpenCoesione sono rilasciati con la
            <a href="http://www.creativecommons.org/licenses/by-sa/3.0/it/deed.it" target="_blank">
                licenza CC BY-SA 3.0
            </a>.</p>

        <p>Si tratta della licenza Creative Commons 3.0 Italia con condizioni di utilizzo BY (Attribuzione)
            e SA (Condividi allo stesso modo). È dunque possibile riprodurre, distribuire e comunicare al
            pubblico dati e analisi; modificarli e adattarli; usarli per fini commerciali
            riportando sempre la fonte indicata e distribuendo qualsiasi riuso dei dati con una
            licenza identica o equivalente.</p>


        <h2>In che formato sono rilasciati i dati di OpenCoesione?</h2>

        <p>I dati sono disponibili in
            <a href="http://it.wikipedia.org/wiki/Comma-separated_values" target="_blank">formato CSV</a>.
            In alcuni casi i file sono compressi per facilitarne il download.</p>

        <p>Le impostazioni dei file CSV di OpenCoesione sono:</p>

        <ul>
                <li>tipo di carattere: Unicode (UTF-8)</li>
                <li>lingua: Italiano (Italia)</li>
            </ul>



        <h2>Come è regolata la trasparenza nelle politiche di coesione?</h2>

        <p>La trasparenza nelle politiche di coesione rientra nella più generale strategia di
            Open Government perseguita nell&rsquo;ambito dell&rsquo;Agenda Digitale per l&rsquo;Italia
            (DL 5/2012) che intende utilizzare i nuovi strumenti e tecnologie della comunicazione
            per aumentare il grado di apertura, accessibilità e trasparenza dell&rsquo;operato
            delle amministrazioni nei confronti dei cittadini e trova inoltre sostegno, con riferimento alle
            politiche di coesione, in numerosi atti di indirizzo e disposizioni nazionali e comunitarie.</p>

        <p>I Regolamenti dei Fondi Strutturali europei per il 2007-2013 obbligano gli Stati membri e le
            Autorità di Gestione dei Programmi Operativi a offrire informazioni sugli interventi finanziati.
            In particolare, l&rsquo;art. 69 del Regolamento 1083/2006 afferma che “lo Stato membro e
            l&rsquo;autorità di gestione del programma operativo forniscono informazioni circa i
            programmi cofinanziati e le operazioni e li pubblicizzano. Le informazioni sono destinate
            ai cittadini dell&rsquo;Unione europea e ai beneficiari allo scopo di valorizzare il ruolo della
            Comunità e garantire la trasparenza dell&rsquo;intervento dei Fondi”. Inoltre, ai sensi dell&rsquo;art. 7
            del Regolamento 1828/2006, le Autorità di Gestione sono tenute ad effettuare “la pubblicazione,
            elettronica o in altra forma, dell&rsquo;elenco dei beneficiari, delle denominazioni delle operazioni e
            dell&rsquo;importo del finanziamento pubblico destinato alle operazioni”.</p>

        <p>Consulta “<a href="http://www.dps.tesoro.it/materialiuval/analisi_studi.asp#muval27">La trasparenza sui beneficiari dei Fondi Strutturali in Italia e in Europa</a>”
          (Materiali <a href="http://www.dps.tesoro.it/materialiuval/analisi_studi.asp#muval27">UVAL n.27, anno 2012</a>)</p>


        <h2>Cosa rappresentano le mappe?</h2>

        <p>
          Ciascun progetto è localizzato a un livello territoriale che può essere nazionale, regionale, provinciale o comunale.
        </p>

        <p>
          La mappa regionale rappresenta tutti i progetti localizzati a un livello regionale o inferiore, la mappa provinciale tutti i progetti
          localizzati a livello provinciale o comunale. Non sono quindi visualizzati nella mappa provinciale eventuali progetti di livello
          regionale. I progetti localizzati in ambito nazionale non sono rappresentati in alcuna mappa, poiché le mappe solo almeno di
          livello regionale.
        </p>

        <p>
          Uno stesso progetto può inoltre essere localizzato in più comuni o province e, in tal caso, nelle mappe è attribuito - a ciascun
          livello territoriale - a tutte le localizzazioni in cui è presente.
        </p>

        <p>
          Le mappe rappresentano il numero di progetti localizzati e il corrispondente valore in termini di risorse (finanziamento
          pubblico complessivo o pagamenti effettuati).
        </p>

        <h2>Quale metodo viene utilizzato per la tematizzazione delle mappe?</h2>

        <p>
          Le classi di valori rappresentate sulle mappe sono definite tramite l’algoritmo di Jenks (Jenks natural breaks classification
          method), un metodo che ottimizza la distribuzione in classi minimizzando la varianza all’interno di ciascuna classe (within) e
          massimizzando la varianza tra le classi (between).
        </p>

    </div>

{% endblock %}

{% block sidebar %}{% endblock %}