{% extends 'base_two_columns.html' %}

{% block page_title %}Frequently Asked Questions{% endblock %}

{% block content %}

    <div class="flat_content" id="faq_list">

      <h2>What's in OpenCoesione?</h2>

      <p>Data and information on Cohesion Policy actions at territorial level, and in particular: projects, funding,
        locations and thematic areas of the interventions undertaken, as well as parties involved and implementation
        timing.</p>

      <p>Data can either be downloaded as a "raw" database and reprocessed, or displayed in interactive graphs itemised
        by topic, territory and typology of intervention, as well as fiches on individual projects or subjects,
        complemented with a set of information and data on the related territorial and financial contexts.</p>

      <h2>What’s NOT in OpenCoesione?</h2>

      <p>OpenCoesione does not provide data on project results in terms of citizens’ quality of life – the old
        programming cycle did not require administrators to make it explicit – nor information on who actually benefits
        from individual interventions (with the exception of specific cases).</p>

      <p>There is no precise description of “what projects do” besides what can be deduced from their respective titles
        and from thematic and regional variables associated to each intervention. If you are the actor of a project
        monitored by OpenCoesione, please <a href="http://bit.ly/contatti-open-coesione">send us</a> a description of your
        project!</p>


      <h2>Who is OpenCoesione for?</h2>

      <p>OpenCoesione addresses everyone: citizens, Italian and European administrations, researchers, policy analysts,
        businesses, organised sectors of civil society, media. The objective is to enable everyone to (get to) know and
        follow Cohesion Policy as well as to evaluate the allocation (itemised by issue and territory) of available
        resources and projects’ implementation progress.</p>


      <h2>What data are available at OpenCoesione first release (July 2012)?</h2>

      <p>Implementation data are updated at 31 December 2011 and refer to projects under EU Structural Funds co-financed
        programmes, with the exception of international and cross-border cooperation programmes.</p>

      <p>As a result of analyses and quality controls currently underway, future releases are expected to make available
        also data on other monitored programmes, new projects, and actions related to previous programming periods, as
        well as to provide a broader set of variables.</p>

      <p>OpenCoesione also makes data available on Italy’s National Fund for Development and Cohesion allocations by
        <a href="http://www.cipecomitato.it/it/">CIPE (Italy’s Interministerial Committee for Economic Planning)</a> to projects not
        yet covered by Cohesion Policy monitoring systems. Data refer to information made available at the time CIPE
        issued the financing decision and do not account for monitored data.</p>


      <h2>What investment projects are in OpenCoesione?</h2>

      <p>Projects available in OpenCoesione refer to actions funded under the Cohesion Policy and identified by
        autonomous administrative acts (e.g. public procurement tenders, rankings, agreements, contracts, etc.). In some
        cases multiple projects are comprised in a single intervention or are intercoordinated within a single action
        strategy. As Cohesion Policy is implemented in widely diversified sectors, projects can feature very diverse
        financial and territorial scope, and various thematic contents. Projects can relate to major infrastructure as
        well as to an individual recipient of aid or other forms of assistance (e.g. voucher).</p>

      <p>Each project is assigned a so-called <a href="http://bit.ly/Coesione-CUP">CUP – Codice Unico di Progetto</a>, namely a unified ID code.</p>


      <h2>What information on individual projects can I find in OpenCoesione?</h2>

      <p>OpenCoesione makes available information – at different levels of detail and comprehensiveness – on projects’
        sectoral or thematic scope, implementation location, subjects involved and execution timing. Possibly missing
        data may be the result of incomplete information loading by competent Administrations or of inconsistencies
        identified in the data received.</p>

      <p>To download data on all Cohesion Policy funded projects present in the related monitoring systems, go to
        <a href="http://www.dps.tesoro.it/opencoesione/dati_attuazione.asp">www.dps.tesoro.it/opencoesione/dati_attuazione.asp</a>. To download data on projects funded by Italy’s National Fund for Development and
        Cohesion as per CIPE (Italy’s Interministerial Committee for Economic Planning) allocations, go to
        <a href="http://www.cipecomitato.it/it/opendata.html">www.cipecomitato.it/it/opendata.html</a>. To visualise the fiches of projects so far monitored, go to
        <a href="http://www.opencoesione.gov.it/">www.opencoesione.gov.it/</a>.</p>


      <h2>How can I contribute to OpenCoesione?</h2>

      <p>You can <a href="http://bit.ly/contatti-open-coesione">post ideas</a>, tips, reports/warnings, and reuse examples
        (applications, services, research) related to OpenCoesione data.</p>

      <p>If you are the actor of a project monitored on OpenCoesione, please post a description thereof on
        <a href="http://bit.ly/contatti-open-coesione">http://bit.ly/contatti-open-coesione</a>.</p>


      <h2>What are the sources of data on Cohesion Policy implementation?</h2>

      <p>The sources of data on Cohesion Policy implementation are centralised monitoring systems fed (compliantly with
        common protocols or common feeding interfaces) by funds beneficiary Administrations. In particular, information
        on the implementation of the 2007-2013 programming period is collected in a single monitoring system, managed by
        the General State Accounting Department (RGS – Ragioneria Generale dello Stato) of Italy’s Ministry of Economy
        and Finance.</p>

      <p>Central and regional Administrations managing the funds are thus the main source of information provided in
        OpenCoesione. At times data are processed so as to prove more readable and consistent (i.e. “DPS_ datasets”).
        Single regional and central Administrations in charge of managing the funds (in compliance with rules and
        regulations on transparency of funds beneficiaries) shall directly publish information also on variables other
        than those selected for OpenCoesione.</p>

      <p>As to Structural Funds projects, data reported to the Commission may differ from those published in
        OpenCoesione, depending on the update date of data and on the specific rules that apply to the reporting
        procedure.</p>

      <h2>What are the sources of data on Italy’s National Fund for Development and Cohesion allocations?</h2>

      <p>The Fund for Development and Cohesion is the new name for the so-called Fund for Under-utilised Areas (article
        61 of Law n. 289/2002), a national fund.</p>

      <p>The sources of data on Italy’s Fund for Development and Cohesion allocations to national and regional
        beneficiaries are CIPE (Italy’s Interministerial Committee for Economic Planning) Resolutions. Data refer to the
        information available at the time CIPE issued the financing decision and do not account for monitored data. Data
        can be downloaded from <a href="http://www.cipecomitato.it/it/opendata.html">CIPE website</a>.</p>

      <h2>What do the per capita values represent?</h2>
      <p>Per capita values are provide to the user on the maps and in the website pages related to a territory.</p>
      <p>Per-capita values are calculated taking into account the total funding (i.e. the total payment) of all projects associated to a municipality, province or region divided by the resident population of the same municipality, province or region at 31.12.2011 (source: Istat, the Italian national statistical office).</p>
      <p>The entire value of the project (in terms of funding or payment) is associated to the municipality, province or region even if the project falls into more than one distinct municipalities, provinces or regions.</p>
      <p>The per-capita value of a region takes into account all projects located at a regional level or lower, the per capita value of a province takes into account all projects located at municipal or provincial level; the per capita value of a municipality takes into account all projects located at the municipal level. Therefore, municipal per-capita values do not take into account projects generically falling into its province or region.</p>
      <p>Projects referring to the "national level" only contribute to the calculation of average per-capita national reported as an element of comparison in the indicators.</p>

      <h2>On the page dedicated to a project, what criteria underlie the “other projects on the territory” visualisation?</h2>
      <p>The function is aimed at simplifying users’ surfing and at proposing projects, within the same territory, which could be defined as “similar” to the project being visualised. The four selection criteria are: </p>
      <ul>
        <li>Projects sharing the same thematic classification (metadata fields: dps_tema_sint and qsn_descr_tema_prioritario_ue) </li>
        <li>Projects sharing the same nature (metadata fields: cup_descr_natura and cup_descr_tipologia)</li>
        <li>Projects sharing the same programming authority </li>
        <li>Projects sharing the same implementing subject.</li>
      </ul>

      <h2>How often are OpenCoesione data updated?</h2>

      <p>Data from monitoring systems are updated every two months by the Administrations in charge of managing the
        funds and are made available in OpenCoesione approximately three months after the reference date.</p>

      <p>Possible new CIPE (Italy’s Interministerial Committee for Economic Planning) allocations from Italy’s National
        Fund for Development and Cohesion will be published concurrently with the relevant CIPE Resolution registration
        by Italy’s Court of Auditors (Corte dei Conti). Updates are expected to be fully available by end-2012.</p>


      <h2>What does “subject” mean in OpenCoesione?</h2>

      <p>It is a public or private subject (public administration, non-profit institution, an individual or a business)
        that plays a role in relation to one or more projects. Accordingly, a “subject” can be:</p>
      <ul>
        <li>Programming Authority ("Programmatore") – i.e. responsible for the decision to finance the project (generally, a central or
          regional Public Administration)
        </li>
        <li>Or</li>
        <li>Reciepients (“Attuattore”) ─ i.e. responsible for implementing the project. In the case of Structural Funds it
          corresponds to the "beneficiary" under Article 2 of Regulation EC n.1083/2006 – namely, “beneficiaries are
          public or private firms carrying out an individual project and receiving public aid”. Through the project
          implementation phase, the recipient can in turn resort to other subjects not necessarily traced in
          the monitoring system.
        </li>
      </ul>


      <h2>Where can I find data on the official certification of expenditure to the European Commission?</h2>

      <p>Information on total payments and certified payment applications to the European Union in OpenCoesione and in
        the corresponding downloadable datasets <a href="http://www.dps.tesoro.it/opencoesione/dati_attuazione.asp">here</a>, are
        updated as of the reference date provided for each individual project. This might not always represent the
        latest value of official expenditure certification to the European Commission (information relevant for the
        purposes of decommitment rule known as "n + 2"). According to EC Regulations, for each Fund (i.e., ESF, ERDF),
        the Commission shall decommit resources that have not been used for payment by 31 December of the second
        financial year following the year of budget commitment under the operational programme. The decommitment of EU
        resources involves the parallel reduction of the availability of the corresponding national cofinancing
        resources.</p>

      <p>Among the measures meant to speed up the implementation of the operational programmes of the structural funds
        2007-2013 in Italy, interim targets on costs actually incurred and certified expenditure have been foreseen. In
        addition to the date of 31 December of each year, certified expenditure is also monitored at 31 May and 31
        October. The data are reported <a
            href="http://www.coesioneterritoriale.gov.it/monitoraggio-spesa-certificata-fondi-europei/">here</a>.</p>

      <h2>How are personal data protected in OpenCoesione?</h2>

      <p>In the case of projects involving disadvantaged groups, whereby the project description provided by the
        relevant Administration contains the name, surname and/or fiscal code number (Codice Fiscale) of an individual,
        such personal data shall not be published and shall be concealed under the "individual” general reference.</p>


      <h2>What do “project start” and “project end” stand for in OpenCoesione?</h2>

      <p>The “project start” and “project end” dates (whether historic or planned) identify the implementation (i.e.
        execution) phase of a project. Information on implementation timing is not always available for each single
        project. In particular, project end dates may have not been loaded into the monitoring system although the
        intervention has already been concluded.</p>


      <h2>How are projects classified under the 13 categories of expenditure?</h2>

      <p>Projects are classified based on the aggregation of EU Priority themes and <a
          href="http://bit.ly/Coesione-CUP">CUP System</a> sectoral classifications.
        The resulting 13 categories of expenditure are: Research and Innovation,
        Competitiveness of Businesses, Digital Agenda, Energy and Energy Efficiency, Environmental Protection and Risk
        Prevention, Urban and Rural Regeneration, Natural, Cultural and Tourist Attraction, Transport and Infrastructure
        Networks, Employment and Workers’ Mobility, Child and Elderly Care, Social Inclusion, Education and Training,
        Public Administration Capacity Building.</p>

      <p>As to the link with EU thematic priorities and CUP (Codice Unico di Progetto ─ Project Unified ID Code)
        classifications, please consult “temi sintetici” at <a href="http://www.dps.tesoro.it/opencoesione/docs/documenti/raccordo_temi_sintetici.xls">raccordo_temi_sintetici.xls</a>.</p>

      <p>Categories are assigned to projects on the basis on the link with EU thematic priorities (and, only as a second
        option, on the basis of the CUP).</p>


      <h2>How can OpenCoesione data be downloaded?</h2>

      <p>Data on Cohesion Policy funded projects are available at:
        <a href="http://www.dps.tesoro.it/opencoesione/dati_attuazione.asp">www.dps.tesoro.it/opencoesione/dati_attuazione.asp</a>.
        Data on regional and financial contexts, which also include Italy’s National Fund for Development and Cohesion allocations, are
        available at <a href="http://www.dps.tesoro.it/opencoesione/dati_contesto.asp">www.dps.tesoro.it/opencoesione/dati_contesto.asp</a>.</p>

      <p>Besides data, OpenCoesione users can also have access to metadata, as well as links to detailed information and
        end-user licence.</p>

      <h2>What licence covers OpenCoesione data release?</h2>

      <p>OpenCoesione data are released under <a href="http://www.creativecommons.org/licenses/by-sa/3.0/en/deed.en" target="_blank">CC BY-SA 3.0 licence</a>,
        namely the Creative Commons 3.0 Italy licence with
        use conditions such as BY (Attribution) and SA (Share Alike). It is therefore possible to: reproduce, distribute
        and communicate data and analyses to the public; modify and adapt them; and use them for commercial purposes
        whereby reporting the source indicated and distributing any data reuse under an identical or equivalent
        licence.</p>


      <h2>What is OpenCoesione data release format?</h2>

      <p>Data are available in <a href="http://bit.ly/formato-csv">CSV format</a>. In some cases files are compressed for easier
        downloading.</p>

      <p>OpenCoesione CSV file settings are:</p>
      <ul>
        <li><strong>encoding:</strong> Unicode (UTF-8)</li>
        <li><strong>language:</strong> Italian (Italy)</li>
      </ul>

      <h2>How is transparency regulated under Cohesion Policy?</h2>

      <p>Transparency under Cohesion Policy falls within the more general Open Government strategy pursued under Italy’s
        Digital Agenda (Decree-Law 5/2012), which aims to use new communication tools and technologies to enhance
        Administrations’ openness, accessibility and transparency to citizens, also supported (as to Cohesion Policy) by
        numerous guidance documents and national and Community provisions.</p>

      <p>EU Structural Funds Regulations for 2007-2013 oblige the Member States and Managing Authorities of Operational
        Programmes to provide information on the operations funded. In particular, Art. 69 of Regulation 1083/2006
        states that "<i>The Member State and the managing authority for the operational programme shall provide information
          on and publicise operations and co-financed programmes. The information shall be addressed to European Union
          citizens and beneficiaries with the aim of highlighting the role of the Community and ensure that assistance
          from the Funds is transparent</i>". Furthermore, pursuant to Art. 7 of Regulation 1828/2006, the Managing
        Authorities shall organise "<i>the publication, electronically or otherwise, of the list of beneficiaries, the
          names of the operations and the amount of public funding allocated to the operations</i>". See "<i>Transparency on the
          beneficiaries of Structural Funds in Italy and Europe</i>" (<a href="http://bit.ly/mat-UVAL">UVAL Document n. 27, year 2012</a>).</p>

      <p>Guidance on transparency and communication proposed for implementation of EU co-funded programmes is also
        directly applicable to interventions implemented through additional national resources, consistently with the
        rules governing National Strategic Framework 2007-2013 implementation.</p>

      <p>Furthermore, the Cohesion Action Plan envisages the release of information on single funded interventions in
        open data format.</p>


      <h2>What do OpenCoesione maps display?</h2>

      <p>Each project is located at national, regional, provincial or municipal level.</p>

      <p>Regional maps display all the projects relating to a given regional or sub-regional level, while provincial
        maps indicate all the projects related to either provincial or municipal levels. Therefore provincial maps do
        not display regional level projects. Projects at national level are not displayed in any map, as maps are not
        drawn for projects above the regional level.</p>

      <p>Whereby a single project relates to multiple municipalities or
        provinces or regions, maps will display it in all its locations at
        each territorial level.</p>

      <p>Maps indicate the number of located projects and their corresponding value in terms of resources (overall
        public funding or payments made).</p>


      <h2>What method is used for map thematisation in OpenCoesione?</h2>

      <p>The classes of values displayed in the maps are based upon Jenks algorithm method (i.e. Jenks natural breaks
        classification method), which optimises the distribution into classes by minimising the variance within each
        class and maximising the variance between classes.</p>

      <h2>What is the source of OpenCoesione maps?</h2>
      <p>
        Maps are from <a href="http://www.openstreetmap.org/">OpenStreetMap</a> (OSM).
        Shapefiles related to regions, provinces and municipalities are from <a href="http://www.istat.it">Istat</a>.
      </p>

      <h2>What stack software is used in OpenCoesione?</h2>
      <p>Here it is:</p>
        <ul class="unstyled">
          <li><a href="http://leaflet.cloudmade.com/" target="_blank">Leaflet</a></li>
          <li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
          <li><a href="http://jqueryui.com/" target="_blank">jQueryUI</a></li>
          <li><a href="http://twitter.github.com/bootstrap/" target="_blank">bootstrap</a></li>
          <li><a href="http://fortawesome.github.com/Font-Awesome/" target="_blank">fontawesome</a></li>
          <li><a href="http://www.google.com/webfonts/specimen/PT+Sans" target="_blank">PT Sans open font</a></li>
          <li><a href="https://www.varnish-cache.org/" target="_blank">Varnish</a></li>
          <li><a href="http://nginx.org/" target="_blank">Nginx</a></li>
          <li><a href="http://projects.unbit.it/uwsgi/" target="_blank">uWSGI</a></li>
          <li><a href="http://www.djangoproject.com/" target="_blank">django</a></li>
          <li><a href="http://lucene.apache.org/solr/" target="_blank">solr</a></li>
          <li><a href="http://tomcat.apache.org/" target="_blank">tomcat</a></li>
          <li><a href="http://memcached.org/" target="_blank">memcached</a></li>
          <li><a href="http://www.postgresql.org/" target="_blank">postgres</a></li>
          <li><a href="http://postgis.refractions.net/" target="_blank">postgis</a></li>
          <li><a href="http://tilestache.org/" target="_blank">TileStache</a></li>
          <li><a href="http://modestmaps.com/" target="_blank">ModestMaps</a></li>
          <li><a href="http://www.gdal.org/" target="_blank">GDAL</a></li>
          <li><a href="http://mapnik.org/" target="_blank">Mapnik</a></li>
          <li><a href="http://numpy.scipy.org/" target="_blank">NumPy</a></li>
          <li><a href="http://code.google.com/p/pysal/" target="_blank">PySal</a></li>
        </ul>

        <p>in addition to Gnu-Linux / Debian Squeeze.</p>

    </div>

{% endblock %}

{% block sidebar %}{% endblock %}