{% extends 'base_two_columns.html' %}

{% block page_title %}Informazioni disponibili{% endblock %}

{% block content %}
    <div class="flat_content">
        <h1>Informazioni disponibili</h1>

        <p>
            Le informazioni disponibili riguardano innanzitutto gli interventi finanziati dai <a href="/fonti-di-finanziamento/#fondi-europei-fse">fondi strutturali (FS) europei</a>
            e relativo cofinanziamento nazionale nell’ambito del ciclo di programmazione 2007-2013
            e gli interventi che hanno ricevuto assegnazioni del <a href="/fonti-di-finanziamento/#fondi-nazionali">Fondo di sviluppo e coesione (FSC)</a>
            dal <a href="http://www.cipecomitato.it/">CIPE</a> a partire dal 2011.
            Con successivi aggiornamenti, verranno integrate informazioni
            relative ai programmi regionali del <a href="/fonti-di-finanziamento/#fondi-nazionali">Fondo di sviluppo e coesione (FSC)</a>, agli interventi finanziati
            prima del 2007 e ancora in corso, agli interventi specifici del <a href="/pac/">Piano Azione e Coesione</a>.
        </p>
        <p>
            Le amministrazioni regionali e centrali che gestiscono i fondi sono la fonte principale dell’informazione
            consultabile su questo portale. Sono chiamate a perseguire strategie proprie di apertura dei dati e a migliorare
            la qualità e tempestività delle informazioni rilevate nella Banca Dati per il monitoraggio unitario 2007-2013.
        </p>
        <p>
            La Banca Dati per il monitoraggio unitario 2007-2013 è il risultato del lavoro congiunto di tutte le amministrazioni,
            coordinate da <a href="http://www.rgs.mef.gov.it/VERSIONE-I/e-GOVERNME1/RGS-EUROPA/">Ragioneria Generale dello Stato-IGRUE</a>,
            <a href="http://www.dps.tesoro.it/">Dipartimento per lo Sviluppo e la coesione economia</a>,
            <a href="http://www.lavoro.gov.it/Lavoro">Ministero del Lavoro e delle Politiche Sociali</a> e
            <a href="http://www.governo.it/Presidenza/DIPE/">Dipartimento per la programmazione e il coordinamento della politica economica</a>.
        </p>
        <p>
            E’ previsto un aggiornamento bimestrale dei dati presenti sul sito.
        </p>
    </div>
{% endblock %}
