{% extends 'base_two_columns.html' %}

{% block content %}

  <div class="flat_content">
    <h1>Licenza</h1>

    <p>
      Questo portale è sviluppato interamente con sviluppato con tecnologie open source.
    </p>

    <p>
        I dati presenti sono ricavati dati cataloghi open data:
    </p>
    <ul class="spaced">
      <li><a href="http://www.dps.tesoro.it/opencoesione/">Dipartimento Politiche di Sviluppo</a></li>
      <li><a href="http://www.cipecomitato.it/opendata/">Dipartimento per la programmazione e il coordinamento della politica economica</a></li>
    </ul>
  </div>

{% endblock %}

{% block sidebar %}{% endblock %}