{% extends 'base_two_columns.html' %}

{% block page_title %}Licenza{% endblock %}

{% block content %}
    <div class="flat_content">
        <h1>Licenza</h1>

        <p>
            Questo portale è sviluppato interamente con tecnologie open source.
        </p>

        <p>
            I dati accessibili attraverso gli strumenti di navigazione e consultazione disponibili su questo portale sono
            ricavati dai cataloghi open data pubblicati dai dipartimenti in avvalimento al
            Ministro per la Coesione Territoriale con licenza <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.it">CC-BY-SA 3.0</a>:
        </p>

        <ul class="spaced">
            <li><a href="http://www.dps.tesoro.it/opencoesione/">Dipartimento per lo Sviluppo e la coesione economica</a></li>
            <li><a href="http://www.cipecomitato.it/it/opendata.html">Dipartimento per la programmazione e il coordinamento della politica economica</a></li>
        </ul>

        <p>
            Analogamente anche i testi e i dati che possono essere scaricati da questo portale sono ri-utilizzabili con licenza
            <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.it">CC-BY-SA 3.0</a>.
        </p>
    </div>
{% endblock %}
