{% extends 'base_two_columns.html' %}

{% block page_title %}Open data{% endblock %}

{% block content %}

  <div class="flat_content">
    <h1>Open data</h1>

    <p>
      La pratica di pubblicare dati in modalità “aperta” si va rapidamente diffondendo nella Pubblica Amministrazione.
      I portali e le iniziative di open data che hanno lo scopo di favorire l’open government, cioè una prassi di
      amministrazione del bene pubblico trasparente e accessibile, si moltiplicano.
    </p>

    <p>
      OpenCoesione persegue lo spirito di tali iniziative. La maggiore tracciabilità e accessibilità di dati sulla
      destinazione dei fondi per le politiche di coesione viene affiancata da altre informazioni sullo stato dei
      territori e sulle tematiche principali su cui le politiche intervengono.
    </p>

    <p>
      La pubblicazione e diffusione di queste informazioni - sull’impiego delle risorse, sui soggetti che le ricevono e
      su quelli che le utilizzano, sui luoghi verso i quali le risorse affluiscono - consente ai cittadini organizzati
      nelle diverse forme della partecipazione alla vita sociale o semplicemente interessati a conoscere quali
      interventi sono in attuazione nel proprio vicinato di contribuire a un monitoraggio più diffuso e esprimere
      un’opinione più informata sia in rapporto alla programmazione
      (adeguatezza delle politiche a rispondere alla domanda dei territori)
      sia in rapporto all’attuazione
      (capacità delle amministrazione di utilizzare le risorse, implementare le politiche e produrre gli effetti desiderati).
    </p>

    <p>
      u questo portale i dati relativi alle politiche di coesione sono accessibili attraverso un sistema di
      navigazione e interrogazione, che si poggia in buona parte sui cataloghi "open data" del
      Dipartimento per lo Sviluppo e la coesione economica e del Comitato Interministeriale per la Programmazione Economica,
      curate dal relativo Dipartimento.
    </p>

    <p>
      Le amministrazioni regionali e centrali che gestiscono i fondi sono la fonte principale dell’informazione.
      Sono chiamate a perseguire proprie strategie di apertura dei dati e a migliorare la qualità e tempestività
      delle informazioni rilevate nella Banca Dati per il monitoraggio unitario 2007-2013.
    </p>

    <p><strong>Scarica i dati:</strong></p>

    <ul class="spaced" style="margin-left: 20px;">
      <li><a href="http://www.dps.tesoro.it/opencoesione/">Dipartimento per lo Sviluppo e la coesione economica</a></li>
      <li><a href="http://www.cipecomitato.it/opendata/">Dipartimento per la programmazione e il coordinamento della politica economica</a></li>
    </ul>
  </div>

{% endblock %}

{% block sidebar %}{% endblock %}