{% extends 'base_two_columns.html' %}
{% load sekizai_tags %}

{% block page_title %}Open data{% endblock %}

{% block content %}

  <div class="flat_content" id="open-data-download">

    <h1>Scarica gli Open data</h1>

    <p>
        È disponibile in formato aperto un insieme di dati collegati alle politiche di coesione, di cui una parte,
        relativa al monitoraggio dei progetti in attuazione e al contesto territoriale, è direttamente navigabile nel
        portale (i dati non navigabili sono segnalati con *).
    </p>

    <p>
        <b>Attenzione</b>: le informazioni presenti nei dataset sono maggiori di quelle visualizzate sul sito e di quelle
        scaricabili dai risultati delle ricerche e dei filtri.
    </p>

    <p>
      Tutti i dati sono rilasciati con licenza <a href="http://www.creativecommons.org/licenses/by-sa/3.0/it/deed.it">CC BY-SA 3.0</a>
      e in <a href="http://it.wikipedia.org/wiki/Comma-separated_values">formato CSV</a>
      compresso (leggibile da Excel), quando non altrimenti specificato.
    </p>


    <h2><a name="progetti"></a>Open data sui progetti delle politiche di coesione</h2>

    <h3 class="h3-switcher">
        <a href="#" data-target="#fs0713-content" id="fs0713-title">
            Fondi Strutturali europei 2007/2013
            <i class="icon-chevron-down"></i>
        </a>
    </h3>

    <div id="fs0713-content">
        <p>
            Sono scaricabili dati riferiti ai singoli progetti finanziati con
            <a href="/fonti-di-finanziamento/#fondi-europei">Fondi Strutturali</a>, organizzati in
            forma relazionale: "Progetti" è il dataset principale e può essere scaricato anche da solo,
            mentre "Localizzazioni", "Soggetti" e "Pagamenti" forniscono informazioni complementari collegate al
            dataset principale attraverso un campo chiave che identifica lo stesso progetto nelle diverse tabelle.
        </p>

        <p>
            I dataset sono aggiornati bimestralmente e pubblicati a distanza di circa tre mesi dalla data di riferimento.
            Alcuni progetti possono presentare informazioni meno recenti, come riportato nel campo "Data_YYYYMMDD"
            associato a ciascuno di essi.
            L’unità di rilevazione minima è il progetto, pertanto tutte le informazioni sono associate a progetti finanziati.
        </p>

        <p>
            I dati sono pubblicati nella forma in cui vengono trasmessi dalle Amministrazioni che gestiscono i fondi,
            aggiungendo alcune variabili (identificabili nei dataset con il prefisso DPS_) che facilitano leggibilità e
            coerenza delle informazioni, tra cui la classificazione secondo 13 temi sintetici. Consulta il
            <a href="/opendata/raccordo_temi_sintetici.xls"
               onclick="var that=this;_gaq.push(['_trackEvent','Download','XLS',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">>file di raccordo</a> (xls, 1,5 Mb) con i temi prioritari UE e con la classificazione CUP.
        </p>

        {% for section_code, section in fs_sections.items %}
        <table class="table" id="fs0713">
            <thead>
            <tr>
                <td class="label">{{ section.name|capfirst }}</td>
                <td>
                    <a href="/opendata/{{ section.complete_file.file_name }}"
                       onclick="var that=this;_gaq.push(['_trackEvent','Download','CSV',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">>
                        [<i class="icon-download-alt"></i> zip/csv {{ section.complete_file.file_size|filesizeformat }}]
                    </a>
                </td>
                <td class="switcher"><a href="#"  data-target="#{{ section.name }}-reg">Regioni [<i class="icon-chevron-down"></i>]</a></td>
                <!--<td class="switcher"><a href="#" data-target="#{{ section.name }}-prog">Programmi  [<i class="icon-chevron-down"></i>]</a></td>-->
                <!--<td class="switcher"><a href="#" data-target="#{{ section.name }}-temi">Temi [<i class="icon-chevron-down"></i>]</a></td>-->
            </tr>
            </thead>

            <tbody class="collapse" id="{{ section.name }}-reg">
            {% for file in section.regional_files %}
            <tr>
                <td class="label"></td>
                <td colspan="2">
                    <a href="/opendata/regione/{{ file.file_name }}"
                       onclick="var that=this;_gaq.push(['_trackEvent','Download','CSV',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">>
                        {{ file.region_name }} [<i class="icon-download-alt"></i> zip/csv {{ file.file_size|filesizeformat }}]
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>

            {%  comment %}
            <!--
            <tbody class="collapse" id="{{ section.name }}-temi">
            {% for file in section.theme_files %}
            <tr>
                <td class="label"></td>
                <td colspan="3">
                    <a href="{{ MEDIA_URL }}open_data/{{ data_date }}/{{ section.name }}/{{ file.file_name }}">
                        {{ file.theme_name }} [<i class="icon-download-alt"></i> zip/csv {{ file.file_size|filesizeformat }}]
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>

            <tbody class="collapse" id="{{ section.name }}-prog">
            <tr>
                <td class="label"></td>
                <td colspan="4"><a href="#">ProgA [<i class="icon-download-alt"></i> zip/csv 69Mb]</a></td>
            </tr>
            <tr>
                <td class="label"></td>
                <td colspan="4"><a href="#">ProgB [<i class="icon-download-alt"></i> zip/csv 69Mb]</a></td>
            </tr>
            </tbody>
            -->
            {% endcomment %}

        </table>
        {% endfor %}

        <table class="table">
            <tr>
                <td class="label">Metadati </td>
                <td>
                    <a href="/opendata/{{ fs_metadata_file.file_name }}"
                       onclick="var that=this;_gaq.push(['_trackEvent','Download','CSV',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">>
                        [<i class="icon-download-alt"></i> xls {{ fs_metadata_file.file_size|filesizeformat }}]
                    </a>
                </td>
                <td></td>
            </tr>
        </table>


        <p>Ultimo aggiornamento: settembre 2014 su dati al 30/06/2014</p>

    </div>


    <h3 class="h3-switcher">
        <a href="#" data-target="#fsc0713-content" id="fsc0713-title">
            Fondo per lo Sviluppo e la Coesione (FSC) 2007/2013 <i class="icon-chevron-down"></i>
        </a>
    </h3>

    <div id="fsc0713-content">

        <p>
            Sono scaricabili dati riferiti ai singoli progetti finanziati con il
            <a href="/fonti-di-finanziamento/#fondi-nazionali">Fondo nazionale per lo Sviluppo e la
            Coesione (FSC)</a>, organizzati in forma relazionale: "Progetti" è il dataset principale e può essere scaricato
            anche da solo, mentre "Localizzazioni", "Soggetti" e "Pagamenti" forniscono informazioni complementari
            collegate al dataset principale attraverso un campo chiave che identifica lo stesso progetto nelle diverse
            tabelle.
        </p>

        <p>
            I dataset sono aggiornati bimestralmente e pubblicati a distanza di circa tre mesi dalla data di riferimento.
            Alcuni progetti possono presentare informazioni meno recenti, come riportato nel campo "Data_YYYYMMDD"
            associato a ciascuno di essi.
            L’unità di rilevazione minima è il progetto, pertanto tutte le informazioni sono associate a progetti finanziati.
        </p>

        <p>
            I dati sono pubblicati nella forma in cui vengono trasmessi dalle Amministrazioni che attuano gli interventi,
            aggiungendo alcune variabili (identificabili nei dataset con il prefisso DPS_) che facilitano leggibilità e
            coerenza delle informazioni, tra cui la classificazione secondo 13 temi sintetici. Consulta il
            <a href="/opendata/raccordo_temi_sintetici.xls"
               onclick="var that=this;_gaq.push(['_trackEvent','Download','XLS',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">>file di raccordo</a> (xls, 1,5 Mb)
            con i temi prioritari UE e con la classificazione CUP.
        </p>

        <table class="table" id="fsc0713">
            <thead>
            {% for section_code, section in fsc_sections.items %}
            <tr>
                <td class="label">{{ section.name|capfirst }}</td>
                <td>
                    <a href="/opendata/{{ section.complete_file.file_name }}"
                       onclick="var that=this;_gaq.push(['_trackEvent','Download','CSV',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">>
                        [<i class="icon-download-alt"></i> zip/csv {{ section.complete_file.file_size|filesizeformat }}]
                    </a>
                </td>
            </tr>
            {% endfor %}
            </thead>
            <tr>
                <td class="label">Metadati </td>
                <td>
                    <a href="/opendata/{{ fsc_metadata_file.file_name }}"
                       onclick="var that=this;_gaq.push(['_trackEvent','Download','xls',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">>
                        [<i class="icon-download-alt"></i> xls {{ fsc_metadata_file.file_size|filesizeformat }}]
                    </a>
                </td>
            </tr>
        </table>

        <p>Ultimo aggiornamento: settembre 2014 su dati al 30/06/2014</p>

    </div>

    <h3 class="h3-switcher">
        <a href="#" data-target="#pac-content" id="pac-title">
            Piano d’Azione per la Coesione <i class="icon-chevron-down"></i>
        </a>
    </h3>

    <div id="pac-content">

        <p>
            Sono scaricabili dati riferiti ai singoli progetti finanziati nell’ambito del
            <a href="/pac">Piano d’Azione per la Coesione (PAC)</a>, organizzati in forma relazionale:
            "Progetti" è il dataset principale e può essere scaricato anche da solo,
            mentre "Localizzazioni", "Soggetti" e "Pagamenti" forniscono informazioni complementari collegate
            al dataset principale attraverso un campo chiave che identifica lo stesso progetto nelle diverse tabelle.
        </p>

        <p>
            Alcuni progetti del PAC sono presenti anche in Programmi dei Fondi Strutturali europei 2007/2013
            e del Fondo per lo Sviluppo e la Coesione 2007/2013, poiché le modalità programmazione del PAC prevedono
            sia rimodulazione interna ai Programmi Operativi sia riprogrammazione delle risorse nazionali derivanti
            dalla riduzione del cofinanziamento nazionale dei Programmi Operativi che, in alcuni casi,
            sono state assegnate a progetti già inseriti nella programmazione FSC.
        </p>

        <p>
            I dataset sono aggiornati bimestralmente e pubblicati a distanza di circa tre mesi dalla data di riferimento.
            Alcuni progetti possono presentare informazioni meno recenti, come riportato nel campo "Data_YYYYMMDD"
            associato a ciascuno di essi. L’unità di rilevazione minima è il progetto, pertanto tutte le informazioni
            sono associate a progetti finanziati.
        </p>

        <p>
            I dati sono pubblicati nella forma in cui vengono trasmessi dalle Amministrazioni che attuano gli interventi,
            aggiungendo alcune variabili (identificabili nei dataset con il prefisso DPS_) che facilitano leggibilità
            e coerenza delle informazioni, tra cui la classificazione secondo 13 temi sintetici. Consulta il
            <a href="/opendata/raccordo_temi_sintetici.xls">file di raccordo</a> (xls, 1,5 Mb)
            con i temi prioritari UE e con la classificazione CUP.
        </p>

        <table class="table" id="pac">
            <thead>
            {% for section_code, section in pac_sections.items %}
            <tr>
                <td class="label">{{ section.name|capfirst }}</td>
                <td>
                    <a href="/opendata/{{ section.complete_file.file_name }}">
                        [<i class="icon-download-alt"></i> zip/csv {{ section.complete_file.file_size|filesizeformat }}]
                    </a>
                </td>
            </tr>
            {% endfor %}
            </thead>
            <tr>
                <td class="label">Metadati </td>
                <td>
                    <a href="/opendata/{{ pac_metadata_file.file_name }}">
                        [<i class="icon-download-alt"></i> xls {{ pac_metadata_file.file_size|filesizeformat }}]
                    </a>
                </td>
            </tr>
        </table>

        <p>Ultimo aggiornamento: settembre 2014 su dati al 30/06/2014</p>

    </div>


    <h3 class="h3-switcher">
        <a href="#" data-target="#cipe0713-content" id="cipe0713-title">
            Assegnazioni CIPE 2007/2013 <i class="icon-chevron-down"></i>
        </a>
    </h3>

    <div id="cipe0713-content">

        <p>
            La fonte delle assegnazioni del
            <a href="/fonti-di-finanziamento/#fondi-nazionali">Fondo nazionale per lo Sviluppo e la Coesione (FSC)</a>
            a destinazione
            nazionale e regionale sono le <a href="http://www.cipecomitato.it/it">Delibere CIPE</a>,
            che riguardano le informazioni disponibili al momento in
            cui è stata assunta la decisione di finanziamento e non hanno caratteristica di monitoraggio. I dati sono
            scaricabili anche dal <a href="http://www.cipecomitato.it/it/opendata.html">sito del CIPE</a>,
            senza l’attribuzione del tema sintetico con cui sono visualizzati su
            OpenCoesione. Consulta il <a href="/opendata/raccordo_temi_sintetici.xls"
                                         onclick="var that=this;_gaq.push(['_trackEvent','Download','XLS',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">>file di raccordo</a> (xls, 1,5 Mb)
            con i temi prioritari UE e con la classificazione CUP.
        </p>

        <table class="table" id="cipe0713">
            <thead>
            {% for section_code, section in cipe_sections.items %}
            <tr>
                <td class="label">{{ section.name|capfirst }}</td>
                <td>
                    <a href="/opendata/{{ section.complete_file.file_name }}"
                            onclick="var that=this;_gaq.push(['_trackEvent','Download','CSV',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">>
                        [<i class="icon-download-alt"></i> zip/csv {{ section.complete_file.file_size|filesizeformat }}]
                    </a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td class="label">Metadati </td>
                <td>
                    <a href="/opendata/{{ cipe_metadata_file.file_name }}"
                       onclick="var that=this;_gaq.push(['_trackEvent','Download','CSV',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">>
                        [<i class="icon-download-alt"></i> xls {{ cipe_metadata_file.file_size|filesizeformat }}]
                    </a>
                </td>
            </tr>
            </thead>
        </table>

        <p>Ultimo aggiornamento: marzo 2014 su dati al 31/12/2013</p>

    </div>








    <h2><a name="contesto"></a>Open data sul contesto</h2>

    <h3 class="h3-switcher">
        <a href="#" data-target="#spesa-content" id="spesa-title">
            Risorse finanziarie dei Fondi Strutturali e spesa certificata 2007/2013 <i class="icon-chevron-down"></i>
        </a>
    </h3>

    <div id="spesa-content">

        <p>
            La <a href="/spesa-certificata">spesa certificata all’UE</a> corrisponde alle richieste
            di rimborso delle spese sostenute che vengono
            presentate alla Commissione Europea dalle Amministrazioni titolari dei Programmi cofinanziati dai Fondi
            Strutturali. I dati vengono aggiornati in concomitanza all'adozione o all'aggiornamento di ciascun atto
            programmatorio e alle scadenze per la certificazione. Visualizza i
            <a href="/spesa-certificata-grafici/">grafici interattivi</a> per ciascun Programma
            Operativo.
        </p>

        <table class="table" id="spesa">
            <thead>
            <tr>
                <td class="label" style="width: 50%">Dati e metadati su dotazione finanziaria complessiva e spesa certificata alla CE *</td>
                <td>
                    <a href="/opendata/{{ spesa_dotazione_file.file_name }}"
                       onclick="var that=this;_gaq.push(['_trackEvent','Download','XLS',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">>
                        [<i class="icon-download-alt"></i> xlsx {{ spesa_dotazione_file.file_size|filesizeformat }}]
                    </a>
                </td>
            </tr>
            <tr>
                <td class="label" style="width: 50%">Dati e metadati du target di spesa certificata *</td>
                <td>
                    <a href="/opendata/{{ spesa_target_file.file_name }}"
                       onclick="var that=this;_gaq.push(['_trackEvent','Download','XLS',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">>
                        [<i class="icon-download-alt"></i> xlsx {{ spesa_target_file.file_size|filesizeformat }}]
                    </a>
                </td>
            </tr>
            </thead>
        </table>

        <p>Ultimo aggiornamento: dati al 31/05/2014.<br>* Dati non navigabili sul portale OpenCoesione.</p>
    </div>





    <h3 class="h3-switcher">
        <a href="#" data-target="#istat-content" id="istat-title">
            Indicatori territoriali e tematici DPS-Istat
            <i class="icon-chevron-down"></i>
        </a>
    </h3>

    <div id="istat-content">

        <p>
            Gli indicatori territoriali di contesto contengono le statistiche presenti nella banca dati DPS-Istat, composta
            da circa 200 variabili in serie storica annuale a partire generalmente dal 1995, articolate per area tematica
            e per priorità dei diversi cicli di programmazione e aggiornate con cadenza mensile. I dati sono scaricabili
            anche dal <a href="http://www.istat.it/it/archivio/16777">sito Istat</a>, con disaggregazioni per territorio (regionali, provinciali e comunali), priorità e asse,
            senza l’attribuzione del tema sintetico con cui sono visualizzati su OpenCoesione.
            La <a href="http://www.istat.it/it/note-legali">licenza utilizzata da Istat</a> è CC BY 3.0.
        </p>

        <table class="table" id="istat">
            <thead>
            <tr>
                <td class="label" style="width: 50%">Indicatori territoriali di contesto</td>
                <td>
                    <a href="/opendata/{{ istat_data_file.file_name }}"
                       onclick="var that=this;_gaq.push(['_trackEvent','Download','CSV',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">>
                        [<i class="icon-download-alt"></i> zip/csv {{ istat_data_file.file_size|filesizeformat }}]
                    </a>
                </td>
            </tr>
            <tr>
                <td class="label">Metadati</td>
                <td>
                    <a href="/opendata/{{ istat_metadata_file.file_name }}"
                       onclick="var that=this;_gaq.push(['_trackEvent','Download','XLS',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">>
                        [<i class="icon-download-alt"></i> xls {{ istat_metadata_file.file_size|filesizeformat }}]
                    </a>
                </td>
            </tr>
            </thead>

        </table>

        <p>Ultimo aggiornamento: settembre 2014</p>

    </div>

    <h3 class="h3-switcher">
        <a href="#" data-target="#cpt-content" id="cpt-title">
            Conti Pubblici Territoriali (CPT) <i class="icon-chevron-down"></i>
        </a>
    </h3>

    <div id="cpt-content">

        <p>
            Il dataset dei <a href="http://www.dps.tesoro.it/cpt/cpt.asp">Conti Pubblici Territoriali (CPT)</a> contiene
            informazioni sui flussi finanziari (entrate e spese
            in conto corrente e in conto capitale) della Pubblica Amministrazione e del Settore Pubblico Allargato
            articolate per settori di intervento, livello di governo e categoria economica in serie storica annuale a
            partire dal 1996, aggiornata con cadenza annuale.
        </p>

        <table class="table" id="cpt">
            <thead>
            <tr>
                <td class="label" style="width: 20%">Pubblica Amministrazione *</td>
                <td>
                    Entrate <a href="http://www.dps.gov.it/opencms/export/sites/dps/it/documentazione/politiche_e_attivita/CPT/BD_CPT/2014/CSV/PA_ENTRATE_1996-2012.zip"
                               onclick="var that=this;_gaq.push(['_trackEvent','Download','CSV',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">>
                        [<i class="icon-download-alt"></i> zip/csv {{ cpt_pa_in_file.file_size|filesizeformat }}]
                    </a>
                </td>
                <td>
                    Uscite <a href="http://www.dps.gov.it/opencms/export/sites/dps/it/documentazione/politiche_e_attivita/CPT/BD_CPT/2014/CSV/PA_SPESE_1996-2012.zip"
                              onclick="var that=this;_gaq.push(['_trackEvent','Download','CSV',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">>
                        [<i class="icon-download-alt"></i> zip/csv {{ cpt_pa_out_file.file_size|filesizeformat }}]
                    </a>
                </td>
            </tr>
            <tr>
                <td class="label" style="width: 20%">Settore Pubblico Allargato *</td>
                <td>
                    Entrate <a href="http://www.dps.gov.it/opencms/export/sites/dps/it/documentazione/politiche_e_attivita/CPT/BD_CPT/2014/CSV/SPA_ENTRATE_1996-2012.zip"
                               onclick="var that=this;_gaq.push(['_trackEvent','Download','CSV',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">>
                        [<i class="icon-download-alt"></i> zip/csv {{ cpt_spa_in_file.file_size|filesizeformat }}]
                    </a>
                </td>
                <td>
                    Uscite <a href="http://www.dps.gov.it/opencms/export/sites/dps/it/documentazione/politiche_e_attivita/CPT/BD_CPT/2014/CSV/SPA_SPESE_1996-2012.zip"
                              onclick="var that=this;_gaq.push(['_trackEvent','Download','CSV',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">>
                        [<i class="icon-download-alt"></i> zip/csv {{ cpt_spa_out_file.file_size|filesizeformat }}]
                    </a>
                </td>
            </tr>
            <tr>
                <td class="label">Metadati</td>
                <td></td>
                <td>
                    <a href="http://www.dps.gov.it/opencms/export/sites/dps/it/documentazione/politiche_e_attivita/CPT/METADATA/CPT_Metadati_perCSV_def.xls"
                       onclick="var that=this;_gaq.push(['_trackEvent','Download','XLS',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">>
                        [<i class="icon-download-alt"></i> xls {{ cpt_metadata_file.file_size|filesizeformat }}]
                    </a>
                </td>
            </tr>
            </thead>

        </table>

        <p>Ultimo aggiornamento: aprile 2014 su dati al 31/12/2012.<br>* Dati non navigabili sul portale OpenCoesione.</p>

    </div>



    <h3 class="h3-switcher">
        <a href="#" data-target="#indagine-content" id="indagine-title">
            Indagine sulla trasparenza delle liste dei beneficiari
            dei Programmi Operativi 2007-2013 in Europa<i class="icon-chevron-down"></i>
        </a>
    </h3>

    <div id="indagine-content">

        <p>
            I dataset contengono le informazioni rilevate dall’indagine annuale sulle modalità di
            pubblicazione dei dati sui beneficiati dei fondi strutturali in Europa.
            L’indagine, avviata nel 2010 e aggiornata e integrata ogni anno tramite visita diretta sui siti
            web delle Autorità di Gestione (AdG) dei Programmi Operativi, rileva la presenza di varie
            caratteristiche delle liste dei beneficiari e le diverse modalità di pubblicazione delle relative informazioni.
        </p>

        <table class="table" id="indagine">
            <thead>
            <tr>
                <td class="label" style="width: 50%">Rilevazioni dal 2010 al 2013 *</td>
                <td>
                    <a href="/opendata/{{ indagine_data_file.file_name }}"
                       onclick="var that=this;_gaq.push(['_trackEvent','Download','CSV',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">>
                        [<i class="icon-download-alt"></i> zip/csv {{ indagine_data_file.file_size|filesizeformat }}]
                    </a>
                </td>
            </tr>
            <tr>
                <td class="label" style="width: 50%">Metadati *</td>
                <td>
                    <a href="/opendata/{{ indagine_metadata_file.file_name }}"
                       onclick="var that=this;_gaq.push(['_trackEvent','Download','CSV',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">>
                        [<i class="icon-download-alt"></i> zip/csv {{ indagine_metadata_file.file_size|filesizeformat }}]
                    </a>
                </td>
            </tr>
            </thead>

        </table>

        <p>Ultimo aggiornamento dati al 31/12/2013.<br>* Dati non navigabili sul portale OpenCoesione.</p>

    </div>


    <p style="margin-top: 2em;"></p>

  </div>


    {% addtoblock "js_script" %}
      <script type='text/javascript'>//<![CDATA[
      $(window).load(function(){
        jQuery('.h3-switcher a').each( function() {
            jQuery(this).children('i').removeClass('icon-chevron-up');
            jQuery(this).children('i').addClass('icon-chevron-down');
            jQuery(this).parent().removeClass('selected');
            jQuery(this.getAttribute('data-target')).hide();
        }).click(function(){
            to_show = !jQuery(this).parent().hasClass('selected');
            jQuery('.h3-switcher a').each( function() {
                jQuery(this).children('i').removeClass('icon-chevron-up');
                jQuery(this).children('i').addClass('icon-chevron-down');
                jQuery(this).parent().removeClass('selected');
                jQuery(this.getAttribute('data-target')).hide();
            });

            if (to_show) {
                jQuery(this).children('i').removeClass('icon-chevron-down');
                jQuery(this).children('i').addClass('icon-chevron-up');
                jQuery(this).parent().addClass('selected');
                jQuery(this.getAttribute('data-target')).show();
                location.href = '#' + jQuery(this).attr('id');
            }
            return false;

        });
        jQuery('.switcher a').click(function(){
            to_show = !jQuery(this).parent().hasClass('selected');
            jQuery('.collapse').each( function() {
                jQuery(this).hide();
            });
            jQuery('.switcher a').each( function() {
                jQuery(this).children('i').removeClass('icon-chevron-up');
                jQuery(this).children('i').addClass('icon-chevron-down');
                jQuery(this).parent().removeClass('selected');
                jQuery(this).parent().parent().removeClass('selected');
            });

            if (to_show) {
                jQuery(this).children('i').removeClass('icon-chevron-down');
                jQuery(this).children('i').addClass('icon-chevron-up');
                jQuery(this).parent().addClass('selected');
                jQuery(this).parent().parent().addClass('selected');
                jQuery(this.getAttribute('data-target')).show();
            }
            return false;
        });

        hash = location.hash.replace('#', '');
        if (hash)
        {
          $('body').find('.h3-switcher a#'+hash).trigger('click');
        }
      });//]]>
      </script>
    {% endaddtoblock %}

{% endblock %}




{% block sidebar %}

    <div class="flat_content">
        <p>
            Per open data (letteralmente "dati aperti") si intendono informazioni pubblicate in formato tale che siano:
        </p>

            <ul>
                <li>accessibili (soprattutto via internet) senza limitazioni secondo l'identità o lo scopo dell'utente;</li>
                <li>elaborabili da un'applicazione informatica senza che sia necessaria la disponibilità di uno specifico software;</li>
                <li>accompagnati da licenze che non pongano restrizioni sull'uso e sul riuso.</li>
            </ul>

        <p>
            Per ulteriori informazioni sulla strategia nazionale di open data consulta il portale nazionale <a href="http://dati.gov.it">dati.gov.it</a>.
        </p>

        <p>
            Le informazioni sui progetti in attuazione della politica di coesione sono raccolte in un unico sistema di monitoraggio,
            amministrato dalla <a href="http://www.rgs.mef.gov.it">Ragioneria Generale dello Stato</a> (Ministero dell’Economia e delle Finanze).
        </p>

        <p>
            I dataset pubblicati su OpenCoesione offrono una restituzione parziale di  questo monitoraggio in una forma adatta
            a rispondere agli interessi conoscitivi dei cittadini.
        </p>
    </div>
{% endblock %}
