{% extends 'base_two_columns.html' %}

{% block page_title %}Piano di Azione Coesione{% endblock %}

{% block content %}

  <div class="flat_content" xmlns="http://www.w3.org/1999/html">
    <h1>Piano di Azione per la Coesione</h1>

    <p>
      Nell’autunno del 2011 i ritardi nell’attuazione di molti (anche se non di tutti i) programmi dei
      Fondi strutturali (FS) 2007-2013 e la pressione dell’Unione Europea hanno indotto il
      Governo italiano ad assumere un impegno di accelerazione nell’uso dei fondi con la lettera del
      Presidente del Consiglio al Presidente della Commissione Europea e al Presidente del
      Consiglio Europeo del 26 ottobre 2011, tradottosi poi nelle Conclusioni del Vertice dei Paesi Euro.
    </p>

    <p>
      È stato così predisposto il
        <a href="http://www.coesioneterritoriale.gov.it/fondi/piano-di-azione-coesione/">Piano di Azione per la Coesione</a>,
      inviato il 15 novembre 2011 al Commissario Europeo per la Politica Regionale.
      Il <a href="http://www.coesioneterritoriale.gov.it/fondi/piano-di-azione-coesione/">Piano di Azione per la Coesione</a>
      si attua attraverso una revisione delle scelte di investimento compiute (una vera e propria “spending review”) con lo scopo di:
    </p>

    <ul>
      <li>
        a) accelerare gli interventi
      </li>
      <li>
        b) rafforzarne l’efficacia
      </li>
    </ul>
    <p>
      In altri termini: spendere i fondi disponibili e spenderli bene, per evitare che le risorse comunitarie vengano sprecate o – addirittura, in caso di mancato raggiungimento degli obiettivi – revocate.
    </p>

    <p>
      Il <a href="http://www.coesioneterritoriale.gov.it/fondi/piano-di-azione-coesione/">Piano di Azione per la Coesione</a>
      impegna quindi le amministrazioni centrali e locali a rilanciare i programmi
      in grave ritardo, garantendo una forte concentrazione delle risorse su poche priorità. L’intervento,
      definito tenendo conto degli esiti del confronto con il partenariato istituzionale ed economico-sociale,
      anticipa alcuni principi della nuova programmazione 2014-2020:
    </p>

    <ul>
      <li>concentrare gli interventi su un numero limitato di priorità</li>
      <li>esplicitare i risultati attesi in termini di qualità di vita dei cittadini con indicatori misurabili</li>
      <li>offrire ai cittadini informazioni e strumenti per conoscere in tempo reale le decisioni di investimento, per valutarle e per farne oggetto di dibattito pubblico</li>
      <li>
        Il Piano di Azione per la Coesione si è finora sostanziato in diverse fasi di riprogrammazione delle risorse destinate alle priorità individuate.
      </li>
    </ul>
      
  </div>

{% endblock %}

{% block sidebar %}{% endblock %}