{% extends 'base_two_columns.html' %}

{% block page_title %}Piano di Azione Coesione{% endblock %}

{% block content %}

  <div class="flat_content" xmlns="http://www.w3.org/1999/html">
    <h1>Piano di Azione per la Coesione</h1>

    <p>
      Nel corso del 2011 è stata avviata, d’intesa con la Commissione Europea, l’azione per accelerare l’attuazione dei programmi
      cofinanziati dai Fondi Strutturali 2007-2013 (lettera del Presidente del Consiglio al Presidente della Commissione Europea
      e al Presidente del Consiglio Europeo del 26 ottobre 2011, tradottasi poi nelle Conclusioni del Vertice dei Paesi Euro).
    </p>

    <p>
      È stato così predisposto il
      <a href="http://www.dps.gov.it/it/politiche_e_attivita/piano_di_Azione_Coesione/index.html">Piano di Azione per la Coesione</a>,
      inviato il 15 novembre 2011 al Commissario Europeo per la Politica Regionale.
      Il Piano di Azione per la Coesione si attua attraverso una revisione delle scelte di investimento già compiute con lo scopo di:
    </p>
    <ul>
      <li>accelerare l’attuazione della programmazione 2007-2013</li>
      <li>rafforzare l’efficacia degli interventi orientandoli a risultati misurabili e concentrando le risorse</li>
      <li>avviare nuove azioni, alcune delle quali di natura prototipale che, in base agli esiti, potranno essere riprese nella programmazione 2014-2020.</li>
    </ul>

    <p>
        In altri termini l’obiettivo è di spendere i fondi disponibili e spenderli bene,
        per evitare che le risorse comunitarie vengano sprecate o, addirittura, in caso di mancato
        raggiungimento degli obiettivi, revocate.
    </p>

    <p>
        Il Piano di Azione per la Coesione impegna quindi le amministrazioni centrali e locali a rilanciare i programmi
        in grave ritardo, garantendo una forte concentrazione delle risorse su poche priorità.
        L’intervento, definito tenendo conto degli esiti del confronto con il partenariato istituzionale ed
        economico-sociale, anticipa inoltre alcuni principi della programmazione 2014-2020:
    </p>

    <ul>
      <li>cooperazione rafforzata con la Commissione europea e supporto di centri di competenza nazionale</li>
      <li>concentrazione su tematiche di interesse strategico nazionale,
          declinate secondo le esigenze dei diversi contesti regionali esplicitazione di risultati attesi
          in termini di qualità di vita dei cittadini con individuazione di
          indicatori misurabili e definizione puntuale di azioni mirate al loro raggiungimento
      </li>
      <li>applicazione del nuovo Codice di condotta europeo sul partenariato con il coinvolgimento sostanziale,
          nella preparazione e nell’attuazione, delle responsabilità istituzionali rilevanti e
          delle organizzazioni dei soggetti (del lavoro, dell’impresa, della società civile)
          i cui interessi sono coinvolti dagli interventi programmati
      </li>
      <li>trasparenza e apertura delle informazioni.</li>
    </ul>

    <p>
        Il Piano di Azione Coesione è definito e attuato attraverso fasi successive di riprogrammazione
        dei Programmi cofinanziati dai Fondi Strutturali 2007-2013.
    </p>

    <p>
        Complessivamente, a febbraio 2014, il PAC ha raggiunto un valore pari a 13,5 miliardi di euro a cui concorrono risorse nazionali
        derivanti dalla riduzione del tasso di cofinanziamento nazionale dei Programmi Operativi (11,5 miliardi di euro)
        e risorse riprogrammate attraverso rimodulazione interna ai medesimi Programmi (2,0 miliardi di euro).
    </p>
    <p>
        Le prime due fasi di definizione del Piano (dicembre 2011 e maggio 2012) hanno riallocato un totale di risorse pari
        a 6,4 miliardi di euro. La prima fase (PAC I) ha concentrato le risorse verso quattro Priorità di
        intervento – Istruzione, Reti e mobilità (in particolare ferrovie), Agenda digitale e
        Occupazione – mentre la seconda fase (PAC II) è stata orientata in modo più deciso verso obiettivi
        di crescita e inclusione sociale con particolare attenzione a misure dirette al contrasto della
        grave situazione della disoccupazione giovanile soprattutto al Sud.
    </p>
    <p>
        A dicembre 2012 è avvenuta la terza fase di riprogrammazione (PAC III) che ha riallocato ulteriori
        5,4 miliardi di euro, destinati a misure con funzione anticiclica oltre che al
        conseguimento di obiettivi di “salvaguardia” di progetti di rilievo strategico e all’avvio di
        “nuove azioni”, anche con carattere prototipale, funzionale alla preparazione della programmazione 2014-2020.
    </p>
    <p>
      Le misure straordinarie per la promozione dell’occupazione, in particolare giovanile,
      e la coesione sociale previste nell’estate 2013 costituiscono i contenuti della quarta fase di
      riprogrammazione (PAC IV) che ha mobilitato risorse pari a circa 2,1 miliardi di euro,
      modificando anche la destinazione di risorse già assegnate.
    </p>
    <p>
      La quinta fase di riprogrammazione (PAC V), avviata a dicembre 2013, prevede la rimodulazione di 1,8
      miliardi di euro già programmati nel Piano di Azione Coesione su azioni non avviate o comunque in ritardo di attuazione.
      Gli investimenti sono destinati a misure specifiche per le imprese, per l’ occupazione e per lo sviluppo delle economie locali.
    </p>
    <p>
      Su OpenCoesione, a partire dall’aggiornamento relativo al 28 febbraio 2014, è possibile seguire
      l’andamento dei progetti PAC così come inseriti nel Sistema di monitoraggio unitario dalle
      Amministrazioni titolari degli interventi. Nel menu di navigazione “Progetti” possono infatti essere selezionati
      sia i progetti inseriti in specifici Programmi PAC interamente finanziati con risorse da riduzione del
      cofinanziamento nazionale, sia i progetti PAC derivanti da rimodulazione interna ai Programmi Operativi
      finanziati dai Fondi Strutturali, sia quelli inseriti in Programmi FSC e finanziati anche con
      risorse da riduzione del cofinanziamento nazionale.
    </p>

  </div>

{% endblock %}

{% block sidebar %}{% endblock %}