{% extends 'base_two_columns.html' %}

{% block page_title %}Contatti{% endblock %}

{% block content %}
  <div class="flat_content">

    <h1>Cosa dicono di OpenCoesione</h1>

    <br><br>

    {% for article in object_list %}

      <p>
        {% if article.url %}
          <a href="{{ article.url }}">{{ article.title }}</a>
        {% else %}
          {% if article.file %}
            <a href="{{ article.file.url }}">{{ article.title }}</a> ({{ article.file.name|slice:"-3:"|lower }}, {{ article.file.size|filesizeformat }})
          {% else %}
            {{ article.title }}
          {% endif %}
        {% endif %}
      </p>
      <p>
        di {{ article.author }} - {{ article.source }}, {{ article.published_at|date:"d M Y" }}
      </p>

      <hr>

    {% endfor %}

  </div>

{% endblock %}

{% block sidebar %}{% endblock %}