{% extends 'base_two_columns.html' %}

{% block page_title %}Uso del sito e privacy{% endblock %}

{% block content %}

  <div class="flat_content">
    <h1>Uso del sito e privacy</h1>

    <p>
      Il Trattamento dei dati personali registrati nel presente sito web è effettuato secondo le
      disposizioni di cui al <a href="http://www.garanteprivacy.it/garante/doc.jsp?ID=1311248">d.lgs.196/2003</a>.
      Il titolare del trattamento dei dati raccolti è:
    </p>

    <p>INFORMATIVA AI SENSI DELL'ART. 13, DECRETO LEGISLATIVO 196/2003</p>

    <p>1. <strong>CONFERIMENTO DEI DATI</strong></p>

    <p>I dati personali richiesti all’atto della registrazione sono in parte obbligatori e in parte facoltativi.</p>

    <p>I dati obbligatori sono contrassegnati con un asterisco "*", e il loro mancato conferimento impedisce di fornire i servizi informativi offerti: per questa ragione non è tecnicamente possibile procedere alla registrazione a opencoesione.gov.it senza il conferimento di tali dati.</p>

    <p>
      I dati facoltativi, invece, possono essere forniti a discrezione dell’utente e la loro mancata comunicazione non impedisce la registrazione opencoesione.gov.it né comporta l’impossibilità di fornire i servizi informativi offerti.
    </p>

    <p>
      Opencoesione.gov.it  non raccoglie in nessun caso i dati "sensibili" (stato di salute, religione, etc.) dell’utente, né li comunica a terzi o diffonde. La trasmissione dei dati personali avviene sempre sotto la  responsabilità dell’utente.
    </p>


    <p>2. <strong>FINALITA’ DEL TRATTAMENTO</strong></p>

    <p>
      Il Dipartmento per lo sviluppo e la coesione economica, con sede legale in Roma, via Sicilia 162/c - in qualità di Titolare del trattamento, informa che l’indirizzo di posta elettronica, fornito o attraverso la compilazione dell'apposito form o attraverso le interazioni con i servizi proposti, all'atto dell'iscrizione sul sito www.opencoesione.gov.it sarà trattato al solo scopo di informare l’utente registrato sull’aggiornamento del contenuto del servizio,  dei dati o di iniziative di confronto sul territorio.
    </p>

    <p>
      Ogni messaggio inviato su richiesta via e-mail contiene le istruzioni per cancellarsi dal servizio in oggetto.
      Gli utenti che desiderano essere cancellati definitivamente dagli archivi eliminando la possibilità di
      iscriversi o essere iscritti da terzi in futuro, possono farne espressa richiesta a <a href="mailto:opencoesione@dps.gov.it ">opencoesione@dps.gov.it </a>.
    </p>

    <p>3. <strong>MODALITÀ DEL TRATTAMENTO</strong></p>

    <p>I dati acquisiti saranno trattati con modalità elettroniche e manuali.</p>


    <p>4. <strong>DIRITTI DELL’INTERESSATO</strong></p>

    <p>
      L’utente registrato può esercitare, in relazione ai dati personali forniti all’atto della registrazione al
      sito www.opencoesione.gov.it e a quelli comunque successivamente comunicati, i diritti di cui all’art. 7 del
      Codice della privacy, ed in particolare: (i) il diritto di ottenere conferma dell’esistenza o meno di dati
      personali che lo riguardano ed averne comunicazione in forma intelligibile; (ii) il diritto di conoscere
      l’origine dei dati, le finalità del trattamento e le sue modalità, nonché la logica applicata al trattamento
      effettuato mediate strumenti elettronici; (iii) il diritto di chiedere l’aggiornamento, la rettificazione
      o - se ne ha interesse - l’integrazione dei dati che lo riguardano; (iv) il diritto di ottenere la cancellazione,
      la trasformazione in forma anonima o il blocco dei dati eventualmente trattati in violazione della legge,
      nonché di opporsi, per motivi legittimi, al trattamento; (v) il diritto di opporsi a qualunque trattamento
      finalizzato all’invio di materiale pubblicitario, alla vendita diretta, al compimento di ricerche di mercato e
      alla comunicazione commerciale.
    </p>

    <p>
      Al fine di esercitare i diritti previsti dal menzionato art. 7, l’utente potrà rivolgersi ai seguenti recapiti:
    </p>
    <ul class="unstyled">
      <li><a href="mailto:opencoesione@gov.it ">opencoesione@gov.it </a></li>
      <li>Dipartimento per lo sviluppo e la coesione economica – via Sicilia 162/c Roma</li>
    </ul>
  </div>

{% endblock %}

{% block sidebar %}{% endblock %}