{% extends 'base_two_columns.html' %}

{% block content %}

  <div class="flat_content">

    <h1>Il progetto</h1>

    <p>
      Il progetto Open Coesione mette  i dati delle politiche di coesione a disposizione dei cittadini, delle amministrazioni italiane ed europee, dei ricercatori, analisti delle politiche e dei media, affinché possano valutare l’efficacia e la coerenza dell’impiego delle risorse disponibili e contribuire – attraverso le forme organizzative più varie e i corpi intermedi dell’organizzazione sociale – al corretto orientamento dei processi di programmazione e attuazione.
    </p>
    <p>
      Un passaggio fortemente voluto dal Ministro per la Coesione territoriale che avverte l’utilità ai fini dell’interesse generale di una più attiva partecipazione dei cittadini nella formazione delle decisioni relative alle scelte di indirizzo e nel processo di vigilanza sociale sull’impiego di risorse collettive. Le risorse delle politiche di coesione arrivano sui territori per rispondere a esigenze – spesso a deficit di infrastrutture o di servizi – specifiche dei luoghi in cui si attuano gli interventi..  I cittadini non possono non essere parte attiva del processo di controllo sociale dei risultati, che non può essere lasciato alle sole amministrazioni.
    </p>
    <p>
      All’operazione Open Coesione si accompagna l’azione corrispondente dei dipartimenti in avvalimento al Ministro, il Dipartimento per lo Sviluppo e la coesione economica e il Dipartimento interministeriale per la programmazione economica. La pubblicazione dei dati in formato accessibile e riutilizzabile sui propri siti istituzionali, manifesta  un modo compatto e coerente delle amministrazioni di muoversi verso un assetto di trasparenza che favorisca la partecipazione attiva della cittadinanza e il ri-utilizzo dei dati.
    </p>

  </div>


{% endblock %}

{% block sidebar %}{% endblock %}