{% extends 'base_two_columns.html' %}

{% block content %}

  <div class="flat_content">

    <h1>Il progetto</h1>

    <p>
      Il progetto Open Coesione mette i dati delle politiche di coesione a disposizione dei cittadini,
      delle amministrazioni italiane ed europee, dei ricercatori, dei media, degli analisti delle politiche,
      affinché possano valutare l’efficacia e la coerenza dell’impiego delle risorse disponibili e
      contribuire – attraverso le forme organizzative più varie e i corpi intermedi dell’organizzazione sociale –
      al corretto orientamento dei processi di programmazione e attuazione.
    </p>

    <p>
      Una iniziativa fortemente voluta dal Ministro per la Coesione Territoriale, che avverte l’impellenza di una
      più attiva partecipazione dei cittadini nella formazione delle decisioni relative alle scelte di
      programmazione e nel processo di vigilanza sociale sull’impiego di risorse collettive.
      Le risorse delle politiche di coesione arrivano sui territori per rispondere a esigenze – spesso a
      deficit di infrastrutture o di servizi ma anche di capitale sociale – specifiche dei luoghi in cui si
      attuano gli interventi. I cittadini destinatari degli interventi devono essere parte attiva del processo di
      controllo sociale dei risultati, che non può essere lasciato alle sole amministrazioni.
    </p>

    <p>
      All’operazione OpenCoesione si accompagna l’azione corrispondente dei dipartimenti in avvalimento al Ministro:
      il <a href="http://www.dps.tesoro.it/">Dipartimento per lo Sviluppo e la coesione economica (DPS)</a> e il
      <a href="http://www.governo.it/Presidenza/DIPE/">Dipartimento interministeriale per la
      programmazione economica (DIPE)</a>. La pubblicazione dei dati in formato accessibile e riutilizzabile sui
      propri siti istituzionali manifesta la volontà delle amministrazioni di muoversi in modo organico verso un
      assetto di trasparenza che favorisca la partecipazione attiva della cittadinanza e il ri-utilizzo dei dati.
    </p>

  </div>


{% endblock %}

{% block sidebar %}{% endblock %}