{% extends 'base_two_columns.html' %}

{% block content %}

  <div class="flat_content">

    <p>“OpenCoesione” is Italy’s first national web portal on the implementation of investments programmed in the 2007-2013 programming cycle by Regions and State Central Administrations via cohesion policy resources. Publication of data from now on allows Italian citizens to evaluate if and how both implementation projects meet their needs and whether financial resources are allocated effectively.</p>

    <p>The web portal contains information about any single project carried out to implement cohesion policies, more specifically the funds used as well as places and categories, subjects involved and implementation timeframes. Users can either download raw data or navigate through interactive diagrams according to  expenditurecategories, places and the type  of intervention, as well as access files relating to single projects  and subjects involved. Data on the  local economy context is provided as well.</p>

    <p>OpenCoesione does not issue information concerning the outcome of projects and policies in terms of people's quality of life a which is, nowadays considered a key requirement.. Furthermore, detailed information about project content is not available. Citizens and professionals involved or interested in projects may provide information to be published in order to enrich common knowledge about each project.</p>

    <p>Sources of data published are: with regards to EU structural funds, central monitoring systems provided by the beneficiaries of funds; with regards to the National Fund for Development and Cohesion, the Resolutions of the Interministerial Commitee for Economic Planning which assign resources to single interventions.</p>

    <h4>Principle</h4>

    <p>The lack of transparency on how public money is spent is one of the main reasons for the slow pace in implementing development policies and in understanding whether investment projects actually respond to local demand. This is a particularly hot topic in Italy at present given the low absorption rate of EU Structural Funds and the debate all over Europe continues on the extent to which, after decades of subsidies, whether the European Regional Policy is effective or not.</p>

    <p>The OpenCoesione web portal provides analysis and monitoring of the use of cohesion policy resources making information, on what is funded, who is involved and where, accessible to anyone.</p>

    <p>Although EU Structural Fund regulations already have provisions on data publication, in Italy most of the information is dispersed across a wide number of managing authorities, in a PDF format and contains only a very strict number of variables. OpenCoesione collects the information in one place, “opens” the data and offers a much wider number of variables on single projects.</p>

    <p>Ultimately, it is an attempt to firstly improve policy effectiveness through better knowledge on which kind of investment projects are actually carried out in the territory, secondly it aims to create better coordination among the administrations responsible for implementing them and thirdly  provide more public scrutiny on who benefits from the resources (also to avoid corruption and fraud).  The final aim of the project is to encourage greater public participation and collaboration.</p>

    <h4>About data</h4>

    <p>Data about projects funded via cohesion policies can be downloaded here. Local and economic data including funding from National Funds for Development and Cohesion can be downloaded here.</p>

    <p>Apart from the data, OpenCoesione publishes metadata, links to detailed information and the user license, according to CC BY-SA 3.0 standard. It’s the Creative Commons licence 3.0 Italy which allows to re-use data provided that the origin is acknowledged and the sharing is stated. Therefore users are allowed to replay, share and communicate data and analysis in the public domain; change and adapt data; use data for business purpose, provided that they provide the same license.</p>

    <p>Data is made available in CSV (coma separated values) format. Some data may be compressed to make download easier. Setting for CSV data is: charter type Unicode (UTF-8), language “Italian” (Italy).</p>

    <h4>About information</h4>

    <p>Projects (“Progetti”) – Projects in OpenCoesione refer to initiatives funded within cohesion policies and defined with a single act (e.g. a contract, a call etc.). Each project has been assigned an Unique Project Code.</p>

    <p>Subjects (“Soggetti”) – It’s either a public or private subject (a public authority, a non-profit institution, an individual or an business) which has a role related to one or more projects. Roles managed are:</p>
    <ul>
      <li><strong>Programming Authority (Programmatore)</strong>, i.e. the decisionmakers about financing the project. Usually it is a central or local government authority.</li>
      <li><strong>Reciepients (“Attuattore”)</strong>, i.e. those who are in charge for the execute the project. For European structural funds these relate to the “beneficiaries” according to Council Regulation (EC) No 1083/2006, who is also the recipient of the financial contribution. The recipient may cooperate with other subjects to execution of the project but in such case the monitoring system may not always track them.</li>
    </ul>

    <p>Time – Start and end dates, both planned and actual ones. Information about times may sometime not be available even if the project has been completed.</p>

    <p>Categories (“Temi sintetici”) – they are based on a grouping of the EU Priority themes (according to Council Regulation (EC) No 1083/2006): Research and Innovation, Competitiveness, Digital Agenda, Power and Power efficiency, Environment and risk prevention, Occupation and workers mobility, Aged and young people care services, Social inclusion, School and Education, Capacity building for the Public Sector.</p>

    <p>Maps – Each project is located at ground level which may alternatively be at national, regional, county, or municipality level. The regional map shows all the projects located at a regional or lower level. The county map shows all the projects located at a county or lower level. Projects located at a national level are not indicated on any map. Projects located in multiple places are shown in all different levels where it is present. Maps also show the number of projects located at each level and the corresponding amount of resources established (total public sector funding and actual expenses).</p>

    <p>For more information, go to the <a href="http://opencoesione.gov.it/faq/en/">FAQ</a>.</p>

  </div>


{% endblock %}

{% block sidebar %}{% endblock %}