{% extends 'base_two_columns.html' %}
{% load sekizai_tags %}

{% block page_title %}Spesa certificata all'UE{% endblock %}


{% block content %}

    <div class="flat_content">
        <h1>Avanzamento della spesa certificata all’UE per i Programmi cofinanziati dai Fondi Strutturali - Totale Italia</h1>

        <p>(% della spesa certificata all’UE rispetto alla dotazione finanziaria disponibile – aggiornamento al 31 dicembre 2013)</p>

        <p>
            <figure style="-webkit-margin-start: 0;">
                <img src="{{ STATIC_URL }}img/spesa_certificata_20140531.jpg"/>
                <figcaption>
                    Nota: Gli obiettivi nazionali sono stati definiti dal Comitato QSN
                    del 9 aprile 2013, gli obiettivi comunitari sono quelli definiti dalla regola &ldquo;n+2&rdquo;
                </figcaption>
            </figure>

        </p>

        <p style="margin-left: 1em;">
            <i class="icon-download-alt"></i> <b>Scarica</b> dati e metadati per ciascun Programma Operativo su:
            <ul style="margin-left: 40px;">
                <li><a href="/opendata/Dotazioni_Certificazioni_20140531.xlsx">
                    dotazione finanziaria complessiva e spesa certificata alla CE </a>
                    (xls, 48 Kb)
                    (aggiornamento al 31 maggio 2014)</li>
                <li><a href="/opendata/Target_Risultati_20140531.xlsx">
                    target di spesa certificata</a> (xls, 38 Kb)
                    (aggiornamento al 31 maggio 2014)</li>
            </ul>
        </p>

        <p style="margin-left: 1em;">
            <i class="icon-download-alt"></i> <b>Visualizza</b> i <a href="{% url 'flat-spesa-certificata-grafici' %}">grafici interattivi</a>
            per ciascun Programma Operativo
        </p>

        <p style="margin-left: 1em;">
            <i class="icon-download-alt"></i> <b>Leggi</b> le <a href="{% url 'pillole' %}">Pillole di OpenCoesione</a> con approfondimenti sui risultati raggiunti
            <ul style="margin-left: 40px;">
                <li><a href="/pillole/Pillola_OpenCoesione_n.3_-_La_spesa_certificata_al_31_dicembre_2013.pdf">
                    La certificazione della spesa dei Fondi Strutturali all’UE al 31/12/2013
                </a></li>
            </ul>
        </p>
        <h1>Cos’è la spesa certificata all’UE?</h1>
        <p>
            La spesa certificata all’UE corrisponde alle richieste di rimborso delle spese sostenute
            che vengono presentate alla Commissione Europea dalle Amministrazioni titolari dei
            Programmi cofinanziati dai Fondi Strutturali.
            Tali richieste, per ogni annualità contabile delle risorse impegnate sul bilancio
            comunitario per ciascun Fondo (FSE, FESR) e Programma Operativo, sono da presentare
            entro un determinato periodo di tempo, specificamente stabilito per ciascun periodo
            di programmazione. Le risorse che non risultino certificate alla Commissione entro
            i termini prestabiliti sono soggette a disimpegno automatico, cioè alla riduzione del
            finanziamento comunitario e del corrispondente cofinanziamento nazionale del Programma.
        </p>

        <h1>Quali regole per il ciclo di programmazione 2007-2013?</h1>
        <p>
            Per il periodo 2007-2013 vale l’obbligo comunitario della regola nota come &ldquo;n+2&rdquo;
            (<a href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32006R1083:IT:NOT">art. 93 del Regolamento CE 1083/2006</a>),
            pertanto le certificazioni alla Commissione devono essere presentate entro il
            31 dicembre del secondo anno successivo a quello dell’impegno nell’ambito del Programma.
            Tra gli effetti di questa regola, quindi, c’è anche quello di aver fissato al
            31 dicembre 2015 il termine ultimo di ammissibilità della spesa
            rendicontabile alla Commissione per il ciclo 2007-2013.
        </p>

        {%  comment %}
        <h1>Cosa sono i target infra-annuali?</h1>
        <p>
            Tra le misure di accelerazione dell’attuazione dei Programmi Operativi dei Fondi Strutturali 2007-2013,
            adottate a livello nazionale e introdotte a partire dalla
            <a href="http://www.cipecomitato.it/it/il_cipe/delibere/download?f=E110001.pdf">Delibera CIPE n. 1/2011</a>,
            per evitare il disimpegno automatico derivante dalla regola dell’n+2,
            sono stati previsti anche target infra-annuali delle spese certificate.
            Oltre alla data del 31 dicembre, la spesa certificata viene pertanto verificata anche al
            31 maggio e al 31 ottobre di ciascun anno fino al 2015. Il mancato raggiungimento dei target
            infra-annuali comporta la riprogrammazione delle risorse assegnate al Programma per un
            importo calcolato sulla soglia annuale e graduato in funzione della distanza della spesa
            certificata dal target prestabilito. I target infra-annuali sono definiti in base ad
            appropriate percentuali (stabilite in sede di Comitato nazionale per il coordinamento e
            la sorveglianza della politica regionale unitaria) delle soglie da raggiungere al 31 dicembre.
            Il calcolo dei target dipende anche, per ciascun Programma, dal piano
            finanziario dei Grandi Progetti – ovvero i progetti di importo superiore ai
            50 milioni di euro che seguono un particolare iter autorizzativo da parte della
            Commissione – per i quali sono previste specifiche deroghe proprio per la regola dell’n+2.
        </p>
        {%  endcomment %}

        <h1>Quali regole per il ciclo di programmazione 2014-2020?</h1>
        <p>
            Per il periodo 2014-2020 vale la cosiddetta regola “n+3”
            (<a href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2013:347:0320:0469:IT:pdf">art. 136 del Regolamento CE 1303/2013</a>),
            pertanto le certificazioni alla Commissione devono essere presentate entro il 31 dicembre
            del terzo anno successivo a quello dell’impegno nell’ambito del Programma.
            Non sono previste deroghe per i Grandi Progetti.
        </p>

        <h1>Qual è la differenza tra spesa certificata e spesa monitorata?</h1>
        <p>
            Per il periodo 2007-2013 il sistema di rendicontazione all’UE della spesa per i
            Programmi finanziati dai Fondi Strutturali è diverso da quello di monitoraggio puntuale
            dei progetti, da cui provengono i dati pubblicati su OpenCoesione. In generale,
            un pagamento rendicontabile viene inserito nel sistema di monitoraggio dei progetti
            quando è stato effettuato e può essere portato a rendicontazione anche in un secondo momento.
            Pertanto la somma dei pagamenti rendicontabili all’UE di ciascun Programma possono non
            corrispondere al valore più recente di certificazione ufficiale delle spese alla Commissione Europea.
        </p>

    </div>


{% endblock %}

{% block sidebar %}{% endblock %}
