{% extends 'base_two_columns.html' %}
{% load sekizai_tags %}

{% block page_title %}Grafici spesa certificata all'UE{% endblock %}


{% block js_content %}

    {{ block.super }}

    {% addtoblock "js_script" %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/charts.js"></script>
    {% endaddtoblock %}

    <script type="text/javascript">

        var charts = {};
        var chart_series = {};

        function trimtext( el ) {
            return $(el).text().trim();
        }

        function readTextValues( list ) {
            return $(list).map(function(){ return trimtext(this) });
        }

        function readFloatValues( list ) {
            return $(filterValues(list)).map(function(){ var value = parseFloat(trimtext(this).replace(',','.')); return isNaN(value) ? 0.0 : value });
        }

        function filterValues( list ) {
            return jQuery.grep( list, function(el,i) { return i >= 4  });
        }

        function buildChart( container, table ) {
            var first_row = table.find('tbody tr:first-child td')
            var title = $(first_row[0]).text().trim();
            var fondo = $(first_row[2]).text().trim();
            var headers = readTextValues(table.find('thead th'));
            var date_list = filterValues( headers );

            // console.log('create chart', title, fondo, '~ headers:', headers, '~ date:', date_list);

            return new Highcharts.Chart({
                chart: {
                    renderTo: container[0],
                    type: 'column',
                    marginTop: 60,
                    backgroundColor: null
                },
                title: {
                    text: title + ' : ' + fondo
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: date_list,
                    labels: {
                        rotation: -45,
                        align: 'right'
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Spesa Certificata'
                    }
                },
                legend: {
                    layout: 'vertical',
                    backgroundColor: '#FFFFFF',
                    align: 'left',
                    verticalAlign: 'top',
                    x: 100,
                    y: 70,
                    floating: true,
                    shadow: true
                },
                tooltip: {
                    formatter: function() {

                        return ''+
                                this.series.name + ' '+
                                this.x +': '+ this.y +' ';
                    }
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [],
                credits: { enabled: false }
            });
        }


        $(document).ready(function() {

            $('div.chart_container').each(function(ix,el){
                var $el = $(el);
                var chart_name = $el.attr('id').replace(/^chart_/,'');
                var container = $el.find('.chart_canvas');
                var table = $el.find('table.chart_table');
                var selector = $el.find('select.chart_selector');

                //console.log(chart_name, container, table, selector);

                charts[ chart_name ] = buildChart( container, table );

                chart_series[chart_name] = {};
                var programma_op, primo_programma_op;
                table.find('tbody tr, tfoot tr').each(function(){
                    var row = $(this).find('td');
                    programma_op = trimtext(row[1]);
                    if (!primo_programma_op) { primo_programma_op = programma_op; }
                    var tipo = trimtext(row[3]);
                    if (!(programma_op in chart_series[chart_name])) {
                        chart_series[chart_name][programma_op] = {}
                    }
                    chart_series[chart_name][ programma_op ][ tipo ] = readFloatValues(row);
                });

                jQuery.each(chart_series[chart_name],function(key,v){
                    selector.append($('<option>', { value : key })
                            .text(key));
                });

                selector.change(function(){

                    var programma_op = $('option:selected',this).val();

                   // console.log(chart_series[chart_name][programma_op])
                    if (charts[ chart_name ].series.length == 2) {
                        charts[ chart_name ].series[0].setData(chart_series[chart_name][programma_op][charts[ chart_name ].series[0].name], false);
                        charts[ chart_name ].series[1].setData(chart_series[chart_name][programma_op][charts[ chart_name ].series[1].name]);
{#                        jQuery.each(.series, function(k,v) { v.destroy(); });#}
                    }
                    else {
                        jQuery.each( chart_series[chart_name][programma_op], function(key,value) {
                            charts[ chart_name ].addSeries( {
                                name: key,
                                data: value
                            } )
                        });
                    }
                    charts[ chart_name ].setTitle({},{ text: programma_op });
                });

                selector.val( primo_programma_op ).change();

            });

        });
    </script>
{% endblock %}

{% block content %}

    <div class="flat_content">
        <h1>Spesa certificata UE - Risultati e obiettivi per i singoli Programmi Operativi</h1>

        <p>
            Qui di seguito si riportano i grafici dei singoli Programmi Operativi,
            in sezioni distinte per Area Obiettivo (Competitività, Convergenza) e Fondo (FESR, FSE).
            Per selezionare il grafico di interesse, scegliere dal menu a tendina nella sezione di riferimento.
        </p>

        <p>
            I target riportati nei grafici sono quelli nazionali, generalmente più ambiziosi di quelli comunitari e fissati,
            oltre che al 31 dicembre di ciascun anno, anche al 31 maggio e al 31 ottobre, a partire da ottobre 2011.
        </p>

        {% for tipo_di_spesa, csv_file in chart_tables %}
        <div id="chart_{{ tipo_di_spesa }}" class="chart_container">

        {% for row in csv_file %}
            {% if forloop.first %}
            <div class="chart_canvas"></div>
            <form action="#">
                <div class="text-center">
                    <select class="span3 chart_selector">
                    </select>
                </div>
            </form>
            <table class="chart_table hide">
                <thead>
                <tr>
                    {% for value in row %}
                    <th>{{ value }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
            {% else %}

            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>

            {% endif %}

            {% if forloop.last %}
            </table>
            {% endif %}
        {% endfor %}


        </div>
        <hr>
        {% endfor %}

    </div>


{% endblock %}

{% block sidebar %}{% endblock %}
