{% extends 'base_two_columns.html' %}

{% load sekizai_tags %}

{% block page_title %}Ultime novità{% endblock %}

{% block content %}
    <div id="blog">
        {% for object in object_list %}
            {% include 'blog/entry_item.html' with object=object title_linked=True SITE_URL=SITE_URL only %}
        {% endfor %}
    </div>

    {% addtoblock 'js' strip %}
        <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53d8e08b53d5d0b4"></script>
    {% endaddtoblock %}

    {% addtoblock 'js' %}
        <script>
            $(window).load(function() {
                var blog = $('#blog');
                var loaded = [];

                blog.on('click', 'article header a', function() {
                    var article = $(this).closest('article');
                    var slug = article.attr('id');

                    blog.find('article').not(article).find('header').siblings().hide();

                    if ($.inArray(slug, loaded) == -1) {
                        $.ajax({
                            url: '{% url 'blog_item_load' '--' %}'.replace('--', slug),
                            success: function(data) {
                                article.replaceWith(data);
                                addthis.toolbox('#addthis-' + slug);
                                loaded.push(slug);
                                location.href = '#' + slug;
                            }
                        });
                    } else {
                        article.find('header').siblings().toggle();
                        if (article.find('header').next().is(':visible')) {
                            location.href = '#' + slug;
                        }
                    }
                });

                blog.find('article' + location.hash + ':first header a').trigger('click');
            });
        </script>
    {% endaddtoblock %}
{% endblock %}

{% block sidebar %}
    {% include 'sidebar_filter.html' with tag_choices=tag_choices date_choices=date_choices base_url='blog_home' all_text='Tutte le news' only %}

    {% if related_pillole %}
        <div class="flat_content">
            <h4>Potresti essere interessato a queste pillole</h4>
            <ul>
                {% for related_pillola in related_pillole %}
                    <li><a href="{% url 'pillola_item' related_pillola.slug %}">{{ related_pillola.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
