{% extends 'base.html' %}

{% block container %}
  <div class="container">
    <div class="row">
      <div class="span12" id="blog">
        <h1>Ultime news</h1>

        {% for article in object_list %}
          <article>
            <header class="page-header">
              <h1>{{ article.title }}
                <small>{{ article.published_at|date:'d/m/Y' }}</small></h1>
            </header>

            <div>
              {{ article.body }}
            </div>
          </article>
        {% endfor %}

      </div>
    </div>
  </div>
{% endblock %}