rect {
  fill: 1;
  stroke: #fff;
}

rect.label {
	stroke:none;
}
rect.label, .D3 rect, .leaf rect{
  fill-opacity: 1;
}

text {
	font: 14px sans-serif;
	font-weight: bold;
}

.leaf text {
	font: 12px sans-serif;
	font-weight: bold;
}

.D1 rect {
	fill-opacity: 1;
/*	cursor: pointer; */
}

.D1 text {
	fill: white;
	font-size:120%;
	text-shadow: 0 0 8px #000000;
}

.D1:hover text {
	fill: none;
	font-size:150%;
}


.rectHighlight rect,
.D1 rect:hover {
	fill-opacity: 0;
}
.rectHighlight rect,

/* Exception to keep values in little box (2014-2020 viz) */
.D1.exception:hover text {
	fill: white;
	font-size:120%;
	text-shadow: 0 0 8px #000000;
}
.D1.exception rect:hover {
	fill-opacity: 1;
}
.D1.exception a:hover {
	text-decoration: none;
}

div.topSection {
	width:75%;
	margin:0.1em 0;
}
div.topSectionHighlight,
div.topSection:hover {
	background-color: #c6e6c4;
}

.button  {
	width:1em;
	height:1em;
	border-radius:0.4em;
	float:left;
	margin:0.1em 0.6em 0.1em 0.3em;
}
span.total {
	font-size:140%;
}

span.value {
	float:right;
}

div.topSection:last-child {
	border-top: 1px solid grey;
}
