{% extends 'base_one_column.html' %}

{% load sekizai_tags %}

{% block page_title %}Progetti ASOC{% endblock %}

{% block content %}
    <div class="flat_content">
        <h1>I progetti delle ricerche di A Scuola di OpenCoesione</h1>

        <p>In questa pagina è disponibile l’elenco di tutti i progetti utilizzati per le ricerche realizzate dagli studenti che hanno partecipato alle diverse edizioni del progetto <a href="http://www.ascuoladiopencoesione.it">A Scuola di OpenCoesione</a> (ASOC), il percorso innovativo di didattica sperimentale promosso nell’ambito dell’iniziativa OpenCoesione e rivolto alle scuole secondarie superiori italiane, che promuove principi di cittadinanza attiva e consapevole attraverso attività di ricerca e monitoraggio civico dei progetti finanziati dalle politiche di coesione.</p>
        <p>Il lavoro degli studenti di ASOC comprende diversi output realizzati durante le varie <a href="http://www.ascuoladiopencoesione.it/lezioni/">fasi del percorso didattico</a> che possono essere ripercorsi cliccando sul nome del team e navigando così sul blog che riporta tutte le attività e gli elaborati prodotti da ciascun team. Nell’elenco sono inoltre messi in evidenza gli output di sintesi più significativi realizzati dagli studenti nell’ambito delle proprie ricerche: il report di monitoraggio civico pubblicato sulla piattaforma <a href="http://www.monithon.it">Monithon</a> (l’iniziativa indipendente di monitoraggio civico dei progetti finanziati dalle politiche di coesione), che riassume in modo schematico i risultati della ricerca, e l’elaborato creativo, che restituisce il racconto della ricerca in un format prescelto di comunicazione (video, animazione, presentazione dinamica, timeline, mappa concettuale, ecc.).</p>
        <p>È possibile inoltre scaricare l’elenco dei progetti monitorati dagli studenti ASOC, con i relativi metadati, in formato aperto (.csv).</p>

        <p><a href="{{ data_file.file_name }}">Progetti ASOC</a> ({{ data_file.file_ext }}, {{ data_file.file_size|filesizeformat }})</p>
        <p><a href="{{ metadata_file.file_name }}">Metadati</a> ({{ metadata_file.file_ext }}, {{ metadata_file.file_size|filesizeformat }})</p>
    </div>

    <div id="asoc" class="container area" style="margin-top: 30px; padding: 40px 20px">
        <table class="display" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>EDIZIONE</th>
                <th>PROGETTO</th>
                <th>ISTITUTO</th>
                <th>REGIONE</th>
                <th>PROVINCIA</th>
                <th>COMUNE</th>
                <th>TEAM</th>
                <th>RICERCA</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.edizione_asoc }}</td>
                    <td><a href="{{ object.progetto.get_absolute_url }}">{{ object.titolo_progetto }}</a></td>
                    <td>{{ object.istituto_nome }}</td>
                    <td>{{ object.istituto_regione }}</td>
                    <td>{{ object.istituto_provincia }}</td>
                    <td><a href="{{ object.istituto_comune.get_absolute_url }}">{{ object.istituto_comune }}</a></td>
                    <td><a href="{{ object.blog_url }}">{{ object.team }}</a></td>
                    <td>
                        {% if object.monithon_url %}
                            <a href="{{ object.monithon_url }}">report monithon</a>
                        {% endif %}
                        {% if object.elaborato_url %}
                            <a href="{{ object.elaborato_url }}">elaborato creativo</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% addtoblock 'css' strip %}
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    {% endaddtoblock %}
    {% addtoblock 'js' strip %}
        <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    {% endaddtoblock %}
    {% add_data 'js-data' 'js/oc-asoc.js' %}
{% endblock %}
