{% extends 'base_two_columns.html' %}
{% load highlight %}
{% load i18n %}
{% load utils %}
{% load digg_paginator %}
{% load popover_info %}

{% block page_title %}Elenco progetti {% endblock page_title %}
{% block page_description %}Elenco dei progetti, navigabile a faccette, con possibilità di ricerca testuale.{% endblock page_description %}

{% block css_header %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/digg_paginator.css">
{% endblock %}

{% block content %}
    {% if n_results %}

        <section style="clear: both;">
        <div class="row">
            <h3 class="span4">Trovati {{ n_results }} progetti</h3>
            
            {% if n_results < n_max_downloadable %}
                <p class="span4">
                    scarica i risultati della ricerca {% popover_info 'download-risultati-ricerca' width="400px" %}<br/>
                    <a style="font-weight: normal;"
                       href="{% url 'progetti_search_csv' %}?{{ request.META.QUERY_STRING }}"
                       title="scarica il file dei progetti, con i nomi delle localit&agrave;"
                            >csv progetti</a><a
                        href="{% url 'progetti_search_csv' %}?{{ request.META.QUERY_STRING }}"
                        title="scarica il file dei progetti, con i nomi delle localit&agrave;"
                        ><img src="{{ STATIC_URL }}img/download.png"/></a> |
                    <a style="font-weight: normal;"
                       href="{% url 'progetti_search_csv_loc' %}?{{ request.META.QUERY_STRING }}"
                       title="scarica il file dei codici delle localt&agrave;"
                            >csv localit&agrave;</a><a
                        href="{% url 'progetti_search_csv_loc' %}?{{ request.META.QUERY_STRING }}"
                        title="scarica il file dei codici delle localit&agrave;"
                        ><img src="{{ STATIC_URL }}img/download.png"/></a> |
                    <a style="font-weight: normal;"
                       href="{{ STATIC_URL }}risultati_ricerca_metadati.xls"
                       title="scarica i metadati"
                            >metadati</a><a
                        href="{{ STATIC_URL }}risultati_ricerca_metadati.xls"
                        title="scarica il pacchetto completo con progetti, localizzazioni e metadati"
                        ><img src="{{ STATIC_URL }}img/download.png"/></a>
                </p>
            {% else %}
                <p class="span4">
                    La tua ricerca supera i {{ n_max_downloadable }} progetti.<br/>
                    Puoi scaricare tutti gli open data
                    <a href="{% url 'opendata' %}">qui</a>
                </p>

            {% endif %} 
        </div>

        {% if soggetto %}
            <p>per il soggetto: {{ soggetto }}</p>
        {% endif %}

        {% if fonte_fin %}
            <p>per questo programma: <a href="{{ fonte_fin.url_riferimento }}">{{ fonte_fin }}</a></p>
        {% endif %}

        <hr class="big">

        <table class="search-results table">
          <tbody>
          {% for result in page_obj.object_list %}
              <tr>
                <td>{{ result.rendered|safe }}</td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
      </section>

      {% digg_paginator %}


    {% else %}
        <p>Nessun risultato trovato.</p>
    {% endif %}

{% endblock %}

{% block article_added_class %}{% if search_within_non_active %}non_active{% endif %}{% endblock article_added_class%}

{% block sidebar %}
  <div class="flat_content">
        <h4>
            Cerca tra i progetti {% if search_within_non_active %}non attivi{% endif %}
        </h4>
        <form method="get" action="{% url 'progetti_search' %}" class="form-search form-condensed">
          <div class="control-group input-append">
            {%  spaceless %}
            <input id="query" type="text" class="input-medium search-query" name="{{ form.q.html_name }}"
                   value="{% if form.q.value %}{{ form.q.value }}{% endif %}" placeholder="Testo della ricerca" />
            <span id="clear-query" class="btn add-on"><i class="icon-remove"></i></span>
            {%  endspaceless %}
          </div>
          <div class="control-group input-append">
            {%  spaceless %}
            <input id="location" type="text" class="input-large search-query"
                   value="{% if territorio %}{{ territorio }}{% endif %}"
                   placeholder="Inserisci il territorio"/>
            <span id="clear-location" class="btn add-on"><i class="icon-remove"></i></span>
            {%  endspaceless %}
          </div>
            <input id="territorio-com" name="{{ form.territorio_com.html_name }}"
                   value="{% if form.territorio_com.value %}{{ form.territorio_com.value }}{% endif %}" type="hidden"/>
            <input id="territorio-prov" name="{{ form.territorio_prov.html_name }}"
                   value="{% if form.territorio_prov.value %}{{ form.territorio_prov.value }}{% endif %}" type="hidden"/>
            <input id="territorio-reg" name="{{ form.territorio_reg.html_name }}"
                   value="{% if form.territorio_reg.value %}{{ form.territorio_reg.value }}{% endif %}" type="hidden"/>
            <button id="search-button" type="submit" class="btn add-in"><i class="icon-search"></i> Cerca</button>
        </form>
        <br>

      {% if n_results %}
        <!-- Begin faceting. -->

        {% if selected_facets %}
            <h4>Modifica i filtri</h4>
            {% for facet in selected_facets  %}
                {% if facet.field == 'natura' and facets.fields.natura.is_field_selected %}
                    <dt>Natura operazione</dt>
                    <dd>
                        <a href="{{ facet.url }}"><i class="icon-remove" title="rimuovi questo filtro"></i></a>
                        {{ natura.short_label|key:facet.r_label|safe }}
                    </dd>
                {%  endif %}
                {% if facet.field == 'tema' and facets.fields.tema.is_field_selected %}
                    <dt>Tema</dt>
                    <dd>
                        <a href="{{ facet.url }}"><i class="icon-remove" title="rimuovi questo filtro"></i></a>
                        {{ tema.short_label|key:facet.r_label|safe }}
                    </dd>
                {% endif %}
                {% if facet.field == 'tipo_progetto' and facets.fields.tipo_progetto.is_field_selected %}
                    <dt>Tipo progetto</dt>
                    <dd>
                        <a href="{{ facet.url }}"><i class="icon-remove" title="rimuovi questo filtro"></i></a>
                        {{ tipo_progetto.short_label|key:facet.r_label|safe }}
                    </dd>
                {% endif %}
                {% if facet.field == 'fonte' and facets.fields.fonte.is_field_selected %}
                    <dt>Fonte</dt>
                    <dd>
                        <a href="{{ facet.url }}"><i class="icon-remove" title="rimuovi questo filtro"></i></a>
                        {{ fonte.short_label|key:facet.r_label|safe }}
                    </dd>
                {% endif %}
                {% if facet.field == 'data_inizio' and facet_queries_date.is_selected %}
                    <dt>Data inizio</dt>
                    <dd>
                        <a href="{{ facet.url }}"><i class="icon-remove" title="rimuovi questo filtro"></i></a>
                        {{ facet.r_label|safe }}
                    </dd>
                {% endif %}
                {% if facet.field == 'costo' and facet_queries_costo.is_selected %}
                    <dt>Finanziamenti</dt>
                    <dd>
                        <a href="{{ facet.url }}"><i class="icon-remove" title="rimuovi questo filtro"></i></a>
                        {{ facet.r_label|safe }}
                    </dd>
                {% endif %}
                {% if perc_pay_facets_enabled %}
                    {% if facet.field == 'perc_pagamento' and facet_queries_perc_pay.is_selected %}
                        <dt>Percentuale Pagamento</dt>
                        <dd>
                            <a href="{{ facet.url }}"><i class="icon-remove" title="rimuovi questo filtro"></i></a>
                            {{ facet.r_label|safe }}
                        </dd>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            <h4>Filtra</h4>
            <p>Puoi trovare il progetto scorrendo la lista, qui al lato.
              Puoi perfezionare la ricerca usando i filtri qui sotto, oppure puoi usare il form di ricerca
              con una parola che pensi sia contenuta nel progetto, in cima a questa colonna.</p>
        {% endif %}

        <div>
            <dl>
                {% if facets.fields.natura and not facets.fields.natura.is_field_selected %}
                    <dt>Natura dell'investimento</dt>
                    {% for t in facets.fields.natura.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=natura:{{ t.0|urlencode }}"
                                       title="{{ natura.descrizione|key:t.0 }}">{{ natura.short_label|key:t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if facets.fields.tema and not facets.fields.tema.is_field_selected %}
                    <dt>Tema</dt>
                    {% for t in facets.fields.tema.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=tema:{{ t.0|urlencode }}"
                                       title="{{ tema.descrizione|key:t.0 }}">{{ tema.short_label|key:t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </dl>

            {% comment %}
            <!-- commented following a client request -->
            <dl>
                {% if facets.fields.tipo_progetto and not facets.fields.tipo_progetto.is_field_selected %}
                    <dt>Tipo progetto</dt>
                    {% for t in facets.fields.tipo_progetto.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=tipo_progetto:{{ t.0|urlencode }}"
                                       title="{{ tipo_progetto.descrizione|key:t.0 }}">{{ tipo_progetto.short_label|key:t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            {% endcomment %}

            <dl>
                {% if facets.fields.fonte and not facets.fields.fonte.is_field_selected %}
                    <dt>Fonte</dt>
                    {% for t in facets.fields.fonte.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=fonte:{{ t.0|urlencode }}"
                                       title="{{ fonte.descrizione|key:t.0 }}">{{ fonte.short_label|key:t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </dl>

            <dl>
                {% if not facet_queries_date.is_selected %}
                    <dt>Anno di inizio</dt>
                    {% for range in facet_queries_date.ranges|dictsortreversed:"key"  %}
                        <dd>
                            <a href="{{ base_url }}&selected_facets={{ range.key }}">
                                {{ range.label|safe }}
                            </a> ({{ range.count }})
                        </dd>
                    {% endfor %}
                {% endif %}
            </dl>

            <dl>
                {% if not facet_queries_costo.is_selected %}
                    <dt>Finanziamenti</dt>
                    {% for range in facet_queries_costo.ranges %}
                        <dd>
                            <a href="{{ base_url }}&selected_facets={{ range.key }}">
                                {{ range.label|safe }}
                            </a> ({{ range.count }})
                        </dd>
                    {% endfor %}
                {% endif %}
            </dl>

            {% if perc_pay_facets_enabled %}
            <dl>
                {% if not facet_queries_perc_pay.is_selected %}
                    <dt>Percentuali pagamento</dt>
                    {% for range in facet_queries_perc_pay.ranges %}
                        <dd>
                            <a href="{{ base_url }}&selected_facets={{ range.key }}">
                                {{ range.label|safe }}
                            </a> ({{ range.count }})
                        </dd>
                    {% endfor %}
                {% endif %}
            </dl>
            {% endif %}

        </div>
        <!-- End faceting -->

        {% comment %}
        <!-- commented following a client request -->
        <div style="margin-top: 200px;">
            {% if search_within_non_active  %}
                <dl><dt><a href="{%  url 'progetti_search' %}">Visualizza tutti i progetti attivi</a></dt></dl>
            {% else %}
                <dl><dt><a href="{%  url 'progetti_search' %}?selected_facets=is_active:0">Visualizza tutti i progetti non attivi</a></dt></dl>
            {% endif %}
        </div>
        {% endcomment %}

    {% endif %}
  </div>
{% endblock %}

{% block js_content %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#location').focus(function(){
                if ($(this)._cleared) return;
                $(this).val('');
                $(this)._cleared = true;
            });


            $( "#location" ).autocomplete({
                source: function( request, response ) {
                    $.getJSON(
                            "/territori/autocomplete/",
                            {'query': request.term },
                            function( data ) {
                                response( $.map( data.territori, function( item ) {
                                    return {
                                        label: item.denominazione,
                                        url: item.url,
                                        cod_com: item.cod_com,
                                        cod_prov: item.cod_prov,
                                        cod_reg: item.cod_reg
                                    }
                                }));
                            }
                    );
                },
                minLength: 2,
                select: function( event, ui ) {
                    $('#territorio-com').val(ui.item.cod_com);
                    $('#territorio-prov').val(ui.item.cod_prov);
                    $('#territorio-reg').val(ui.item.cod_reg);
                },
                open: function() {
                    $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                },
                close: function() {
                    $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
                }
            }).css('z-index', 10000);

            function handle_keydown(event) {
                // track enter key
                var keycode = (event.keyCode ? event.keyCode : (event.which ? event.which : event.charCode));
                if (keycode == 13) { // keycode for enter key
                    // force the 'Enter Key' to implicitly click the Update button
                    document.getElementById('search-button').click();
                    return false;
                } else  {
                    return true;
                }
            } // end of function

            $("#query").bind("keydown", handle_keydown);
            $("#location").bind("keydown", handle_keydown);

            $( "#clear-location").click( function (){
                $("#location").val('');
                $('#territorio-com').val('');
                $('#territorio-prov').val('');
                $('#territorio-reg').val('');
                document.getElementById('search-button').click();
                return false;
            });
            $( "#clear-query").click( function (){
                $("#query").val('');
                document.getElementById('search-button').click();
                return false;
            });

        });
    </script>
{% endblock %}
