{% extends 'base.html' %}

{% load sekizai_tags humanize %}

{% block page_title %}Progetto: {{ progetto.pk }}{% endblock %}

{% block container %}
    <div class="container{% if not progetto.active_flag %} non_active{% endif %}" id="progetto-container">
        {% if not progetto.active_flag %}
            <div class="alert alert-block text-center" style="margin-bottom: 0">
                {% if progetti_attuatori %}
                    {% if progetto.cipe_flag %}
                        <h3>Questa assegnazione CIPE viene conteggiata nel piano finanziario dei progetti in attuazione:</h3>
                    {% else %}
                        <h3>Questo progetto viene conteggiato nel piano finanziario dei progetti in attuazione [TESTO DA DEFINIRE]:</h3>
                    {% endif %}
                    <ul class="spaced" id="overlapping-projects">
                        {% for progetto_attuatore in progetti_attuatori|slice:':5' %}
                            <li><a href="{{ progetto_attuatore.get_absolute_url }}">{{ progetto_attuatore.titolo_progetto }}</a></li>
                        {% endfor %}
                    </ul>
                    {% if progetti_attuatori.count > 5 %}
                        <ul class="spaced" id="overlapping-projects-extra" style="padding-top: 2px">
                            {% for progetto_attuatore in progetti_attuatori|slice:'5:' %}
                                <li><a href="{{ progetto_attuatore.get_absolute_url }}">{{ progetto_attuatore.titolo_progetto }}</a></li>
                            {% endfor %}
                        </ul>

                        {% addtoblock 'js' strip %}
                            <script>
                                $(document).ready(function() {
                                    var elem = $('#overlapping-projects-extra').hide();
                                    $('<button type="button" style="margin-top: 20px">Vedi tutti i progetti</button>').insertAfter(elem).on('click', function() {
                                        var self = $(this);
                                        elem.slideToggle(1000, function() { self.text($(this).is(':visible') ? 'Chiudi' : 'Vedi tutti i progetti') });
                                    });
                                });
                            </script>
                        {% endaddtoblock %}
                    {% endif %}
                {% else %}
                    <h3>Questo progetto <strong>non è più attivo</strong> e viene pertanto escluso da conteggi e ricerche.</h3>
                {% endif %}
            </div>
        {% endif %}

        <article id="progetto"  class="row">
            <div class="span6" id="content">
                <header>
                    {% if progetto.cup and not progetto.cipe_flag %}
                        <h2>CUP: {{ progetto.cup }}</h2>
                    {% endif %}
                    <h1>{{ progetto.titolo_progetto }}</h1>
                </header>

                <p>
                    {% if progetto.cipe_flag %}
                        Data di ultimo stanziamento:
                    {% else %}
                        Data di aggiornamento:
                    {% endif %}
                    <strong>{{ progetto.ultimo_aggiornamento|date:'SHORT_DATE_FORMAT' }}</strong>
                </p>

                <ul class="unstyled">
                    <li>
                        <a href="{{ progetto.classificazione_azione.classificazione_superiore.get_absolute_url }}">{{ progetto.classificazione_azione.classificazione_superiore.short_label|upper }}</a>
                        {% if not progetto.cipe_flag %}
                            - {{ progetto.classificazione_azione.descrizione|upper }}
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ progetto.tema.tema_superiore.get_absolute_url }}">{{ progetto.tema.tema_superiore.short_label|upper }}</a>
                        {% if not progetto.cipe_flag %}
                            - {{ progetto.tema.descrizione|upper }}
                        {% endif %}
                    </li>
                </ul>

                {% if progetto.descrizione %}
                    <div class="baloons-block" style="padding-top: 2px">
                        <p style="margin-left: 0">
                            <strong>Sintesi del progetto</strong>
                            {% if progetto.descrizione_fonte_nome %}
                                {% if progetto.descrizione_fonte_url %}
                                    (FONTE: <a href="{{ progetto.descrizione_fonte_url }}" class="no-pull-right">{{ progetto.descrizione_fonte_nome }}</a>)
                                {% else %}
                                    (<span class="no-pull-right">{{ progetto.descrizione_fonte_nome }}</span>)
                                {% endif %}
                            {% endif %}
                        </p>
                    </div>
                    <p id="project_description">{{ progetto.descrizione }}</p>

                    {% add_data 'js-data' 'js/jquery.expander.min.js' %}
                    {% addtoblock 'js' %}
                        <script>
                            $(document).ready(function() {
                                $('#project_description').expander({
                                    slicePoint: 400,
                                    expandText: 'leggi tutto',
                                    expandPrefix: '&hellip; ',
                                    userCollapseText: 'chiudi',
                                    userCollapsePrefix: ' '
                                });
                            });
                        </script>
                    {% endaddtoblock %}
                {% endif %}

                <a href="{% url 'progetti_segnalazione' %}?{% if progetto.cipe_flag %}clp={{ progetto.codice_locale }}{% else %}cup={{ progetto.cup }}{% endif %}" id="banner_segnalazione_progetto" class="baloons-block">
                    <i></i>
                    <p>Sei un protagonista di questo progetto? <span>Raccontacelo qui</span>.</p>
                </a>

                {% if progetto.segnalazioni %}
                    <div id="segnalazioni_progetto" class="baloons-block">
                        <i>{{ progetto.segnalazioni.count }}</i>
                        <p>
                            I protagonisti raccontano:
                            {% for segnalazione in progetto.segnalazioni %}
                                <a href="{% url 'progetto_segnalazione_pubblicata' segnalazione.pk %}">{{ segnalazione.utente }}</a>{% if forloop.last %}.{% else %},{% endif %}
                            {% endfor %}
                        </p>
                    </div>

                    {% addtoblock 'js' %}
                        <script>
                            $(document).ready(function() {
                                $('#segnalazioni_progetto').on('click', 'a', function(e) {
                                    var width = 550,
                                        height = 450,
                                        sheight = screen.height, swidth = screen.width,
                                        left = Math.round((swidth / 2) - (width / 2)),
                                        top = 0;

                                    if (sheight > height) {
                                        top = Math.round((sheight / 2) - (height / 2));
                                    }
                                    window.open($(this).prop('href'), '', 'left=' + left + ',top=' + top + ',width=' + width + ',height=' + height + ',personalbar=0,toolbar=0,scrollbars=1,resizable=1');
                                    e.preventDefault();
                                });
                            });
                        </script>
                    {% endaddtoblock %}
                {% endif %}

                <hr class="big">

                <section>
                    <h1 class="title"><span>Soggetti</span></h1>

                    <div class="row">
                        {% include 'progetti/includes/progetto_detail_soggetti.html' with titolo='Programmatore' soggetti=progetto.programmatori only %}
                        {% include 'progetti/includes/progetto_detail_soggetti.html' with titolo='Attuatore' soggetti=progetto.attuatori only %}
                    </div>
                </section>

                {% if not progetto.cipe_flag %}
                    <hr class="big">

                    <section>
                        <h1 class="title"><span>Tempi</span></h1>

                        <div class="row">
                            {% include 'progetti/includes/progetto_detail_data.html' with titolo='Inizio previsto' data=progetto.data_inizio_prevista only %}
                            {% include 'progetti/includes/progetto_detail_data.html' with titolo='Inizio effettivo' data=progetto.data_inizio_effettiva only %}
                        </div>
                        <hr>
                        <div class="row">
                            {% include 'progetti/includes/progetto_detail_data.html' with titolo='Fine prevista' data=progetto.data_fine_prevista only %}
                            {% include 'progetti/includes/progetto_detail_data.html' with titolo='Fine effettiva' data=progetto.data_fine_effettiva only %}
                        </div>
                    </section>
                {% endif %}

                <hr class="big">

                <section>
                    {% include 'progetti/includes/progetto_detail_territori.html' %}

                    {% if not progetto.cipe_flag %}
                        <h3>Priorità QSN</h3>
                        <p>{{ progetto.classificazione_qsn.classificazione_superiore.classificazione_superiore.descrizione }}</p>

                        <h3>Obiettivo generale QSN</h3>
                        <p>{{ progetto.classificazione_qsn.classificazione_superiore.descrizione }}</p>

                        <h3>Obiettivo specifico QSN</h3>
                        <p>{{ progetto.classificazione_qsn.descrizione }}</p>
                    {% endif %}
                </section>
            </div>

            <aside id="sidebar" class="span6">
                <div class="row">
                    {% add_data 'js-data' 'js/amcharts/amcharts.js' %}
                    {% add_data 'js-data' 'js/amcharts/serial.js' %}
                    {% add_data 'js-data' 'js/amcharts/pie.js' %}

                    {% addtoblock 'css' %}
                        <style type="text/css">
                            .api_chart {
                                width: 100%;
                                height: 500px;
                                font-size: 11px;
                            }
                            .amcharts-export-menu-top-right {
                                top: 10px;
                                right: 0;
                            }
                        </style>
                    {% endaddtoblock %}

                    <div class="tabbable boxed">
                        <!-- Only required for left/right tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#finanziamenti" data-toggle="tab">Risorse pubbliche</a></li>
                            <li id="tab_indicatori" style="display: none"><a href="#indicatori" data-toggle="tab">Vuoi saperne di più?</a></li>
                        </ul>
                    </div>

                    <script>
                        $(document).ready(function() {
                            var id = '{{ progetto.codice_locale }}';

                            $.getJSON('{{ MIUR_EXT_API_URL }}indicatori_progetti?id=' + id, function(data) {
                                var items = [];
                                if (data.result.case != 'NESSUNO') {
                                    $('#tab_indicatori').show();
                                    $('#api_result').html(data.result.html);
                                    eval(data.result.js);
                                }
                            });
                        });
                    </script>
                </div>

                 <div class="tab-content">
                    <div class="tab-pane active area" id="finanziamenti">
                    
                      <section class="clearfix">
                       <div class="row">
                        <div class="span3 text-center">
                            {% if progetto.cipe_flag %}
                                <h2 style="color: #4b6dbc">Assegnazione CIPE</h2>
                            {% else %}
                                <h2>Finanziamento</h2>
                            {% endif %}
                            <strong>{{ total_cost|floatformat:'2'|intcomma }}</strong> euro
                        </div>

                        {% if not progetto.cipe_flag %}
                            <div class="span3 text-center">
                                <h2>Pagamenti effettuati</h2>
                                <strong>{{ total_cost_paid|floatformat:'2'|intcomma }}</strong> euro
                            </div>
                        {% endif %}
                     </div>

                     <div class="row" style="height: 150px">
                        {% include 'progetti/includes/progetto_detail_finanziamento.html' %}

                        <div class="span3">
                            {% if not progetto.cipe_flag %}
                                <div class="block-chart" title="{{ cost_payments_ratio }} del totale">
                                    <div class="bar-vertical"><span style="height: {{ cost_payments_ratio }}"></span></div>
                                    <p>{{ cost_payments_ratio }}</p>
                                </div>
                            {% endif %}

                            {% if progetto.pagamenti or total_economie %}
                                <table class="table" id="pagamenti_riassunto_chart_table" style="margin-left: 15px; width: 91%">
                                    {% if progetto.pagamenti %}
                                        <tr><td colspan="2"><a href="#" id="payments_chart_link">Visualizza l'andamento dei pagamenti</a></td></tr>
                                        <tr><td colspan="2"><a href="{% url 'progetto_pagamenti' slug=progetto.slug %}">Scarica l'andamento dei pagamenti</a></td></tr>
                                    {% endif %}
                                    {% if total_economie %}
                                        <tr><th>Economie</th><td class="amount"><strong>{{ total_economie|intcomma }}</strong> euro</td></tr>
                                    {% endif %}
                                </table>
                                {% comment %}<p style="text-align: center"></p>{% endcomment %}

                                {% if progetto.pagamenti %}
                                    {% include 'progetti/includes/progetto_detail_pagamenti.html' %}
                                {% endif %}
                            {% endif %}
                        </div>
                     </div>
                     </section>
                 <section>
                    <dl class="data">
                        {% if progetto.costo %}
                            <dt>Costo</dt>
                            <dd>{{ progetto.costo|floatformat:'2'|intcomma }} euro</dd>
                        {% endif %}
                        {% if not progetto.cipe_flag %}
                            {% if progetto.is_fonte_fs_flag %}
                                <dt>
                                    {% if progetto.fondo_comunitario == 'fse' %}
                                        Fondo Sociale Europeo (FSE)
                                    {% elif progetto.fondo_comunitario == 'fesr' %}
                                        Fondo Europeo di Sviluppo Regionale (FESR)
                                    {% endif %}
                                </dt>
                                <dd>{{ progetto.fonte_fs_descrizione }}</dd>
                                {% if progetto.is_fonte_pac_flag %}
                                    <dt>{{ progetto.fonte_pac_label }}</dt>
                                    {% if progetto.dps_flag_pac == '1' %}
                                        <dd>{{ progetto.fonte_pac_descrizione }}</dd>
                                    {% else %}
                                        <dd>Piano d'Azione Coesione - Progetti nei Programmi Operativi</dd>
                                    {% endif %}
                                {% endif %}
                                <dt>Programma</dt>
                                <dd><a href="{{ progetto.programma_asse_obiettivo.classificazione_superiore.classificazione_superiore.get_absolute_url }}">{{ progetto.programma_asse_obiettivo.classificazione_superiore.classificazione_superiore.descrizione }}</a></dd>
                                <dt>Asse</dt>
                                <dd>{{ progetto.programma_asse_obiettivo.classificazione_superiore.descrizione }}</dd>
                                <dt>Obiettivo</dt>
                                <dd>{{ progetto.programma_asse_obiettivo.descrizione }}</dd>
                            {% endif %}
                            {% if progetto.is_fonte_fsc_flag or progetto.is_fonte_pac_flag %}
                                {% if progetto.is_fonte_fsc_flag %}
                                    <dt>{{ progetto.fonte_fsc_label }}</dt>
                                    <dd>{{ progetto.fonte_fsc_descrizione }}</dd>
                                {% endif %}
                                {% if progetto.is_fonte_pac_flag and not progetto.is_fonte_fs_flag %}
                                    <dt>{{ progetto.fonte_pac_label }}</dt>
                                    <dd>{{ progetto.fonte_pac_descrizione }}</dd>
                                {% endif %}
                                {% if progetto.programma_linea_azione %}
                                    <dt>Programma</dt>
                                    <dd><a href="{{ progetto.programma_linea_azione.classificazione_superiore.classificazione_superiore.get_absolute_url }}">{{ progetto.programma_linea_azione.classificazione_superiore.classificazione_superiore.descrizione }}</a></dd>
                                    <dt>Linea</dt>
                                    <dd>{{ progetto.programma_linea_azione.classificazione_superiore.descrizione }}</dd>
                                    <dt>Azione</dt>
                                    <dd>{{ progetto.programma_linea_azione.descrizione }}</dd>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <dt>{{ progetto.fonte.descrizione }}</dt>
                            <dd><p id="claim">Questo progetto ha ricevuto un’assegnazione di risorse dal Fondo Sviluppo e Coesione tramite una delibera CIPE.</p></dd>
                            <dt>Programma</dt>
                            <dd><a href="{{ progetto.programma_asse_obiettivo.classificazione_superiore.classificazione_superiore.get_absolute_url }}">{{ progetto.programma_asse_obiettivo.classificazione_superiore.classificazione_superiore.descrizione }}</a></dd>

                            <table>
                                <tr>
                                    <td><dt>Delibere CIPE</dt></td>
                                    <td style="padding-left: 0.5em">Assegnazioni</td>
                                </tr>
                                {% for assegnazione in progetto.assegnazioni_delibere %}
                                    <tr>
                                        <td><a href="{{ assegnazione.delibera.url }}">Numero {{ assegnazione.delibera.num }} del {{ assegnazione.delibera.anno }}, pubblicata sulla Gazz.U. del {{ assegnazione.delibera.data_pubblicazione|date:'SHORT_DATE_FORMAT' }}</a></td>
                                        <td style="padding-left: 0.5em">{{ assegnazione.finanziamento|floatformat:'2' }} euro</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                        {% if progetto.note or progetti_attuati %}
                            <br/>
                            <dt>Note</dt>
                            <dd>
                                {% if progetti_attuati %}
                                    {% regroup progetti_attuati by cipe_flag as grouped_progetti_attuati %}
                                    {% for progetti_attuati_group in grouped_progetti_attuati %}
                                        {% if progetti_attuati_group.grouper %}
                                            Questo progetto attua le assegnazioni CIPE:
                                        {% else %}
                                            Questo progetto prosegue l'attuazione iniziata nel precedente ciclo di programmazione che puoi vedere qui:
                                        {% endif %}
                                        <ul>
                                            {% for progetto_attuato in progetti_attuati_group.list %}
                                                <li><a href="{{ progetto_attuato.get_absolute_url }}">{{ progetto_attuato.titolo_progetto }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endfor %}
                                {% endif %}
                            </dd>
                            {% if progetto.note %}
                                <dd>{{ progetto.note|linebreaks }}</dd>
                            {% endif %}
                        {% endif %}
                    </dl>
                </section>

                {% if progetto.fin_stato_estero or progetto.fin_privato or progetto.fin_da_reperire %}
                    <section>
                        <h1 class="title" style="margin-left: 25px"><span>Altre risorse</span></h1>

                        <div style="margin: 0 25px">
                            <table class="table">
                                {% if progetto.fin_stato_estero %}
                                    <tr>
                                        <th>Stati Esteri</th>
                                        <td class="amount"><strong>{{ progetto.fin_stato_estero|intcomma }}</strong> euro</td>
                                    </tr>
                                {% endif %}
                                {% if progetto.fin_privato %}
                                    <tr>
                                        <th>Privati</th>
                                        <td class="amount"><strong>{{ progetto.fin_privato|intcomma }}</strong> euro</td>
                                    </tr>
                                {% endif %}
                                {% if progetto.fin_da_reperire %}
                                    <tr>
                                        <th>Da reperire</th>
                                        <td class="amount"><strong>{{ progetto.fin_da_reperire|intcomma }}</strong> euro</td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>
                    </section>
                {% endif %}
                    </div>
                    <div class="tab-pane area" id="indicatori">
                      <div id="api_result">
                      </div>
                    </div>
                 </div>

           </aside>
        </article>

        {% block comments %}
            <div id="comment">
                <div class="row">
                    <div class="span12">
                        {% load disqus_tags %}
                        {% disqus_show_comments %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>

    {% if progetto.territori %}
        <div class="area">
            <div class="container big-amounts">
                <div class="row">
                    <h3 class="span12">Altri progetti sul territorio</h3>
                </div>

                <div class="row">
                    {% include 'progetti/includes/progetto_detail_altriprogetti.html' with titolo='Stesso tema' progetti=progetti_stesso_tema only %}
                    {% include 'progetti/includes/progetto_detail_altriprogetti.html' with titolo='Stessi attuatori' progetti=progetti_stessi_attuatori only %}
                </div>

                <hr class="big">

                <div class="row">
                    {% include 'progetti/includes/progetto_detail_altriprogetti.html' with titolo="Stessa natura dell'investimento" progetti=progetti_stessa_natura only %}
                    {% include 'progetti/includes/progetto_detail_altriprogetti.html' with titolo='Stessi programmatori' progetti=progetti_stessi_programmatori only %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
