{% extends 'base_two_columns.html' %}

{% load staticfiles sekizai_tags digg_paginator popover_info %}

{% block page_title %}Elenco progetti {% endblock page_title %}
{% block page_description %}Elenco dei progetti, navigabile a faccette, con possibilità di ricerca testuale.{% endblock page_description %}

{% block article_added_class %}{% if search_within_non_active %}non_active{% endif %}{% endblock article_added_class%}

{% block content %}
    <section>
        {% if page.paginator.count %}
            <div class="row">
                <h3 class="span4">Trovat{{ page.paginator.count|pluralize:'o,i' }} {{ page.paginator.count }} progett{{ page.paginator.count|pluralize:'o,i' }}</h3>

                <p class="span4">
                    {% if page.paginator.count > n_max_downloadable %}
                        La tua ricerca supera i {{ n_max_downloadable }} progetti.<br />Puoi scaricare tutti gli open data <a href="{% url 'opendata' %}#oc0713-title">qui</a>
                    {% else %}
                        Scarica i risultati della ricerca {% popover_info 'download-risultati-ricerca' width='400px' %}<br/>
                        {% spaceless %}
                            <a href="{% url 'progetti_search_csv' %}?{{ params }}" title="scarica il file dei progetti, con i nomi delle località" data-ga-track="csv" style="font-weight: normal">csv progetti</a>
                            <a href="{% url 'progetti_search_csv' %}?{{ params }}" title="scarica il file dei progetti, con i nomi delle località" data-ga-track="csv"><img src="{% static 'img/download.png' %}" /></a>
                        {% endspaceless %}
                        |
                        {% spaceless %}
                            <a href="{% url 'progetti_search_csv_loc' %}?{{ params }}" title="scarica il file dei codici delle località" data-ga-track="csv" style="font-weight: normal">csv località</a>
                            <a href="{% url 'progetti_search_csv_loc' %}?{{ params }}" title="scarica il file dei codici delle località" data-ga-track="csv"><img src="{% static 'img/download.png' %}" /></a>
                        {% endspaceless %}
                        |
                        {% spaceless %}
                            <a href="{% static 'Metadati_risultati_ricerca.xls' %}" title="scarica i metadati" style="font-weight: normal">metadati</a>
                            <a href="{% static 'Metadati_risultati_ricerca.xls' %}" title="scarica i metadati"><img src="{% static 'img/download.png' %}" /></a>
                        {% endspaceless %}

                        {% add_data 'js-data' 'js/oc-ga-downloads.js' %}
                    {% endif %}
                </p>
            </div>

            {% if soggetto %}
                <p>per il soggetto: <a href="{{ soggetto.get_absolute_url }}">{{ soggetto }}</a>{% if ruolo %} ({{ ruolo }}){% endif %}</p>
            {% endif %}
            {% if fonte_fin %}
                <p>per il programma: <a href="{% url 'progetti_programma' fonte_fin.codice %}">{{ fonte_fin }}</a></p>
            {% endif %}
            {% if gruppo_programmi %}
                <p>per i <a href="{% url 'progetti_programmi' gruppo_programmi.codice %}">{{ gruppo_programmi.descrizione }}</a></p>
            {% endif %}

            <hr class="big">

            <table class="search-results table">
                <tbody>
                    {% for result in page.object_list %}
                        {% with object=result.object %}
                            <tr>
                                <td>
                                    {% if object.cipe_flag %}
                                        <div class="cipe block-chart block">
                                            <div><strong>Assegnazione CIPE</strong></div>
                                        </div>
                                    {% else %}
                                        {% with percentuale_pagamenti=object.percentuale_pagamenti|default:'0'|floatformat:'0' %}
                                            <div class="block-chart block" title="{{ percentuale_pagamenti }}% del totale">
                                                <strong>Pagamenti effettuati</strong>
                                                <div class="bar-vertical"><span style="height:{{ percentuale_pagamenti }}%"></span></div>
                                                <p>{{ percentuale_pagamenti }}%</p>
                                            </div>
                                        {% endwith %}
                                    {% endif %}

                                    <div class="block-description">
                                        <h3><a href="{{ object.get_absolute_url }}">{{ object.titolo_progetto }}</a></h3>

                                        <ul class="unstyled">
                                            <li>Costo pubblico: <strong>{{ object.fin_totale_pubblico_netto|default:object.fin_totale_pubblico|default:'0' }}</strong> euro</li>
                                            {% if not object.cipe_flag %}
                                                <li>Pagamenti effettuati: <strong>{{ object.pagamento|default:'0' }}</strong> euro</li>
                                            {% endif %}
                                        </ul>
                                        <p>
                                            {% with territorio=object.territori.0 tema=object.tema.tema_superiore natura=object.classificazione_azione.classificazione_superiore %}
                                                Territorio: <a href="{{ territorio.get_absolute_url }}">{{ territorio }}{% if territorio.provincia %} ({{ territorio.provincia }}){% endif %}</a>{% if object.territori|length > 1 %} e altri{% endif %}
                                                -
                                                Tema: <a href="{{ tema.get_absolute_url }}">{{ tema.short_label }}</a>
                                                -
                                                Natura: <a href="{{ natura.get_absolute_url }}">{{ natura.short_label }}</a>
                                            {% endwith %}
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>

            {% addtoblock 'css' strip %}
                <link rel="stylesheet" href="{% static 'css/digg_paginator.css' %}" />
            {% endaddtoblock %}

            {% digg_paginator %}
        {% else %}
            <div class="row">
                <h3 class="span4">Nessun risultato trovato</h3>
            </div>
        {% endif %}
    </section>
{% endblock %}

{% block sidebar %}
    <div class="flat_content">
        <h4>Cerca tra i progetti{% if search_within_non_active %} non attivi{% endif %}</h4>

        {% include 'commons/search_form.html' %}

        <h4>Filtra</h4>
        <p>
            Puoi trovare il progetto scorrendo la lista, qui al lato. Puoi perfezionare la ricerca usando i filtri qui sotto,
            oppure puoi usare il form di ricerca con una parola che pensi sia contenuta nel progetto, in cima a questa colonna.
        </p>

        {% include 'commons/search_facets.html' with facets=my_facets only %}
    </div>
{% endblock %}
