{% extends 'base.html' %}
{% load humanize %}
{% load sekizai_tags %}

{% block page_title %}Progetto: {{ progetto.titolo_progetto }}{% endblock %}

{% block js_content %}
  {% addtoblock "css_link" %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/map-styles.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet-dist/leaflet.css" />
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="{{ STATIC_URL }}leaflet-dist/leaflet.ie.css" />
    <![endif]-->
    <style type="text/css">
      .map-location-active { text-decoration: underline; }
    </style>
  {% endaddtoblock %}

  {% addtoblock "js_script" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/charts.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}leaflet-dist/leaflet.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-loader.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/oc-maps.js"></script>
  {% endaddtoblock %}

  {{ block.super }}

  <script type="text/javascript">
    var chart; // globally available

    var pie_chart_options = {
      chart: {
        renderTo: 'container',
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        backgroundColor: null
      },
      title: {
        text: ''
      },
      tooltip: {
        formatter: function() {
          return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +' %';
        },
        useHTML: true
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: false,
            color: '#000000',
            connectorColor: '#000000',
            formatter: function() {
              return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +' %';
            }
          },
          showInLegend: false

        }
      },
      series: [],
      credits: { enabled: false },
      colors: [
        "#c1dccb", "#aed4bd", "#bae2d4", "#bee2cc", "#d0e2d7", "#cae7d5", "#afded4", "#d3ece2", "#dcefe2", "#91c9a8", "#e3f2e8", "#bde3d2", "#b3d7c9"
      ]

    };

    var MAPPA, MAPPA_LAYER, MAPPA_MONDO, MAPPA_ONCLICK, MAPPA_POPUP, MAPPA_CACHE = {};

    $(document).ready(function() {

      // init MAPPA variabless
      build_map('map', '/territori/leaflet/world.json', function(data) {
        var base_style = {
              color: '#343434',
              radius: 6
            },
            hover_style = {
              color: '#003A33',
              radius: 10
            };
        $('.map-location').each(function() {
          var $this = $(this);
          if ( $this.data('coords') ) {
            var marker = $this.data('coords').split(',');
            var circle = new L.CircleMarker(new L.LatLng( marker[1], marker[0]), base_style);
            MAPPA.addLayer(circle);
            // add mouse hover effect
            $this.hover(function() { circle.setStyle(hover_style).setRadius(hover_style.radius) }, function() { circle.setStyle(base_style).setRadius(base_style.radius) });
            $(circle).hover(function() { $this.addClass('map-location-active') }, function() { $this.removeClass('map-location-active') })
          }
        });
      });

      print_pie_chart('#finanziamento_chart_table', 'finanziamento_chart' );

    });
  </script>
{% endblock %}

{% block container %}

  <div class="container" id="progetto-container">
    <article id="progetto"  class="row">
      <div class="span6" id="content">

        <header>
          {% if progetto.cup and not progetto.cipe_flag %}<h2>CUP: {{ progetto.cup }}</h2>{% endif %}
          <h1>{{ progetto.titolo_progetto }}</h1>
        </header>

        <p>Data di aggiornamento: <strong>{{ progetto.data_aggiornamento|date:"d.m.Y" }}</strong></p>

        <ul class="unstyled">
          <li>
            <a href="{{ progetto.classificazione_azione.classificazione_superiore.get_absolute_url }}">
              {{ progetto.classificazione_azione.classificazione_superiore.short_label|upper }}
            </a>
            {%  if not progetto.cipe_flag %}-
            {{ progetto.classificazione_azione.descrizione|upper }}
            {%  endif %}
          </li>
          <li>
            <a href="{{ progetto.tema.tema_superiore.get_absolute_url }}">
              {{ progetto.tema.tema_superiore.short_label|upper }}
            </a>
            {%  if not progetto.cipe_flag %}-
            {{ progetto.tema.descrizione|upper }}
            {%  endif %}
          </li>
        </ul>

        {% if progetto.descrizione %}
          <p>
            {{ progetto.descrizione }}
          </p>
        {% endif %}

        <a href="{% url progetti_segnalazione %}?cup={{ progetto.cup }}" id="banner_segnalazione_progetto">
          <i class="icon-comments"></i>
          Sei un protagonista di questo progetto?
          <span>Raccontacelo qui</span>.
{#          <img src="{{ STATIC_URL }}img/raccontacelo.png" alt="Racconta il progetto">#}
        </a>

        <ul>
          {% for segnalazione in progetto.segnalazioni %}
          <li>{{ segnalazione.descrizione }}</li>
          {% endfor %}
        </ul>

        <hr class="big">

        <section>
          <h1 class="title">
            <span>Soggetti</span>
          </h1>

          <div class="row">
            <div class="span3">
              {% for programmatore in progetto.programmatori %}
                {% if forloop.first %}
                  <h4 class="title">Programmatore</h4>
                {% endif %}
                <a href="{{ programmatore.get_absolute_url }}"><strong>{{ programmatore }}</strong></a>
              {% endfor %}
            </div>
            <div class="span3">
              {% for attuatore in progetto.attuatori %}
                {% if forloop.first %}
                  <h4 class="title">Attuatore</h4>
                {% endif %}
                <a href="{{ attuatore.get_absolute_url }}"><strong>{{ attuatore }}</strong></a>
              {% endfor %}

            </div>
{#            <div class="span6">#}
{#              <dl class="data">#}
{#                {% for destinatario in progetto.destinatarii %}#}
{#                  {% if forloop.first %}#}
{#                    <dt>Destinatario</dt>#}
{#                  {% endif %}#}
{#                  <dd><a href="{{ destinatario.get_absolute_url }}">{{ destinatario }}</a></dd>#}
{#                {% endfor %}#}
{#                {% for realizzatore in progetto.realizzatori %}#}
{#                  {% if forloop.first %}#}
{#                    <dt>Realizzatore</dt>#}
{#                  {% endif %}#}
{#                <dd><a href="{{ realizzatore.get_absolute_url }}">{{ realizzatore }}</a></dd>#}
{#                {% endfor %}#}
{#              </dl>#}
{#            </div>#}
          </div>

        </section>

        {% if not progetto.cipe_flag %}
            <hr class="big">

            <section>
                <h1 class="title">
                    <span>Tempi</span>
                </h1>
                <div class="row">
                    <div class="span3">
                        <h4 class="title">Inizio previsto</h4>
                        <strong>{{ progetto.data_inizio_prevista|default:"Dato non disponibile" }}</strong>
                    </div>
                    <div class="span3">
                        <h4 class="title">Inizio effettivo</h4>
                        <strong>{{ progetto.data_inizio_effettiva|default:"Dato non disponibile" }}</strong>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="span3">
                        <h4 class="title">Fine prevista</h4>
                        <strong>{{ progetto.data_fine_prevista|default:"Dato non disponibile" }}</strong>
                    </div>
                    <div class="span3">
                        <h4 class="title">Fine effettiva</h4>
                        <strong>{{ progetto.data_fine_effettiva|default:"Dato non disponibile" }}</strong>
                    </div>
                </div>

            </section>

        {% endif %}

        <hr class="big">

        <section>

          <div style="float:right; width:46%; margin-left:10px;margin-right:10px;">
            <h1 class="title" id="map-header">
              <div>
                Territorio
                {% for territorio in progetto.territori %}
                  <a href="{{ territorio.get_absolute_url }}" class="map-location" data-coords="{{ territorio.geom.centroid.coords|join:"," }}">
                    {{ territorio.denominazione }}
                  </a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </div>
            </h1>
            <div id="map" style="height:250px; width: 100%; margin-bottom: 0.75em"></div>
          </div>

          {%  if not progetto.cipe_flag %}
              <h3>Priorità QSN</h3>
              <p>
                {{ progetto.classificazione_qsn.classificazione_superiore.classificazione_superiore.descrizione }}
              </p>

              <h3>Obiettivo generale QSN</h3>
              <p>
                {{ progetto.classificazione_qsn.classificazione_superiore.descrizione }}
              </p>

              <h3>Obiettivo specifico QSN</h3>
              <p>
                {{ progetto.classificazione_qsn.descrizione }}
              </p>
          {%  endif %}

        </section>

      </div>



      <aside id="sidebar" class="span6">

        <section class="clearfix">
          <div class="row">
            <div class="span6">
              <h1 class="title" style="margin-left:25px;"><span>Risorse pubbliche</span></h1>
            </div>
          </div>
          <div class="row">
            <div class="span3 text-center">
              {%  if progetto.cipe_flag %}
                  <h2 style="color: #4b6dbc">Assegnazione CIPE</h2>
              {%  else %}
                  <h2>Finanziamento</h2>
              {% endif %}
              <strong>{{ total_cost|intcomma }}</strong> euro
            </div>

            {% if not progetto.cipe_flag %}
                <div class="span3 text-center">
                  <h2>Pagamenti effettuati</h2>
                  <strong>{{ total_cost_paid|intcomma }}</strong> euro
                </div>
            {%  endif %}
          </div>

          <div class="row" style="height: 150px">
            <div class="span3">
              <div id="finanziamento_chart" style="width: 100%; height: 150px"></div>

              <table class="table" id="finanziamento_chart_table" style="margin-left: 25px;">
                {% if progetto.fin_ue %}
                  <tr><th>Unione europea</th><td class="amount"><strong>{{ progetto.fin_ue|default_if_none:"0"|intcomma }}</strong> euro</td></tr>
                {% endif %}
                {% if progetto.fin_stato_fondo_rotazione %}
                  <tr><th>Co-finanziamento nazionale</th><td class="amount"><strong>{{ progetto.fin_stato_fondo_rotazione|default_if_none:"0"|intcomma }}</strong> euro</td></tr>
                {% endif %}
                {% if progetto.fin_stato_fsc %}
                  <tr><th>Stato: Fondo per lo sviluppo e la coesione 2007-2013</th><td class="amount"><strong>{{ progetto.fin_stato_fsc|default_if_none:"0"|intcomma }}</strong> euro</td></tr>
                {% endif %}
                {% if progetto.fin_stato_altri_provvedimenti %}
                  <tr><th>Stato: altri provvedimenti</th><td class="amount"><strong>{{ progetto.fin_stato_altri_provvedimenti|default_if_none:"0"|intcomma }}</strong> euro</td></tr>
                {% endif %}
                {% if progetto.fin_regione %}
                  <tr><th>Regione</th><td class="amount"><strong>{{ progetto.fin_regione|default_if_none:"0"|intcomma }}</strong> euro</td></tr>
                {% endif %}
                {% if progetto.fin_provincia %}
                  <tr><th>Provincia</th><td class="amount"><strong>{{ progetto.fin_provincia|default_if_none:"0"|intcomma }}</strong> euro</td></tr>
                {% endif %}
                {% if progetto.fin_comune %}
                  <tr><th>Comune</th><td class="amount"><strong>{{ progetto.fin_comune|default_if_none:"0"|intcomma }}</strong> euro</td></tr>
                {% endif %}
                {% if progetto.fin_altro_pubblico %}
                  <tr><th>Altra fonte pubblica</th><td class="amount"><strong>{{ progetto.fin_altro_pubblico|default_if_none:"0"|intcomma }}</strong> euro</td></tr>
                {% endif %}
              </table>
            </div>

            <div class="span3">
              {%  if not progetto.cipe_flag %}
                  <div class="block-chart" title="{{ cost_payments_ratio }} del totale">

                    <div class="bar-vertical"><span style="height:{{ cost_payments_ratio }}"></span></div>
                    <p>{{ cost_payments_ratio }}</p>
                  </div>
              {%  endif %}
            </div>

{#            <p class="span6 text-center">#}
{#              <small>*Dati aggiornati al {{ progetto.data_aggiornamento }} e relativi alla competenza del finanziamento pubblico</small>#}
{#            </p>#}
          </div>

        </section>

        {% if progetto.fondo_comunitario == 'fse' or progetto.fondo_comunitario == 'fesr' or progetto.cipe_flag %}
        <section>

          <dl class="data">
            <dt>
              {% if progetto.fondo_comunitario == 'fse' %}
                Fondo Strutturale Europeo (FSE)
              {% elif progetto.fondo_comunitario == 'fesr' %}
                Fondo Europeo di Sviluppo Regionale (FESR)
              {% elif progetto.cipe_flag  %}
                Fondo per lo sviluppo e la coesione 2007-2013
              {% endif %}
            </dt>
            <dd>
              {% if progetto.cipe_flag  %}
                <p id="claim">
                  Questo progetto ha ricevuto un’assegnazione di risorse dal Fondo Sviluppo e Coesione tramite una delibera CIPE. Non sono ancora disponibili i dati di monitoraggio sull’attuazione.
                </p>
              {% else %}
                {{ progetto.fonte.descrizione }}
              {% endif %}
            </dd>

            <dt>Programma</dt>
            <dd>
              <a href="{{ progetto.programma_asse_obiettivo.classificazione_superiore.classificazione_superiore.url_riferimento|default_if_none:"#" }}" target="_blank">
                {{ progetto.programma_asse_obiettivo.classificazione_superiore.classificazione_superiore.descrizione }}
              </a>
            </dd>
            {% if not progetto.cipe_flag %}
                <dt>Asse</dt>
                <dd>{{ progetto.programma_asse_obiettivo.classificazione_superiore.descrizione }}</dd>
                <dt>Obiettivo</dt>
                <dd>{{ progetto.programma_asse_obiettivo.descrizione }}</dd>
            {%  endif %}

            {%  if progetto.cipe_flag %}
                <dt>Delibera CIPE</dt>
                <dd>
                  <a href="/fonti-di-finanziamento/#fondi-nazionali">Numero {{ progetto.cipe_num_delibera }} del {{ progetto.cipe_anno_delibera }}, pubblicata sulla
                    Gazzetta Ufficiale del {{ progetto.cipe_data_pubblicazione|date:'d/m/Y' }}</a>
                </dd>
            {%  endif %}
          </dl>
        </section>
        {% endif %}


        {% if progetto.fin_stato_estero or progetto.fin_privato or progetto.fin_da_reperire %}

        <section>
          <h1 class="title" style="margin-left: 25px;"><span>Altre risorse</span></h1>

          <div style="margin: 0 25px;">
            <table class="table">
              {% if progetto.fin_stato_estero %}
              <tr>
                <th>Stati Esteri</th>
                <td class="amount"><strong>{{ progetto.fin_stato_estero|intcomma }}</strong> euro</td>
              </tr>
              {% endif %}
              {% if progetto.fin_privato %}
              <tr>
                <th>Privati</th>
                <td class="amount"><strong>{{ progetto.fin_privato|intcomma }}</strong> euro</td>
              </tr>
              {% endif %}
              {% if progetto.fin_da_reperire %}
              <tr>
                <th>Da reperire</th>
                <td class="amount"><strong>{{ progetto.fin_da_reperire|intcomma }}</strong> euro</td>
              </tr>
              {% endif %}
            </table>
          </div>

        </section>

      {% endif %}

      </aside>
    </article>
  </div>


    {% if progetto.territori %}
        <div class="area">
            <div class="container big-amounts">
                <div class="row">
                    <h3 class="span12">Altri progetti sul territorio</h3>
                </div>

                <div class="row">

                    <div class="span6">
                        <h1 class="title"><span>Stesso tema</span></h1>
                        <table>
                            {% for p in stesso_tema  %}
                                <tr>
                                    <td class="span5"><a href="{{ p.get_absolute_url }}">{{ p.titolo_progetto }}</a></td>
                                    <td class="amount"><strong>{{ p.fin_totale_pubblico|intcomma }}</strong> euro</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="span6">
                        <h1 class="title"><span>Stessi attuatori</span></h1>
                        <table>
                            {% for p in stessi_attuatori  %}
                                <tr>
                                    <td class="span6"><a href="{{ p.get_absolute_url }}">{{ p.titolo_progetto }}</a></td>
                                    <td class="amount"><strong>{{ p.fin_totale_pubblico|intcomma }}</strong> euro</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <hr class="big">

                <div class="row">
                    <div class="span6">
                        <h1 class="title"><span>Stessa natura dell'investimento</span></h1>
                        <table>
                            {% for p in stesso_tipo  %}
                                <tr>
                                    <td class="span6"><a href="{{ p.get_absolute_url }}">{{ p.titolo_progetto }}</a></td>
                                    <td class="amount"><strong>{{ p.fin_totale_pubblico|intcomma }}</strong> euro</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="span6">
                        <h1 class="title"><span>Stessi programmatori</span></h1>
                        <table>
                            {% for p in stessi_realizzatori  %}
                                <tr>
                                    <td class="span6"><a href="{{ p.get_absolute_url }}">{{ p.titolo_progetto }}</a></td>
                                    <td class="amount"><strong>{{ p.fin_totale_pubblico|intcomma }}</strong> euro</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}