{% extends 'base_map.html' %}

{% load sekizai_tags humanize jsonify %}

{% block page_title %}{{ gruppo_programmi }}{% endblock %}

{% block top_content %}
    {% if gruppo_programmi.dotazione_totale %}
        <div id="claim-container">
            <span class="block-chart block-gray pull-right" style="cursor: default">
                <strong class="title">Dotazione programmi</strong>
                <p>{{ gruppo_programmi.dotazione_totale|intword }} <span>di euro</span></p>
            </span>
        </div>
    {% endif %}
{% endblock %}

{% block page_header_short %}
    <div class="page-header">
        <h1 class="title black"><span>{{ gruppo_programmi }}</span></h1>
        <p style="padding: 0 25px">
            <span class="icon-align-justify"> <a href="{% url 'progetti_search' %}?q=&gruppo_programmi={{ gruppo_programmi.codice }}">Vai a tutti i progetti</a></span>

            {% if gruppo_programmi.codice == 'ue-fesr' or gruppo_programmi.codice == 'ue-fse' %}
                <span class="icon-bar-chart" style="float: right"> <a href="#charts">Vai ai grafici</a></span>
            {% endif %}
        </p>
    </div>
{% endblock %}

{% block container %}
    {{ block.super }}

    {% if gruppo_programmi.codice == 'ue-fesr' or gruppo_programmi.codice == 'ue-fse' %}
        <section class="container" id="charts">
            <div class="row">
                <div class="span12">
                    <p style="margin: 20px 0">
                        {% if gruppo_programmi.codice == 'ue-fesr' %}
                            I seguenti grafici mostrano l'avanzamento finanziario dei programmi del Fondo europeo per lo sviluppo regionale (FESR), che sostiene programmi in materia di sviluppo regionale, di potenziamento della competitività, di investimenti nella ricerca e nello sviluppo sostenibile.
                        {% elif gruppo_programmi.codice == 'ue-fse' %}
                            I seguenti grafici mostrano l'avanzamento finanziario dei programmi del Fondo sociale europeo (FSE), modellato sulla strategia europea per l’occupazione e si concentra sull’inclusione sociale e su un accesso al mercato del lavoro che sia privo di discriminazioni di genere.
                        {% endif %}
                        Nei grafici la spesa è rappresentata dall'importo totale dei pagamenti, al netto dei recuperi, che possono essere considerati per la richiesta dei rimborsi alla Commissione Europea alla data di aggiornamento (30/06/2016).
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="span12" id="spline_chart"></div>
            </div>
            <div class="row">
                <div class="span12">
                    <h3><a href="{% url 'faq-it' %}#come-sono-classificate-le-regioni-italiane-nelle-politiche-di-coesione">Area Convergenza</a></h3>
                    <div class="span12" id="conv_column_chart"></div>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <h3><a href="{% url 'faq-it' %}#come-sono-classificate-le-regioni-italiane-nelle-politiche-di-coesione">Area Competitività</a></h3>
                    <div class="span12" id="cro_column_chart"></div>
                </div>
            </div>
        </section>

        {% add_data 'js-data' 'js/highcharts.js' %}
        {% add_data 'js-data' 'js/oc-programmi.js' %}
        {% addtoblock 'js' strip %}
            <script>
                $(document).ready(function() {
                    var series = [];
                    series.push({
                        name: 'Totale',
                        data: {{ pagamenti_per_anno_tutti|jsonify }}
                    });
                    series.push({
                        name: 'Convergenza',
                        data: {{ pagamenti_per_anno_conv|jsonify }}
                    });
                    series.push({
                        name: 'Competitività',
                        data: {{ pagamenti_per_anno_cro|jsonify }}
                    });

                    print_spline_chart('spline_chart', series, 'Andamento percentuale dei pagamenti rispetto alla dotazione finanziaria dei Programmi');

                    print_column_chart('conv_column_chart', {{ pagamenti_per_programma_conv|jsonify }}, 'Avanzamento finanziario dei programmi: confronto della spesa tra i programmi operativi regionali e nazionali al {{ data_pagamenti_per_programma|date:'SHORT_DATE_FORMAT' }}');
                    print_column_chart('cro_column_chart', {{ pagamenti_per_programma_cro|jsonify }}, 'Avanzamento finanziario dei programmi: confronto della spesa tra i programmi operativi regionali{% if gruppo_programmi.codice == 'ue-fse' %} e nazionali{% endif %} al {{ data_pagamenti_per_programma|date:'SHORT_DATE_FORMAT' }}');
                });
            </script>
        {% endaddtoblock %}
    {% endif %}
{% endblock %}
