{% extends 'base_two_columns.html' %}
{% load highlight %}
{% load i18n %}
{% load utils %}
{% load digg_paginator %}

{% block page_title %}Elenco progetti {% endblock page_title %}
{% block page_description %}Elenco dei progetti, navigabile a faccette, con possibilità di ricerca testuale.{% endblock page_description %}

{% block css_header %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/digg_paginator.css">
{% endblock %}

{% block content %}
        {%  comment %}
    Blocco dei risultati
    {%  endcomment %}
    {% if n_results %}
        {% digg_paginator %}

        <section style="clear: both;">
        <h3>{% if not query %}Tutti i {{ n_results }}{% else %}{{ n_results }} progetti trovati{% endif %}</h3>

        <table class="search-results table">
          <tbody>
          {% for result in page_obj.object_list %}
          <tr>
            <td>{{ result.rendered|safe }}</td>
          </tr>
          {% empty %}
              <p>Nessun risultato trovato.</p>
          {% endfor %}
          </tbody>
        </table>
      </section>

      {% digg_paginator %}


    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}

{% endblock %}

{% block sidebar %}
  <div class="flat_content">
        <h4>Cerca tra i progetti</h4>
        <form method="get" action="{% url progetti_search %}" class="form-search">
            <input type="text" class="input-medium search-query" name="{{ form.q.html_name }}" value="{% if form.q.value %}{{ form.q.value }}{% endif %}" placeholder="Testo della ricerca" /><br/>
            <input id="location" type="text" class="input-large search-query" placeholder="Inserisci il territorio"/>
            <input id="location-id" type="hidden" /><br/>
            <button type="submit" class="btn add-in"><i class="icon-search"> Cerca</i></button>
        </form>

    {% if n_results %}
        <!-- Begin faceting. -->

        {% if selected_facets %}
            <h3>Modifica i filtri</h3>
            {% for facet in selected_facets  %}
                {% if facet.field == 'natura' and facets.fields.natura.is_field_selected %}
                    <dt>Natura operazione</dt>
                    <dd>
                        <a href="{{ facet.url }}"><i class="icon-remove" title="rimuovi questo filtro"></i></a>
                        {{ natura.short_label|key:facet.r_label|safe }}
                    </dd>
                {%  endif %}
                {% if facet.field == 'tema' and facets.fields.tema.is_field_selected %}
                    <dt>Tema</dt>
                    <dd>
                        <a href="{{ facet.url }}"><i class="icon-remove" title="rimuovi questo filtro"></i></a>
                        {{ tema.short_label|key:facet.r_label|safe }}
                    </dd>
                {% endif %}
                {% if facet.field == 'data_inizio' and facet_queries_date.is_selected %}
                    <dt>Data inizio</dt>
                    <dd>
                        <a href="{{ facet.url }}"><i class="icon-remove" title="rimuovi questo filtro"></i></a>
                        {{ facet.r_label|safe }}
                    </dd>
                {% endif %}
                {% if facet.field == 'costo' and facet_queries_cost.is_selected %}
                    <dt>Data inizio</dt>
                    <dd>
                        <a href="{{ facet.url }}"><i class="icon-remove" title="rimuovi questo filtro"></i></a>
                        {{ facet.r_label|safe }}
                    </dd>
                {% endif %}
            {% endfor %}
        {% else %}
            <h3>Filtra</h3>
            <p>Puoi trovare il progetto scorrendo la lista degli ultimi pubblicati, qui sotto.
                Puoi perfezionare la ricerca usando i filtri nella colonna qui a destra, oppure puoi usare il form di
                ricerca con una parola che pensi sia contenuta nel progetto,
                in cima alla colonna qui a destra</p>
        {% endif %}

        <div>
            <dl>
                {% if facets.fields.natura and not facets.fields.natura.is_field_selected %}
                    <dt>Natura operazione</dt>
                    {% for t in facets.fields.natura.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=natura:{{ t.0|urlencode }}"
                                       title="{{ natura.descrizione|key:t.0 }}">{{ natura.short_label|key:t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if facets.fields.tema and not facets.fields.tema.is_field_selected %}
                    <dt>Tema</dt>
                    {% for t in facets.fields.tema.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=tema:{{ t.0|urlencode }}"
                                       title="{{ tema.descrizione|key:t.0 }}">{{ tema.short_label|key:t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </dl>

            <dl>
                {% if not facet_queries_date.is_selected %}
                    <dt>Data inizio</dt>
                    {% if facet_queries_date.sixmonths.count %}
                        <dd>
                            <a href="{{ base_url }}&selected_facets={{ facet_queries_date.sixmonths.key }}">
                                Ultimi sei mesi
                            </a> ({{ facet_queries_date.sixmonths.count }})
                        </dd>
                    {% endif %}
                    {% if facet_queries_date.oneyear.count %}
                        <dd>
                            <a href="{{ base_url }}&selected_facets={{ facet_queries_date.oneyear.key }}">
                                Ultimo anno
                            </a> ({{ facet_queries_date.oneyear.count }})
                        </dd>
                    {% endif %}
                    {% if facet_queries_date.twoyears.count %}
                        <dd>
                            <a href="{{ base_url }}&selected_facets={{ facet_queries_date.twoyears.key }}">
                                Ultimi due anni
                            </a> ({{ facet_queries_date.twoyears.count }})
                        </dd>
                    {% endif %}
                {% endif %}
            </dl>

            <dl>
                {% if not facet_queries_cost.is_selected %}
                    <dt>Costo</dt>
                    {% if facet_queries_cost.costrange_0TO1K.count %}
                        <dd>
                            <a href="{{ base_url }}&selected_facets={{ facet_queries_cost.costrange_0TO1K.key }}">
                                da 0 a 1.000 &euro;
                            </a> ({{ facet_queries_cost.costrange_0TO1K.count }})
                        </dd>
                    {% endif %}

                    {% if facet_queries_cost.costrange_1KTO10K.count %}
                        <dd>
                            <a href="{{ base_url }}&selected_facets={{ facet_queries_cost.costrange_1KTO10K.key }}">
                                da 1.000 a 10.000 &euro;
                            </a> ({{ facet_queries_cost.costrange_1KTO10K.count }})
                        </dd>
                    {% endif %}

                    {% if facet_queries_cost.costrange_10KTO100K.count %}
                        <dd>
                            <a href="{{ base_url }}&selected_facets={{ facet_queries_cost.costrange_10KTO100K.key }}">
                                da 10.000 a 100.000 &euro;
                            </a> ({{ facet_queries_cost.costrange_10KTO100K.count }})
                        </dd>
                    {% endif %}
                    {% if facet_queries_cost.costrange_100KTOINF.count %}
                        <dd>
                            <a href="{{ base_url }}&selected_facets={{ facet_queries_cost.costrange_100KTOINF.key }}">
                                oltre 100.000 &euro;
                            </a> ({{ facet_queries_cost.costrange_100KTOINF.count }})
                        </dd>
                    {% endif %}
                {% endif %}
            </dl>

        </div>
        <!-- End faceting -->
    {% endif %}
  </div>
{% endblock %}

{% block js_content %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#location').focus(function(){
                if ($(this)._cleared) return;
                $(this).val('');
                $(this)._cleared = true;
            });


            $( "#location" ).autocomplete({
                source: function( request, response ) {
                    $.getJSON(
                            "/territori/autocomplete/",
                            {'query': request.term },
                            function( data ) {
                                response( $.map( data.territori, function( item ) {
                                    return {
                                        label: item.denominazione,
                                        url: item.url,
                                        id: item.id
                                    }
                                }));
                            }
                    );
                },
                minLength: 2,
                select: function( event, ui ) {
                    $('#location-id').val(ui.item.id);
                },
                open: function() {
                    $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                },
                close: function() {
                    $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
                }
            }).css('z-index', 10000);

        });
    </script>
{% endblock %}
