<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="it"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>OpenCoesione - Errore non gestito</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Errore non gestito">
    <meta name="author" content="">
    <meta name="format-detection" content="telephone=no">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/static/js/css3-mediaqueries.js"></script>

    <!-- styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="/static/css/custom-styles.css" />
    <!--[if IE 7]>
        <link rel="stylesheet" href="/static/css/font-awesome-ie7.css" />
    <![endif]-->

    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-980632-20']);
        _gaq.push(['_setDomainName', 'opencoesione.gov.it']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
</head>

<body>
    <div id="wrapper">
        <header>
            <div>
                <div class="container" style="position:relative;">
                    <div class="row">
                        <div class="span7">
                            <h1><a href="/"><img src="/static/img/header/testata.png" alt="Open Coesione : Conosci, segui e costruisci le risorse per lo sviluppo "></a></h1>
                        </div>
                        <div class="span5 text-right">
                            <a href="http://www.dps.gov.it/" class="flag flag-dps"></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section id="main">
            <div class="hero-unit text-center">
                <h2>Errore non gestito</h2>
                <p>Si è verificato un errore nei nostri server. Il problema è stato segnalato ai tecnici.<br/>Puoi inviarci ulteriori richieste o informazioni scrivendo a opencoesione[chiocciola]dps.gov.it</p>
                <p></p>
            </div>
        </section>
    </div>
</body>
</html>