{% extends 'base.html' %}

{% block main_class %}{% spaceless %}
    {{ block.super }} two_columns
{% endspaceless %}{% endblock %}

{% block container %}
    <article class="container">
      <div class="row">
        <!-- LEFT-COL -->
        {% comment %}<div style="float:left; width:70%; border-right: 1px dotted gray" id="content">{% endcomment %}
        <div class="span8" id="content">

            {% block content %}{% endblock %}

        </div><!-- /LEFT-COL -->
        <!-- RIGHT-COL -->
        {% comment %}<aside style="float:right;width:29%" id="sidebar">{% endcomment %}
        <aside class="span4" id="sidebar">

            {% block sidebar %}{% endblock %}

        </aside><!-- /RIGHT-COL -->
      </div>
    </article>

    {% block subcontainer %}{% endblock %}
{% endblock  %}