{% extends 'base.html' %}

{% load humanize %}
{% load sekizai_tags %}
{% load template_functions %}

{% block css_header %}
  {{ block.super }}
  <style type="text/css">
    {% for class, color in map_legend_colors.items %}
    .{{ class }} i { color:{{ color }}; }
    {% endfor %}
  </style>
{% endblock %}

{% block js_content %}


  {% addtoblock "css_link" %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/map-styles.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet-dist/leaflet.css" />
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="{{ STATIC_URL }}leaflet-dist/leaflet.ie.css" />
    <![endif]-->
  {% endaddtoblock %}

  {% addtoblock "js_script" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/charts.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}leaflet-dist/leaflet.js"></script>
  {% endaddtoblock %}

    {{ block.super }}

    <script type="text/javascript">
        /*
         * Autocompleter for the map input field
         */
        $(document).ready(function() {
            $('#map-city').focus(function(){
                if ($(this)._cleared) return;
                $(this).val('');
                $(this)._cleared = true;
            });


            $( "#map-city" ).autocomplete({
                source: function( request, response ) {
                    $.getJSON(
                            "/territori/autocomplete/",
                            {'query': request.term },
                            function( data ) {
                                response( $.map( data.territori, function( item ) {
                                    return {
                                        label: item.denominazione,
                                        url: item.url
                                    }
                                }));
                            }
                    );
                },
                minLength: 2,
                select: function( event, ui ) {
                    window.location.href = ui.item.url;
                },
                open: function() {
                    $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                },
                close: function() {
                    $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
                }
            }).css('z-index', 10000);

        });
    </script>

    <script type="text/javascript">
      /*
       * Some functions taken from http://vanzonneveld.net, to humanize big numbers
       */
      function number_format( number, decimals, dec_point, thousands_sep ) {
        // http://kevin.vanzonneveld.net
        // +   original by: Jonas Raoni Soares Silva (http://www.jsfromhell.com)
        // +   improved by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
        // +	 bugfix by: Michael White (http://crestidg.com)
        // +	 bugfix by: Benjamin Lupton
        // +	 bugfix by: Allan Jensen (http://www.winternet.no)
        // +	revised by: Jonas Raoni Soares Silva (http://www.jsfromhell.com)
        // *	 example 1: number_format(1234.5678, 2, '.', '');
        // *	 returns 1: 1234.57

        var n = number, c = isNaN(decimals = Math.abs(decimals)) ? 2 : decimals;
        var d = dec_point == undefined ? "," : dec_point;
        var t = thousands_sep == undefined ? "." : thousands_sep, s = n < 0 ? "-" : "";
        var i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", j = (j = i.length) > 3 ? j % 3 : 0;

        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
      }
      var intcomma = function( number, decimals ) {
        decimals = decimals === undefined ? 0 : decimals;
        return number_format( number, decimals, ',', '.' );
      };
      var intword = function( number ) {
        number = parseInt( number );
        if( number < 100 ) {
          return number;
        } else if( number < 1000000 ) {
          return intcomma( number, 0 );
        } else if( number < 1000000000 ) {
          return intcomma( number / 1000000.0, 1 ) + " mil.";
        } else {
          return intcomma( number / 1000000000.0, 1 ) + " mld.";
        }
      };


      /*
       * Map
       */

      var MAPPA, MAPPA_LAYER, MAPPA_ONCLICK;

      $(document).ready(function() {

          $('#main_topics').length && print_pie_chart('#main_topics', 'main_topics_chart' );
          $('#main_types').length && print_pie_chart('#main_types', 'main_types_chart' );

          /*
           * Ajax overlay 1.0
           * Author: Simon Ilett @ aplusdesign.com.au
           * Descrip: Creates and inserts an ajax loader for ajax calls / timed events
           * Date: 03/08/2011
           */
          function ajaxLoader (el, options) {
            // Becomes this.options
            var defaults = {
              bgColor 		: '#fff',
              duration		: 800,
              opacity			: 0.7,
              classOveride 	: false
            };
            this.options 	= jQuery.extend(defaults, options);
            this.container 	= $(el);

            this.init = function() {
              var container = this.container;
              // Delete any other loaders
              this.remove();
              // Create the overlay
              var overlay = $('<div></div>').css({
                'background-color': this.options.bgColor,
                'opacity':this.options.opacity,
                'width':container.width(),
                'height':container.height(),
                'position':'absolute',
                'top':'0px',
                'left':'0px',
                'z-index':99999
              }).addClass('ajax_overlay');
              // add an overiding class name to set new loader style
              if (this.options.classOveride) {
                overlay.addClass(this.options.classOveride);
              }
              // insert overlay and loader into DOM
              container.append(
                  overlay.append(
                      $('<div></div>').addClass('ajax_loader')
                  ).fadeIn(this.options.duration)
              );
            };

            this.remove = function(){
              var overlay = this.container.children(".ajax_overlay");
              if (overlay.length) {
                overlay.fadeOut(this.options.classOveride, function() {
                  overlay.remove();
                });
              }
            };

            this.init();
          }

          /*
           * Legend definition build and positioning
           */
          L.Control.Legend = L.Control.extend({
            options: {
              position: 'topright'
            },
            content: '',

            initialize: function (options) {
              L.Util.setOptions(this, options);
            },

            onAdd: function (map) {
              this._container = L.DomUtil.create('div', 'leaflet-control-legend');
              this._container.innerHTML = this.content;
              L.DomEvent.disableClickPropagation(this._container);

              return this._container;
            }

          });

          L.Map.mergeOptions({
            legendControl: true
          });

          L.Map.addInitHook(function () {
            if (this.options.legendControl) {
              this.legendControl = (new L.Control.Legend()).addTo(this);
            }
          });



          // costo or pagamento or numero
          if ( !$('#map').length ) {
            return;
          }
          /*
           * Get required dataset directly from tabs in html
           */
          var dataset_name = $('#map-layer-selector .block-chart.block-active').data('dataset');
          var layer_name = $('#selectors .active').prop('id');

          /*
           * Create map instance, and popup
           */
          MAPPA = new L.Map('map', {
            //minZoom: 5,
            //maxZoom: 7,
            scrollWheelZoom: false,
            attributionControl: false
          });
          var MAPPA_POPUP = new L.Popup();


          /*
           * Function to properly generate the map
           * necessary data are passed as arguments
           */
          function load_map_layer(data) {

            // layer removal, if necessary
            if (MAPPA_LAYER && MAPPA.hasLayer(MAPPA_LAYER)) {
              MAPPA.removeLayer(MAPPA_LAYER);
            }

            // layer instance creation
            MAPPA_LAYER = new L.TileLayer(data.tilestache_url+'/'+data.layer_name+'/{z}/{x}/{y}.png',{
              maxZoom: data['zoom']['max'],
              minZoom: data['zoom']['min']
            });

            // boundaries retrieval from data
            var southWest = new L.LatLng(data.bounds.southwest.lat, data.bounds.southwest.lng ),
                northEast = new L.LatLng(data.bounds.northeast.lat, data.bounds.northeast.lng),
                bounds = new L.LatLngBounds(southWest, northEast);
            MAPPA.fitBounds(bounds);

            // layer is added
            MAPPA.addLayer(MAPPA_LAYER);

            // legend is updated
            $('.leaflet-control-legend').html(data.legend_html).each(function(){
              //console.log($(this).text());
              //intword
              $('li',this).each(function(){
                var values = $(this).text().split(' - ')
                $(this).text(intword(values[0].split('.').join('')) + ' - ' + intword(values[1].split('.').join('')));
              }).prepend($('<i />').addClass('icon-sign-blank'));
            });

            // marker added if necessary
            var marker = $('#selectors .btn.active').data('coords');
            if ( marker ) {
              marker = marker.split(',');
              MAPPA.addLayer(new L.Marker(new L.LatLng( marker[1], marker[0]), {
                title : '{{ territorio.denominazione }}',
                clickable: false
              }));
              return; // avoid popup
            }

            // onclick event disabled on map
            if (MAPPA_ONCLICK) {
              MAPPA.off('click', MAPPA_ONCLICK);
            }

            // onclick event defined
            MAPPA_ONCLICK = function onMapClick(e) {
              var latlngStr = '(' + e.latlng.lat.toFixed(3) + ', ' + e.latlng.lng.toFixed(3) + ')';
              var info_url = data.info_base_url +'/' + data.layer_type +'/'+
                  e.latlng.lat.toFixed(3) + "/" +
                  e.latlng.lng.toFixed(3) + "/";

              jQuery.get(info_url, function(data) {
                // popup building
                MAPPA_POPUP.setLatLng(e.latlng);
                var content = '';
                content += '<a href="'+data.territorio.territori[0][1]+'">'+data.territorio.territori[0][0]+'</a>';
                if ( data.territorio.territori[1] ) {
                  content += ' &gt; <a href="'+data.territorio.territori[1][1]+'">'+data.territorio.territori[1][0]+'</a>';
                }
                if ( data.territorio.territori[2] ) {
                  content += '<br><a href="'+data.territorio.territori[2][1]+'">'+data.territorio.territori[2][0]+'</a>';
                }
                MAPPA_POPUP.setContent(
                        content + "<br/>" +
                        "<b>n. progetti</b>: " + intword(data.territorio.n_progetti) + "<br/>" +
                        "<b>costo</b>: " + intword(data.territorio.costo) + "<br/>" +
                        "<b>pagamento</b>: " + intword(data.territorio.pagamento)

                );
                MAPPA.openPopup(MAPPA_POPUP);
              });
            };

            // on click event activated
            MAPPA.on('click', MAPPA_ONCLICK );
          }


          /*
           * Define the ajax loader
           */
          var loader = new ajaxLoader('#map');

          /*
           * Loads the data with a JSON call, and then load the map layer, using the data
           */
          $.getJSON('/territori/leaflet/{{ map_selector }}'+$('#selectors .active').data('path')+'.json?tematizzazione='+dataset_name,function(data){
            load_map_layer(data);
            loader.remove();
          });

          $('#selectors .btn').click(function() {
            if ($(this).hasClass('active')) {
              return;
            }
            var loader = new ajaxLoader('#map');

            var me = $(this);
            $('#selectors .btn.active').removeClass('active');

            $.getJSON('/territori/leaflet/{{ map_selector }}'+ $(this).data('path') +'.json?tematizzazione='+dataset_name,function(data){
              load_map_layer(data);
              $(me).addClass("active");
              loader.remove();
            });

            return false;
          });

    });
  </script>

{% endblock %}

{% block container %}

  <div class="container">

    <div class="row">

      <div class="span6 block-container" id="map-layer-selector">

        <a href="{{ request.path }}?tematizzazione=totale_costi" class="block-chart{% if tematizzazione == 'totale_costi' %} block-active{% endif %}" data-dataset="totale_costi">

          <strong class="title">Finanziamenti monitorati</strong>

          <p>{{ totale_costi|intword }} <span>di euro</span></p>

          <div class="bar-vertical"></div>

          {% if tematizzazione == 'totale_costi' %}<div class="caret"></div>{% else %}<i class="icon-undo"></i>{% endif %}

{#          <div style="position: absolute; bottom: -16px; left: 5px; color: black; font-size: 10px; text-transform: none;">#}
{#            *Dati aggiornati al 31.12.2011#}
{#          </div>#}

        </a>

        <a href="{{ request.path }}?tematizzazione=totale_pagamenti" class="block-chart{% if tematizzazione == 'totale_pagamenti' %} block-active{% endif %}" title="{{ percentuale_costi_pagamenti }} del totale" data-dataset="totale_pagamenti">

          <strong class="title">Pagamenti monitorati</strong>

          <p>{{ totale_pagamenti|intword }} <span>di euro</span></p>

          <div class="bar-vertical"><span style="height:{{ percentuale_costi_pagamenti }}">{{ percentuale_costi_pagamenti }}</span></div>

          {% if tematizzazione == 'totale_pagamenti' %}<div class="caret"></div>{% else %}<i class="icon-undo"></i>{% endif %}

        </a>

        <a href="{{ request.path }}?tematizzazione=totale_progetti" class="block-chart{% if tematizzazione == 'totale_progetti' %} block-active{% endif %}" data-dataset="totale_progetti">

          <strong class="title">Progetti monitorati</strong>

          <p>{{ totale_progetti|intcomma }}</p>

          {% if tematizzazione == 'totale_progetti' %}<div class="caret"></div>{% else %}<i class="icon-undo"></i>{% endif %}

        </a>

      </div>
      <div style="width:50%; float:left;">

        {% block top_content %}

        <a class="block-chart block-gray pull-right" href="/fonti-di-finanziamento/">
          <strong class="title">Risorse totali 2007-2013*</strong>
          <p>102.668 milioni <span>di euro</span></p>
          <i class="icon-share-alt"></i>
        </a>

        <p id="claim">“Per promuovere lo sviluppo economico,
          la coesione e la solidarietà sociale, per rimuovere gli squilibri economici e sociali,
          per favorire l'effettivo esercizio dei diritti della persona,
          o per provvedere a scopi diversi dal normale esercizio delle loro funzioni,
          lo Stato destina risorse aggiuntive ed effettua interventi speciali in favore di determinati
          Comuni, Province, Città metropolitane e Regioni.” <br>
          <i>Dall’art. 119 della Costituzione della Repubblica Italiana</i></p>

          {% endblock %}

      </div>

    </div>

  </div>

  <div class="area">
    <div class="container">

      <div class="row" id="statistics">

        {% if soggetto %}
          <div class="span12">
            <h1 class="title violet" style="margin-bottom: 0;"><span>{{ soggetto.denominazione }}</span></h1>
            <p style="padding-left: 25px;"><i class="icon-align-justify"></i> <a href="#">Tutti i progetti</a></p>
            <ul class="unstyled">
            {% if soggetto.forma_giuridica %}<li>{{ soggetto.forma_giuridica }}</li>{% endif %}
            {% if soggetto.indirizzo %}<li>{{ soggetto.indirizzo }}</li>{% endif %}
            {% if soggetto.rappresentante_legale %}<li>Rappresentante legale: {{ soggetto.rappresentante_legale }}</li>{% endif %}
            {% if soggetto.codice_fiscale.strip %}<li>CF.: {{ soggetto.codice_fiscale }}</li>{% endif %}
            </ul>
          </div>
        {% endif %}

        <div class="span6">

          <div class="row">

            {% if territorio %}
              <div class="span6">
              <h1 class="title black" style="margin-bottom: 0;"><span>{{ territorio.get_territorio_display }} {% if territorio.territorio != 'R' %}di {% endif %}{{ territorio }}</span></h1>
              <p style="padding-left: 25px;"><i class="icon-align-justify"></i> <a href="{% url progetti_search %}?q=&territorio_id={{ territorio.pk }}">Vai a tutti i progetti</a></p>
              </div>
            {% endif %}

            {% if tema %}
              <div class="span6">
                <h1 class="title black" style="margin-bottom: 0;"><span>Tema: {{ tema.short_label }}</span></h1>
                <p style="padding-left: 25px;"><i class="icon-align-justify"></i> <a href="{% url progetti_search %}?q=&selected_facets=tema:{{ tema.codice }}">Vai a tutti i progetti</a></p>
              </div>
            {% endif %}

            {% if tipologia %}
              <div class="span6">
                <h1 class="title black" style="margin-bottom: 0;"><span>Natura: {{ tipologia.short_label }}</span></h1>
                <p style="padding-left: 25px;"><i class="icon-align-justify"></i> <a href="{% url progetti_search %}?q=&selected_facets=tipologia:{{ tipologia.codice }}">Vai a tutti i progetti</a></p>
              </div>
            {% endif %}

            {% if nature_principali %}
            <div class="span3{% if tema or tipologia %} offset3{% endif %}">
              <h4>Natura dell'intervento</h4>

              <div id="main_types_chart" style="width: 100%; height: 250px"></div>

              <table id="main_types" class="table">
                {% for tipologia in nature_principali %}
                  <tr>
                      {% if territorio %}
                          <td><a href="{% url progetti_search %}?q=&territorio_id={{ territorio.pk }}&selected_facets=natura:{{ tipologia.codice }}" title="{{ tipologia.descrizione }}">{{ tipologia.short_label }}</a> {%  comment  %}({{ tipologia.data.numero }}) {%  endcomment %}</td>
                      {%  elif tema %}
                          <td><a href="{% url progetti_search %}?q=&selected_facets=natura:{{ tipologia.codice }}&selected_facets=tema:{{ tema.codice }}" title="{{ tipologia.descrizione }}">{{ tipologia.short_label }}</a> {%  comment  %}({{ tipologia.data.numero }}) {%  endcomment %}</td>
                      {%  else %}
                          <td><a href="{{ tipologia.get_absolute_url }}" title="{{ tipologia.descrizione }}">{{ tipologia.short_label }}</a></td>
                      {% endif %}
                    <td class="amount"><strong>{{ tipologia.tot|default:"0"|intcomma }}</strong> {% if tematizzazione == 'totale_progetti' %}progetti{% else %}euro{% endif %}</td>
                  </tr>
                {% endfor %}
              </table>

            </div>
            {% endif %}

            {% if temi_principali %}
            <div class="span3">
              <h4>Temi</h4>

              <div id="main_topics_chart" style="width: 100%; height: 250px"></div>

              <table id="main_topics" class="table">
                {% for tema in temi_principali %}
                  <tr>
                      {% if territorio %}
                          <td><a href="{% url progetti_search %}?q=&territorio_id={{ territorio.pk }}&selected_facets=tema:{{ tema.codice }}" title="{{ tema.descrizione }}">{{ tema.short_label }}</a> {%  comment %}({{ tema.data.numero }}){%  endcomment %}</td>
                      {%  elif tipologia %}
                          <td><a href="{% url progetti_search %}?q=&selected_facets=tema:{{ tema.codice }}&selected_facets=natura:{{ tipologia.codice }}" title="{{ tema.descrizione }}">{{ tema.short_label }}</a> {%  comment %}({{ tema.data.numero }}){%  endcomment %}</td>
                      {%  else %}
                          <td><a href="{{ tema.get_absolute_url }}" title="{{ tema.descrizione }}">{{ tema.short_label }}</a></td>
                      {% endif %}
                    <td class="amount"><strong>{{ tema.tot|default:"0"|intcomma }}</strong> {% if tematizzazione == 'totale_progetti' %}progetti{% else %}euro{% endif %}</td>

                  </tr>
                {% endfor %}
              </table>

            </div>
            {% endif %}
          </div>

        </div>

        <div class="span6" id="map_container">
          {% block map %}

            <div class="btn-group pull-left">
              <a class="btn active" href="#">Totali</a>
              <a class="btn disabled" href="#">Pro-capite</a>
            </div>

          <div id="selectors" class="btn-group">
            {% if territorio.territorio == 'R' %}
              <a href="#" id="regioni_{{ territorio.cod_reg }}_province" data-path="regioni/{{ territorio.cod_reg }}/province" class="btn">province</a>
              <a href="#" id="regioni_{{ territorio.cod_reg }}_comuni" data-path="regioni/{{ territorio.cod_reg }}/comuni" class="btn active">comuni</a>
            {% elif territorio.territorio == 'P' %}
              <a href="#" id="province_{{ territorio.cod_prov }}_comuni" data-path="province/{{ territorio.cod_prov }}/comuni" class="btn active">comuni</a>
            {% elif territorio.territorio == 'C' %}
              <a href="#" id="comuni" data-path="regioni" data-coords="{{ territorio.geom.centroid.coords|join:"," }}" class="btn active">{{ territorio }}</a>
            {% else %}
              <a href="#" id="regioni" data-path="regioni" class="btn">regioni</a><a href="#" id="province" data-path="province" class="btn active">province</a>
            {% endif %}
          </div>
          <div id="map"{% if territorio.territorio == 'C' %} style=" height: 400px; "{% endif %}></div>
          <div id="map-search">
              <form class="form-search content">
                  <div class="input-append">
                      Cerca
                      <input id="map-city" type="text" class="input-large search-query" placeholder="Inserisci il territorio"><button type="submit" class="btn add-in"><i class="icon-search"></i></button>
                  </div>
              </form>
          </div>
          {% endblock %}

            {#          <span id="copy">#}
{#            &copy; 2010#}
{#            <a href="http://www.cloudmade.com/">CloudMade</a>,#}
{#            <a href="http://www.openpolis.it/">Openpolis</a>,#}
{#            <a href="http://creativecommons.org/licenses/by-sa/2.0/">CCBYSA</a>.#}
{#            Colors by <a href="http://colorbrewer.org/">Cynthia Brewer</a>.#}
{#          </span>#}

        </div>
      </div>

    </div>
  </div>



{% endblock %}
