{% extends 'base.html' %}

{% load staticfiles sekizai_tags humanize search_url_filters %}

{% block container %}
    {% block content-header %}
    <div class="container" id="content-header">
        <div class="row">
            <div id="map-layer-selector" class="span6 block-container">
                <a href="{{ request.path }}?tematizzazione=totale_costi" class="block-chart{% if tematizzazione == 'totale_costi' %} block-active{% endif %}" data-dataset="totale_costi">
                    <strong class="title">Finanziamenti monitorati<br />(incluse risorse attratte)</strong>
                    <p>{{ totale_costi|intword }} <span>{% if totale_costi >= 1000000 %}di {% endif %}euro</span></p>
                    {% if tematizzazione == 'totale_costi' %}<div class="caret"></div>{% else %}<i class="icon-undo"></i>{% endif %}
                </a>

                <a href="{{ request.path }}?tematizzazione=totale_pagamenti" class="block-chart{% if tematizzazione == 'totale_pagamenti' %} block-active{% endif %}" title="{{ percentuale_costi_pagamenti }} del totale" data-dataset="totale_pagamenti">
                    <strong class="title">Pagamenti monitorati<br />(incluse risorse attratte)</strong>
                    <p>{{ totale_pagamenti|intword }} <span>{% if totale_pagamenti >= 1000000 %}di {% endif %}euro</span></p>
                    {% if tematizzazione == 'totale_pagamenti' %}<div class="caret"></div>{% else %}<i class="icon-undo"></i>{% endif %}
                </a>

                <a href="{{ request.path }}?tematizzazione=totale_progetti" class="block-chart{% if tematizzazione == 'totale_progetti' %} block-active{% endif %}" data-dataset="totale_progetti">
                    <strong class="title">Progetti monitorati</strong>
                    <p>{{ totale_progetti|intcomma }}</p>
                    {% if tematizzazione == 'totale_progetti' %}<div class="caret"></div>{% else %}<i class="icon-undo"></i>{% endif %}
                </a>
            </div>

            {% block top_content %}{% endblock %}
        </div>
    </div>
    {% endblock %}

    <div class="area">
        <div class="container">
            <div class="row" id="statistics">
                {% block page_header %}{% endblock %}  {# Definito in 'soggetto_detail.html', 'territorio_list.html'#}

                <div class="span6">
                    {% block page_header_short %}{% endblock %}  {# Definito in 'classificazioneazione_detail.html', 'programma_detail.html', 'programmi_detail.html', 'tema_detail.html', 'territorio_detail.html'#}

                    <div class="row-fluid">
                        {% if tema %}
                            <div class="span6">{{ tema.descrizione_estesa|default_if_none:'&nbsp;' }}</div>
                        {% endif %}
                        {% if natura %}
                            <div class="span6">{{ natura.descrizione_estesa|default_if_none:'&nbsp;' }}</div>
                        {% endif %}
                        {% if nature_principali %}
                            <div class="span6">
                                <h1 class="title"><span>Natura dell'investimento</span></h1>

                                <p>Cosa si fa con i progetti?</p>

                                <div id="main_types_chart" style="width: 100%; height: 250px"></div>

                                <table id="main_types" class="table">
                                    {% for natura_principale in nature_principali %}
                                        <tr>
                                            <td>
                                                {% if territorio %}
                                                    <a href="{{ territorio|progetti_search_url_by_natura:natura_principale }}" title="{{ natura_principale.descrizione }}">{{ natura_principale.short_label }}</a>
                                                {%  elif tema %}
                                                    <a href="{% url 'progetti_search' %}?q=&selected_facets=natura:{{ natura_principale.codice }}&selected_facets=tema:{{ tema.codice }}" title="{{ natura_principale.descrizione }}">{{ natura_principale.short_label }}</a>
                                                {%  elif soggetto %}
                                                    <a href="{% url 'progetti_search' %}?q=&selected_facets=natura:{{ natura_principale.codice }}&soggetto={{ soggetto.slug }}" title="{{ natura_principale.descrizione }}">{{ natura_principale.short_label }}</a>
                                                {%  elif programma %}
                                                    <a href="{% url 'progetti_search' %}?q=&selected_facets=natura:{{ natura_principale.codice }}&fonte_fin={{ programma.codice }}" title="{{ natura_principale.descrizione }}">{{ natura_principale.short_label }}</a>
                                                {%  elif tipo_territorio %}
                                                    <a href="{% url 'progetti_search' %}?q=&selected_facets=natura:{{ natura_principale.codice }}&territorio_tipo={{ tipo_territorio }}" title="{{ natura_principale.descrizione }}">{{ natura_principale.short_label }}</a>
                                                {%  else %}
                                                    <a href="{{ natura_principale.get_absolute_url }}" title="{{ natura_principale.descrizione }}">{{ natura_principale.short_label }}</a>
                                                {% endif %}
                                            </td>
                                            <td class="amount"><strong>{{ natura_principale.totale|default:'0'|floatformat:'0' }}</strong></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endif %}
                        {% if temi_principali %}
                            <div class="span6">
                                <h1 class="title"><span>Temi</span></h1>

                                <p>In quali settori si interviene?</p>

                                <div id="main_topics_chart" style="width: 100%; height: 250px"></div>

                                <table id="main_topics" class="table">
                                    {% for tema_principale in temi_principali %}
                                        <tr>
                                            <td>
                                                {% if territorio %}
                                                    <a href="{{ territorio|progetti_search_url_by_tema:tema_principale }}" title="{{ tema_principale.descrizione }}">{{ tema_principale.short_label }}</a>
                                                {%  elif natura %}
                                                    <a href="{% url 'progetti_search' %}?q=&selected_facets=tema:{{ tema_principale.codice }}&selected_facets=natura:{{ natura.codice }}" title="{{ tema_principale.descrizione }}">{{ tema_principale.short_label }}</a>
                                                {%  elif soggetto %}
                                                    <a href="{% url 'progetti_search' %}?q=&selected_facets=tema:{{ tema_principale.codice }}&soggetto={{ soggetto.slug }}" title="{{ tema_principale.descrizione }}">{{ tema_principale.short_label }}</a>
                                                {%  elif programma %}
                                                    <a href="{% url 'progetti_search' %}?q=&selected_facets=tema:{{ tema_principale.codice }}&fonte_fin={{ programma.codice }}" title="{{ tema_principale.descrizione }}">{{ tema_principale.short_label }}</a>
                                                {%  elif tipo_territorio %}
                                                    <a href="{% url 'progetti_search' %}?q=&selected_facets=tema:{{ tema_principale.codice }}&territorio_tipo={{ tipo_territorio }}" title="{{ tema_principale.descrizione }}">{{ tema_principale.short_label }}</a>
                                                {%  else %}
                                                    <a href="{{ tema_principale.get_absolute_url }}" title="{{ tema_principale.descrizione }}">{{ tema_principale.short_label }}</a>
                                                {% endif %}
                                            </td>
                                            <td class="amount"><strong>{{ tema_principale.totale|default:'0'|floatformat:'0' }}</strong></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endif %}
                    </div>

                    <p>Dati espressi in <strong>{% if tematizzazione == 'totale_progetti' %}numero di progetti{% else %}euro{% endif %}</strong></p>

                    {% add_data 'js-data' 'js/highcharts.js' %}
                    {% add_data 'js-data' 'js/oc-charts-pie.js' %}
                    {% addtoblock 'js' strip %}
                        <script type="text/javascript">
                            $(document).ready(function() {
                                $('#main_topics').length && print_pie_chart('#main_topics', 'main_topics_chart');
                                $('#main_types').length && print_pie_chart('#main_types', 'main_types_chart');
                            });
                        </script>
                    {% endaddtoblock %}
                </div>

                <div class="span6" id="map_container">
                    {% block map %}
                        <div class="map-header clearfix">
                            {% if not territorio.is_comune %}
                                <div id="procapite_selectors" class="btn-group pull-left">
                                    <a class="btn active" data-path="" href="#">Totali</a>
                                    {% if tematizzazione == 'totale_costi' %}
                                        <a class="btn" href="#" data-path="_procapite">Pro capite</a>
                                    {% endif %}
                                </div>
                            {% endif %}

                            <div id="selectors" class="btn-group">
                                {% if territorio.is_regione %}
                                    <a href="#" id="regioni_{{ territorio.cod_reg }}_province" data-path="regioni/{{ territorio.cod_reg }}/province" class="btn">province</a>
                                    <a href="#" id="regioni_{{ territorio.cod_reg }}_comuni" data-path="regioni/{{ territorio.cod_reg }}/comuni" class="btn active">comuni</a>
                                {% elif territorio.is_provincia %}
                                    <a href="#" id="province_{{ territorio.cod_prov }}_comuni" data-path="province/{{ territorio.cod_prov }}/comuni" class="btn active">comuni</a>
                                {% elif territorio.is_comune %}
                                    <a href="#" id="comuni" data-path="world" data-coords="{{ territorio.geom.centroid.coords|join:',' }}" class="btn active">{{ territorio }}</a>
                                {% else %}
                                    <a href="#" id="regioni" data-path="regioni" class="btn">regioni</a>
                                    <a href="#" id="province" data-path="province" class="btn active">province</a>
                                {% endif %}
                            </div>
                        </div>
                        <div id="map" data-mapselector="{{ map_selector }}"{% if territorio.is_comune %} style="height: 400px"{% endif %}></div>
                        <div id="map-search">
                            <form class="form-search content">
                                <div class="input-append">
                                    Cerca territorio
                                    <input id="map-city" type="text" class="input-large search-query" placeholder="Inserisci il territorio"><button type="submit" class="btn add-in"><i class="icon-search"></i></button>
                                </div>
                            </form>
                        </div>

                        {% add_data 'js-data' 'leaflet-dist/leaflet.js' %}
                        {% add_data 'js-data' 'js/jquery-loader.js' %}
                        {% add_data 'js-data' 'js/oc-maps.js' %}
                        {% add_data 'js-data' 'js/oc-map-aggregate.js' %}
                        {% add_data 'js-data' 'js/oc-territori-autocomplete.js' %}

                        {% addtoblock 'css' strip %}
                            <link rel="stylesheet" href="{% static 'leaflet-dist/leaflet.css' %}" />
                            <!--[if lte IE 8]>
                                <link rel="stylesheet" href="{% static 'leaflet-dist/leaflet.ie.css' %}" />
                            <![endif]-->
                            <link rel="stylesheet" href="{% static 'css/map-styles.css' %}" />
                            <style type="text/css">
                                {% for class, color in map_legend_colors.items %}
                                    .{{ class }} i { color: {{ color }}; }
                                {% endfor %}
                            </style>
                        {% endaddtoblock %}
                    {% endblock %}
                </div>
            </div>

            {% block area_more_content %}
                {% if top_progetti_per_costo or ultimi_progetti_conclusi or territori_piu_finanziati_pro_capite %}
                    <div class="row">
                        {% if top_progetti_per_costo %}
                            <section class="span6">
                                <h1 class="title"><span>Progetti con maggiori finanziamenti</span></h1>
                                <table class="table">
                                    {% for progetto in top_progetti_per_costo %}
                                        <tr>
                                            <td><a href="{{ progetto.get_absolute_url }}">{{ progetto.titolo_progetto }}</a></td>
                                            <td class="amount"><strong>{{ progetto.fin_totale_pubblico|intcomma }}</strong> euro</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </section>
                        {% endif %}

                        {% if ultimi_progetti_conclusi %}
                            <section class="span3">
                                <h1 class="title"><span>Ultimi progetti conclusi</span></h1>
                                <ul class="spaced">
                                    {% for progetto in ultimi_progetti_conclusi %}
                                        <li>
                                            {{ progetto.data_fine_effettiva|date:'SHORT_DATE_FORMAT' }}
                                            <br/>
                                            <a href="{{ progetto.get_absolute_url }}">{{ progetto.titolo_progetto }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </section>
                        {% endif %}

                        {% if territori_piu_finanziati_pro_capite %}
                            <section class="span3">
                                <h1 class="title"><span>
                                    {% if territorio and territorio.is_comune %}
                                        Finanziamenti pro capite
                                    {% else %}
                                        Comuni con maggiori finanziamenti pro capite
                                    {% endif %}
                                </span></h1>
                                <table class="table">
                                    {% for territorio_finanziato in territori_piu_finanziati_pro_capite %}
                                        <tr>
                                            <td><a href="{{ territorio_finanziato.get_absolute_url }}">{{ territorio_finanziato.nome_completo }}</a></td>
                                            <td class="amount"><strong>{{ territorio_finanziato.totale_pro_capite|intcomma }}</strong> euro</td>
                                        </tr>
                                    {% endfor %}
                                </table>

                                {% if tema %}
                                    <a href="{% url 'progetti_tema_csv' slug=tema.slug %}">Scarica i dati di tutti i comuni</a>
                                {% elif natura %}
                                    <a href="{% url 'progetti_tipologia_csv' slug=natura.slug %}">Scarica i dati di tutti i comuni</a>
                                {% elif territorio %}
                                    {% if territorio.is_provincia %}
                                        <a href="{% url 'progetti_provincia_csv' slug=territorio.slug %}">Scarica i dati di tutti i comuni</a>
                                    {% elif territorio.is_regione %}
                                          <a href="{% url 'progetti_regione_csv' slug=territorio.slug %}">Scarica i dati di tutti i comuni</a>
                                    {% endif %}
                                {% endif %}

                                <p><small>Al comune è associato l'intero finanziamento dei progetti, anche quando il progetto è localizzato in più comuni. La popolazione di riferimento è quella al 31.12.2011 di fonte Istat.</small></p>
                            </section>
                        {% endif %}
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
