{% load staticfiles sekizai_tags %}<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="it"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>OpenCoesione - {% block page_title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block page_description %}{% endblock %}">
    <meta name="author" content="">
    <meta name="format-detection" content="telephone=no">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{% static 'js/css3-mediaqueries.js' %}"></script>

    {% if TEMPLATE_DEBUG %}
        <link rel="stylesheet/less" href="{% static 'less/styles.less' %}" />
        <link rel="stylesheet/less" href="{% static 'less/styles-responsive.less' %}" />

        <script src="{% static 'js/less-1.3.0.min.js' %}"></script>
    {% else %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}" />
    {% endif %}

    <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ui-lightness/jquery-ui-1.8.21.custom.css' %}" media="all" />
    <link rel="stylesheet" href="{% static 'css/popover.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery.cookiebar.css' %}" />
    <!--[if IE 7]>
        <link rel="stylesheet" href="{% static 'css/font-awesome-ie7.css' %}" />
    <![endif]-->

    {% render_block 'css' %}

    {% add_data 'js-data' 'js/jquery-1.7.2.min.js' %}
    {% add_data 'js-data' 'js/jquery-ui-1.8.21.custom.min.js' %}
    {% add_data 'js-data' 'js/bootstrap-tab.js' %}
    {% add_data 'js-data' 'js/bootstrap-tooltip.js' %}
    {% add_data 'js-data' 'js/bootstrap-popover.js' %}
    {% add_data 'js-data' 'js/bootstrapx-clickover.js' %}
    {% add_data 'js-data' 'js/jquery.cookiebar.js' %}

    {% addtoblock 'js' strip %}
        <script>
            $(document).ready(function(){
                var currentURL = window.location.href.toString().split(window.location.host)[1];
                var policyURL = '/note-legali/';
				$.cookieBar({
                    message: 'Il portale OpenCoesione utilizza cookie tecnici e, con il consenso degli utenti, cookie analytics e di terze parti per rendere migliore la navigazione e per fornire alcune funzionalità aggiuntive. Per maggiori informazioni sui cookie utilizzati, su come disabilitarli o per negare il consenso all’installazione, <a href="{policy_url}">leggi l’informativa</a>. La prosecuzione nella navigazione, cliccando in un altro punto dello schermo o effettuando un’azione di scroll, equivale a prestazione del consenso.',
                    acceptButton: false,
                    acceptOnContinue: true,
                    acceptOnScroll: currentURL == policyURL ? false : 200,
        			policyURL: policyURL,
                    fixed: true,
                    bottom: true,
                    zindex: '1000'
                });
			});
        </script>
    {% endaddtoblock %}

    {% addtoblock 'js' strip %}
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-980632-20']);
            _gaq.push(['_setDomainName', 'opencoesione.gov.it']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    {% endaddtoblock %}

    {% addtoblock 'js' strip %}
        <script>
            $(document).ready(function() {
                $('a[href="#"]').on('click', function(e) {
                    e.preventDefault();
                });

                $('a[href^="http"]').attr('target', '_blank');

                // all links to /media/uploads/documenti/* are changed into /documenti/*
                $('a[href*="media/uploads/documenti"]').each(function() {
                    this.href = this.href.replace(/media\/uploads\/documenti/, 'documenti');
                });

                // enable popovers and tooltips
                $('a[rel=info-popover]').clickover();
                $('a[rel=info-tooltip]').tooltip();
            });
        </script>
    {% endaddtoblock %}

    {% with_data 'js-data' as javascripts %}
    {% for javascript in javascripts %}
        <script src="{% static javascript %}"></script>
    {% endfor %}
    {% end_with_data %}

    {% render_block 'js' %}

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}">
    {% comment %}
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'ico/apple-touch-icon-144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'ico/apple-touch-icon-114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'ico/apple-touch-icon-72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'ico/apple-touch-icon-57-precomposed.png' %}">
    {% endcomment %}
</head>

<body class="{% block body_class %}{% endblock %}">
    <div id="wrapper">
        <header>
            <div>
                <div class="container">
                    <div class="row">
                        <div class="span7">
                            <h1><a href="{% url 'home' %}"><img src="{% static 'img/header/testata.png' %}" alt="OpenCoesione. Verso un migliore uso delle risorse: scopri, segui, sollecita"></a></h1>
                        </div>
                        <div class="span5 text-right">
                            <a href="http://www.dps.gov.it/" class="flag flag-dps"></a>
                        </div>
                        {% comment %}
                            <div class="span12" style="margin-bottom: 24px">
                                <h1><a href="{% url 'home' %}"><img src="{% static 'img/header/testata.png' %}" alt="OpenCoesione. Verso un migliore uso delle risorse: scopri, segui, sollecita"></a></h1>
                            </div>
                        {% endcomment %}
                        <ul id="social_links">
                            <li><a rel="info-tooltip" data-placement="bottom" title="La newsletter di OpenCoesione" class="mail" href="{% url 'rubrica-newsletter' %}">Newsletter</a></li>
                            <li><a rel="info-tooltip" data-placement="bottom" title="OpenCoesione su Twitter" class="twitter" href="https://twitter.com/OpenCoesione">Twitter</a></li>
                            <li><a rel="info-tooltip" data-placement="bottom" title="Il canale OpenCoesione su Vimeo" class="vimeo" href="https://vimeo.com/channels/787486">Vimeo</a></li>
                            <li><a rel="info-tooltip" data-placement="bottom" title="Le slide di OpenCoesione su SlideShare" class="slideshare" href="http://www.slideshare.net/OpenCoesione">SlideShare</a></li>
                            <li><a rel="info-tooltip" data-placement="bottom" title="Premi e riconoscimenti" class="oga" data-toggle="modal" href="#aw-modal">Premi e riconoscimenti</a></li>
                        </ul>

                        {% block header_flags %}
                            {% if latest_entry %}
                                <div id="blog_info">
                                    {{ latest_entry.published_at|date:'SHORT_DATE_FORMAT' }} - <strong>{{ latest_entry.title }}</strong> >
                                    <a href="{% url 'blog_home' %}">Leggi le novità</a>.
                                </div>
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </div>

            {% block menu %}
                {% include 'commons/menu.html' %}
            {% endblock %}
        </header>

        <section id="main" class="{% block main_class %}{% endblock %}">
            {% block banner %}{% endblock %}
            {% block container %}{% endblock %}
        </section>

        {% block footer %}
            <footer>
                {% include 'commons/footer.html' %}
            </footer>
        {% endblock %}
    </div>

    {% include 'commons/awards.html' %}
</body>
</html>