{% extends 'base_map.html' %}

{% load staticfiles sekizai_tags humanize %}

{% block page_title %}Homepage{% endblock %}

{% block top_content %}
    <div id="claim-container" class="span6">
        <a class="block-chart block-gray pull-right" href="{% url 'fonti-finanziamento' %}">
            <strong class="title">Risorse totali 2007-2013</strong>
            <p>99,286 miliardi <span>di euro</span></p>
            <i class="icon-share-alt"></i>
        </a>

        <p id="claim">
            OpenCoesione è il portale sull'attuazione dei progetti finanziati dalle politiche di coesione in Italia.
            Sono navigabili dati su risorse assegnate e spese, localizzazioni, ambiti tematici, soggetti
            programmatori e attuatori, tempi di realizzazione e pagamenti dei singoli progetti. Tutti possono così
            valutare come le risorse vengono utilizzate rispetto ai bisogni dei territori.

            I dati pubblicati sono aggiornati al <b>31/08/2015</b> e riguardano
            <a href="{% url 'soggetti_search' %}">{{ numero_soggetti|intcomma }} soggetti</a>
        </p>
    </div>
{% endblock %}

{% block container %}
    {{ block.super }}

    <div class="container" id="home">
        <div class="row row-1">
            <section class="span12">
                <div class="row">
                    <div class="span12">
                        <h1 class='title'><span>Pillole di OpenCoesione</span></h1>

                        <p>
                            {{ pillola.published_at|date:'SHORT_DATE_FORMAT' }}
                            <br/>
                            <a href="{{ pillola.get_absolute_url }}" style="text-transform: uppercase">{{ pillola.title }}</a>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="span5">
                        {% if pillola.image %}
                            <img src="{{ pillola.image.url }}" />
                        {% endif %}
                    </div>

                    <div class="span7">
                        {% if pillola.abstract %}
                            {{ pillola.abstract|safe }}
                        {% endif %}
                        <p><span class="icon-chevron-right"> <a href="{% url 'pillole' %}">Vai a tutte le Pillole di OpenCoesione</a></span></p>
                    </div>
                </div>
            </section>
        </div>

        <div class="row row-2">
            <section class="span4">
                <h1 class='title'><span>Indicatori territoriali e tematici</span></h1>

                <p style="padding-top: 1em"><img src="{% static 'img/home/indicatori.png' %}" alt="Indicatori territoriali e tematici"></p>
                <p style="margin-top: 20px;">In quale contesto socio-economico si attuano le politiche di coesione?</p>
                <p style="position: absolute; bottom: 0; margin-bottom: 2em"><span class="icon-chevron-right"> <a href="{% url 'dati-istat' %}">Consulta gli indicatori territoriali e tematici</a></span></p>
            </section>

            <section class="span4">
                <h1 class='title'><span>Open data</span></h1>

                <p style="padding-top: 1em"><img src="{% static 'img/home/opendata.png' %}" alt="Open Data"></p>
                <p style="margin-top: 20px;">I dati completi (con extra info rispetto a quanto si visualizza!) sui progetti del portale e sul contesto delle politiche di coesione.</p>
                <p style="position: absolute; bottom: 0; margin-bottom: 2em"><span class="icon-chevron-right"> <a href="{% url 'opendata' %}">I dati aperti di OpenCoesione</a></span></p>
            </section>

            <section class="span4">
                <h1 class='title'><span>Partecipazione e riuso</span></h1>

                <p style="padding-top: 1em"><img src="{% static 'img/home/partecipazioneriuso.png' %}" alt="Partecipazione e riuso"></p>

                <div id="partecipazioneriuso" class="row-fluid">
                    <div class="span6"><a href="http://www.ascuoladiopencoesione.it"><img src="{% static 'img/home/ascuoladiopencoesione.png' %}" alt="A Scuola di OpenCoesione (ASOC)"></a></div>
                    <div class="span6"><a href="http://www.monithon.it"><img src="{% static 'img/home/monithon.png' %}" alt="Monithon"></a></div>
                </div>

                <p style="position: absolute; bottom: 0; margin-bottom: 2em"><span class="icon-chevron-right"> <a href="/sollecita/">Partecipazione e riuso</a></span></p>
            </section>
        </div>

        <div class="row row-3">
            <section class="span6">
                <h1 class='title'><span>Risorse stanziate</span></h1>

                <p style="text-align: justify">
                    Le risorse dedicate alle <a href="{% url 'faq-it' %}#cosa-e-la-politica-di-coesione">politiche di coesione</a>
                    provengono dal bilancio europeo (Fondi strutturali) e nazionale (cofinanziamento nazionale
                    ai Fondi Strutturali, Fondo per lo Sviluppo e la Coesione e risorse proprie del Piano d’Azione per la Coesione)
                    e agiscono, pur con grande differenza d’intensità, in tutto il Paese per garantire al meglio
                    eguaglianza di opportunità e di qualità della vita nei diversi territori.
                </p>

                <p style="position: absolute; bottom: 0; margin-bottom: 0"><span class="icon-chevron-right"> <a href="{% url 'fonti-finanziamento' %}">Approfondisci</a></span></p>
            </section>

            <section class="span6">
                <h1 class='title'><span>Spesa Certificata UE</span></h1>

                <p style="text-align: justify">
                    La spesa complessiva certificata all'UE al 31 ottobre 2015 è pari a 35,8 miliardi di euro, con un incremento di circa 1,5 miliardi rispetto alla precedente scadenza del 31 maggio 2015, corrispondente ad una quota degli importi disponibili del 77,7%, inferiore al target nazionale originariamente fissato per questa scadenza, ma non particolarmente significativo per misurare la performance finanziaria cumulata dei programmi per cui nell’ultimo anno di attuazione, il 2015, sono invece rilevanti i pagamenti rendicontabili effettuati: al 31 ottobre 2015 il loro ammontare risulta aver già superato quello certificato all’UE avvicinandosi al valore target stabilito.
               </p>

                <p style="position: absolute; bottom: 0; margin-bottom: 0"><span class="icon-chevron-right"> <a href="{% url 'spesa-certificata' %}">Approfondisci</a></span></p>
            </section>
        </div>
    </div>

    {% add_data 'js-data' 'js/jquery.matchHeight-min.js' %}
    {% addtoblock 'js' strip %}
        <script>
            $(document).ready(function() {
                $('.row').each(function() {
                    $(this).children('section').matchHeight();
                });
            });
        </script>
    {% endaddtoblock %}
{% endblock %}

{% block area_more_content %}
    <div class="row">
        <section class="span6">
            <h1 class='title'><span>Progetti con maggiori finanziamenti</span></h1>

            <table class="table">
                {% for progetto in top_progetti %}
                    <tr>
                        <td><a href="{{ progetto.get_absolute_url }}">{{ progetto.titolo_progetto }}</a></td>
                        <td class="amount"><strong>{{ progetto.fin_totale_pubblico|intcomma }}</strong> euro</td>
                    </tr>
                {% endfor %}
            </table>
        </section>

        <section class="span6">
            <h1 class='title'><span>Ultimi progetti conclusi</span></h1>

            <ul class='spaced'>
                {% for progetto in ultimi_progetti_conclusi %}
                    <li>
                        {{ progetto.data_fine_effettiva|date:'SHORT_DATE_FORMAT' }}
                        <br/>
                        <a href="{{ progetto.get_absolute_url }}">{{ progetto.titolo_progetto }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>

{% endblock %}


