{% extends 'base.html' %}
{% load humanize %}
{% load sekizai_tags %}

{% block page_title %}Homepage{% endblock %}

{% block css_header %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}simplegeo-polymaps/examples/example.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}simplegeo-polymaps/lib/colorbrewer/colorbrewer.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map-styles.css">
{% endblock %}

{% block js_content %}
  {% addtoblock "js_script" %}
      <script type="text/javascript" src="{{ STATIC_URL }}/js/d3.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}simplegeo-polymaps/lib/protovis/protodata.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}simplegeo-polymaps/polymaps.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}simplegeo-polymaps/lib/jquery/jquery.svg.min.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}simplegeo-polymaps/lib/jquery/jquery.svgdom.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js"></script>
  {% endaddtoblock %}

    {{ block.super }}

    <!-- Script for the map (polymaps) -->
    <script type="text/javascript">
        // add commas (or dots) to long numbers
        // to improve readability
        function addCommas(nStr)
        {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }
            return x1 + x2;
        }

        // variables taken from django views
        var data = {{ data|safe }}
        var ext = {{ extent }};
        var zoomlev = {{ zoomlev|default:"null" }};
        var zoomrange = {{ zoomrange|default:"null" }};

        // polymaps object
        var po = org.polymaps;

        // Compute quintiles.
        var quantiles = {}
        quantiles['regioni'] = pv.Scale.quantile()
                .quantiles(5)
                .domain(pv.values(data['regioni']['costo']))
                .range(0, 4);
        quantiles['province'] = pv.Scale.quantile()
                .quantiles(5)
                .domain(pv.values(data['province']['costo']))
                .range(0, 4);

        var map = po.map()
                .container(document.getElementById("map").appendChild(po.svg("svg")))
                .add(po.arrow())
                .add(po.drag())
                .add(po.dblclick());


        // autocompute the zoom from the extent
        // zoom to zoomlev if specified in the django app
        var z = Math.floor(map.extent(ext).zoomBy(-0.25).zoom());
        var zrange = [z-1, z+1];
        if (zoomlev !== null) z = zoomlev;
        if (zoomrange !== null) zrange = zoomrange;
        map.zoom(z).zoomRange(zoomrange);

        map.add(po.image()
                .url(po.url("http://{S}tile.cloudmade.com"
                + "/1a1b06b230af4efdbb989ea99e9841af" // http://cloudmade.com/register
                + "/20760/256/{Z}/{X}/{Y}.png")
                .hosts(["a.", "b.", "c.", ""])));

        /*
         map.add(po.image()
         .url(po.url("{{ TILESTACHE_URL }}/osm-proxy/{Z}/{X}/{Y}.png")
         .hosts(["a.", "b.", "c.", ""]))
         )
         */

        var layers = {}
        layers['regioni'] = po.geoJson()
                .url("{{ TILESTACHE_URL }}/oc-regions/{Z}/{X}/{Y}.geojson")
                .on("load", load_regioni)
                .id("regioni");

        layers['province'] = po.geoJson()
                .url("{{ TILESTACHE_URL }}/oc-provinces/{Z}/{X}/{Y}.geojson")
                .on("load", load_province)
                .id("province");

        map.add(layers['regioni']);

        map.add(po.compass()
                .pan("none"));

        // Insert legend
        function draw_legend(element, territorio) {
            var legend = d3.select(element)
                    .insert("svg:g", ".compass")
                    .attr("id", "legenda").attr("class", "TODO")
                    .attr("transform", "translate(400,30)");


            legend.append("svg:rect")
                    .attr("x", "-20").attr("y", "-20")
                    .attr("width", "120").attr("height", "110")
                    .attr("class", "back")


            legend.append("svg:text")
                    .attr("x", "0")
                    .attr("y", "0")
                    .attr("font-size", "11")
                    .text("Milioni di €")

            // add the various blocks of the legenda
            legend.selectAll("circle")
                    .data(d3.range(0, 5))
                    .enter()
                    .append("svg:circle")
                    .attr("r", "6").attr("cx", "0")
                    .attr("class", function (d, i) {
                        return "q" + i + "-5";
                    })
                    .attr("cy", function (d, i) {
                        return (i + 1) * 14;
                    })

            legend.selectAll("text.quantiles")
                    .data(d3.range(0, 5))
                    .enter()
                    .append("svg:text")
                    .attr("class", "quantiles")
                    .attr("font-size", "11")
                    .attr("x", "10")
                    .attr("y", function (d, i) {
                        return (i + 1) * 14 + 4;
                    })
                    .text(function (d, i) {
                        return (quantiles[territorio].quantiles()[i] / 1000000).toFixed(2) + " - " +
                                (quantiles[territorio].quantiles()[i+1] / 1000000).toFixed(2);
                    });

        }

        draw_legend("#map svg", "regioni");

        function load_regioni(e) {
            console.log(e);
            for (var i = 0; i < e.features.length; i++) {
                var feature = e.features[i];
                var d = data['regioni']['costo'][feature.data.properties.cod_reg];
                var id = feature.data.properties.id;
                feature.element.setAttribute("class", "q" + quantiles['regioni'](d) + "-" + 5);
                feature.element.appendChild(po.svg("title").appendChild(
                        document.createTextNode(feature.data.properties.denominazione + ": " + addCommas(d.toFixed(0)) + " €"))
                        .parentNode);

                feature.element.setAttribute("ref", feature.data.properties.id);

                /*
                 // disable click on drag
                 feature.element.addEventListener("click", function(ev){
                 alert("http://localhost:8020/" + this.getAttribute("ref"))
                 });
                 */

            }
        }

        function load_province(e) {
            for (var i = 0; i < e.features.length; i++) {
                var feature = e.features[i];
                var d = data['province']['costo'][feature.data.properties.cod_prov];
                var id = feature.data.properties.id;
                feature.element.setAttribute("class", "q" + quantiles['province'](d) + "-" + 5);
                feature.element.appendChild(po.svg("title").appendChild(
                        document.createTextNode(feature.data.properties.denominazione + ": " + addCommas(d.toFixed(0)) + " €"))
                        .parentNode);

                feature.element.setAttribute("ref", feature.data.properties.id);

                /*
                 // disable click on drag
                 feature.element.addEventListener("click", function(ev){
                 alert("http://localhost:8020/" + this.getAttribute("ref"))
                 });
                 */

            }
        }

        map.container().setAttribute("class", "Greys");

        $('#selectors #regioni').click(function(){
            map.remove(layers['province']);
            map.add(layers['regioni']);
            map.remove(po.compass());
            map.add(po.compass()
                    .pan("none"));
            $(this).addClass("selected");
            $('#selectors #province').removeClass("selected");
            return false;
        })
        $('#selectors #province').click(function(){
            map.remove(layers['regioni']);
            map.add(layers['province']);
            map.remove(po.compass());
            map.add(po.compass()
                    .pan("none"));
            $(this).addClass("selected");
            $('#selectors #regioni').removeClass("selected");
            return false;
        })
    </script>


    <!-- Script for PIE charts (highcharts) -->
    <script type="text/javascript">
    var chart; // globally available

    var pie_chart_options = {
      chart: {
        renderTo: 'container',
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        backgroundColor: 'transparent'
      },
      title: {
        text: ''
      },
      tooltip: {
        formatter: function() {
          return '<div class="tooltip_container"><b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +' %</div>';
        },
        useHTML: true
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: false,
            color: '#000000',
            connectorColor: '#000000',
            formatter: function() {
              return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +' %';
            }
          },
          showInLegend: false

        }
      },
      series: [],
      credits: { enabled: false }
    };

    $(document).ready(function() {


      // Main topics chart
      var total = 0;
      var main_topics_options = pie_chart_options;
      main_topics_options.chart.renderTo = 'main_topics_chart';
      var series = {
        type: 'pie',
        data: []
      };
      // take values
      $('#main_topics tr').each(function(ix, line){
        values = $('a, strong', line).map( function(el, item) { return $(item).text(); });
        sub_total = parseInt(values[1].split('.').join(''))
        total += sub_total
        series.data.push([values[0], sub_total ]);
      });
      // normalize values
      $.each(series.data, function(ix, line) {
        series.data[ix][1] = series.data[ix][1] / total;
      });
      main_topics_options.series.push(series);
      chart = new Highcharts.Chart(main_topics_options);
      console.log(chart,main_topics_options);
      // End Main topics chart

      // Main types chart
      var total = 0;
      var main_types_options = pie_chart_options;
      main_types_options.chart.renderTo = 'main_types_chart';
      var series = {
        type: 'pie',
        data: []
      };
      // take values
      $('#main_types tr').each(function(ix, line){
        values = $('a, strong', line).map( function(el, item) { return $(item).text(); });
        sub_total = parseInt(values[1].split('.').join(''))
        total += sub_total
        series.data.push([values[0], sub_total ]);
      });
      // normalize values
      $.each(series.data, function(ix, line) {
        series.data[ix][1] = series.data[ix][1] / total;
      });
      main_types_options.series.push(series);
      chart = new Highcharts.Chart(main_types_options);
      console.log(chart,main_types_options);
      // End Main topics chart

    });
  </script>

{% endblock %}

{% block container %}

  <div class="container">

    <div class="row">

      <div class="span6 block-container">

        <div class="block-chart block-active">

          <strong class="title">Costo complessivo dei progetti monitorati*</strong>

          <p>{{ total_cost|intword }} <span>di euro</span></p>

          <div class="bar-vertical"></div>

        </div>

        <div class="block-chart" title="{{ cost_payments_ratio }} del totale">

          <strong class="title">Pagamenti effettuati per i progetti monitorati*</strong>

          <p>{{ total_cost_paid|intword }} <span>di euro</span></p>

          <div class="bar-vertical"><span style="height:{{ cost_payments_ratio }}"></span></div>

        </div>

        <div class="block-chart">

          <strong class="title">Numero dei progetti monitorati*</strong>

          <p>{{ total_projects|intcomma }}</p>

        </div>

      </div>
      <div>

        <div class="block-chart block-gray pull-right">
          <strong class="title">Totale risorse stanziate*</strong>
          <p>{{ total_allocated_resources|intword }} <span>di euro</span></p>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Integer dolor odio, lobortis ut pulvinar eget, tincidunt ac enim.
          Vivamus libero nisi, viverra at scelerisque nec, laoreet in nibh.
          Proin ornare urna ut velit condimentum mollis.
          Maecenas egestas lorem vitae eros vestibulum posuere.</p>

      </div>

    </div>

  </div>

  <div class="area">
    <div class="container">

      <div class="row" id="statistics">

        <div class="span6">

          <div class="row">
            <div class="span3">
              <h5>Tipologie</h5>

              <p>Le tipologie di progetti e gli importi ad esse dedicati.</p>
            </div>

            <div class="span3">
              <h5>Temi</h5>

              <p>Le tematiche che riguardano i progetti e gli importi ad esse dedicati.</p>
            </div>
          </div>

          <div class="row">
            <div class="span3">
              <div id="main_types_chart" style="width: 100%; height: 200px"></div>

              <table id="main_types" class="table table-bordered">
                {% for tipologia in tipologie_principali %}
                  <tr>
                    <td><a href="{{ tipologia.get_absolute_url }}">{{ tipologia.descrizione }}</a></td>
                    <td class="amount"><strong>{{ tipologia.costo_totale|intcomma }}</strong> euro</td>
                  </tr>
                {% endfor %}
              </table>
            </div>

            <div class="span3">


              <div id="main_topics_chart" style="width: 100%; height: 200px"></div>

              <table id="main_topics" class="table table-bordered">
                {% for tema in temi_principali %}
                  <tr>
                    <td><a href="{{ tema.get_absolute_url }}">{{ tema.descrizione }}</a></td>
                    <td class="amount"><strong>{{ tema.costo_totale|intcomma }}</strong> euro</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>

        </div>

          <div class="span6">
                <div id="selectors">
                    <a href="#" id="regioni" class="selected">regioni</a> | <a href="#" id="province">province</a>
                </div>
                <div id="map"></div>
                <span id="copy">
                  &copy; 2010
                  <a href="http://www.cloudmade.com/">CloudMade</a>,
                  <a href="http://www.openpolis.it/">Openpolis</a>,
                  <a href="http://creativecommons.org/licenses/by-sa/2.0/">CCBYSA</a>.
                  Colors by <a href="http://colorbrewer.org/">Cynthia Brewer</a>.
                </span>
        </div>
      </div>

    </div>
  </div>

  <div class="container">

    <div class="row">

      <section class="span6">
        <h1 class='title'><span>Progetto in evidenza</span></h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Integer dolor odio, lobortis ut pulvinar eget, tincidunt ac enim.
          Vivamus libero nisi, viverra at scelerisque nec, laoreet in nibh.
          Proin ornare urna ut velit condimentum mollis.
          Maecenas egestas lorem vitae eros vestibulum posuere.</p>

        <p><i class="icon-chevron-right"></i> <a href="#">Vedi gli altri progetti in evidenza</a></p>
      </section>
      <section class="span6">
        <h1 class='title'><span>Progetti con più risorse</span></h1>

        <table class="table">
          {% for progetto in top_progetti_per_costo %}
          <tr>
            <td><a href="{{ progetto.get_absolute_url }}">{{ progetto.titolo_progetto|title }}</a></td>
            <td class="amount"><strong>{{ progetto.costo|intcomma }}</strong> euro</td>
          </tr>
          {% endfor %}
        </table>

        <p><i class="icon-chevron-right"></i> <a href="#">Vedi gli altri progetti con più risorse</a></p>
      </section>

    </div>

  </div>

  <hr>

  <div class="container">
    <div class="row">
      <section class="span3">

        <div class="tabbable boxed"> <!-- Only required for left/right tabs -->

          <h1 class='title'>
            <div>Soggetti più coinvolti</div>
          </h1>

          <ul class="nav nav-tabs">
            <li class="active"><a href="#project_receivers" data-toggle="tab">Destinatari</a></li>
            <li><a href="#project_makers" data-toggle="tab">Realizzatori</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="project_receivers">
              <ul>
                <li><a href="#">Nome destinatario 1</a></li>
                <li><a href="#">Nome destinatario 2</a></li>
                <li><a href="#">Nome destinatario 3</a></li>
              </ul>
            </div>
            <div class="tab-pane" id="project_makers">
              <ul>
                <li><a href="#">Nome destinatario 4</a></li>
                <li><a href="#">Nome destinatario 5</a></li>
                <li><a href="#">Nome destinatario 6</a></li>
              </ul>
            </div>
          </div>

          <p class="content"><i class="icon-chevron-right"></i> <a href="#">Vedi la lista dei soggetti coinvolti</a></p>

          <hr>

          <form class="form-search content">
            <h5>Cerca tra i soggetti</h5>
            <div class="input-append">
              <input type="text" class="input-medium search-query" placeholder="Inserisci una parola"><button type="submit" class="btn"><i class="icon-search"></i></button>
            </div>
          </form>



        </div>

      </section>

      <section class="span3">
        <h1 class='title'><span>Ultimi progetti avviati</span></h1>

        <ul class="spaced">
          {% for progetto in ultimi_progetti_avviati %}
            <li><a href="{{ progetto.get_absolute_url }}">{{ progetto.titolo_progetto }}</a></li>
          {% endfor %}
        </ul>

      </section>


      <section class="span3">
        <h1 class='title'><span>Ultimi progetti conclusi</span></h1>

        <ul class='spaced'>
          {% for progetto in ultimi_progetti_conclusi %}
            <li><a href="{{ progetto.get_absolute_url }}">{{ progetto.titolo_progetto }}</a></li>
          {% endfor %}
        </ul>

      </section>

    </div>
  </div>


  <div class="area">
    <div class="container">
      <div class="row">

        <section class="span6">
          <h1 class="title"><span>Programmazione</span></h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Integer dolor odio, lobortis ut pulvinar eget, tincidunt ac enim.
            Vivamus libero nisi, viverra at scelerisque nec, laoreet in nibh.
            Proin ornare urna ut velit condimentum mollis.
            Maecenas egestas lorem vitae eros vestibulum posuere.</p>

          <p><i class="icon-chevron-right"></i> <a href="#">Vedi altro</a></p>
        </section>
        <section class="span6">
          <h1 class='title'><span>Risorse</span></h1>

          <table class="table table-bordered">
            <tr>
              <td><a href="#">Titolo progetto</a></td>
              <td class="amount"><strong>44.150.200</strong> euro</td>
            </tr>
            <tr>
              <td><a href="#">Titolo progetto</a></td>
              <td class="amount"><strong>44.150.200</strong> euro</td>
            </tr>
            <tr>
              <td><a href="#">Titolo progetto</a></td>
              <td class="amount"><strong>44.150.200</strong> euro</td>
            </tr>
          </table>

          <p><i class="icon-chevron-right"></i> <a href="#">Vedi altro</a></p>
        </section>

      </div>
    </div>
  </div>

{% endblock %}
