{% load staticfiles %}

<div class="container">
    <div id="menu" class="row">
        <div class="span3">
            <h1>OpenCoesione</h1>
            <p>
                Iniziativa di open government sulle politiche di coesione in Italia con lo scopo di promuovere
                l'efficacia degli interventi attraverso la pubblicazione dei dati sui progetti
                finanziati e una diffusa partecipazione civica.
            </p>
            <ul class="list-hypen">
                <li class="bi-lingual">
                    <a href="/progetto/">Cos'è</a>
                    <br/>&nbsp;
                    <em><a href="/progetto/en/">About <img src="{% static 'img/flag-uk.png' %}" alt="english version" /></a></em>
                </li>
                <li><a href="/team/">Il team</a></li>
                <li><a href="/gruppo-tecnico/">Il Gruppo Tecnico</a></li>
                <li><a href="/iniziative-internazionali/">Iniziative internazionali</a>
                <li><a href="/partnership/">Partnership</a></li>
                <li><a href="/politiche-di-coesione-e-trasparenza/">Politiche di coesione e trasparenza</a></li>
                <li><a href="/note-legali/">Note legali</a></li>
                <li><a href="/informativa_privacy/">Informativa sulla privacy</a></li>
                <li><a href="/contatti/">Contatti</a></li>
            </ul>
        </div>

        <div class="span3">
            <h1>Materiali</h1>
            <p>
                Documenti, video, storie, articoli realizzati a partire dai dati di OpenCoesione.
                Pillole di OpenCoesione con analisi e spunti di riflessione.
                Domande frequenti (FAQ), newsletter e aggiornamenti su eventi e iniziative.
            </p>
            <ul class="list-hypen">
                <li><a href="{% url 'pillole' %}">Pillole di OpenCoesione</a></li>
                <li><a href="/scopri/">Scopri: documenti, video e webinar</a></li>
                <li><a href="{% url 'newsletter' %}">Segui: newsletter</a></li>
                <li><a href="/sollecita/">Sollecita: partecipazione e riuso</a></li>
                <li><a href="/rassegna-stampa/">Dicono di noi</a></li>
                <li><a href="/opencoesione-si-valuta/">OpenCoesione si valuta</a></li>
                <li><a href="{% url 'indicatori-accesso-it' %}">Indicatori di accesso a OpenCoesione</a></li>
                <li class="bi-lingual">
                    <a href="{% url 'faq-it' %}">Domande frequenti</a>
                    <br/>&nbsp;
                    <em><a href="{% url 'faq-en' %}">FAQ <img src="{% static 'img/flag-uk.png' %}" alt="english version" /></a></em>
                </li>
            </ul>
        </div>

        <div class="span3">
            <h1>Open data</h1>
            <p>
                Per open data (“dati aperti”) si intendono informazioni accessibili online,
                disponibili in un linguaggio macchina utilizzabile da comuni programmi per elaboratore,
                associati a metadati e liberamente riutilizzabili dagli utenti.
            </p>
            <ul class="list-hypen">
                <li><a href="{% url 'opendata' %}">Scarica gli Open Data</a></li>
                <li><a href="{% url 'api-faq' %}">Le API di OpenCoesione</a></li>
                <li><a href="/licenza/">Licenza</a></li>
            </ul>
        </div>
    </div>

    <div class="row" style="margin-top: 20px">
        <div class="span4">
            {% comment %}<a class="flag flag-dps" title="Dipartimento per lo Sviluppo e la Coesione Economica">Dipartimento per la Coesione e lo Svilluppo Economico</a>{% endcomment %}
            <span class="flag flag-dpc" title="Presidenza del Consiglio dei Ministri - Dipartimento per le Politiche di Coesione">Presidenza del Consiglio dei Ministri - Dipartimento per le Politiche di Coesione</span>
        </div>
        <div class="span4">
            <div class="data-disclaimer">In collaborazione con:</div>
            <div style="overflow: hidden">
                <a href="http://www.agenziacoesione.gov.it/" class="flag flag-act" title="Agenzia per la Coesione Territoriale">Agenzia per la Coesione Territoriale</a>
                <a href="http://www.rgs.mef.gov.it/" class="flag flag-rgs" title="MEF - Ragioneria Generale dello Stato">MEF - Ragioneria Generale dello Stato</a>
                {% comment %}<a href="http://www.programmazioneeconomica.gov.it/" class="flag flag-cipe" title="Comitato Interministeriale per la Programmazione Economica">Comitato Interministeriale per la Programmazione Economica</a>{% endcomment %}
            </div>
        </div>
        <div class="span4">
            <div class="data-disclaimer">Portale realizzato con il cofinanziamento dell’Unione Europea</div>
            <div style="overflow: hidden">
                <a href="http://ec.europa.eu/regional_policy/index_it.cfm" class="flag flag-ue" title="Unione Europea - Fondo Europeo di Sviluppo Regionale">Unione Europea - Fondo Europeo di Sviluppo Regionale</a>
                <a href="http://www.agenziacoesione.gov.it/it/pongat/programma/" class="flag flag-pongat" title="PON Governance e Assistenza Tecnica">PON Governance e Assistenza Tecnica</a>
            </div>
        </div>
    </div>
</div>
