<div class="container">
  <div class="row">
    <div class="span3">
      <h1>OpenCoesione</h1>

      <p>
        Le informazioni qui pubblicate hanno lo scopo di promuovere il dibattito sulle politiche di coesione,
        sulla destinazione dei fondi, sull’efficacia degli interventi,
        sull’effetto prodotto per la qualità di vita dei cittadini.
      </p>
      <ul class="list-hypen">
        <li><a href="/progetto/">Il progetto</a> | <a href="/progetto/en/">About <img src="{{ STATIC_URL }}img/flag-uk.png" alt="english version"></a></li>
        <li><a href="/team/">Il team</a></li>
        <li><a href="/gruppo-tecnico/">Il gruppo tecnico</a></li>
        <li><a href="/iniziative-internazionali/">Iniziative internazionali</a> | <a href="/international-events/">International events <img src="{{ STATIC_URL }}img/flag-uk.png" alt="english version"></a></li>
        <li><a href="{% url 'pillole' %}">Pillole di OpenCoesione</a></li>
        <li><a href="/termini-e-condizioni/">Termini e condizioni</a></li>
        <li><a href="/contatti/">Contatti</a></li>
      </ul>
    </div>
    <div class="span3">
      <h1>Materiali</h1>

      <p>
        Documenti, video, storie, articoli e FAQ su OpenCoesione.
        Come iscriversi alla newsletter ed essere aggiornati su eventi e iniziative.
      </p>
      <ul class="list-hypen">
        <li><a href="/scopri-documenti-video/">Scopri OpenCoesione: documenti e video</a></li>
        <li><a href="/scopri-newsletter-eventi/">Scopri OpenCoesione: newsletter ed eventi</a></li>
        <li><a href="/sollecita-storie/">Sollecita OpenCoesione: storie a partire dai dati</a></li>
        <li><a href="/rassegna-stampa/">Cosa dicono di OpenCoesione</a></li>
        <li><a href="/faq/">Domande frequenti</a> | <a href="/faq/en/">FAQ <img src="{{ STATIC_URL }}img/flag-uk.png" alt="english version"></a></li>
      </ul>
    </div>
    <div class="span3">
      <h1>Open data</h1>

      <p>
        Per open data (letteralmente “dati aperti”) si intendono informazioni accessibili online,
          disponibili in un linguaggio macchina utilizzabile da comuni programmi per elaboratore,
          associati a metadati e liberamente riutilizzabili dagli utenti.
      </p>
      <ul class="list-hypen">
        <li><a href="{% url 'opendata' %}">Scarica gli Open Data</a></li>
        <li><a href="{% url 'api-faq' %}">Le API di OpenCoesione</a></li>
        <li><a href="/accessi/">Accessi al portale OpenCoesione</a></li>
        <li><a href="/licenza/">Licenza</a></li>
        <li><a href="/riuso/">Esperienze di riuso dei dati di OpenCoesione</a></li>
      </ul>
    </div>
    <div class="span3">
      <br>
      <div class="data-disclaimer">I dati sui progetti sono forniti da:</div>
      <br>
      <a href="http://www.rgs.mef.gov.it/" class="flag flag-rgs"></a>
      <br>
      <a href="http://www.cipecomitato.it/" class="flag flag-cipe" style="margin-bottom: 1em;"></a>
      <br><br><br>
      <div class="data-disclaimer">Portale realizzato con il <br>cofinanziamento dell’Unione Europea</div>
      <br>
      <a href="http://ec.europa.eu/regional_policy/index_it.cfm" class="flag flag-ue" title="Unione Europea"></a>
      <br>
      <a href="http://www.dps.tesoro.it/QSN/Pon_governance/ml.asp" class="flag pon-gat" title="Pon GAT"></a>
    </div>
  </div>

</div>
