{% load list_to_columns %}
{% list_to_columns lista_regioni as colonne_regioni 3 %}

<nav class="navbar navbar-full-width">
  <h2 class="hidden"><a name="menu"></a>Navigazione del sito</h2>
  <div class="navbar-inner">
    <div class="container">
      <form method="get" action="{% if soggetto %}{% url 'soggetti_search' %}{% elif progetto %}{% url 'progetti_search' %}{% else %}{% endif %}" class="navbar-search form-search pull-right">
        <select id="menu-search-type-selector" name="" class="input-small">
            <option value="progetti"{% if progetto %} selected="selected"{% endif %}>Progetti</option>
            <option value="soggetti"{% if soggetto %} selected="selected"{% endif %}>Soggetti</option>
            <option value="territori">Territori</option>
        </select>
        <div class="input-append" style="margin-right: 5px;">
          <input id="menu-search" type="text"
                 class="input-medium search-query"
                 name="q" {% if form.q.value %}value="{{ form.q.value }}"{% endif %}
                 placeholder="Cerca tra i {% if soggetto %}soggetti{% else %}progetti{% endif %}" /><input
              id="menu-search-territori" type="text" style="display:none"
                 class="input-medium search-query"
                 placeholder="Cerca tra i territori" /><button type="submit" class="btn"><i class="icon-search"></i></button>
        </div>
      </form>
      <ul class="nav">
        <li class="dropdown{% if progetto or not soggetto and tema or tipologia or territorio   %} active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Progetti <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="submenu">
              <a href="#">Natura</a>
              <ul class="dropdown-menu">
                <li class="clearfix">
                  <ul>
                    {% for tipologia in lista_tipologie_principali %}
                      <li><a href="{{ tipologia.get_absolute_url }}">{{ tipologia.short_label }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
            </li>
            <li class="submenu">
              <a href="#">Temi</a>
              <ul class="dropdown-menu">
                <li class="clearfix">
                  <ul>
                    {% for temi in lista_temi_principali %}
                      <li><a href="{{ temi.get_absolute_url }}">{{ temi.short_label }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
            </li>
            <li class="submenu">
              <a href="#">Territori</a>
              <ul class="dropdown-menu">
                <li class="clearfix" style="width:500px;">
                  <ul style="width:30%">
                    {% for regione in colonne_regioni.0 %}
                      <li><a href="{{ regione.get_absolute_url }}">{{ regione|title }}</a></li>
                    {% endfor %}
                  </ul>
                  <ul style="width:30%">
                    {% for regione in colonne_regioni.1 %}
                      <li><a href="{{ regione.get_absolute_url }}">{{ regione|title }}</a></li>
                    {% endfor %}
                  </ul>
                  <ul style="width:40%">
                    {% for regione in colonne_regioni.2 %}
                      <li><a href="{{ regione.get_absolute_url }}">{{ regione|title }}</a></li>
                    {% endfor %}
                    <li><a href="{% url 'territori_nazionale' %}">Ambito nazionale</a></li>
                    <li><a href="{% url 'territori_estero' %}">Ambito estero</a></li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li>
                  <form class="form-search content" method="get">
                    <h5>Cerca una provincia o un comune</h5>
                    <div class="input-append">
                      <input id="city" type="text" class="input-large search-query"
                             placeholder="Inserisci il nome"><button type="submit" class="btn"><i class="icon-search"></i></button>
                    </div>
                  </form>
                </li>
              </ul>
            </li>
            <li class="submenu" style="position: relative;">
              <a href="#">Programmi UE</a>
              <ul class="dropdown-menu" style="padding-right: 0;">
                <li class="submenu">
                  <a href="#">Programmi UE FESR</a>
                  <ul class="dropdown-menu">
                    <li class="clearfix">
                      <ul>
                        {% for programma in lista_programmi.fesr %}
                            <li><a href="{% url 'progetti_programma' programma.codice %}">{{ programma.descrizione|cut:"FESR " }}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="submenu">
                  <a href="#">Programmi UE FSE</a>
                  <ul class="dropdown-menu">
                      <li class="clearfix">
                          <ul>
                              {% for programma in lista_programmi.fse %}
                                  <li><a href="{% url 'progetti_programma' programma.codice %}">{{ programma.descrizione|cut:"FSE " }}</a></li>
                              {% endfor %}
                          </ul>
                      </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="submenu" style="position:relative;">
              <a href="#">Programmi FSC</a>
              <ul class="dropdown-menu">
                <li class="clearfix">
                  <ul>
                    {% for programma in lista_programmi.fsc %}
                        <li><a href="{% url 'progetti_programma_linea' programma.codice %}">{{ programma.descrizione }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
            </li>

            <li class="submenu" style="position:relative;">
              <a href="#">Programmi PAC</a>
              <ul class="dropdown-menu">
                <li class="clearfix">
                  <ul>
                    {% for programma in lista_programmi.pac %}
                        <li><a href="{% url 'progetti_programma_linea' programma.codice %}">{{ programma.descrizione }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
            </li>

          </ul>
        </li>



        <li class="dropdown violet{% if soggetto %} active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Soggetti <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'soggetti_search' %}?q=&selected_facets=ruolo:1">Programmatore</a></li>
            <li><a href="{% url 'soggetti_search' %}?q=&selected_facets=ruolo:2">Attuatore</a></li>
          </ul>
        </li>
        <li class="dropdown brown{% if risorsa %} active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Risorse <b class="caret"></b></a>
          <ul class="dropdown-menu" style="min-width: 215px;">
            <li><a href="/fonti-di-finanziamento/">Fonti di finanziamento</a></li>
            <li><a href="/pac/">Piano di azione per la coesione</a></li>
            <li><a href="/spesa-certificata/">Spesa certificata UE</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>