{% load list_to_columns %}
{% list_to_columns lista_regioni as colonne_regioni 3 %}

<nav class="navbar navbar-full-width">
  <h2 class="hidden"><a name="menu"></a>Navigazione del sito</h2>
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav span6">
        <li class="dropdown{% if progetto or not soggetto and tema or tipologia or territorio   %} active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Progetti <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="submenu">
              <a href="#">Natura</a>
              <ul class="dropdown-menu">
                <li class="clearfix">
                  <ul>
                    {% for tipologia in lista_tipologie_principali %}
                      <li><a href="{{ tipologia.get_absolute_url }}">{{ tipologia.short_label }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
            </li>
            <li class="submenu">
              <a href="#">Temi</a>
              <ul class="dropdown-menu">
                <li class="clearfix">
                  <ul>
                    {% for temi in lista_temi_principali %}
                      <li><a href="{{ temi.get_absolute_url }}">{{ temi.short_label }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
            </li>
            <li class="submenu">
              <a href="#">Territori</a>
              <ul class="dropdown-menu">
                <li class="clearfix" style="width:500px;">
                  <ul style="width:30%">
                    {% for regione in colonne_regioni.0 %}
                      <li><a href="{{ regione.get_absolute_url }}">{{ regione|title }}</a></li>
                    {% endfor %}
                  </ul>
                  <ul style="width:30%">
                    {% for regione in colonne_regioni.1 %}
                      <li><a href="{{ regione.get_absolute_url }}">{{ regione|title }}</a></li>
                    {% endfor %}
                  </ul>
                  <ul style="width:40%">
                    {% for regione in colonne_regioni.2 %}
                      <li><a href="{{ regione.get_absolute_url }}">{{ regione|title }}</a></li>
                    {% endfor %}
                    <li><a href="{% url territori_nazionale %}">Ambito nazionale</a></li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li>
                  <form class="form-search content" method="get">
                    <h5>Cerca una provincia o un comune</h5>
                    <div class="input-append">
                      <input id="city" type="text" class="input-large search-query"
                             placeholder="Inserisci il nome"><button type="submit" class="btn"><i class="icon-search"></i></button>
                    </div>
                  </form>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown violet{% if soggetto %} active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Soggetti <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url soggetti_search %}?q=&selected_facets=ruolo:1">Programmatore</a></li>
            <li><a href="{% url soggetti_search %}?q=&selected_facets=ruolo:2">Attuatore</a></li>
          </ul>
        </li>
        <li class="dropdown brown{% if risorsa %} active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Risorse <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/fonti-di-finanziamento/">Fonti di finanziamento</a></li>
            <li><a href="/pac/">Piano di azione coesione</a></li>
          </ul>
        </li>

      </ul>

        <form method="get" action="{% if soggetto %}{% url soggetti_search %}{% else %}{% url progetti_search %}{% endif %}" class="navbar-search form-search pull-right">
          <div class="input-append">
            <select name="" class="input-medium">
              <option value="progetti"{% if progetto %} selected="selected"{% endif %}>Progetti</option>
              <option value="soggetti"{% if soggetto %} selected="selected"{% endif %}>Soggetti</option>
            </select>
            <input type="text"
                   class="input-medium search-query"
                   name="q" {% if form.q.value %}value="{{ form.q.value }}"{% endif %}
                   placeholder="Cerca tra i {% if soggetto %}soggetti{% else %}progetti{% endif %}" /><button type="submit" class="btn"><i class="icon-search"></i></button>
          </div>
        </form>
    </div>
  </div>
</nav>