{% load sekizai_tags list_to_columns %}

{% add_data 'js-data' 'js/bootstrap-dropdown.js' %}
{% add_data 'js-data' 'js/oc-menu.js' %}
{% add_data 'js-data' 'js/oc-territori-autocomplete.js' %}

{% list_to_columns lista_regioni as colonne_regioni 3 %}

<nav class="navbar navbar-full-width">
    <h2 id="menu" class="hidden">Navigazione del sito</h2>
    <div class="navbar-inner">
        <div class="container">
            <form method="get" action="{% if soggetto %}{% url 'soggetti_search' %}{% else %}{% url 'progetti_search' %}{% endif %}" class="navbar-search form-search pull-right">
                <select id="menu-search-type-selector" name="" class="input-small">
                    <option value="progetti"{% if progetto %} selected="selected"{% endif %}>Progetti</option>
                    <option value="soggetti"{% if soggetto %} selected="selected"{% endif %}>Soggetti</option>
                    <option value="territori">Territori</option>
                </select>
                <div class="input-append" style="margin-right: 5px">
                    {% spaceless %}
                        <input id="menu-search" type="text" class="input-medium search-query" name="q"{% if form.q.value %} value="{{ form.q.value }}"{% endif %} placeholder="Cerca tra i {% if soggetto %}soggetti{% else %}progetti{% endif %}" />
                        <input id="menu-search-territori" type="text" class="input-medium search-query" placeholder="Cerca tra i territori" style="display: none" />
                        <button type="submit" class="btn"><i class="icon-search"></i></button>
                    {% endspaceless %}
                </div>
            </form>

            <ul class="nav">
                <li class="dropdown{% if progetto or natura or tema or territorio or programma or gruppo_programmi %}{% if not soggetto and not risorsa %} active{% endif %}{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Progetti <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="submenu" style="position: relative">
                            <a href="#">Natura</a>
                            <ul class="dropdown-menu">
                                <li class="clearfix">
                                    <ul>
                                        {% for c in lista_classificazioni_principali %}
                                            <li><a href="{{ c.get_absolute_url }}">{{ c.short_label }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="submenu" style="position: relative">
                            <a href="#">Temi</a>
                            <ul class="dropdown-menu">
                                <li class="clearfix">
                                    <ul>
                                        {% for t in lista_temi_principali %}
                                            <li><a href="{{ t.get_absolute_url }}">{{ t.short_label }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="submenu" style="position: relative">
                            <a href="#">Territori</a>
                            <ul class="dropdown-menu">
                                <li class="clearfix" style="width: 500px">
                                    <ul style="width: 30%">
                                        {% for regione in colonne_regioni.0 %}
                                            <li><a href="{{ regione.get_absolute_url }}">{{ regione|title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    <ul style="width: 30%">
                                        {% for regione in colonne_regioni.1 %}
                                            <li><a href="{{ regione.get_absolute_url }}">{{ regione|title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    <ul style="width: 40%">
                                        {% for regione in colonne_regioni.2 %}
                                            <li><a href="{{ regione.get_absolute_url }}">{{ regione|title }}</a></li>
                                        {% endfor %}
                                        <li><a href="{% url 'territori_nazionale' %}">Ambito nazionale</a></li>
                                        <li><a href="{% url 'territori_estero' %}">Ambito estero</a></li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <form class="form-search content" method="get">
                                        <h5>Cerca una provincia o un comune</h5>
                                        <div class="input-append">
                                            {% spaceless %}
                                                <input id="city" type="text" class="input-large search-query" placeholder="Inserisci il nome">
                                                <button type="submit" class="btn"><i class="icon-search"></i></button>
                                            {% endspaceless %}
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <li class="submenu" style="position: relative">
                            <a href="#">Programmi</a>
                            <ul class="dropdown-menu" style="padding-right: 0">
                                <li class="submenu">
                                    <a href="#">Programmi UE FESR</a>
                                    <ul class="dropdown-menu">
                                        <li class="clearfix">
                                            <ul>
                                                <li><a href="{% url 'progetti_programmi' 'ue-fesr' %}">Tutti</a></li>
                                                <li class="divider"></li>
                                                {% for programma in lista_programmi.fesr %}
                                                    <li><a href="{% url 'progetti_programma' programma.codice %}">{{ programma.descrizione|cut:'FESR ' }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="#">Programmi UE FSE</a>
                                    <ul class="dropdown-menu">
                                        <li class="clearfix">
                                            <ul>
                                                <li><a href="{% url 'progetti_programmi' 'ue-fse' %}">Tutti</a></li>
                                                <li class="divider"></li>
                                                {% for programma in lista_programmi.fse %}
                                                    <li><a href="{% url 'progetti_programma' programma.codice %}">{{ programma.descrizione|cut:'FSE ' }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="#">Programmi FSC</a>
                                    <ul class="dropdown-menu">
                                        <li class="clearfix">
                                            <ul>
                                                <li><a href="{% url 'progetti_programmi' 'fsc' %}">Tutti</a></li>
                                                <li class="divider"></li>
                                                <li class="submenu">
                                                    <a href="#">Programmi Attuativi Regionali</a>
                                                    <ul class="dropdown-menu">
                                                        <li class="clearfix">
                                                            <ul>
                                                                <li><a href="{% url 'progetti_programmi' 'fsc-1' %}">Tutti</a></li>
                                                                {% for programmi in lista_programmi.fsc_1 %}
                                                                    {% if programmi %}
                                                                        <li class="divider"></li>
                                                                        {% for pdesc, pcode in programmi.items %}
                                                                            <li><a href="{% url 'progetti_programma' pcode %}">{{ pdesc }}</a></li>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                {% comment %}
                                                <li class="submenu">
                                                    <a href="#">Intese Istituzionali di Programma</a>
                                                    <ul class="dropdown-menu">
                                                        <li class="clearfix">
                                                            <ul>
                                                                <li><a href="{% url 'progetti_programmi' 'fsc-2' %}">Tutti</a></li>
                                                                {% for programmi in lista_programmi.fsc_2 %}
                                                                    {% if programmi %}
                                                                        <li class="divider"></li>
                                                                        {% for pdesc, pcode in programmi.items %}
                                                                            <li><a href="{% url 'progetti_programma' pcode %}">{{ pdesc }}</a></li>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                {% endcomment %}
                                                <li class="submenu">
                                                    <a href="#">Altri Programmi FSC</a>
                                                    <ul class="dropdown-menu">
                                                        <li class="clearfix">
                                                            <ul>
                                                                <li><a href="{% url 'progetti_programmi' 'fsc-3' %}">Tutti</a></li>
                                                                {% for programmi in lista_programmi.fsc_3 %}
                                                                    {% if programmi %}
                                                                        <li class="divider"></li>
                                                                        {% for pdesc, pcode in programmi.items %}
                                                                            <li><a href="{% url 'progetti_programma' pcode %}">{{ pdesc }}</a></li>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="#">Programmi PAC</a>
                                    <ul class="dropdown-menu">
                                        <li class="clearfix">
                                            <ul>
                                                {% for pdesc, pcode in lista_programmi.pac_pac_m.items %}
                                                    <li><a href="{% url 'progetti_programma' pcode %}">{{ pdesc }}</a></li>
                                                {% endfor %}
                                                <li class="divider"></li>
                                                {% for pdesc, pcode in lista_programmi.pac_pac_r.items %}
                                                    <li><a href="{% url 'progetti_programma' pcode %}">{{ pdesc }}</a></li>
                                                {% endfor %}
                                                <li class="divider"></li>
                                                {% for pdesc, pcode in lista_programmi.pac_fsc.items %}
                                                    <li><a href="{% url 'progetti_search'%}?q=&selected_facets=fonte_fin:{{ pcode }}&selected_facets=fonte:PAC">Progetti PAC nel {{ pdesc }}</a></li>
                                                {% endfor %}
                                                <li class="divider"></li>
                                                {% for pdesc, pcode in lista_programmi.pac_fesr.items %}
                                                    <li><a href="{% url 'progetti_search'%}?q=&selected_facets=fonte_fin:{{ pcode }}&selected_facets=fonte:PAC">Progetti PAC nel {{ pdesc }}</a></li>
                                                {% endfor %}
                                                <li class="divider"></li>
                                                {% for pdesc, pcode in lista_programmi.pac_fse.items %}
                                                    <li><a href="{% url 'progetti_search'%}?q=&selected_facets=fonte_fin:{{ pcode }}&selected_facets=fonte:PAC">Progetti PAC nel {{ pdesc }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown violet{% if soggetto %} active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Soggetti <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'soggetti_search' %}?q=&selected_facets=ruolo:1">Programmatore</a></li>
                        <li><a href="{% url 'soggetti_search' %}?q=&selected_facets=ruolo:2">Attuatore</a></li>
                    </ul>
                </li>
                <li class="dropdown brown{% if risorsa %} active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Risorse <b class="caret"></b></a>
                    <ul class="dropdown-menu" style="min-width: 215px">
                        <li><a href="{% url 'fonti-finanziamento' %}">Fonti di finanziamento</a></li>
                        <li><a href="{% url 'pac' %}">Piano di azione per la coesione</a></li>
                        <li><a href="{% url 'spesa-certificata' %}">Spesa certificata UE</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
