{% if date_choices or tag_choices %}
    <div class="flat_content">
        <h4><a href="{% url base_url %}">{{ all_text }}</a></h4>

        {% if date_choices %}
            <h4>Filtra per data di pubblicazione</h4>
            <ul>
                {% for date_choice in date_choices %}
                    <li>
                        {% if date_choice.selected %}
                            {{ date_choice.name }}
                        {% else %}
                            <a href="{% url base_url %}?date={{ date_choice.param }}">{{ date_choice.name }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if tag_choices %}
            <h4>Filtra per tag</h4>
            <ul>
                {% for tag_choice in tag_choices %}
                    <li>
                        {% if tag_choice.selected %}
                            {{ tag_choice.name }}
                        {% else %}
                            <a href="{% url base_url %}?tag={{ tag_choice.param }}">{{ tag_choice.name }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endif %}
