{% load staticfiles sekizai_tags %}

{% add_data 'js-data' 'leaflet-dist/leaflet.js' %}
{% add_data 'js-data' 'js/jquery-loader.js' %}
{% add_data 'js-data' 'js/oc-maps.js' %}
{% add_data 'js-data' 'js/oc-map-progetto.js' %}

{% addtoblock 'css' strip %}
    <link rel="stylesheet" href="{% static 'leaflet-dist/leaflet.css' %}" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static 'leaflet-dist/leaflet.ie.css' %}" />
    <![endif]-->
    <link rel="stylesheet" href="{% static 'css/map-styles.css' %}" />
    <style type="text/css">
        .map-location-active { text-decoration: underline; }
    </style>
{% endaddtoblock %}

<div style="float: right; width: 46%; margin-left: 10px; margin-right: 10px">
    <h1 class="title" id="map-header">
        <div>
            Territorio
            {% for territorio in territori %}
                <a href="{{ territorio.get_absolute_url }}" class="map-location" data-coords="{{ territorio.geom.centroid.coords|join:',' }}">{{ territorio.denominazione }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
    </h1>

    <div id="map" style="height: 250px; width: 100%; margin-bottom: 0.75em"></div>
</div>
