{% extends 'base_two_columns.html' %}
{% load sekizai_tags %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="flat_content" id="faq_list">
        <h1>{{ title }}</h1>
        <hr>

        {% for object in object_list %}
            <div id="{{ object.slug }}" class="faq">
                <h3 class="faq-domanda"><a href="#{{ object.slug }}">{{ object.domanda }} <i class="icon-chevron-down"></i></a></h3>
                <div class="faq-risposta">{{ object.risposta|safe }}</div>
            </div>
        {% endfor %}
    </div>

    {% addtoblock 'js_script' %}
        <script type='text/javascript'>//<![CDATA[
            $(window).load(function() {
                jQuery('.faq-risposta').hide();
                jQuery('.faq-domanda').css('cursor', 'pointer').on('click', function() {
                    var self = jQuery(this);
                    jQuery('.faq-risposta').each(function() {
                        jQuery(this).prev().is(self) ? jQuery(this).toggle() : jQuery(this).hide();
                    });
                    if (self.next().is(':visible')) {
                        location.href = '#' + self.closest('.faq').attr('id');
                    }
                });

                $('#faq_list').find(location.hash + '.faq:first .faq-domanda').trigger('click');
            });//]]>
        </script>
    {% endaddtoblock %}
{% endblock %}
