{% extends 'base.html' %}

{% load staticfiles sekizai_tags %}

{% block page_title %}Focus scuole{% endblock %}

{% block container %}
    <div class="area">
        <div id="api_result" class="container"></div>
    </div>

    <!-- evodevo api call -->
    {% add_data 'js-data' 'js/amcharts/amcharts.js' %}
    {% add_data 'js-data' 'js/amcharts/pie.js' %}

    {% add_data 'js-data' 'js/ammap/ammap.js' %}
    {% add_data 'js-data' 'js/ammap/italy.js' %}
    {% add_data 'js-data' 'js/datatables/datatables.min.js' %}


    {% addtoblock 'css' strip %}
      <link rel="stylesheet" href="{% static 'js/ammap/ammap.css' %}" />
      <link rel="stylesheet" href="{% static 'js/datatables/datatables.min.css' %}" />
    {% endaddtoblock %}


    {% addtoblock 'js' strip %}
        <script>
            $(document).ready(function() {
                $.getJSON('{{ MIUR_EXT_API_URL }}indicatori_aggregati', function(data) {
                    var items = [];
                    $("#api_result").html(data.result.html);
                    eval(data.result.js);
                });
            });
        </script>
    {% endaddtoblock %}

{% endblock %}
