{% extends 'base_two_columns.html' %}

{% load sekizai_tags humanize %}

{% block page_title %}Fonti di finanziamento 2014-2020{% endblock %}

{% block content %}
    <div class="flat_content">
        <h1>Fonti di finanziamento 2014-2020</h1>

        <p>
            Le politiche per la coesione relative al ciclo di programmazione 2014-2020 sono finanziate sia da fondi europei, ai quali è associato un co-finanziamento nazionale, sia da fondi nazionali.
            La principale fonte di risorse comunitarie è rappresentata dai Fondi Strutturali e di Investimento Europeo (SIE) che,
            rispetto al ciclo 2007-2013, includono anche le risorse per lo sviluppo rurale e per la politica marittima e della pesca.
        </p>
        <p>
            Complessivamente, le risorse finanziarie disponibili riferite al 2014-2020 ammontano a 140,6 miliardi di euro per il settennio e costituiscono un universo in parte ancora in fase di programmazione.
            La visualizzazione dinamica consente di esplorare le principali dimensioni in termini di contenitori programmatici, risorse nazionali ed europee e aree territoriali di riferimento.
            Ulteriori dettagli sono contenuti nella <a href="{{ tabella_risorse_1420.file_name }}">tabella</a> scaricabile in formato elaborabile.
        </p>

        <h3>Risorse finanziarie disponibili 2014-2020</h3>
        <p>(milioni di €)</p>

        {% addtoblock 'js' strip %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.5.3/numeral.min.js"></script>
        {% endaddtoblock %}
        {% addtoblock 'css' strip %}
            <link rel="stylesheet" type="text/css" href="/static/css/spesatot_viz.css">
        {% endaddtoblock %}
        {% add_data 'js-data' 'js/oc-spesatot-viz-1420.js' %}

        <div id="spesatot_viz" class="wrapper">
            <div id="legend"></div>
            <div id="graph"></div>
    	</div>

        <p style="font-style: italic">
            Per i Fondi Strutturali e di Investimento Europei la fonte è data da elaborazioni DPCoe-OpenCoesione su dati della <a href="https://cohesiondata.ec.europa.eu/countries/IT">Piattaforma della Commissione Europea</a>,
            ad aggiornamento semestrale, integrato con le modifiche ancora in fase di formalizzazione ai Programmi Operativi a seguito dell’adeguamento tecnico del Quadro Finanziario Pluriennale 2014-2020 per la politica di coesione.<br/>
            Per le Risorse nazionali la fonte è data da elaborazioni DPCoe-OpenCoesione su dati riportati nei provvedimenti nazionali rilevanti (disposizioni di legge e delibere del CIPE).
        </p>

        <p style="margin-bottom: 40px">
            <a href="{{ tabella_risorse_1420.file_name }}">Scarica la tabella</a>
            con dettagli e note complete sulle Risorse finanziarie delle politiche di coesione per il periodo di programmazione 2014-2020
            ({{ tabella_risorse_1420.file_ext }}, {{ tabella_risorse_1420.file_size|filesizeformat }})
            (aggiornamento al {{ tabella_risorse_1420.file_date|date:'SHORT_DATE_FORMAT'|default:'31/01/2018' }})
        </p>

{% comment %}
        <ul>
            <li>
                I fondi Strutturali e di Investimento Europeo (SIE) includono le risorse UE e
                il cofinanziamento nazionale di tutti i programmi regionali e nazionali.
            </li>
            <li>
                La macroarea Mezzogiorno considera i territori delle ‘regioni in transizione’ e ‘regioni meno sviluppate’,
                così come definite dal Regolamento di disposizioni generali sui fondi SIE 2014-2020,
                mentre la macroarea Centro-Nord considera i territori delle ‘regioni più sviluppate’, ai sensi del medesimo Regolamento.
            </li>
            <li>
                Per il Fondo di Sviluppo e Coesione (FSC), a fronte della dotazione complessiva di 54.810 milioni di euro
                (Legge di stabilità 2014, n. 147/2013, art. 1, comma 6) l'ammontare delle risorse indicate è calcolato
                sottraendo alla prima iscrizione in bilancio del Fondo (43.848 milioni di euro), le risorse destinate a
                copertura di oneri diversi da provvedimenti legislativi
                (DL 133/2014 e Legge di conversione 164/2014, cd. "Sblocca Italia" - Legge n. 116/2014 -
                Legge n. 190/2014, "Legge di Stabilità 2015, tabella E" - Legge n. 124/2015, articolo 14, comma 5).
                La norma prevede una ripartizione territoriale pari a 80% al Mezzogiorno e 20% al Centro-Nord.
                I dettagli degli importi associati a ciascuna legge sono disponibili nella <a href="{{ tabella_risorse_1420.file_name }}">tabella</a> sopra.
            </li>
            <li>
                Gli interventi dei Programmi Complementari - Piani Azione e Coesione 2014-2020 utilizzano le risorse nazionali
                del Fondo di Rotazione, derivanti dall'applicazione nelle ‘regioni meno sviluppate’
                di un tasso di cofinanziamento a Programmi UE inferiore al 50% per le Regioni (POR) e al 45% per
                le Amministrazioni centrali (PON), come indicato dalla Delibera Cipe 10/2015.
            </li>
            <li>
               Il valore delle risorse dei Programmi della Cooperazione Territoriale Europea (CTE)
                considera le allocazioni UE e le risorse nazionali di cofinanziamento stabilite
                dalla Delibera Cipe 10/2015 per i Programmi con Autorità di Gestione italiana.
            </li>
            <li>
                Le attività del Programma Operativo cofinanziato dal Fondo di aiuti europei agli indigenti (FEAD) per la fornitura
                di prodotti alimentari e/o assistenza materiale di base, sono complementari e aggiuntive rispetto a quelle
                finanziate dal Fondo Sociale Europeo (FSE) nell’ambito dell’Obiettivo Tematico 9 rivolto al contrasto
                della povertà e dell’esclusione sociale.
            </li>
        </ul>
{% endcomment %}
    </div>
{% endblock %}

{% block sidebar %}
    <div class="flat_content">
        {% include 'commons/menu1420.html' %}
    </div>
{% endblock %}
