{% extends 'base_two_columns.html' %}

{% load sekizai_tags %}

{% block page_title %}Open data{% endblock %}

{% block content %}
    <div id="open-data-download" class="flat_content" style="padding-bottom: 2em">
        <h1>Scarica gli Open data</h1>

        <p>
            È disponibile in formato aperto un insieme di dati collegati alle politiche di coesione, di cui una parte,
            relativa al monitoraggio dei progetti in attuazione e al contesto territoriale, è direttamente navigabile nel
            portale (i dati non navigabili sono segnalati con *).
        </p>
        <p>
            <b>Attenzione</b>: le informazioni presenti nei dataset sono maggiori di quelle visualizzate sul sito e di quelle
            scaricabili dai risultati delle ricerche e dei filtri.
        </p>
        <p>
            Tutti i dati sono rilasciati con licenza <a href="http://www.creativecommons.org/licenses/by-sa/3.0/it/deed.it">CC BY-SA 3.0</a>
            e in <a href="http://it.wikipedia.org/wiki/Comma-separated_values">formato CSV</a> compresso (leggibile da Excel), quando non altrimenti specificato.
        </p>

        <h2 id="progetti">Attuazione delle politiche di coesione: progetti</h2>

        <h3 id="oc0713-title" class="h3-switcher" data-target="oc0713-content">
            <a href="#">Tutti i progetti di OpenCoesione <i></i></a>
        </h3>

        <div id="oc0713-content">
            <p>
                In questa sezione sono scaricabili in modo unitario i dati riferiti a tutti i progetti in attuazione
                delle politiche di coesione 2007-2013 disponibili sul portale,
                finanziati con <a href="{% url 'fonti-finanziamento' %}#fondi-europei">Fondi Strutturali</a>,
                <a href="{% url 'fonti-finanziamento' %}#fondi-nazionali">Fondo nazionale per lo Sviluppo e la Coesione (FSC)</a>
                e <a href="{% url 'pac' %}">Piano d’Azione per la Coesione (PAC)</a>.
{% comment %}
                e i dati sui singoli progetti destinatari di Assegnazioni del <a href="{% url 'fonti-finanziamento' %}#fondi-nazionali">Fondo nazionale per lo Sviluppo e la Coesione (FSC)</a>
                a destinazione nazionale e regionale attraverso <a href="http://www.cipecomitato.it/it">Delibere CIPE</a>.
{% endcomment %}
                I progetti che confluiscono in più ambiti di programmazione sono riportati nei dataset in un solo record
                che contiene tutte le informazioni relative ai diversi contenitori a cui il progetto fa riferimento.
                Il numero dei progetti contenuti nei seguenti dataset coincide dunque con il numero totale dei progetti indicato in <a href="{% url 'home' %}">homepage</a>.
                I dataset sono organizzati in forma relazionale: "Progetti" è il dataset principale e può essere scaricato
                anche da solo, mentre "Localizzazioni", "Soggetti" e "Pagamenti" forniscono informazioni complementari
                collegate al dataset principale attraverso un campo chiave che identifica lo stesso progetto nelle diverse tabelle.
            </p>
            <p>
                I dataset sono aggiornati bimestralmente e pubblicati a distanza di circa tre mesi dalla data di riferimento.
                Alcuni progetti possono presentare informazioni meno recenti, come riportato nel campo "Data_YYYYMMDD" associato a ciascuno di essi.
                L’unità di rilevazione minima è il progetto, pertanto tutte le informazioni sono associate a progetti finanziati.
            </p>
            <p>
                I dati sono pubblicati nella forma in cui vengono trasmessi dalle Amministrazioni che gestiscono i fondi, aggiungendo alcune variabili (identificabili nei dataset con il prefisso OC_)
                che facilitano leggibilità e coerenza delle informazioni, tra cui la classificazione secondo 13 temi sintetici.
                Consulta il <a href="{{ raccordo_temi_sintetici_file.file_name }}">file di raccordo</a> ({{ raccordo_temi_sintetici_file.file_ext }}, {{ raccordo_temi_sintetici_file.file_size|filesizeformat }}) con i temi prioritari UE e con la classificazione CUP.
            </p>
            <p>
                Dal 31 dicembre 2014 alcune variabili hanno cambiato denominazione. Qui trovi il <a href="{{ oc_utility_metadata_file.file_name }}">file utility</a> ({{ oc_utility_metadata_file.file_ext }}, {{ oc_utility_metadata_file.file_size|filesizeformat }}) per il raccordo tra le vecchie e le nuove denominazioni per ognuno dei dataset  modificati (Progetti, Soggetti e Localizzazioni).
            </p>

            {% for section_code, section in oc_sections.items %}
                <table class="table">
                    <thead>
                        <tr>
                            <td class="label">{{ section.name|capfirst }}</td>
                            <td><a href="{{ section.complete_file.file_name }}">> [<i class="icon-download-alt"></i> {{ section.complete_file.file_ext }} {{ section.complete_file.file_size|filesizeformat }}]</a></td>
                            <td class="switcher" data-target="oc-{{ section.name }}-reg"><a href="#">Regioni [<i></i>]</a></td>
                        </tr>
                    </thead>

                    <tbody id="oc-{{ section.name }}-reg">
                        {% for regional_file in section.regional_files %}
                            <tr>
                                <td colspan="3"><a href="{{ regional_file.file_name }}">> {{ regional_file.region_name }} [<i class="icon-download-alt"></i> {{ regional_file.file_ext }} {{ regional_file.file_size|filesizeformat }}]</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}

            <table class="table">
                <tr>
                    <td class="label">Metadati</td>
                    <td><a href="{{ oc_metadata_file.file_name }}">>[<i class="icon-download-alt"></i> {{ oc_metadata_file.file_ext }} {{ oc_metadata_file.file_size|filesizeformat }}]</a></td>
                    <td></td>
                </tr>
            </table>

            <p>Ultimo aggiornamento: ottobre 2017 su dati al 30/04/2017</p>
        </div>

        <div style="margin-left: 40px">
            <h3 id="fs0713-title" class="h3-switcher" data-target="fs0713-content">
                <a href="#">Fondi Strutturali europei 2007/2013 <i></i></a>
            </h3>

            <div id="fs0713-content">
                <p>
                    Sono scaricabili dati riferiti ai singoli progetti finanziati con <a href="{% url 'fonti-finanziamento' %}#fondi-europei">Fondi Strutturali</a>,
                    organizzati in forma relazionale: "Progetti" è il dataset principale e può essere scaricato anche da solo, mentre "Localizzazioni", "Soggetti" e "Pagamenti"
                    forniscono informazioni complementari collegate al dataset principale attraverso un campo chiave che identifica lo stesso progetto nelle diverse tabelle.
                </p>
                <p>
                    I dataset sono aggiornati bimestralmente e pubblicati a distanza di circa tre mesi dalla data di riferimento.
                    Alcuni progetti possono presentare informazioni meno recenti, come riportato nel campo "Data_YYYYMMDD" associato a ciascuno di essi.
                    L’unità di rilevazione minima è il progetto, pertanto tutte le informazioni sono associate a progetti finanziati.
                </p>
                <p>
                    I dati sono pubblicati nella forma in cui vengono trasmessi dalle Amministrazioni che gestiscono i fondi, aggiungendo alcune variabili (identificabili nei dataset con il prefisso OC_)
                    che facilitano leggibilità e coerenza delle informazioni, tra cui la classificazione secondo 13 temi sintetici.
                    Consulta il <a href="{{ raccordo_temi_sintetici_file.file_name }}">file di raccordo</a> ({{ raccordo_temi_sintetici_file.file_ext }}, {{ raccordo_temi_sintetici_file.file_size|filesizeformat }}) con i temi prioritari UE e con la classificazione CUP.
                </p>
                <p>
                    Dal 31 dicembre 2014 alcune variabili hanno cambiato denominazione. Qui trovi il <a href="{{ utility_metadata_file.file_name }}">file utility</a> ({{ utility_metadata_file.file_ext }}, {{ utility_metadata_file.file_size|filesizeformat }}) per il raccordo tra le vecchie e le nuove denominazioni per ognuno dei dataset  modificati (Progetti, Soggetti e Localizzazioni).
                </p>

                {% for section_code, section in fs_sections.items %}
                    <table class="table">
                        <thead>
                            <tr>
                                <td class="label">{{ section.name|capfirst }}</td>
                                <td><a href="{{ section.complete_file.file_name }}">> [<i class="icon-download-alt"></i> {{ section.complete_file.file_ext }} {{ section.complete_file.file_size|filesizeformat }}]</a></td>
                                <td class="switcher" data-target="fs-{{ section.name }}-reg"><a href="#">Regioni [<i></i>]</a></td>
                            </tr>
                        </thead>

                        <tbody id="fs-{{ section.name }}-reg">
                            {% for regional_file in section.regional_files %}
                                <tr>
                                    <td colspan="3"><a href="{{ regional_file.file_name }}">> {{ regional_file.region_name }} [<i class="icon-download-alt"></i> {{ regional_file.file_ext }} {{ regional_file.file_size|filesizeformat }}]</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}

                <table class="table">
                    <tr>
                        <td class="label">Metadati</td>
                        <td><a href="{{ metadata_file.file_name }}">> [<i class="icon-download-alt"></i> {{ metadata_file.file_ext }} {{ metadata_file.file_size|filesizeformat }}]</a></td>
                        <td></td>
                    </tr>
                </table>

                <p>Ultimo aggiornamento: ottobre 2017 su dati al 30/04/2017</p>
            </div>

            <h3 id="fsc0713-title" class="h3-switcher" data-target="fsc0713-content">
                <a href="#">Fondo per lo Sviluppo e la Coesione (FSC) 2007/2013 <i></i></a>
            </h3>

            <div id="fsc0713-content">
                <p>
                    Sono scaricabili dati riferiti ai singoli progetti finanziati con il
                    <a href="{% url 'fonti-finanziamento' %}#fondi-nazionali">Fondo nazionale per lo Sviluppo e la Coesione (FSC)</a>,
                    organizzati in forma relazionale: "Progetti" è il dataset principale e può essere scaricato anche da solo,
                    mentre "Localizzazioni", "Soggetti" e "Pagamenti" forniscono informazioni complementari collegate al dataset principale
                    attraverso un campo chiave che identifica lo stesso progetto nelle diverse tabelle.
                </p>
                <p>
                    I dataset sono aggiornati bimestralmente e pubblicati a distanza di circa tre mesi dalla data di riferimento.
                    Alcuni progetti possono presentare informazioni meno recenti, come riportato nel campo "Data_YYYYMMDD" associato a ciascuno di essi.
                    L’unità di rilevazione minima è il progetto, pertanto tutte le informazioni sono associate a progetti finanziati.
                </p>
                <p>
                    I dati sono pubblicati nella forma in cui vengono trasmessi dalle Amministrazioni che attuano gli interventi, aggiungendo alcune variabili (identificabili nei dataset con il prefisso OC_)
                    che facilitano leggibilità e coerenza delle informazioni, tra cui la classificazione secondo 13 temi sintetici.
                    Consulta il <a href="{{ raccordo_temi_sintetici_file.file_name }}">file di raccordo</a> ({{ raccordo_temi_sintetici_file.file_ext }}, {{ raccordo_temi_sintetici_file.file_size|filesizeformat }}) con i temi prioritari UE e con la classificazione CUP.
                </p>
                <p>
                    Dal 31 dicembre 2014 alcune variabili hanno cambiato denominazione. Qui trovi il <a href="{{ utility_metadata_file.file_name }}">file utility</a> ({{ utility_metadata_file.file_ext }}, {{ utility_metadata_file.file_size|filesizeformat }}) per il raccordo tra le vecchie e le nuove denominazioni per ognuno dei dataset  modificati (Progetti, Soggetti e Localizzazioni).
                </p>

                <table class="table">
                    {% for section_code, section in fsc_sections.items %}
                        <tr>
                            <td class="label">{{ section.name|capfirst }}</td>
                            <td><a href="{{ section.complete_file.file_name }}">>[<i class="icon-download-alt"></i> {{ section.complete_file.file_ext }} {{ section.complete_file.file_size|filesizeformat }}]</a></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="label">Metadati</td>
                        <td><a href="{{ metadata_file.file_name }}">>[<i class="icon-download-alt"></i> {{ metadata_file.file_ext }} {{ metadata_file.file_size|filesizeformat }}]</a></td>
                    </tr>
                </table>

                <p>Ultimo aggiornamento: ottobre 2017 su dati al 30/04/2017</p>
            </div>

            {% comment %}
            <h3 id="fsc0006-title" class="h3-switcher" data-target="fsc0006-content">
                <a href="#">Fondo per lo Sviluppo e la Coesione (FSC) 2000/2006 <i></i></a>
            </h3>

            <div id="fsc0006-content">
                <p>
                    Sono scaricabili dati riferiti ai singoli progetti finanziati con il
                    <a href="{% url 'fonti-finanziamento' %}#fondi-nazionali">Fondo nazionale per lo Sviluppo e la Coesione (FSC)</a>,
                    organizzati in forma relazionale: "Progetti" è il dataset principale e può essere scaricato anche da solo,
                    mentre "Localizzazioni", "Soggetti" e "Pagamenti" forniscono informazioni complementari collegate al dataset principale
                    attraverso un campo chiave che identifica lo stesso progetto nelle diverse tabelle.
                </p>
                <p>
                    I dataset sono aggiornati bimestralmente e pubblicati a distanza di circa tre mesi dalla data di riferimento.
                    Alcuni progetti possono presentare informazioni meno recenti, come riportato nel campo "Data_YYYYMMDD" associato a ciascuno di essi.
                    L’unità di rilevazione minima è il progetto, pertanto tutte le informazioni sono associate a progetti finanziati.
                </p>
                <p>
                    I dati sono pubblicati nella forma in cui vengono trasmessi dalle Amministrazioni che attuano gli interventi, aggiungendo alcune variabili (identificabili nei dataset con il prefisso OC_)
                    che facilitano leggibilità e coerenza delle informazioni, tra cui la classificazione secondo 13 temi sintetici.
                    Consulta il <a href="{{ raccordo_temi_sintetici_file.file_name }}">file di raccordo</a> ({{ raccordo_temi_sintetici_file.file_ext }}, {{ raccordo_temi_sintetici_file.file_size|filesizeformat }}) con i temi prioritari UE e con la classificazione CUP.
                </p>
                <p>
                    Dal 31 dicembre 2014 alcune variabili hanno cambiato denominazione. Qui trovi il <a href="{{ utility_metadata_file.file_name }}">file utility</a> ({{ utility_metadata_file.file_ext }}, {{ utility_metadata_file.file_size|filesizeformat }}) per il raccordo tra le vecchie e le nuove denominazioni per ognuno dei dataset  modificati (Progetti, Soggetti e Localizzazioni).
                </p>

                <table class="table">
                    {% for section_code, section in fsc2_sections.items %}
                        <tr>
                            <td class="label">{{ section.name|capfirst }}</td>
                            <td><a href="{{ section.complete_file.file_name }}">>[<i class="icon-download-alt"></i> {{ section.complete_file.file_ext }} {{ section.complete_file.file_size|filesizeformat }}]</a></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="label">Metadati</td>
                        <td><a href="{{ metadata_file.file_name }}">>[<i class="icon-download-alt"></i> {{ metadata_file.file_ext }} {{ metadata_file.file_size|filesizeformat }}]</a></td>
                    </tr>
                </table>

                <p>Ultimo aggiornamento: ottobre 2017 su dati al 30/04/2017</p>
            </div>
            {% endcomment %}

            <h3 id="pac-title" class="h3-switcher" data-target="pac-content">
                <a href="#">Piano d’Azione per la Coesione <i></i></a>
            </h3>

            <div id="pac-content">
                <p>
                    Sono scaricabili dati riferiti ai singoli progetti finanziati nell’ambito del <a href="{% url 'pac' %}">Piano d’Azione per la Coesione (PAC)</a>, organizzati in forma relazionale:
                    "Progetti" è il dataset principale e può essere scaricato anche da solo, mentre "Localizzazioni", "Soggetti" e "Pagamenti" forniscono informazioni complementari collegate
                    al dataset principale attraverso un campo chiave che identifica lo stesso progetto nelle diverse tabelle.
                </p>
                <p>
                    Alcuni progetti del PAC sono presenti anche in Programmi dei Fondi Strutturali europei 2007/2013 e del Fondo per lo Sviluppo e la Coesione 2007/2013,
                    poiché le modalità programmazione del PAC prevedono sia rimodulazione interna ai Programmi Operativi sia riprogrammazione delle risorse nazionali derivanti
                    dalla riduzione del cofinanziamento nazionale dei Programmi Operativi che, in alcuni casi, sono state assegnate a progetti già inseriti nella programmazione FSC.
                </p>
                <p>
                    I dataset sono aggiornati bimestralmente e pubblicati a distanza di circa tre mesi dalla data di riferimento.
                    Alcuni progetti possono presentare informazioni meno recenti, come riportato nel campo "Data_YYYYMMDD" associato a ciascuno di essi.
                    L’unità di rilevazione minima è il progetto, pertanto tutte le informazioni sono associate a progetti finanziati.
                </p>
                <p>
                    I dati sono pubblicati nella forma in cui vengono trasmessi dalle Amministrazioni che attuano gli interventi, aggiungendo alcune variabili (identificabili nei dataset con il prefisso OC_)
                    che facilitano leggibilità e coerenza delle informazioni, tra cui la classificazione secondo 13 temi sintetici.
                    Consulta il <a href="{{ raccordo_temi_sintetici_file.file_name }}">file di raccordo</a> ({{ raccordo_temi_sintetici_file.file_ext }}, {{ raccordo_temi_sintetici_file.file_size|filesizeformat }}) con i temi prioritari UE e con la classificazione CUP.
                </p>
                <p>
                    Dal 31 dicembre 2014 alcune variabili hanno cambiato denominazione. Qui trovi il <a href="{{ utility_metadata_file.file_name }}">file utility</a> ({{ utility_metadata_file.file_ext }}, {{ utility_metadata_file.file_size|filesizeformat }}) per il raccordo tra le vecchie e le nuove denominazioni per ognuno dei dataset  modificati (Progetti, Soggetti e Localizzazioni).
                </p>

                <table class="table">
                    {% for section_code, section in pac_sections.items %}
                        <tr>
                            <td class="label">{{ section.name|capfirst }}</td>
                            <td><a href="{{ section.complete_file.file_name }}"> [<i class="icon-download-alt"></i> {{ section.complete_file.file_ext }} {{ section.complete_file.file_size|filesizeformat }}]</a></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="label">Metadati</td>
                        <td><a href="{{ metadata_file.file_name }}"> [<i class="icon-download-alt"></i> {{ metadata_file.file_ext }} {{ metadata_file.file_size|filesizeformat }}]</a></td>
                    </tr>
                </table>

                <p>Ultimo aggiornamento: ottobre 2017 su dati al 30/04/2017</p>
            </div>
        </div>

        <h2 id="programmazione">Programmazione delle politiche di coesione: risorse finanziarie</h2>

        <h3 id="risorse1420-title" class="h3-switcher" data-target="risorse1420-content">
            <a href="#">Programmi cofinanziati dai Fondi Strutturali e di Investimento europei 2014/2020 <i></i></a>
        </h3>

        <div id="risorse1420-content">
            <p>
                I Fondi Strutturali e di Investimento europei disponibili in Italia per il periodo 2014-2020 sono il Fondo europeo per lo sviluppo regionale (FESR), il Fondo sociale europeo (FSE), il Fondo europeo agricolo per lo sviluppo rurale (FEASR) e il Fondo europeo per gli affari marittimi e la pesca (FEAMP).
                I Fondi FESR e FSE sono attuati attraverso Programmi Operativi nazionali (PON) e regionali (POR), mentre i Fondi FEASR e FEAMP che, pur non rientrando nel perimetro delle politiche di coesione, fanno parte dell’Accordo di Partenariato, sono attuati attraverso Programmi di Sviluppo Rurale (PSR) nazionali e regionali.
                I dati sulla dotazione del Programma sono disponibili con l'articolazione del valore complessivo delle risorse stanziate con il dettaglio della quota a valere sul bilancio comunitario, sono riportati in valore assoluto ed espressi in euro.
                Le informazioni disponibili sulle Decisioni di approvazione dei Programmi sono il numero, la data e i riferimenti delle eventuali Decisioni precedenti.
            </p>

            <table class="table">
                <tr>
                    <td class="label" style="width: 50%">Dati e metadati sulla dotazione finanziaria complessiva dei Programmi Operativi 2014-2020*</td>
                    <td><a href="{{ risorse1420_file.file_name }}">> [<i class="icon-download-alt"></i> {{ risorse1420_file.file_ext }} {{ risorse1420_file.file_size|filesizeformat }}]</a></td>
                </tr>
                <tr>
                    <td class="label" style="width: 50%">Dati e metadati sulle Decisioni di approvazione dei Programmi Operativi 2014-2020*</td>
                    <td><a href="{{ decisioni1420_file.file_name }}">> [<i class="icon-download-alt"></i> {{ decisioni1420_file.file_ext }} {{ decisioni1420_file.file_size|filesizeformat }}]</a></td>
                </tr>
            </table>

            <p>Ultimo aggiornamento: dati al {% comment %}{{ risorse1420_file.file_date|date:'SHORT_DATE_FORMAT' }}{% endcomment %}30/09/2016.<br/>* Dati non navigabili sul portale OpenCoesione.</p>
        </div>

        <h3 id="fsc1420-title" class="h3-switcher" data-target="fsc1420-content">
            <a href="#">Piani e Programmi Fondo Sviluppo e Coesione 2014/2020 <i></i></a>
        </h3>

        <div id="fsc1420-content">
            <p>
                La programmazione del Fondo per lo Sviluppo e la Coesione (FSC) per il periodo 2014-2020, ancora in fase di completamento, si articola in Piani Operativi Nazionali approvati dal CIPE,
                Piani stralcio e altre assegnazioni CIPE (varati precedentemente all’adozione della delibera CIPE 25/2016 di ripartizione del Fondo), assegnazioni di legge a singoli progetti
                e iniziative di interesse nazionale e Patti per lo sviluppo stipulati dal Governo con le Regioni e le Città metropolitane.
            </p>
            <p>
                I dati sulla dotazione finanziaria sono articolati per tipologia, territorio interessato e Amministrazione titolare e fanno riferimento alle risorse FSC 2014-2020 stanziate.
                Gli importi sono riportati in valore assoluto ed espressi in euro. Le informazioni disponibili sulle delibere CIPE di approvazione di Piani e Programmi, nonché sulle leggi di assegnazione, ove pertinente, sono il numero e la data.
                Nel caso di più decisioni relative alla medesima assegnazione, i riferimenti sono riportati in righe separate.
            </p>

            <table class="table">
                <tr>
                    <td class="label" style="width: 50%">Dati e metadati sulla dotazione finanziaria di Piani e Programmi FSC 2014-2020*</td>
                    <td><a href="{{ dotazionifsc1420_file.file_name }}">> [<i class="icon-download-alt"></i> {{ dotazionifsc1420_file.file_ext }} {{ dotazionifsc1420_file.file_size|filesizeformat }}]</a></td>
                </tr>
                <tr>
                    <td class="label" style="width: 50%">Dati e metadati sulle decisioni di approvazione di Piani e Programmi FSC 2014-2020*</td>
                    <td><a href="{{ decisionifsc1420_file.file_name }}">> [<i class="icon-download-alt"></i> {{ decisionifsc1420_file.file_ext }} {{ decisionifsc1420_file.file_size|filesizeformat }}]</a></td>
                </tr>
            </table>

            <p>Ultimo aggiornamento: dati al 18/04/2017.<br/>* Dati non navigabili sul portale OpenCoesione.</p>
        </div>

        <h3 id="poc1420-title" class="h3-switcher" data-target="poc1420-content">
            <a href="#">Programmi Operativi Complementari - Piani di azione e coesione 2014/2020 <i></i></a>
        </h3>

        <div id="poc1420-content">
            <p>
                I Programmi operativi complementari (POC) - Piani di Azione e Coesione per il periodo 2014-2020 sono sostenuti dal Fondo di Rotazione
                e comprendono Programmi complementari nazionali e regionali oltre che assegnazioni, sempre destinate ad Amministrazioni nazionali e regionali,
                per il completamento di interventi iniziati con la programmazione dei Fondi Strutturali 2007-2013.
            </p>
            <p>
                I dati sulla dotazione finanziaria sono articolati per tipologia, territorio interessato e Amministrazione titolare e fanno riferimento alle risorse POC 2014-2020 stanziate.
                Gli importi sono riportati in valore assoluto ed espressi in euro. Le informazioni disponibili sulle delibere di approvazione dei Programmi sono il numero e la data.
            </p>

            <table class="table">
                <tr>
                    <td class="label" style="width: 50%">Dati e metadati sulla dotazione finanziaria dei Programmi Operativi Complementari 2014-2020*</td>
                    <td><a href="{{ dotazionipoc1420_file.file_name }}">> [<i class="icon-download-alt"></i> {{ dotazionipoc1420_file.file_ext }} {{ dotazionipoc1420_file.file_size|filesizeformat }}]</a></td>
                </tr>
                <tr>
                    <td class="label" style="width: 50%">Dati e metadati sulle Decisioni di approvazione dei Programmi Operativi Complementari 2014-2020*</td>
                    <td><a href="{{ decisionipoc1420_file.file_name }}">> [<i class="icon-download-alt"></i> {{ decisionipoc1420_file.file_ext }} {{ decisionipoc1420_file.file_size|filesizeformat }}]</a></td>
                </tr>
            </table>

            <p>Ultimo aggiornamento: dati al 18/04/2017.<br/>* Dati non navigabili sul portale OpenCoesione.</p>
        </div>

        <h3 id="risorse-title" class="h3-switcher" data-target="risorse-content">
            <a href="#">Programmi cofinanziati dai Fondi Strutturali europei 2007/2013 <i></i></a>
        </h3>

        <div id="risorse-content">
            <p>
                I Fondi Strutturali europei disponibili in Italia per il periodo 2007-2013 sono il Fondo europeo per lo sviluppo regionale (FESR) e il Fondo sociale europeo (FSE) attuati attraverso Programmi Operativi nazionali (PON), regionali (POR) o interregionali (POIN).
                La dotazione di un Programma, approvato con apposita decisione dalla Commissione UE, è articolata nel valore complessivo delle risorse stanziate con dettaglio della quota a valere sul bilancio comunitario.
                A partire dal 2012 viene indicata anche la dotazione a seguito della riprogrammazione introdotta in una delle fasi in cui si è articolato il Piano d'Azione Coesione, che per alcuni Programmi ha comportato una riduzione della quota nazionale di risorse (tasso di cofinanziamento nazionale).
                La dotazione dei Programmi Operativi è riportata in valore assoluto ed espressa in euro.
            </p>

            <table class="table">
                <tr>
                    <td class="label" style="width: 50%">Dati e metadati su dotazione finanziaria complessiva dei Programmi Operativi 2007-2013*</td>
                    <td><a href="{{ risorse0713_file.file_name }}">> [<i class="icon-download-alt"></i> {{ risorse0713_file.file_ext }} {{ risorse0713_file.file_size|filesizeformat }}]</a></td>
                </tr>
            </table>

            <p>Ultimo aggiornamento: dati al {{ risorse0713_file.file_date|date:'SHORT_DATE_FORMAT' }}.<br/>* Dati non navigabili sul portale OpenCoesione.</p>
        </div>

        <h3 id="cipe0713-title" class="h3-switcher" data-target="cipe0713-content">
            <a href="#">Assegnazioni CIPE Fondo Sviluppo e Coesione 2007/2013 <i></i></a>
        </h3>

        <div id="cipe0713-content">
            <p>
                I dati sulle assegnazioni da <a href="http://www.programmazioneeconomica.gov.it/">Delibere CIPE</a>
                del <a href="{% url 'fonti-finanziamento' %}#fondi-nazionali">Fondo nazionale per lo Sviluppo e la Coesione (FSC)</a>,
                a destinazione nazionale e regionale, contengono le informazioni disponibili al momento in cui è stata assunta la decisione di finanziamento.
                I dati sono scaricabili anche dal <a href="http://www.programmazioneeconomica.gov.it/2014/09/14/open-data/">sito del CIPE</a>,
                senza l’attribuzione del tema sintetico di OpenCoesione (consulta il
                <a href="{{ raccordo_temi_sintetici_file.file_name }}">file di raccordo</a> - {{ raccordo_temi_sintetici_file.file_ext }}, {{ raccordo_temi_sintetici_file.file_size|filesizeformat }}
                con i temi prioritari UE e con la classificazione CUP).
            </p>
            {% comment %}<p>
                Dal 31 dicembre 2014 sono state aggiunte e/o hanno cambiato denominazione alcune variabili. Qui trovi il <a href="{{ cipe_utility_metadata_file.file_name }}">file utility</a> ({{ cipe_utility_metadata_file.file_ext }}, {{ cipe_utility_metadata_file.file_size|filesizeformat }}) per il raccordo tra le vecchie e le nuove denominazioni per ognuno dei dataset modificati (Progetti, Soggetti e Localizzazioni).
            </p>{% endcomment %}

            <table class="table">
                {% for section_code, section in cipe_sections.items %}
                    <tr>
                        <td class="label">{{ section.name|capfirst }}</td>
                        <td><a href="{{ section.complete_file.file_name }}">> [<i class="icon-download-alt"></i> {{ section.complete_file.file_ext }} {{ section.complete_file.file_size|filesizeformat }}]</a></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="label">Metadati</td>
                    <td><a href="{{ cipe_metadata_file.file_name }}">> [<i class="icon-download-alt"></i> {{ cipe_metadata_file.file_ext }} {{ cipe_metadata_file.file_size|filesizeformat }}]</a></td>
                </tr>
            </table>

            <p>
                Alcuni dei progetti destinatari di Assegnazioni CIPE si sono trasformati nel tempo in progetti in attuazione nell’ambito dei Programmi delle politiche di coesione 2007-2013: in questo caso fanno parte dell’universo dei progetti monitorati sul portale OpenCoesione con cadenza bimestrale, in quanto i relativi dati sono confluiti nel Sistema di monitoraggio unitario.
            </p>
            <p>
                Nel seguente file è riportato l’elenco delle corrispondenze tra Assegnazioni CIPE e progetti in attuazione nei Programmi delle politiche di coesione 2007-2013.
            </p>
            <p>
                Per ogni progetto è disponibile il codice identificativo dell’Assegnazione CIPE (COD_DIPE) e il codice identificativo del progetto con cui essa viene attuata (COD_LOCALE_PROGETTO) più una variabile che descrive la relazione tra progetto in attuazione e Assegnazione.
            </p>

            <table class="table">
                <tr>
                    <td class="label">Corrispondenze tra Assegnazioni e progetti in attuazione</td>
                    <td><a href="{{ cipe_corrispondenze_file.file_name }}">> [<i class="icon-download-alt"></i> {{ cipe_corrispondenze_file.file_ext }} {{ cipe_corrispondenze_file.file_size|filesizeformat }}]</a></td>
                </tr>
                <tr>
                    <td class="label">Metadati</td>
                    <td><a href="{{ cipe_corrispondenze_metadata_file.file_name }}">> [<i class="icon-download-alt"></i> {{ cipe_corrispondenze_metadata_file.file_ext }} {{ cipe_corrispondenze_metadata_file.file_size|filesizeformat }}]</a></td>
                </tr>
            </table>

            <p>Ultimo aggiornamento: novembre 2016 su dati al 31/12/2013</p>
        </div>

        <h2 id="focus">Focus</h2>

        <h3 id="opportunita-title" class="h3-switcher new" data-target="opportunita-content">
            <a href="#">Opportunità di finanziamento dei Fondi SIE 2014-2020 <i></i></a>
        </h3>

        <div id="opportunita-content">
            {% comment %}<p></p>{% endcomment %}

            <table class="table">
                <tr>
                    <td class="label" style="width: 50%">Opportunità *</td>
                    <td><a href="{{ opportunita_data_file.file_name }}">> [<i class="icon-download-alt"></i> {{ opportunita_data_file.file_ext }} {{ opportunita_data_file.file_size|filesizeformat }}]</a></td>
                </tr>
                <tr>
                    <td class="label" style="width: 50%">Metadati</td>
                    <td><a href="{{ opportunita_metadata_file.file_name }}">> [<i class="icon-download-alt"></i> {{ opportunita_metadata_file.file_ext }} {{ opportunita_metadata_file.file_size|filesizeformat }}]</a></td>
                </tr>
            </table>

            <p>Ultimo aggiornamento dati al {{ opportunita_data_file.file_date|date:'SHORT_DATE_FORMAT' }}.<br/>* Dati non navigabili sul portale OpenCoesione.</p>
        </div>

        <h3 id="indagine-title" class="h3-switcher" data-target="indagine-content">
            <a href="#">Indagine sulla trasparenza dei Fondi Strutturali in Europa <i></i></a>
        </h3>

        <div id="indagine-content">
            <p>
                I dataset contengono le informazioni rilevate dall’indagine annuale sulle modalità di pubblicazione dei dati sui beneficiati dei fondi strutturali in Europa.
                L’indagine, avviata nel 2010 e aggiornata e integrata ogni anno tramite visita diretta sui siti web delle Autorità di Gestione (AdG) dei Programmi Operativi,
                rileva la presenza di varie caratteristiche delle liste dei beneficiari e le diverse modalità di pubblicazione delle relative informazioni.
            </p>

            <table class="table">
                <tr>
                    <td class="label" style="width: 50%">Rilevazioni dal 2010 al 2015 *</td>
                    <td><a href="{{ indagine_data_file.file_name }}">> [<i class="icon-download-alt"></i> {{ indagine_data_file.file_ext }} {{ indagine_data_file.file_size|filesizeformat }}]</a></td>
                </tr>
                <tr>
                    <td class="label" style="width: 50%">Metadati</td>
                    <td><a href="{{ indagine_metadata_file.file_name }}">> [<i class="icon-download-alt"></i> {{ indagine_metadata_file.file_ext }} {{ indagine_metadata_file.file_size|filesizeformat }}]</a></td>
                </tr>
            </table>

            <p>Ultimo aggiornamento dati al 31/12/2015.<br/>* Dati non navigabili sul portale OpenCoesione.</p>
        </div>

        <h3 id="approfondimenti-title" class="h3-switcher" data-target="approfondimenti-content">
            <a href="#">Approfondimenti tematici sui progetti in attuazione <i></i></a>
        </h3>

        <div id="approfondimenti-content">
            <p>
                In questa sezione sono disponibili dati e analisi di approfondimento tematico realizzate a partire dai progetti pubblicati su OpenCoesione.
                Per ciascun approfondimento è possibile scaricare le <a href="{% url 'pillole' %}">Pillole di OpenCoesione</a> a commento dell’universo analizzato,
                i file csv con dati e metadati utilizzati per le analisi pubblicate e il file csv con dati e metadati all’ultimo aggiornamento del portale.
            </p>

            <h4 class="switcher" data-target="approfondimenti-2-content" style="font-size: 16px; text-transform: none; margin-top: 8px"><a href="#">Scuole <i></i></a></h4>

            <div id="approfondimenti-2-content">
                <p>
                    I dati, navigabili anche nell’apposita sezione “<a href="{% url 'focus-scuole' %}">focus scuole</a>”,
                    offrono l’integrazione di quanto già pubblicato su OpenCoesione per progetti gestiti dal MIUR nelle scuole in Calabria, Campania, Puglia e Sicilia
                    e quanto pubblicato in formato aperto dallo stesso MIUR, con maggiore granularità e ricchezza di dettagli, sui singoli interventi realizzati nell’ambito dei vari progetti e su chi ne ha fruito.<br/>
                    L’universo di progetti e interventi, di carattere formativo e infrastrutturale, è oggetto delle analisi riportate nella
                    “<a href="/media/files/pillola-44/Pillola%20di%20OpenCoesione%20n_33_Focus%20scuole.pdf">Pillola n. 33 - Focus scuole: i progetti finanziati dalle politiche di coesione in Calabria, Campania, Puglia e Sicilia</a>”,
                    che approfondiscono il contributo delle politiche di coesione 2007-2013 al mondo della scuola nelle 4 principali regioni del Mezzogiorno.
                </p>

                <table class="table">
                    <tr>
                        <td class="label">Progetti e interventi nelle scuole in Calabria, Campania, Puglia e Sicilia<br/>(aggiornamento {{ approfondimenti_2_1_file.file_date|date:'SHORT_DATE_FORMAT' }})</td>
                        <td><a href="{{ approfondimenti_2_1_file.file_name }}">> [<i class="icon-download-alt"></i> {{ approfondimenti_2_1_file.file_ext }} {{ approfondimenti_2_1_file.file_size|filesizeformat }}]</a></td>
                    </tr>
                    <tr>
                        <td class="label">Progetti e interventi nelle scuole in Calabria, Campania, Puglia e Sicilia<br/>(aggiornamento {{ approfondimenti_2_2_file.file_date|date:'SHORT_DATE_FORMAT' }} e <a href="/media/files/pillola-44/Pillola%20di%20OpenCoesione%20n_33_Focus%20scuole.pdf">Pillola n. 33</a>)</td>
                        <td><a href="{{ approfondimenti_2_2_file.file_name }}">> [<i class="icon-download-alt"></i> {{ approfondimenti_2_2_file.file_ext }} {{ approfondimenti_2_2_file.file_size|filesizeformat }}]</a></td>
                    </tr>
                    <tr>
                        <td class="label">Metadati</td>
                        <td><a href="{{ approfondimenti_2_metadata_file.file_name }}">> [<i class="icon-download-alt"></i> {{ approfondimenti_2_metadata_file.file_ext }} {{ approfondimenti_2_metadata_file.file_size|filesizeformat }}]</a></td>
                    </tr>
                </table>
            </div>

            <h4 class="switcher" data-target="approfondimenti-1-content" style="font-size: 16px; text-transform: none; margin-top: 8px"><a href="#">Beni confiscati <i></i></a></h4>

            <div id="approfondimenti-1-content">
                <p>
                    La valorizzazione socio-economica dei beni confiscati alla criminalità organizzata è una forma di intervento per lo sviluppo territoriale che, facendo leva su una originaria situazione di svantaggio,
                    trova sostegno nelle politiche di coesione per restituire alla collettività l’utilizzo di tali beni con finalità prevalentemente sociali.
                    L’universo di progetti, di natura materiale e immateriale, individuati a partire dai dati di OpenCoesione e oggetto delle analisi riportate
                    nella “<a href="{% url 'pillola' 'pillola-n-27-beni-confiscati-e-politiche-di-coesione-progetti-attuazione-al-31-dicembre-2015-e-iniziative-corso' %}">Pillola n. 27 - Beni confiscati e politiche di coesione: progetti in attuazione al 31 dicembre 2015 e iniziative in corso</a>”
                    e nella “<a href="{% url 'pillola' 'pillola-n-19-i-beni-confiscati-nelle-politiche-di-coesione-e-nei-progetti-di-opencoesione' %}">Pillola n. 19 - I beni confiscati nelle politiche di coesione e nei progetti di OpenCoesione</a>”,
                    consente di ricostruire il contributo delle politiche di coesione 2007-2013 nell’ambito dei beni confiscati.
                    Nelle Pillole si presentano anche strategie e indirizzi sul tema per la programmazione 2014-2020.
                </p>

                <table class="table">
                    <tr>
                        <td class="label">Progetti beni confiscati (aggiornamento {{ approfondimenti_1_1_file.file_date|date:'SHORT_DATE_FORMAT' }})</td>
                        <td><a href="{{ approfondimenti_1_1_file.file_name }}">> [<i class="icon-download-alt"></i> {{ approfondimenti_1_1_file.file_ext }} {{ approfondimenti_1_1_file.file_size|filesizeformat }}]</a></td>
                    </tr>
                    <tr>
                        <td class="label">Progetti beni confiscati (aggiornamento {{ approfondimenti_1_2_file.file_date|date:'SHORT_DATE_FORMAT' }} e <a href="/media/files/pillola-36/Pillola%20di%20OpenCoesione%20n%2027_politiche%20coesione%20beni%20confiscati_dati%20dicembre%202015.pdf">Pillola n. 27</a>)</td>
                        <td><a href="{{ approfondimenti_1_2_file.file_name }}">> [<i class="icon-download-alt"></i> {{ approfondimenti_1_2_file.file_ext }} {{ approfondimenti_1_2_file.file_size|filesizeformat }}]</a></td>
                    </tr>
                    <tr>
                        <td class="label">Progetti beni confiscati (aggiornamento {{ approfondimenti_1_3_file.file_date|date:'SHORT_DATE_FORMAT' }} e <a href="/media/files/pillola-22/Pillola_di_OpenCoesione_n_19_Politiche_di_coesione_e_beni_confiscati.pdf">Pillola n. 19</a>)</td>
                        <td><a href="{{ approfondimenti_1_3_file.file_name }}">> [<i class="icon-download-alt"></i> {{ approfondimenti_1_3_file.file_ext }} {{ approfondimenti_1_3_file.file_size|filesizeformat }}]</a></td>
                    </tr>
                    <tr>
                        <td class="label">Metadati</td>
                        <td><a href="{{ approfondimenti_1_metadata_file.file_name }}">> [<i class="icon-download-alt"></i> {{ approfondimenti_1_metadata_file.file_ext }} {{ approfondimenti_1_metadata_file.file_size|filesizeformat }}]</a></td>
                    </tr>
                </table>
            </div>
        </div>

        <h3 id="spesa-title" class="h3-switcher" data-target="spesa-content">
            <a href="#">Spesa certificata dei Fondi Strutturali 2007/2013 <i></i></a>
        </h3>

        <div id="spesa-content">
            <p>
                La <a href="{% url 'spesa-certificata' %}">spesa certificata all’UE</a> corrisponde alle richieste di rimborso delle spese sostenute che vengono presentate all'UE dalle Amministrazioni titolari dei Programmi cofinanziati dai Fondi Strutturali e accettate dalla Commissione Europea.
                I dati vengono aggiornati in concomitanza all'adozione o all'aggiornamento di ciascun atto programmatorio e alle scadenze per la certificazione, e per tenere conto di eventuali certificazioni inviate e ancora in corso di trattamento.
                Visualizza i <a href="{% url 'spesa-certificata-grafici' %}">grafici interattivi</a> per ciascun Programma Operativo.
            </p>

            <table class="table">
                <tr>
                    <td class="label" style="width: 50%">Dati e metadati su dotazione finanziaria complessiva e spesa certificata alla UE *</td>
                    <td><a href="{{ spesa_dotazione_file.file_name }}">> [<i class="icon-download-alt"></i> {{ spesa_dotazione_file.file_ext }} {{ spesa_dotazione_file.file_size|filesizeformat }}]</a></td>
                </tr>
                <tr>
                    <td class="label" style="width: 50%">Dati e metadati su target di spesa certificata *</td>
                    <td><a href="{{ spesa_target_file.file_name }}">> [<i class="icon-download-alt"></i> {{ spesa_target_file.file_ext }} {{ spesa_target_file.file_size|filesizeformat }}]</a></td>
                </tr>
            </table>

            <p>Ultimo aggiornamento: dati al {{ spesa_dotazione_file.file_date|date:'SHORT_DATE_FORMAT' }}.<br/>* Dati non navigabili sul portale OpenCoesione.</p>
        </div>

        <h2 id="contesto">Contesto socio-economico</h2>

        <h3 id="istat-title" class="h3-switcher" data-target="istat-content">
            <a href="#">Indicatori territoriali per le politiche di sviluppo <i></i></a>
        </h3>

        <div id="istat-content">
            <p>
                Gli Indicatori territoriali per le politiche di sviluppo contengono le statistiche presenti nella banca dati realizzata dall’Istat,
                composta da oltre 300 variabili in serie storica annuale a partire generalmente dal 1995, articolate per area tematica e per priorità dei diversi cicli di programmazione e aggiornate con cadenza mensile.
                I dati sono scaricabili anche dal <a href="http://www.istat.it/it/archivio/16777">sito Istat</a>, con disaggregazioni per territorio (regionali, provinciali e comunali), priorità e asse.
                La <a href="http://www.istat.it/it/note-legali">licenza utilizzata da Istat</a> è CC BY 3.0.
            </p>

            <table class="table">
                <tr>
                    <td class="label" style="width: 50%">Indicatori territoriali di contesto</td>
                    <td><a href="{{ istat_data_file.file_name }}">> [<i class="icon-download-alt"></i> {{ istat_data_file.file_ext }} {{ istat_data_file.file_size|filesizeformat }}]</a></td>
                </tr>
                <tr>
                    <td class="label">Metadati</td>
                    <td><a href="{{ istat_metadata_file.file_name }}">> [<i class="icon-download-alt"></i> {{ istat_metadata_file.file_ext }} {{ istat_metadata_file.file_size|filesizeformat }}]</a></td>
                </tr>
            </table>

            <p>Ultimo aggiornamento: {{ istat_data_file.file_date|date:'F Y' }}</p>
        </div>

        <h3 id="cpt-title" class="h3-switcher" data-target="cpt-content">
            <a href="#">Conti Pubblici Territoriali (CPT) <i></i></a>
        </h3>

        <div id="cpt-content">
            <p>
                Il dataset dei <a href="http://www.agenziacoesione.gov.it/it/cpt/index.html">Conti Pubblici Territoriali (CPT)</a> contiene
                informazioni sui flussi finanziari (entrate e spese in conto corrente e in conto capitale) della Pubblica Amministrazione
                e del Settore Pubblico Allargato articolate per settori di intervento, livello di governo e categoria economica
                in serie storica annuale a partire dal 2000, aggiornata con cadenza annuale. La serie storica 1996-1999 è disponibile su richiesta scrivendo a: {{ 'contipubbliciterritoriali@agenziacoesione.gov.it'|urlize }}.
            </p>

            <table class="table">
                <tr>
                    <td class="label" style="width: 20%">Pubblica Amministrazione *</td>
                    <td>Entrate <a href="{{ cpt_pa_in_file.file_name }}">> [<i class="icon-download-alt"></i> {{ cpt_pa_in_file.file_ext }} {{ cpt_pa_in_file.file_size|filesizeformat }}]</a></td>
                    <td>Spese <a href="{{ cpt_pa_out_file.file_name }}">> [<i class="icon-download-alt"></i> {{ cpt_pa_out_file.file_ext }} {{ cpt_pa_out_file.file_size|filesizeformat }}]</a></td>
                </tr>
                <tr>
                    <td class="label" style="width: 20%">Settore Pubblico Allargato *</td>
                    <td>Entrate <a href="{{ cpt_spa_in_file.file_name }}">> [<i class="icon-download-alt"></i> {{ cpt_spa_in_file.file_ext }} {{ cpt_spa_in_file.file_size|filesizeformat }}]</a></td>
                    <td>Spese <a href="{{ cpt_spa_out_file.file_name }}">> [<i class="icon-download-alt"></i> {{ cpt_spa_out_file.file_ext }} {{ cpt_spa_out_file.file_size|filesizeformat }}]</a></td>
                </tr>
                <tr>
                    <td class="label">Metadati</td>
                    <td></td>
                    <td><a href="{{ cpt_metadata_file.file_name }}">> [<i class="icon-download-alt"></i> {{ cpt_metadata_file.file_ext }} {{ cpt_metadata_file.file_size|filesizeformat }}]</a></td>
                </tr>
            </table>

            <p>Ultimo aggiornamento: maggio 2017 su dati al 31/12/2015.<br/>* Dati non navigabili sul portale OpenCoesione.</p>
        </div>
    </div>

    {% add_data 'js-data' 'js/oc-opendata.js' %}
    {% add_data 'js-data' 'js/oc-ga-downloads.js' %}
{% endblock %}

{% block sidebar %}
    <div class="flat_content">
        <p>Per open data (letteralmente "dati aperti") si intendono informazioni pubblicate in formato tale che siano:</p>
        <ul>
            <li>accessibili (soprattutto via internet) senza limitazioni secondo l'identità o lo scopo dell'utente;</li>
            <li>elaborabili da un'applicazione informatica senza che sia necessaria la disponibilità di uno specifico software;</li>
            <li>accompagnati da licenze che non pongano restrizioni sull'uso e sul riuso.</li>
        </ul>
        <p>Per ulteriori informazioni sulla strategia nazionale di open data consulta il portale nazionale <a href="http://dati.gov.it">dati.gov.it</a>.</p>
        <p>Le informazioni sui progetti in attuazione della politica di coesione sono raccolte in un unico sistema di monitoraggio, amministrato dalla <a href="http://www.rgs.mef.gov.it">Ragioneria Generale dello Stato</a> (Ministero dell’Economia e delle Finanze).</p>
        <p>I dataset pubblicati su OpenCoesione offrono una restituzione parziale di  questo monitoraggio in una forma adatta a rispondere agli interessi conoscitivi dei cittadini.</p>
    </div>
{% endblock %}
