{% extends 'base_two_columns.html' %}

{% load sekizai_tags %}

{% block page_title %}Open data{% endblock %}

{% block content %}
    <div id="open-data-download" class="flat_content" style="padding-bottom: 2em">
        <h1>Scarica gli Open data</h1>

        <p>
            È disponibile in formato aperto un insieme di dati collegati alle politiche di coesione, di cui una parte,
            relativa al monitoraggio dei progetti in attuazione e al contesto territoriale, è direttamente navigabile nel
            portale (i dati non navigabili sono segnalati con *).
        </p>
        <p>
            <b>Attenzione</b>: le informazioni presenti nei dataset sono maggiori di quelle visualizzate sul sito e di quelle
            scaricabili dai risultati delle ricerche e dei filtri.
        </p>
        <p>
            Tutti i dati sono rilasciati con licenza <a href="http://www.creativecommons.org/licenses/by-sa/3.0/it/deed.it">CC BY-SA 3.0</a>
            e in <a href="http://it.wikipedia.org/wiki/Comma-separated_values">formato CSV</a> compresso (leggibile da Excel), quando non altrimenti specificato.
        </p>

        <h2 id="progetti">Open data sui progetti delle politiche di coesione</h2>

        <h3 id="oc0713-title" class="h3-switcher" data-target="oc0713-content">
            <a href="#">Tutti i progetti di OpenCoesione <i></i></a>
        </h3>

        <div id="oc0713-content">
            <p>
                In questa sezione sono scaricabili in modo unitario i dati riferiti a tutti i progetti disponibili sul portale:
                progetti in attuazione finanziati con <a href="{% url 'fonti-finanziamento' %}#fondi-europei">Fondi Strutturali</a>,
                il <a href="{% url 'fonti-finanziamento' %}#fondi-nazionali">Fondo nazionale per lo Sviluppo e la Coesione (FSC)</a>
                e il <a href="{% url 'pac' %}">Piano d’Azione per la Coesione (PAC)</a>
                e i dati sui singoli progetti destinatari di Assegnazioni del <a href="{% url 'fonti-finanziamento' %}#fondi-nazionali">Fondo nazionale per lo Sviluppo e la Coesione (FSC)</a>
                a destinazione nazionale e regionale attraverso <a href="http://www.cipecomitato.it/it">Delibere CIPE</a>.
                I progetti che confluiscono in più ambiti di programmazione sono riportati nei dataset in un solo record
                che contiene tutte le informazioni relative ai diversi contenitori a cui il progetto fa riferimento.
                Il numero dei progetti contenuti nei seguenti dataset coincide dunque con il numero totale dei progetti indicato in <a href="{% url 'home' %}">homepage</a>.
                I dataset sono organizzati in forma relazionale: "Progetti" è il dataset principale e può essere scaricato
                anche da solo, mentre "Localizzazioni", "Soggetti" e "Pagamenti" forniscono informazioni complementari
                collegate al dataset principale attraverso un campo chiave che identifica lo stesso progetto nelle diverse tabelle.
            </p>
            <p>
                I dataset sono aggiornati bimestralmente e pubblicati a distanza di circa tre mesi dalla data di riferimento.
                Alcuni progetti possono presentare informazioni meno recenti, come riportato nel campo "Data_YYYYMMDD" associato a ciascuno di essi.
                L’unità di rilevazione minima è il progetto, pertanto tutte le informazioni sono associate a progetti finanziati.
            </p>
            <p>
                I dati sono pubblicati nella forma in cui vengono trasmessi dalle Amministrazioni che gestiscono i fondi, aggiungendo alcune variabili (identificabili nei dataset con il prefisso OC_)
                che facilitano leggibilità e coerenza delle informazioni, tra cui la classificazione secondo 13 temi sintetici.
                Consulta il <a href="{{ raccordo_temi_sintetici_file.file_name }}">file di raccordo</a> ({{ raccordo_temi_sintetici_file.file_ext }}, {{ raccordo_temi_sintetici_file.file_size|filesizeformat }}) con i temi prioritari UE e con la classificazione CUP.
            </p>
            <p>
                Dal 31 dicembre 2014 alcune variabili hanno cambiato denominazione. Qui trovi il <a href="{{ oc_utility_metadata_file.file_name }}">file utility</a> ({{ oc_utility_metadata_file.file_ext }}, {{ oc_utility_metadata_file.file_size|filesizeformat }}) per il raccordo tra le vecchie e le nuove denominazioni per ognuno dei dataset  modificati (Progetti, Soggetti e Localizzazioni).
            </p>

            {% for section_code, section in oc_sections.items %}
                <table class="table">
                    <thead>
                        <tr>
                            <td class="label">{{ section.name|capfirst }}</td>
                            <td><a href="{{ section.complete_file.file_name }}">> [<i class="icon-download-alt"></i> {{ section.complete_file.file_ext }} {{ section.complete_file.file_size|filesizeformat }}]</a></td>
                            <td class="switcher" data-target="oc-{{ section.name }}-reg"><a href="#">Regioni [<i></i>]</a></td>
                        </tr>
                    </thead>

                    <tbody id="oc-{{ section.name }}-reg">
                        {% for regional_file in section.regional_files %}
                            <tr>
                                <td colspan="3"><a href="{{ regional_file.file_name }}">> {{ regional_file.region_name }} [<i class="icon-download-alt"></i> {{ regional_file.file_ext }} {{ regional_file.file_size|filesizeformat }}]</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}

            <table class="table">
                <tr>
                    <td class="label">Metadati</td>
                    <td><a href="{{ oc_metadata_file.file_name }}">>[<i class="icon-download-alt"></i> {{ oc_metadata_file.file_ext }} {{ oc_metadata_file.file_size|filesizeformat }}]</a></td>
                    <td></td>
                </tr>
            </table>

            <p>Ultimo aggiornamento: maggio 2015 su dati al 28/02/2015</p>
        </div>

        <div style="margin-left: 40px">
            <h3 id="fs0713-title" class="h3-switcher" data-target="fs0713-content">
                <a href="#">Fondi Strutturali europei 2007/2013 <i></i></a>
            </h3>

            <div id="fs0713-content">
                <p>
                    Sono scaricabili dati riferiti ai singoli progetti finanziati con <a href="{% url 'fonti-finanziamento' %}#fondi-europei">Fondi Strutturali</a>,
                    organizzati in forma relazionale: "Progetti" è il dataset principale e può essere scaricato anche da solo, mentre "Localizzazioni", "Soggetti" e "Pagamenti"
                    forniscono informazioni complementari collegate al dataset principale attraverso un campo chiave che identifica lo stesso progetto nelle diverse tabelle.
                </p>
                <p>
                    I dataset sono aggiornati bimestralmente e pubblicati a distanza di circa tre mesi dalla data di riferimento.
                    Alcuni progetti possono presentare informazioni meno recenti, come riportato nel campo "Data_YYYYMMDD" associato a ciascuno di essi.
                    L’unità di rilevazione minima è il progetto, pertanto tutte le informazioni sono associate a progetti finanziati.
                </p>
                <p>
                    I dati sono pubblicati nella forma in cui vengono trasmessi dalle Amministrazioni che gestiscono i fondi, aggiungendo alcune variabili (identificabili nei dataset con il prefisso OC_)
                    che facilitano leggibilità e coerenza delle informazioni, tra cui la classificazione secondo 13 temi sintetici.
                    Consulta il <a href="{{ raccordo_temi_sintetici_file.file_name }}">file di raccordo</a> ({{ raccordo_temi_sintetici_file.file_ext }}, {{ raccordo_temi_sintetici_file.file_size|filesizeformat }}) con i temi prioritari UE e con la classificazione CUP.
                </p>
                <p>
                    Dal 31 dicembre 2014 alcune variabili hanno cambiato denominazione. Qui trovi il <a href="{{ utility_metadata_file.file_name }}">file utility</a> ({{ utility_metadata_file.file_ext }}, {{ utility_metadata_file.file_size|filesizeformat }}) per il raccordo tra le vecchie e le nuove denominazioni per ognuno dei dataset  modificati (Progetti, Soggetti e Localizzazioni).
                </p>

                {% for section_code, section in fs_sections.items %}
                    <table class="table">
                        <thead>
                            <tr>
                                <td class="label">{{ section.name|capfirst }}</td>
                                <td><a href="{{ section.complete_file.file_name }}">> [<i class="icon-download-alt"></i> {{ section.complete_file.file_ext }} {{ section.complete_file.file_size|filesizeformat }}]</a></td>
                                <td class="switcher" data-target="fs-{{ section.name }}-reg"><a href="#">Regioni [<i></i>]</a></td>
                            </tr>
                        </thead>

                        <tbody id="fs-{{ section.name }}-reg">
                            {% for regional_file in section.regional_files %}
                                <tr>
                                    <td colspan="3"><a href="{{ regional_file.file_name }}">> {{ regional_file.region_name }} [<i class="icon-download-alt"></i> {{ regional_file.file_ext }} {{ regional_file.file_size|filesizeformat }}]</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}

                <table class="table">
                    <tr>
                        <td class="label">Metadati</td>
                        <td><a href="{{ metadata_file.file_name }}">> [<i class="icon-download-alt"></i> {{ metadata_file.file_ext }} {{ metadata_file.file_size|filesizeformat }}]</a></td>
                        <td></td>
                    </tr>
                </table>

                <p>Ultimo aggiornamento: maggio 2015 su dati al 28/02/2015</p>
            </div>

            <h3 id="fsc0713-title" class="h3-switcher" data-target="fsc0713-content">
                <a href="#">Fondo per lo Sviluppo e la Coesione (FSC) 2007/2013 <i></i></a>
            </h3>

            <div id="fsc0713-content">
                <p>
                    Sono scaricabili dati riferiti ai singoli progetti finanziati con il
                    <a href="{% url 'fonti-finanziamento' %}#fondi-nazionali">Fondo nazionale per lo Sviluppo e la Coesione (FSC)</a>,
                    organizzati in forma relazionale: "Progetti" è il dataset principale e può essere scaricato anche da solo,
                    mentre "Localizzazioni", "Soggetti" e "Pagamenti" forniscono informazioni complementari collegate al dataset principale
                    attraverso un campo chiave che identifica lo stesso progetto nelle diverse tabelle.
                </p>
                <p>
                    I dataset sono aggiornati bimestralmente e pubblicati a distanza di circa tre mesi dalla data di riferimento.
                    Alcuni progetti possono presentare informazioni meno recenti, come riportato nel campo "Data_YYYYMMDD" associato a ciascuno di essi.
                    L’unità di rilevazione minima è il progetto, pertanto tutte le informazioni sono associate a progetti finanziati.
                </p>
                <p>
                    I dati sono pubblicati nella forma in cui vengono trasmessi dalle Amministrazioni che attuano gli interventi, aggiungendo alcune variabili (identificabili nei dataset con il prefisso OC_)
                    che facilitano leggibilità e coerenza delle informazioni, tra cui la classificazione secondo 13 temi sintetici.
                    Consulta il <a href="{{ raccordo_temi_sintetici_file.file_name }}">file di raccordo</a> ({{ raccordo_temi_sintetici_file.file_ext }}, {{ raccordo_temi_sintetici_file.file_size|filesizeformat }}) con i temi prioritari UE e con la classificazione CUP.
                </p>
                <p>
                    Dal 31 dicembre 2014 alcune variabili hanno cambiato denominazione. Qui trovi il <a href="{{ utility_metadata_file.file_name }}">file utility</a> ({{ utility_metadata_file.file_ext }}, {{ utility_metadata_file.file_size|filesizeformat }}) per il raccordo tra le vecchie e le nuove denominazioni per ognuno dei dataset  modificati (Progetti, Soggetti e Localizzazioni).
                </p>

                <table class="table">
                    {% for section_code, section in fsc_sections.items %}
                        <tr>
                            <td class="label">{{ section.name|capfirst }}</td>
                            <td><a href="{{ section.complete_file.file_name }}">>[<i class="icon-download-alt"></i> {{ section.complete_file.file_ext }} {{ section.complete_file.file_size|filesizeformat }}]</a></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="label">Metadati</td>
                        <td><a href="{{ metadata_file.file_name }}">>[<i class="icon-download-alt"></i> {{ metadata_file.file_ext }} {{ metadata_file.file_size|filesizeformat }}]</a></td>
                    </tr>
                </table>

                <p>Ultimo aggiornamento: maggio 2015 su dati al 28/02/2015</p>
            </div>

            <h3 id="pac-title" class="h3-switcher" data-target="pac-content">
                <a href="#">Piano d’Azione per la Coesione <i></i></a>
            </h3>

            <div id="pac-content">
                <p>
                    Sono scaricabili dati riferiti ai singoli progetti finanziati nell’ambito del <a href="{% url 'pac' %}">Piano d’Azione per la Coesione (PAC)</a>, organizzati in forma relazionale:
                    "Progetti" è il dataset principale e può essere scaricato anche da solo, mentre "Localizzazioni", "Soggetti" e "Pagamenti" forniscono informazioni complementari collegate
                    al dataset principale attraverso un campo chiave che identifica lo stesso progetto nelle diverse tabelle.
                </p>
                <p>
                    Alcuni progetti del PAC sono presenti anche in Programmi dei Fondi Strutturali europei 2007/2013 e del Fondo per lo Sviluppo e la Coesione 2007/2013,
                    poiché le modalità programmazione del PAC prevedono sia rimodulazione interna ai Programmi Operativi sia riprogrammazione delle risorse nazionali derivanti
                    dalla riduzione del cofinanziamento nazionale dei Programmi Operativi che, in alcuni casi, sono state assegnate a progetti già inseriti nella programmazione FSC.
                </p>
                <p>
                    I dataset sono aggiornati bimestralmente e pubblicati a distanza di circa tre mesi dalla data di riferimento.
                    Alcuni progetti possono presentare informazioni meno recenti, come riportato nel campo "Data_YYYYMMDD" associato a ciascuno di essi.
                    L’unità di rilevazione minima è il progetto, pertanto tutte le informazioni sono associate a progetti finanziati.
                </p>
                <p>
                    I dati sono pubblicati nella forma in cui vengono trasmessi dalle Amministrazioni che attuano gli interventi, aggiungendo alcune variabili (identificabili nei dataset con il prefisso OC_)
                    che facilitano leggibilità e coerenza delle informazioni, tra cui la classificazione secondo 13 temi sintetici.
                    Consulta il <a href="{{ raccordo_temi_sintetici_file.file_name }}">file di raccordo</a> ({{ raccordo_temi_sintetici_file.file_ext }}, {{ raccordo_temi_sintetici_file.file_size|filesizeformat }}) con i temi prioritari UE e con la classificazione CUP.
                </p>
                <p>
                    Dal 31 dicembre 2014 alcune variabili hanno cambiato denominazione. Qui trovi il <a href="{{ utility_metadata_file.file_name }}">file utility</a> ({{ utility_metadata_file.file_ext }}, {{ utility_metadata_file.file_size|filesizeformat }}) per il raccordo tra le vecchie e le nuove denominazioni per ognuno dei dataset  modificati (Progetti, Soggetti e Localizzazioni).
                </p>

                <table class="table">
                    {% for section_code, section in pac_sections.items %}
                        <tr>
                            <td class="label">{{ section.name|capfirst }}</td>
                            <td><a href="{{ section.complete_file.file_name }}"> [<i class="icon-download-alt"></i> {{ section.complete_file.file_ext }} {{ section.complete_file.file_size|filesizeformat }}]</a></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="label">Metadati</td>
                        <td><a href="{{ metadata_file.file_name }}"> [<i class="icon-download-alt"></i> {{ metadata_file.file_ext }} {{ metadata_file.file_size|filesizeformat }}]</a></td>
                    </tr>
                </table>

                <p>Ultimo aggiornamento: maggio 2015 su dati al 28/02/2015</p>
            </div>

            <h3 id="cipe0713-title" class="h3-switcher" data-target="cipe0713-content">
                <a href="#">Assegnazioni CIPE 2007/2013 <i></i></a>
            </h3>

            <div id="cipe0713-content">
                <p>
                    La fonte delle assegnazioni del <a href="{% url 'fonti-finanziamento' %}#fondi-nazionali">Fondo nazionale per lo Sviluppo e la Coesione (FSC)</a>
                    a destinazione nazionale e regionale sono le <a href="http://www.programmazioneeconomica.gov.it/">Delibere CIPE</a>,
                    che riguardano le informazioni disponibili al momento in cui è stata assunta la decisione di finanziamento e non hanno caratteristica di monitoraggio.
                    I dati sono scaricabili anche dal <a href="http://www.programmazioneeconomica.gov.it/2014/09/14/open-data/">sito del CIPE</a>,
                    senza l’attribuzione del tema sintetico con cui sono visualizzati su OpenCoesione.
                    Consulta il <a href="{{ raccordo_temi_sintetici_file.file_name }}">file di raccordo</a> ({{ raccordo_temi_sintetici_file.file_ext }}, {{ raccordo_temi_sintetici_file.file_size|filesizeformat }}) con i temi prioritari UE e con la classificazione CUP.
                </p>
                <p>
                    Dal 31 dicembre 2014 sono state aggiunte e/o hanno cambiato denominazione alcune variabili. Qui trovi il <a href="{{ cipe_utility_metadata_file.file_name }}">file utility</a> ({{ cipe_utility_metadata_file.file_ext }}, {{ cipe_utility_metadata_file.file_size|filesizeformat }}) per il raccordo tra le vecchie e le nuove denominazioni per ognuno dei dataset modificati (Progetti, Soggetti e Localizzazioni).
                </p>

                <table class="table">
                    {% for section_code, section in cipe_sections.items %}
                        <tr>
                            <td class="label">{{ section.name|capfirst }}</td>
                            <td><a href="{{ section.complete_file.file_name }}">> [<i class="icon-download-alt"></i> {{ section.complete_file.file_ext }} {{ section.complete_file.file_size|filesizeformat }}]</a></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="label">Metadati</td>
                        <td><a href="{{ cipe_metadata_file.file_name }}">> [<i class="icon-download-alt"></i> {{ cipe_metadata_file.file_ext }} {{ cipe_metadata_file.file_size|filesizeformat }}]</a></td>
                    </tr>
                </table>

                <p>
                    Alcuni dei progetti pubblicati originariamente come destinatari di Assegnazioni CIPE si sono trasformati nel tempo in progetti in attuazione nell’ambito dei Programmi delle politiche di coesione 2007-2013.
                </p>
                <p>
                    Qualora l’Assegnazione sia in attuazione nei Programmi, i relativi dati sono quindi confluiti nel Sistema di monitoraggio unitario e i dataset della sezione <a href="#oc0713-title">Tutti i Progetti di OpenCoesione</a> tengono conto dell'evoluzione attuativa facendo confluire l’Assegnazione originaria nei progetti che l’hanno attuata.
                </p>
                <p>
                    Nel seguente file è invece riportato l’elenco completo delle corrispondenze.
                </p>
                <p>
                    Per ogni progetto è disponibile il codice identificativo dell’Assegnazione CIPE (COD_DIPE) e il codice identificativo del progetto con cui essa viene attuata (COD_LOCALE_PROGETTO) più una variabile che descrive la relazione tra progetto in attuazione e Assegnazione.
                </p>

                <table class="table">
                    <tr>
                        <td class="label">Corrispondenze tra Assegnazioni e progetti in attuazione</td>
                        <td><a href="{{ cipe_corrispondenze_file.file_name }}">> [<i class="icon-download-alt"></i> {{ cipe_corrispondenze_file.file_ext }} {{ cipe_corrispondenze_file.file_size|filesizeformat }}]</a></td>
                    </tr>
                    <tr>
                        <td class="label">Metadati</td>
                        <td><a href="{{ cipe_corrispondenze_metadata_file.file_name }}">> [<i class="icon-download-alt"></i> {{ cipe_corrispondenze_metadata_file.file_ext }} {{ cipe_corrispondenze_metadata_file.file_size|filesizeformat }}]</a></td>
                    </tr>
                </table>

                <p>Ultimo aggiornamento: aprile 2015 su dati al 31/12/2013</p>
            </div>
        </div>

        <h2 id="contesto">Open data sul contesto</h2>

        <h3 id="spesa-title" class="h3-switcher" data-target="spesa-content">
            <a href="#">Risorse finanziarie dei Fondi Strutturali e spesa certificata 2007/2013 <i></i></a>
        </h3>

        <div id="spesa-content">
            <p>
                La <a href="{% url 'spesa-certificata' %}">spesa certificata all’UE</a> corrisponde alle richieste di rimborso delle spese sostenute
                che vengono presentate alla Commissione Europea dalle Amministrazioni titolari dei Programmi cofinanziati dai Fondi Strutturali.
                I dati vengono aggiornati in concomitanza all'adozione o all'aggiornamento di ciascun atto programmatorio e alle scadenze per la certificazione.
                Visualizza i <a href="{% url 'spesa-certificata-grafici' %}">grafici interattivi</a> per ciascun Programma Operativo.
            </p>

            <table class="table">
                <tr>
                    <td class="label" style="width: 50%">Dati e metadati su dotazione finanziaria complessiva e spesa certificata alla UE *</td>
                    <td><a href="{{ spesa_dotazione_file.file_name }}">> [<i class="icon-download-alt"></i> {{ spesa_dotazione_file.file_ext }} {{ spesa_dotazione_file.file_size|filesizeformat }}]</a></td>
                </tr>
                <tr>
                    <td class="label" style="width: 50%">Dati e metadati su target di spesa certificata *</td>
                    <td><a href="{{ spesa_target_file.file_name }}">> [<i class="icon-download-alt"></i> {{ spesa_target_file.file_ext }} {{ spesa_target_file.file_size|filesizeformat }}]</a></td>
                </tr>
            </table>

            <p>Ultimo aggiornamento: dati al {{ spesa_dotazione_file.file_date|date:'SHORT_DATE_FORMAT' }}.<br>* Dati non navigabili sul portale OpenCoesione.</p>
        </div>

        <h3 id="istat-title" class="h3-switcher" data-target="istat-content">
            <a href="#">Indicatori territoriali e tematici DPS-Istat <i></i></a>
        </h3>

        <div id="istat-content">
            <p>
                Gli indicatori territoriali di contesto contengono le statistiche presenti nella banca dati DPS-Istat, composta da circa 200 variabili in serie storica annuale
                a partire generalmente dal 1995, articolate per area tematica e per priorità dei diversi cicli di programmazione e aggiornate con cadenza mensile.
                I dati sono scaricabili anche dal <a href="http://www.istat.it/it/archivio/16777">sito Istat</a>, con disaggregazioni per territorio (regionali, provinciali e comunali), priorità e asse.
                La <a href="http://www.istat.it/it/note-legali">licenza utilizzata da Istat</a> è CC BY 3.0.
            </p>

            <table class="table">
                <tr>
                    <td class="label" style="width: 50%">Indicatori territoriali di contesto</td>
                    <td><a href="{{ istat_data_file.file_name }}">> [<i class="icon-download-alt"></i> {{ istat_data_file.file_ext }} {{ istat_data_file.file_size|filesizeformat }}]</a></td>
                </tr>
                <tr>
                    <td class="label">Metadati</td>
                    <td><a href="{{ istat_metadata_file.file_name }}">> [<i class="icon-download-alt"></i> {{ istat_metadata_file.file_ext }} {{ istat_metadata_file.file_size|filesizeformat }}]</a></td>
                </tr>
            </table>

            <p>Ultimo aggiornamento: {{ istat_data_file.file_date|date:'F Y' }}</p>
        </div>

        <h3 id="cpt-title" class="h3-switcher" data-target="cpt-content">
            <a href="#">Conti Pubblici Territoriali (CPT) <i></i></a>
        </h3>

        <div id="cpt-content">
            <p>
                Il dataset dei <a href="http://www.dps.tesoro.it/cpt/cpt.asp">Conti Pubblici Territoriali (CPT)</a> contiene
                informazioni sui flussi finanziari (entrate e spese in conto corrente e in conto capitale) della Pubblica Amministrazione
                e del Settore Pubblico Allargato articolate per settori di intervento, livello di governo e categoria economica
                in serie storica annuale a partire dal 1996, aggiornata con cadenza annuale.
            </p>

            <table class="table">
                <tr>
                    <td class="label" style="width: 20%">Pubblica Amministrazione *</td>
                    <td>Entrate <a href="{{ cpt_pa_in_file.file_name }}">> [<i class="icon-download-alt"></i> {{ cpt_pa_in_file.file_ext }} {{ cpt_pa_in_file.file_size|filesizeformat }}]</a></td>
                    <td>Uscite <a href="{{ cpt_pa_out_file.file_name }}">> [<i class="icon-download-alt"></i> {{ cpt_pa_out_file.file_ext }} {{ cpt_pa_out_file.file_size|filesizeformat }}]</a></td>
                </tr>
                <tr>
                    <td class="label" style="width: 20%">Settore Pubblico Allargato *</td>
                    <td>Entrate <a href="{{ cpt_spa_in_file.file_name }}">> [<i class="icon-download-alt"></i> {{ cpt_spa_in_file.file_ext }} {{ cpt_spa_in_file.file_size|filesizeformat }}]</a></td>
                    <td>Uscite <a href="{{ cpt_spa_out_file.file_name }}">> [<i class="icon-download-alt"></i> {{ cpt_spa_out_file.file_ext }} {{ cpt_spa_out_file.file_size|filesizeformat }}]</a></td>
                </tr>
                <tr>
                    <td class="label">Metadati</td>
                    <td></td>
                    <td><a href="{{ cpt_metadata_file.file_name }}">> [<i class="icon-download-alt"></i> {{ cpt_metadata_file.file_ext }} {{ cpt_metadata_file.file_size|filesizeformat }}]</a></td>
                </tr>
            </table>

            <p>Ultimo aggiornamento: aprile 2014 su dati al 31/12/2012.<br>* Dati non navigabili sul portale OpenCoesione.</p>
        </div>

        <h3 id="indagine-title" class="h3-switcher" data-target="indagine-content">
            <a href="#">Indagine sulla trasparenza delle liste dei beneficiari dei Programmi Operativi 2007-2013 in Europa <i></i></a>
        </h3>

        <div id="indagine-content">
            <p>
                I dataset contengono le informazioni rilevate dall’indagine annuale sulle modalità di pubblicazione dei dati sui beneficiati dei fondi strutturali in Europa.
                L’indagine, avviata nel 2010 e aggiornata e integrata ogni anno tramite visita diretta sui siti web delle Autorità di Gestione (AdG) dei Programmi Operativi,
                rileva la presenza di varie caratteristiche delle liste dei beneficiari e le diverse modalità di pubblicazione delle relative informazioni.
            </p>

            <table class="table">
                <tr>
                    <td class="label" style="width: 50%">Rilevazioni dal 2010 al 2013 *</td>
                    <td><a href="{{ indagine_data_file.file_name }}">> [<i class="icon-download-alt"></i> {{ indagine_data_file.file_ext }} {{ indagine_data_file.file_size|filesizeformat }}]</a></td>
                </tr>
                <tr>
                    <td class="label" style="width: 50%">Metadati</td>
                    <td><a href="{{ indagine_metadata_file.file_name }}">> [<i class="icon-download-alt"></i> {{ indagine_metadata_file.file_ext }} {{ indagine_metadata_file.file_size|filesizeformat }}]</a></td>
                </tr>
            </table>

            <p>Ultimo aggiornamento dati al 31/12/2013.<br>* Dati non navigabili sul portale OpenCoesione.</p>
        </div>
    </div>

    {% add_data 'js-data' 'js/oc-opendata.js' %}
    {% add_data 'js-data' 'js/oc-ga-downloads.js' %}
{% endblock %}

{% block sidebar %}
    <div class="flat_content">
        <p>Per open data (letteralmente "dati aperti") si intendono informazioni pubblicate in formato tale che siano:</p>
        <ul>
            <li>accessibili (soprattutto via internet) senza limitazioni secondo l'identità o lo scopo dell'utente;</li>
            <li>elaborabili da un'applicazione informatica senza che sia necessaria la disponibilità di uno specifico software;</li>
            <li>accompagnati da licenze che non pongano restrizioni sull'uso e sul riuso.</li>
        </ul>
        <p>Per ulteriori informazioni sulla strategia nazionale di open data consulta il portale nazionale <a href="http://dati.gov.it">dati.gov.it</a>.</p>
        <p>Le informazioni sui progetti in attuazione della politica di coesione sono raccolte in un unico sistema di monitoraggio, amministrato dalla <a href="http://www.rgs.mef.gov.it">Ragioneria Generale dello Stato</a> (Ministero dell’Economia e delle Finanze).</p>
        <p>I dataset pubblicati su OpenCoesione offrono una restituzione parziale di  questo monitoraggio in una forma adatta a rispondere agli interessi conoscitivi dei cittadini.</p>
    </div>
{% endblock %}
