<article id="pillola-{{ object.pk }}">
    <header>
        <h1>
            {% if title_linked %}
                <a href="{% url 'pillola_item' object.slug %}">{{ object.title }}</a>
            {% else %}
                {{ object.title }}
            {% endif %}
            <small>{{ object.published_at|date:'d/m/Y' }}</small>
            {# {% if object.file %} #}
            {#    <small> #}
            {#        <a href="/{{ object.file.name }}"><i class="icon-download-alt"></i> #}
            {#        <span style="color:black;">{{ object.file.name|slice:"-3:"|lower }}, {{ object.file.size|filesizeformat }}</span></a> #}
            {#    </small> #}
            {# {% endif %} #}
        </h1>
    </header>
    {% if full_view %}
        {% if object.description %}
            {{ object.description|safe }}
        {% endif %}
        {% include 'tagging/attribute_tags.html' with tags=object.tags base_url='pillole' only %}
    {% else %}
        {% if object.abstract %}
            {{ object.abstract|safe }}
        {% endif %}
        <p><a href="{% url 'pillola_item' object.slug %}">Leggi tutto</a></p>
    {% endif %}
</article>
