{% extends 'base_two_columns.html' %}

{% block page_title %}{{ object.title }}{% endblock %}

{% block content %}
    <div id="pillole">
        {% include 'open_coesione/pillola_item.html' with object=object full_view=True only %}
    </div>
{% endblock %}

{% block sidebar %}
    {% if object.file %}
        <h2 class='title'><span>Download</span></h2>
        <div style="margin: 16px 0">
            <a href="/{{ object.file.name }}" class="btn" style="background-image: none; border: 2px solid #005652; text-transform: uppercase; margin-right: 10px; padding-top: 0; padding-bottom: 0">
                <i class="icon-download-alt"></i>
                <span style="color: black;">{{ object.file.name|slice:"-3:"|lower }}</span>
            </a>
            {{ object.file.size|filesizeformat }}
        </div>
        <p><i class="icon-chevron-left"></i> <a href="{% url 'pillole' %}">Torna alle Pillole di OpenCoesione</a></p>
    {% endif %}

    <div class="addthis_toolbox addthis_default_style addthis_20x20_style" style="margin-top: 32px">
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_twitter"></a>
        <a class="addthis_button_google_plusone_share"></a>
        <a class="addthis_button_linkedin"></a>
        <a class="addthis_button_email"></a>
        <a class="addthis_button_compact"></a>
    </div>
{% endblock %}
