<article id="pillola-{{ object.pk }}">
    <header>
        <h1>
            {% if title_linked %}
                <a href="{{ object.get_absolute_url }}">{{ object }}</a>
            {% else %}
                {{ object }}
            {% endif %}
            <small>{{ object.published_at|date:'d/m/Y' }}</small>
        </h1>
    </header>
    {% if full_view %}
        {% if object.description %}
            {{ object.description|safe }}
        {% endif %}
        {% include 'tagging/attribute_tags.html' with tags=object.tags base_url='pillole' only %}
    {% else %}
        {% if object.abstract %}
            {{ object.abstract|safe }}
        {% endif %}
        <p><a href="{{ object.get_absolute_url }}">Leggi tutto</a></p>
    {% endif %}
</article>
