{% extends 'base_two_columns.html' %}

{% load staticfiles sekizai_tags digg_paginator %}

{% block page_title %}Elenco soggetti {% endblock page_title %}
{% block page_description %}Elenco dei soggetti, navigabile a faccette, con possibilità di ricerca testuale.{% endblock page_description %}

{% block content %}
    <section>
        {% if page.paginator.count %}
            <h3>Trovat{{ page.paginator.count|pluralize:'o,i' }} {{ page.paginator.count }} soggett{{ page.paginator.count|pluralize:'o,i' }}</h3>

            <hr class="big">

            <table class="search-results table">
                <thead>
                    <tr>
                        <th>Ruolo</th>
                        <th>Denominazione</th>
                        <th class="text-right">Finanziamenti (€)</th>
                        <th class="text-right">Progetti</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in page.object_list %}
                        {% with object=result.object %}
                            <tr>
                                <td class="span1">
                                    {{ result.ruolo|join:'<br />' }}
                                </td>
                                <td class="span5 block-description">
                                    <h3><a href="{{ object.get_absolute_url }}">{{ object.denominazione }}</a></h3>
                                </td>
                                <td class="span1 amount">
                                    <strong>{{ result.costo|default:'0.0'|floatformat:'2' }}</strong>
                                </td>
                                <td class="span1 amount">
                                    <strong>{{ result.n_progetti|default:'0' }}</strong>
                                </td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>

            {% addtoblock 'css' strip %}
                <link rel="stylesheet" href="{% static 'css/digg_paginator.css' %}" />
            {% endaddtoblock %}

            {% digg_paginator %}
        {% else %}
            <h3>Nessun risultato trovato</h3>
        {% endif %}
    </section>
{% endblock %}

{% block sidebar %}
    <div class="flat_content">
        <h4>Cerca tra i soggetti</h4>

        {% include 'commons/search_form.html' %}

        <h4>Filtra</h4>
        <p>
            Puoi trovare il soggetto scorrendo la lista, qui al lato. Puoi perfezionare la ricerca usando i filtri qui sotto,
            oppure puoi usare il form di ricerca con una parola che pensi sia contenuta nella denominazione del soggetto o con il suo codice fiscale, in cima a questa colonna.
        </p>

        {% include 'commons/search_facets.html' with facets=my_facets only %}
    </div>
{% endblock %}
