{% extends 'soggetti/soggetto_detail.html' %}

{% load sekizai_tags %}

{% block container %}
    {% block content-header %}{{ block.super }}{% endblock %}

    <div class="area">
        <div class="container">
            <div class="row" id="statistics">
                {% block page_header %}{{ block.super }}{% endblock %}

                <!-- evodevo api call -->
                <div id="api_result"></div>
            </div>
        </div>
    </div>

    {% add_data 'js-data' 'js/amcharts/amcharts.js' %}
    {% add_data 'js-data' 'js/amcharts/serial.js' %}
    {% add_data 'js-data' 'js/amcharts/pie.js' %}

    {% addtoblock 'js' strip %}
        <script src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script>
    {% endaddtoblock %}

    {% addtoblock 'js' strip %}
        <script>
            $(document).ready(function() {
                $.getJSON('{{ MIUR_EXT_API_URL }}indicatori_soggetti?id={{ soggetto.pk|safe }}', function(data) {
                    var items = [];
                    $("#api_result").html(data.result.html);
                    eval(data.result.js);

                    $("#button_anagrafica_indicatori").toggle($("#codice_meccanografico").length > 0);
                });
            });
        </script>
    {% endaddtoblock %}

    {% include 'soggetti/includes/soggetto_detail_bottomboxes.html' %}
{% endblock %}

