{% extends 'base_map.html' %}
{% load humanize %}

{% block page_title %}Soggetto: {{ soggetto.denominazione }}{% endblock %}
{% block page_description %}Informazioni sui progetti in cui partecipa {{ soggetto.denominazione }}{% endblock %}

{% block container %}
  {{ block.super }}

  <div class="container">
    <div class="row">
      <section class="span6">
        <h1 class='title'><span>Progetti con maggiori finanziamenti</span></h1>
        <table class="table">
          {% for progetto in top_progetti %}
            <tr>
              <th><a href="{{ progetto.get_absolute_url }}">{{ progetto.titolo_progetto }}</a></th>
              <td class="amount"><strong>{{ progetto.fin_totale_pubblico|intcomma }}</strong> euro</td>
            </tr>
          {% endfor %}
        </table>

      </section>
      <section class="span6">
        <h1 class='title'><span>I soggetti con cui lavora di più</span></h1>
        <table class="table">
          {% for partner in top_collaboratori %}
            <tr>
              <th><a href="{{ partner.soggetto.get_absolute_url }}">{{ partner.soggetto.denominazione }}</a></th>
              <td class="amount"><strong>{{ partner.numero }}</strong> progetti</td>
            </tr>
          {% endfor %}
        </table>
      </section>

    </div>

    <section class="row">
      <div class="span4">
        <h1 class='title'><span>I comuni con più progetti</span></h1>
        <table class="table">
          {% for territorio_finanziato in territori_piu_finanziati_pro_capite %}
            <tr>
              <td><a href="{{ territorio_finanziato.get_absolute_url }}">{{ territorio_finanziato }}</a></td>
              <td class="amount"><strong>{{ territorio_finanziato.totale|intcomma }}</strong> euro</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </section>
  </div>
{% endblock %}


{% block js_content %}
  {{ block.super }}

  <script type="text/javascript">

  $(document).ready(function() {

    print_pie_chart('#regions_chart_table', 'regions_chart');

  });
  </script>
{% endblock %}

{% block map %}
  <div class="row">
    <div class="span3">
      <h4>Territori</h4>

      <p>In quali luoghi si interviene?</p>

      <div id="regions_chart" style="width: 100%; height: 250px"></div>

      <table class="table" id="regions_chart_table">
        {% for regione, totale in lista_finanziamenti_per_regione %}
          {% if totale > 0  %}
            <tr>
              <th><a href="{% url progetti_search %}?q=&soggetto={{ soggetto.slug }}&territorio_reg={{ regione.cod_reg }}">{{ regione.denominazione }}</a></th>
              <td class="amount"><strong>{{ totale|intcomma }}</strong> euro</td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}