{% extends 'base_map.html' %}

{% load sekizai_tags humanize %}

{% block page_title %}Soggetto: {{ soggetto }}{% endblock %}
{% block page_description %}Informazioni sui progetti in cui partecipa {{ soggetto }}{% endblock %}

{% block top_content %}
    <div id="claim-container" style="width: 50%">
        <p class="claim" style="padding-left: 1em;">Al soggetto è associato l'intero finanziamento dei progetti in cui è coinvolto, anche quando i progetti coinvolgono più soggetti.</p>
    </div>
{% endblock %}


{% block page_header %}
    <div class="span12">
        <h1 class="title violet"><span>{{ soggetto }}</span></h1>
        <p style="padding: 0 25px">
            <span class="icon-align-justify"> <a href="{% url 'progetti_search' %}?q=&soggetto={{ soggetto.slug }}">Tutti i progetti</a></span>
        </p>

        <ul class="unstyled">
            {% comment %}{% if soggetto.forma_giuridica %}<li>{{ soggetto.forma_giuridica }}</li>{% endif %}{% endcomment %}
            {% if soggetto.indirizzo %}<li>{{ soggetto.indirizzo }}</li>{% endif %}
            {% if soggetto.territorio %}<li>{% if soggetto.cap %}{{ soggetto.cap }}{% endif %} {{ soggetto.territorio }}</li>{% endif %}
            {% comment %}{% if soggetto.rappresentante_legale %}<li>Rappresentante legale: {{ soggetto.rappresentante_legale }}</li>{% endif %}{% endcomment %}
            {% if soggetto.codice_fiscale.strip %}<li>CF.: {{ soggetto.codice_fiscale }}</li>{% endif %}
        </ul>
    </div>
{% endblock %}

{% block container %}
    {{ block.super }}

    <div class="container">
        <div class="row">
            <section class="span6">
                <h2 class="title"><span>Progetti con maggiori finanziamenti</span></h2>
                <table class="table">
                    {% for progetto in top_progetti %}
                        <tr>
                            <th><a href="{{ progetto.get_absolute_url }}">{{ progetto.titolo_progetto }}</a></th>
                            <td class="amount"><strong>{{ progetto.fin_totale_pubblico|intcomma }}</strong> euro</td>
                        </tr>
                    {% endfor %}
                </table>
            </section>
            <section class="span6">
                <h2 class="title"><span>I soggetti con cui lavora di più</span></h2>
                <table class="table">
                    {% for soggetto in top_collaboratori %}
                        <tr>
                            <th><a href="{{ soggetto.get_absolute_url }}">{{ soggetto }}</a></th>
                            <td class="amount"><strong>{{ soggetto.totale }}</strong> progetti</td>
                        </tr>
                    {% endfor %}
                </table>
            </section>
        </div>

        <section class="row">
            <div class="span4">
                <h2 class="title"><span>I comuni con più progetti</span></h2>
                <table class="table">
                    {% for territorio in territori_piu_finanziati_pro_capite %}
                        <tr>
                            <th><a href="{{ territorio.get_absolute_url }}">{{ territorio }}</a></th>
                            <td class="amount"><strong>{{ territorio.totale|intcomma }}</strong> euro</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
    </div>


    {% addtoblock 'js' strip %}

        <script>
            /* create anagrafica button and resize other buttons if soggetto is a school */
            $(document).ready(function() {
                $.getJSON('{{ MIUR_EXT_API_URL }}indicatori_soggetti?id={{ soggetto.pk|safe }}', function(data) {
                    if (!data.is_school) {
                        $('#map-layer-selector .block-chart').addClass('block-chart-soggetto');
                        $('#map-layer-selector').append(
                         '<a href="{{ request.path }}?tematizzazione=anagrafica" class="block-chart block-chart-soggetto{% if tematizzazione == "anagrafica" %} block-active{% endif %}" style="width:24%;" id="button_anagrafica_indicatori">' +
                         '  <strong class="title">Anagrafica e Altri Dettagli</strong>' + 
                         '  {% if tematizzazione == "anagrafica" %}<div class="caret"></div>{% else %}<i class="icon-undo"></i>{% endif %}' + 
                         '</a>'
                        );
                    }
                });
            });
        </script>
    {% endaddtoblock %}

{% endblock %}

{% block map %}
    <div class="row">
        <div class="span3">
            <h4>Territori</h4>

            <p>In quali luoghi si interviene?</p>

            <div id="territories_chart" style="width: 100%; height: 250px"></div>

            <table id="territories_chart_table" class="table">
                {% for territorio in territori %}
                    <tr>
                        <th>{% ifnotequal territorio.territorio 'X' %}<a href="{% url 'progetti_search' %}?q=&soggetto={{ soggetto.slug }}&territorio_reg={{ territorio.cod_reg }}">{{ territorio }}</a>{% else %}{{ territorio }}{% endifnotequal %}</th>
                        <td class="amount"><strong>{{ territorio.totale|default:'0'|floatformat:'0' }}</strong></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="span3">
            <h4>Finanziamenti per ruolo</h4>

            <p>Che ruolo ha nei progetti?</p>

            <div id="roles_chart" style="width: 100%; height: 250px"></div>

            <table id="roles_chart_table" class="table">
                {% for ruolo in ruoli %}
                    <tr>
                        <th><a href="{% url 'progetti_search' %}?q=&soggetto={{ soggetto.slug }}&ruolo={{ ruolo.codice }}">{{ ruolo.nome }}</a></th>
                        <td class="amount"><strong>{{ ruolo.totale|default:'0'|floatformat:'0' }}</strong></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    {% add_data 'js-data' 'js/highcharts.js' %}
    {% add_data 'js-data' 'js/oc-charts-pie.js' %}
    {% addtoblock 'js' strip %}
        <script>
            $(document).ready(function() {
                print_pie_chart('#territories_chart_table', 'territories_chart');
                print_pie_chart('#roles_chart_table', 'roles_chart');
            });
        </script>
    {% endaddtoblock %}
{% endblock %}


